<div class="card h-booking">
    <div class="header"
         ng-style="{'background-image':  'url(/img/advertising/img_advertising_card.jpg)'}">

        <div class="bk">
            <div class="booking-text">{{$root.texts.advertising_title}}</div>
            <div class="booking-sub-text">{{$root.texts.advertising_body}}</div>
            <div class="booking-text-contact">{{$root.texts.advertising_body1}}</div>
            <div class="booking-text-contact2"><span class="booking-text-email">info@bojeo.com</span> {{$root.texts.advertising_or_via}}</div>
            <div class="booking-text-tel"><a href="tel:(+34) 609 183 183">(+34) 609 183 183</a></div>
            <div class="booking-img">
                <img src="/img/advertising/ic_advertising_skype.png" width="52" height="52">
            </div>
            <div class="booking-img">
                <img src="/img/advertising/ic_advertising_whatsapp.png" width="52" height="52">
            </div>
        </div>

    </div>

</div>