<div class="card">
    <div class="header"
         ng-style="{'background-image':  'url(\''+group.tours[0].photos[0].path+'\')'}"></div>
    <div class="body">
        <div class="row">
            <div class="col-xs-8">
                <div class="title">{{group.name[languageSelected.min]}}</div>
                <div class="subtitle">{{$root.selectedPort.name[languageSelected.min]}}</div>
            </div>
            <div class="col-xs-4">
                <div class="price-label" ng-hide="group.tours[0].data.bond.bond">{{$root.texts.tours_prices_from}}</div>
                <div class="price" ng-hide="group.tours[0].data.bond.bond">
                    {{group.tours[0].data.price.value[0].price *
                    financeConverter()|number:2}}{{coinSelected.symbol}}
                </div>
                <div class="price-bonus" ng-show="group.tours[0].data.bond.bond">
                    {{$root.texts.tours_practices_contact}}
                </div>
            </div>
        </div>
    </div>
</div>