<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
    <div id="animateImg" class="tour-gallery-big animate-if" ng-style="{'background-image':  'url('+photo+')' }">

        <div ng-show="photoDescription" class="title" ng-class="
        {
        'green' :packColor == '#00FF00',
        'violet' :packColor == '#3FB3E9',
        'blue' :packColor == '#00FFFF',
        'red' :packColor == '#FF7DA3',
        'orange' :packColor == '#FFFF00',
        'purple' :packColor == '#F279DA',

        }">
            <div class="service">{{texts.service | uppercase}}</div>

            <div class="name">{{(languageSelected.min == 'es' ? photoDescription.name.es : photoDescription.name.en) |uppercase}}</div>
            <a ng-href="{{photoDescription.url}}" target="_blank"><div class="name" >{{(photoDescription.url).substring(7)}}</div></a>
        </div>
    </div>

</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="tour-gallery-select" ng-class="{'select' : photo == tour.photos[0].path}">
        <div class="tour-gallery-select-effect"
             ng-style="{'background-image':  'url('+tour.photos[0].path+')' }"
             ng-click="changePhoto(tour.photos[0].path)">
        </div>
    </div>
    <div class="tour-gallery-select" ng-class="{'select' : photo == tour.photos[1].path}"
         ng-hide="pack.services.length > 2">
        <div class="tour-gallery-select-effect"
             ng-style="{'background-image':  'url('+tour.photos[1].path+')' }"
             ng-click="changePhoto(tour.photos[1].path)">
        </div>
    </div>
    <div class="tour-gallery-select" ng-class="{'select' : photo == tour.photos[2].path}"
         ng-hide="pack.services.length > 1">
        <div class="tour-gallery-select-effect"
             ng-style="{'background-image':  'url('+tour.photos[2].path+')' }"
             ng-click="changePhoto(tour.photos[2].path)">
        </div>
    </div>
    <div class="tour-gallery-select" ng-class="{'select' : photo == tour.photos[3].path}"
         ng-hide="pack.services.length > 0">
        <div class="tour-gallery-select-effect"
             ng-style="{'background-image':  'url('+tour.photos[3].path+')' }"
             ng-click="changePhoto(tour.photos[3].path)">
        </div>
    </div>

    <!-- Services picture -->
    <div class="tour-gallery-select" ng-repeat="service in pack.services"
         ng-class="{'select' : photo == service.photos[0].path}">
        <div class="tour-gallery-select-effect"
             ng-style="{'background-image':  'url('+service.photos[0].path+')' }"
             ng-click="changePhoto(service.photos[0].path,service)">
        </div>
    </div>

</div>

<div class="clearfix"></div>
<div class="clearfix bottom-40"></div>
