<div class="par-postal1" ng-show="$index < 3">
    <div class="postal1 izq" >

        <a ng-href="/{{$root.languageSelected.min}}/{{tour.slug[languageSelected.min]}}">
            <div class="postal1-image">
                <div class="postal1-image-effect" ng-style="{'background-image':  'url(\''+tour.tours[0].photos[0].path+'\')'}"></div>
            </div>

            <div class="postal1-transp">
                <div class="postal1-transp-up" ng-show="tour.tours[0].data.payForm!='bonds'">
                    <div>
                        <div class="exclusive-promo-text">
                            {{tour.tours[0].data.price.value[0].duration}}h -
                            {{tour.tours[0].data.price.value[0].price * financeConverter()|number:2}}
                            {{coinSelected.symbol}}
                        </div>
                    </div>
                </div>
                <div class="postal1-transp-up" ng-show="tour.tours[0].data.payForm=='bonds'">
                    <div class="exclusive-promo-text">{{texts.tours_practices_contact}}</div>
                </div>
                <div class="poiler-info" title="{{texts.hint_icon_tour_info}}"></div>
                <div class="clearfix"></div>

                <div class="postal1-transp-down">
                    <div class="postal1g-transp-down-left">
                        <div >

                            <div ng-class="{'minus-letter':tour.name[languageSelected.min].length>19}" class="down"
                                 style="color: {{tours.group.color}}">{{tour.name[languageSelected.min]|uppercase}}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </a>
    </div>
</div>


