<div class="container-about2 hidden-sm">
    <div class="to-book-header-1">{{texts.advertising_title|uppercase}}</div>
    <div class="to-book-header-2">{{texts.advertising_body|uppercase}}</div>

    <div class="contact">
        <div class="to-book-header-3">{{texts.advertising_body1}}</div>
        <div class="to-book-header-4"><a ng-href="/{{$root.languageSelected.min}}/contact">info@bojeo.com</a></div>
        <div class="to-book-header-5">{{texts.advertising_telf}} <strong>(+34) 609 183 183 </strong></div>

        <div class="to-book-header-7">{{texts.advertising_body2}}</div>
        <div class="to-book-header-6"></div>
        <div class="to-book-header-9"></div>
    </div>
</div>
