<div class="par-postal1">
    <div class="postal1 izq">
        <!--<a ng-href="/{{$root.languageSelected.min}}/tour/{{tours.hasPack.id}}">-->
        <a ng-href="/{{$root.languageSelected.min}}/{{tours.group.slug[$root.languageSelected.min]}}/{{tours.hasPack.slug[$root.languageSelected.min]}}">


            <div class="pack-label"
                 ng-style="{'background-image':  'url(\''+
                     (
                     tours.hasPack.color == '#00FF00' ? '/img/front/ic_tag_pack1.png' :
                     tours.hasPack.color == '#FFFF00' ? '/img/front/ic_tag_pack2.png' :
                     tours.hasPack.color == '#F279DA' ? '/img/front/ic_tag_pack3.png' :
                     tours.hasPack.color == '#3FB3E9' ? '/img/front/ic_tag_pack4.png' :
                     tours.hasPack.color == '#FF7DA3' ? '/img/front/ic_tag_pack5.png' :
                     tours.hasPack.color == '#00FFFF' ? '/img/front/ic_tag_pack6.png' : ''
                     )
                     +'\')'}">

            </div>
            <div class="postal1-image">

                <div class="postal1-image-effect" ng-style="{'background-image':  'url(\''+tours.photos[0].path+'\')'}">

                </div>

            </div>


            <div class="postal1-transp">

                <div class="postal1-transp-up" ng-show="tours.data.payForm!='bonds'">
                    <div>
                        <div class="exclusive-promo-text">
                            {{tours.data.price.value[0].duration}}h -
                            {{(tours.data.price.value[0].price + tours.hasPack.total) * financeConverter()|number:2}}
                            {{coinSelected.symbol}}
                        </div>
                    </div>
                </div>
                <div class="postal1-transp-up" ng-show="tours.data.payForm=='bonds'">
                    <div class="exclusive-promo-text">{{texts.tours_practices_contact}}</div>
                </div>
                <div class="poiler-booking" title="{{texts.hint_icon_tour_booking_info}}"></div>
                <div class="poiler-info" title="{{texts.hint_icon_tour_booking_info}}"></div>
                <div class="clearfix"></div>
                <div class="postal1-transp-down">
                    <div class="postal1g-transp-down-left">
                        <div ng-class="{hidden:languageSelected.min!='es'}">

                            <div ng-class="{'minus-letter':tours.group.name.en.length>19}" class="down"
                                 style="color: {{tours.group.color}}">{{tours.name.es|uppercase}}
                            </div>
                        </div>
                        <div ng-class="{hidden:languageSelected.min!='en'}">
                            <div ng-class="{'minus-letter':tours.group.name.en.length>19}" class="down"
                                 style="color: {{tours.group.color}}">{{tours.name.en|uppercase}}
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </a>
    </div>


</div>