body {
    text-shadow: none;
}

.box > .loading-img {
    z-index: 1020;
    background: transparent url('../../img/ajax-loader1.gif') 50% 50% no-repeat;
}

.loading-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#tabInvoice li {
    cursor: pointer;
}

.home-back {
    background-image: url("../img/BackEnd.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    height: 370px;
    width: 594px;
    margin: 41px 0px 18px 225px;
    background-size: contain;
}

.logo-login-back {
    background-image: url("../img/Logo.png");
    background-position: center center;
    background-repeat: no-repeat;
    /* float: left; */
    height: 70px;
    width: 94px;
    margin: 20px 0px -11px 566px;
    background-size: contain;
}

.index-icons {
    display: inline-block;
    width: 18px;
    height: 16px;
    line-height: 14px;
    vertical-align: text-top;
    background-repeat: no-repeat;
}

.back-icon-home {
    background-image: url("../img/back-icons/ic_backend_menu_home.png");
}

.back-icon-options-tour {
    background-image: url("../img/back-icons/ic_backend_options_tour.png");
}

.back-icon-user {
    background-image: url("../img/back-icons/ic_backend_menu_users.png");
}

.back-icon-user-white {
    background-image: url("../img/back-icons/ic_backend_timeline_user.png");
}

.back-icon-tours {
    background-image: url("../img/back-icons/ic_backend_menu_tours.png");
}

.back-icon-tour-categories {
    background-image: url("../img/back-icons/ic_backend_menu_tours_categories.png");
}

.back-icon-booking {
    background-image: url("../img/back-icons/ic_backend_menu_booking.png");
}

.back-icon-booking-white {
    background-image: url("../img/back-icons/ic_backend_timeline_booking.png");
}

.back-icon-refund {
    background-image: url("../img/back-icons/ic_backend_menu_refund.png");
}

.back-icon-invoice {
    background-image: url("../img/back-icons/ic_backend_menu_invoice.png");
}

.back-icon-refund-white {
    background-image: url("../img/back-icons/ic_backend_timeline_refund.png");
}

.back-icon-ships {
    background-image: url("../img/back-icons/ic_backend_menu_ships.png");
}
.back-icon-ships-white {
    background-image: url("../img/back-icons/ic_timeline_ship.png");
}

.back-icon-ports {
    background-image: url("../img/back-icons/ic_backend_menu_ports.png");
}

.back-icon-credits {
    background-image: url("../img/back-icons/ic_backend_menu_credits.png");
}

.back-icon-news {
    background-image: url("../img/back-icons/ic_backend_menu_news.png");
}

.back-icon-currency {
    background-image: url("../img/back-icons/ic_backend_menu_currency.png");
}

.back-icon-statistics {
    background-image: url("../img/back-icons/ic_backend_menu_statistics.png");
}

.back-icon-settings {
    background-image: url("../img/back-icons/ic_backend_menu_settings.png");
}

.back-icon-email {
    background-image: url("../img/back-icons/ic_backend_menu_mail.png");
}

.back-icon-bojeo {
    background-image: url("../img/back-icons/ic_backend_menu_bojeo_home.png");
}
.back-icon-bojeoBack {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 14px;
    vertical-align: text-top;
    background-repeat: no-repeat;
    background-image: url("../img/Favicon/favicon.png");
}

.back-icon-contact {
    background-image: url("../img/back-icons/ic_backend_menu_contacts.png");
}

.back-icon-countries {
    background-image: url("../img/back-icons/ic_backend_menu_countries.png");
}

.back-icon-third-services {
    background-image: url("../img/back-icons/ic_backend_menu_third_services.png");
}

.back-icon-enterprise {
    background-image: url("../img/back-icons/ic_backend_menu_enterprise.png");
}

.back-icon-packs {
    background-image: url("../img/back-icons/ic_backend_menu_packs.png");
}

.ic_backend_header_users {
    background-image: url("../img/back-icons/ic_backend_header_users.png");
}

.ic_backend_header_refunds {
    background-image: url("../img/back-icons/ic_backend_header_refunds.png");
}

.ic_backend_header_contacts {
    background-image: url("../img/back-icons/ic_backend_header_contacts.png");
}

.ic_backend_header_booking {
    background-image: url("../img/back-icons/ic_backend_header_booking.png");
}

.bojeo-notification {
    float: right;
    margin: 20px 0px 0px 0px;
}

.bojeo-notification div {
    width: 30px;
    height: 30px;
    float: left;
}

.bojeo-notification span {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    /* right: 2px; */
    left: 35px;
    font-size: 10px;
    font-weight: normal;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    padding: 2px;
    margin: 0px 0px 0px 20px;
}
.knob-slider{
    position: relative;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;

}
.nameKnob{
    text-align: left;
    font-size: 11px;
}


.bojeo-notification li {
    margin: 0px -5px;
}
.bojeo-notification li a {
    padding: 0 !important;
}
.square-btn-adjust {
    border: 0px solid transparent;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.bojeo-logout {
    float: right;
    margin: 26px 0px 0px -10px;
}

.bojeo-logout i {
    margin-left: 10px;
}

.bojeo-logout a {
    color: #fff;
    background-color: #59cc50;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.bojeo-notification li div{
    cursor: pointer;
}
.bojeo-notification li div:hover {
    box-shadow: -1px -1px 4px rgba(0, 0, 0, .5), 1px 1px 4px rgba(0, 0, 0, .5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.bojeo-logout a:hover {
    box-shadow: -1px -1px 4px rgba(0, 0, 0, .5), 1px 1px 4px rgba(0, 0, 0, .5);
}

.bojeo-logout-button {
    display: none;
}

@media (min-width: 768px) and (max-width: 979px) {
    .bojeo-logout {
        display: none;
    }

    .bojeo-notification {
        width: 228px;
    }

    .bojeo-logout-button {
        display: block;
        float: right;
        color: #fff;
        background-color: #59cc50;
    }
}

@media (max-width: 767px) {
    .bojeo-notification {
        float: none;
        margin: 10px auto;
    }

    .bojeo-notification li {
        margin: 0px 9px;
    }

    .bojeo-notification span {
        left: 0px;
    }

    .bojeo-logout {
        display: none;
    }

    .bojeo-logout-button {
        display: block;
        float: right;
        color: #fff;
        background-color: #59cc50 ;
    }

}

.index-lateral-menu {
    float: right;
    margin-right: -12px;
    line-height: 30px;
    margin-top: -8px;
    border-radius: 0;
}

.loaders-bojeo {
    width: 220px;
    margin: 0 auto;
}

.button-bojeo {
    background: url("../img/sendBtn_normal-12.png") center no-repeat;
    width: 100px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #f2f2f2;
    font-family: RobotoLight;
    font-size: 16px;
    padding: 0px 15px;
    cursor: pointer;
}

.error-text {
    float: right;
    line-height: 34px;
}

.actions-buttons {
    width: 12px;
    height: 15px;
}

.videos-url {
    margin-left: 160px;
    height: 5px;
}

.input-url-videos {
    float: left;
    width: 100px;
}

.btn-url-videos {
    float: left;
    width: 50px;
}

.list-news {
    max-width: 100px;
    max-height: 5px;
    overflow: auto;
}

.center {
    text-align: center;
}

.text-modal-news {
    margin-top: 5px;
}

.text-modal-booking {
    margin-top: 5px;
    font-family: CenturyGothiB;
    font-size: 15px;
}

.pag-news {
    float: left;
    width: 20px;
/ / border-right : solid;
    text-align: center;
}

.pag-news-first {
    float: right;
    width: 30px;
    text-align: center;
    margin-right: 20px;
}

.pag-news-last {
    float: right;
    margin-left: 25px;
}

.showPerPage {
    margin-top: 5px;
    margin-left: 40px;
    width: 140px;
}

.btn-pagination {
    cursor: pointer;
}

.disableButton {
    display: none;
}

.statusDisp {
    background-color: #999999;
}

.noOnline {
    background-image: url('../img/opa-icons-red16.png');
}

.attach-img {
    background-color: #dd5600;
}

.hours-select {
    width: 50px;
}

.min-persons {
    width: 60px;
}

.disbledAdd {
    display: none;
}

.error-text {
    float: right;
    line-height: 34px;
    margin-right: 45px;
    color: #ff0000;
}

/*Calendar Draggable Events*/
#wrap {
    width: 1100px;
    margin: 0 auto;
}

#external-events {
    float: left;
    width: 150px;
    min-height: 100px;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
    text-align: left;
}

.external-events-div {
    float: left;
    width: 200px;
    min-height: 100px;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
    text-align: left;
}

#external-events h4 {
    font-size: 16px;
    margin: 0px 0px 10px 0px;
    padding-top: 1em;
}

.external-event {
    /* try to mimick the look of a real event */
    margin: 10px 0;
    color: #fff;
    font-size: .85em;
}

.external-event-start {
    /* try to mimick the look of a real event */
    margin: 10px 0;
    padding: 2px 4px;
    background: green;
    color: #fff;
    font-size: .85em;
    cursor: pointer;
}

.external-event-end {
    /* try to mimick the look of a real event */
    margin: 10px 0;
    padding: 2px 4px;
    background: blue;
    color: #fff;
    font-size: .85em;
    cursor: pointer;
}

#external-events p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
}

#external-events p input {
    margin: 0;
    vertical-align: middle;
}

.calendar-ship-select {
    margin-left: -40px;
}

.calendar-label-ship-select {
    margin-left: 40px;
    line-height: 1px;
}

.calendar-ship-button {
    margin-top: 30px;
    margin-bottom: 5px;
}

.valid-url {
    float: right;
    margin-right: 630px;
    color: #ff0000;
}

.alertSuccess {
    padding: 8px 35px 8px 14px;
    margin-bottom: 18px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #8bc5e8;
    border: 1px solid #7ed0e5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #1c628b;
    width: 600px;
    margin-left: 36px;
}

.alertError {
    padding: 8px 35px 8px 14px;
    width: 600px;
    margin-left: 36px;
    margin-bottom: 18px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.alertErrorPass {
    padding: 5px 35px 8px 14px;
    width: 164px;
    margin-left: 161px;
    margin-bottom: 5px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    height: 15px;
}

.alertHourError {
    padding: 5px 35px 8px 14px;
    width: 250px;
    margin-left: 161px;
    margin-bottom: 5px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    height: 15px;
}

.passConfirm {
    border-color: #ff0000;
}

.select-role-list {
    width: 80px;
}

.alert-field-empty {
    padding: 0px 35px 8px 14px;
    width: 164px;
    margin-left: 161px;
    margin-top: 7px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    height: 10px;
    background-color: #eddbe3;
    border-color: #e8d1df;
    color: #bd4247;
    text-align: center;
}

.alert-input-file {
    padding: 0px 35px 8px 14px;
    width: 307px;
    margin-left: 161px;
    margin-top: 7px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    height: 10px;
    background-color: #eddbe3;
    border-color: #e8d1df;
    color: #bd4247;
    text-align: left;
}

.calendar-save-button {
    margin: 40px 0 15px 52px;
    position: relative;
}

.view-calendar {
    width: 100%;
    float: right;
    margin-bottom: 20px;
    margin-right: 85px;
}

.no-view-events {
    display: none;
}

.calendar-no-event {
    width: 100%;
    float: right;
    margin-bottom: 20px;
    margin-right: 85px;
}

.number-field {
    width: 60px;
}

.number-field-days {
    width: 60px;
    float: left;
}

/*Para el tab de Ver Tour del back end*/
.content-tab-main {
    width: 97%;
    float: left;
    background-color: #fff;
    margin: 10px 10px 10px 10px;
    border: 1px solid #f2f2f2;
}

.content-tab-main-home {
    width: 942px;
    float: left;
    background-color: #fff;
    margin: 50px 10px 10px -64px;
    border: 1px solid #f2f2f2;
}

.content-tab-content {
    background-color: #f9f9f9;
    width: 700px;
    border: 1px solid #f2f2f2;
    margin: 0 auto;
    float: none;
}

.content-tab-main > div {
    text-align: justify;
    font-size: 15px;
    font-family: CenturyGothic;
    color: #000;
    margin: 10px 10px;
}

.bojeo-tabs {
    width: 160px;
    height: 30px;
    float: left;
    background-color: #f3f3f3;
    border: 1px solid #e9e9e9;
    line-height: 30px;
    font-family: CenturyGothic;
    color: #737c8d;
    font-size: 13px;
    cursor: pointer;
    text-align: center;
}

.bojeo-tabs.selected {
    width: 200px;
    height: 30px;
    float: left;
    background-color: #f9f9f9;
    border: 1px solid #e9e9e9;
    line-height: 30px;
    color: #737c8d;
    border-bottom-color: #f9f9f9;
    text-align: center;
}

.hidden {
    display: none;
}

.fill {
    width: 100%;
    float: left;
    border: 1px solid #e9e9e9;
    min-height: 30px;
    line-height: 30px;
}

.dark {
    background-color: #f2f2f2;

}

.dark > div {
    font-family: CenturyGothicB;
}

.left {
    float: left;
}

.ver-mapa {
    cursor: pointer;
}

.fill-times {
    float: left;
    width: 130px;
    text-align: left;
}

.fill-times-reserva {
    float: left;
    width: 600px;
    text-align: left;

}

.fill-separated .details {
    float: left;
    width: 76px;
    text-align: left;
}

.fill {
    width: 100%;
    float: left;
    border: 1px solid #e9e9e9;
    min-height: 30px;
    line-height: 30px;
}

.incluye-tour {
    float: left;
    width: 650px;
    text-align: left;
}

.letra-tipo {
    font-size: 14px;
    font-family: CenturyGothic;
}

/*Fin del tab*/

.sin-tiny {
    width: 300px;
    height: 100px;
}

.esp-images {
    margin: 0px 0px 0px -15px;
}

.sin-cursor {
    cursor: auto;
}

.days-week {
    float: left;
    width: 80px;
    text-align: left;
    margin: 8px 0px 0px 0px;
}

.control-spesific {
    width: 645px;
}

.add-control-spesific {
    width: 602px;
}

.daysWeek-checkbox {
    margin: 11px -15px 0px 20px;
}

.add-days-week {
    float: left;
    width: 80px;
    text-align: left;
    margin: 0px 0px 0px 15px;
}

.label-width {
    width: 80px;
    float: left;
    margin: 5px 0px 0px 0px;
}

.label-width-hours {
    width: 95px;
    float: left;
    margin: -13px 0px 0px 0px;
}

.add-label-width-hours {
    width: 95px;
    float: left;
    margin: -5px 0px 0px 0px;
}

.add-tour-from-style {
    margin: 5px 5px 0px 9px;
    width: 40px;
    float: left;
}

.class-name {
    width: 200px;
    text-align: center;
}

.class-price {
    width: 50px;
    text-align: center;
}

.class-dhours {
    width: 100px;
    text-align: center;
}

.class-mperson {
    width: 80px;
    text-align: center;
}

.class-available {
    width: 80px;
    text-align: center;
}

.info-text-style {
    width: 530px;
    float: right;
    margin: 0px 55px 0px 0px;
}

.info-text-p {
    font-family: CenturyGothicB;
    font-size: 14;
}

.currency-alert-field-empty {
    padding: 0px 35px 8px 14px;
    width: 164px;
    margin-left: 0px;
    margin-top: 2px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    height: 10px;
    background-color: #eddbe3;
    border-color: #e8d1df;
    color: #bd4247;
    text-align: center;
}

.has-error .help-block,
.has-error .control-label {
    color: #b94a48;
}

.has-error .form-control {
    border-color: #b94a48;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-error .form-control:focus {
    border-color: #953b39;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

.has-error .input-group-addon {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #b94a48;
}

.edit-images {
    width: 700px;
    margin: 0px 0px 0px 138px;
}

.text-under-input-file {
    display: block;
    margin: 3px 0px 9px 160px;
}

.img-bojeo {
    width: 100px;
    height: 100px;
    background-position: center center;
    background-size: cover;
}

.button-close {
    width: 20px;
    float: left;
    margin: -4px 42px 0px 153px;
}

.button-close-edit-tour {
    width: 20px;
    float: left;
    margin: 5px 35px 0px 10px;
}

.showUser {
    float: left;
    width: 300px;
    border: solid;
    border-width: 1px;
    border-color: #D1D1D1;
    border-radius: 3px;
    margin: 0px 0px 0px 45px;
    background-color: #F5F5F5;
}

.showUser-rigth {
    float: left;
    width: 400px;
    border: solid;
    border-width: 1px;
    border-color: #D1D1D1;
    border-radius: 3px;
    margin: 0px 0px 0px 30px;
    background-color: #F5F5F5;
}

.user-control-label {
    float: left;
    width: 66px;
    padding-top: 5px;
    text-align: right;
    margin: 0px 0px 0px 30px;
    font-family: CenturyGothiB;
    font-size: 14px;
}

.user-controls {
    margin-left: 115px;
    font-family: CenturyGothiB;
    font-size: 15px;
}

.hr-class {
    border-color: darkgray
}

.right {
    float: right;
}

.quitar-filtro {
    float: right;
    margin: 12px -20px 0px 0px;
    cursor: pointer;
}

.control-group label > span {
    margin: 0px 5px 0px 0px;
    color: #ff0000;
}

.combo-width {
    width: 280px;
}
.combo-width-small {
    width: 50px;
}
.combo-width-medium {
    width: 102px;
}
.combo-width-small-year {
    width: 65px;
}
.combo-width1 {
    width: 315px;
}

.fieldset-dividido {
    float: left;
    margin-right: 80px;
}

.my-input-group .input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.my-input-group .input-group .form-control:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.my-input-group .input-group .form-control {
    margin-bottom: 0;
}

.my-input-group .input-group input {
    float: left;
}

.my-input-group .input-group > span {
    float: left;
}

.my-input-group .input-group .form-control {
    margin-bottom: 0;
}

.my-input-group .input-group-btn {
    position: relative;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
    display: table-cell;
}

.my-input-group .input-group-btn .btn {
    border-radius: 0 4px 4px 0;
}

.my-well {
    padding: 15px;
}

.glyphicon-datepicker-right {
    background-image: url("../../img/default/tours/datepicker_right.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: right;
    height: 12px;
    width: 11px;
}

.glyphicon-datepicker-left {
    background-image: url("../../img/default/tours/datepicker_left.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    height: 12px;
    width: 11px;
}

.text-info {
    color: #3a87ad;
}

.margen-label {
    margin-right: 10px;
}

.div-text-center {
    text-align: center;
}

.label, .badge {
    font-weight: normal !important;
}

.cursor {
    cursor: pointer;
}

input {
    width: 305px;
}

.input-xxlarge {
    width: 305px;
}

.input-euro {
    width: 245px;
}

.top-margin-country {
    margin-top: 10px;
}

.fill-active td {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    cursor: default;
}

.fill-default {
    cursor: pointer;
}

.email-button {
    margin-left: 20px;
}

.thumbnail {
    margin-bottom: 15px !important;
}

.color-bojeo {
    height: 71px;
    cursor: pointer;
}

.color-bojeo.select {
    box-shadow: -1px -1px 4px rgba(0, 0, 0, .5), 1px 1px 4px rgba(0, 0, 0, .5);
    cursor: default;
}

.noty-bojeo {
    cursor: pointer;
    display: none;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 9999999;
    width: 100%;
    box-shadow: -1px -1px 4px rgba(0, 0, 0, .5), 1px 1px 4px rgba(0, 0, 0, .5);
}

.noty-success {
    background-color: #D5FFD5;
    border-color: #c6d4aa;
    color: #008C00;
}

.noty-error {
    background-color: #FFDFDF;
    border-color: #c6d4aa;
    color: #FF4848;
}

.noty-info {
    background-color: #D7EBFF;
    border-color: #c6d4aa;
    color: #007AF4;
}

.label-custom {
    margin-right: -12px;
    line-height: 30px;
    margin-top: -8px;
    border-radius: 0;
}

/*
Component: timeline
--------------------
*/
.timeline {
    position: relative;
    margin: 0 0 30px 0;
    padding: 0;
    list-style: none;
}

.timeline:before {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0;
    width: 5px;
    background: #ddd;
    left: 30px;
    border: 1px solid #eee;
    margin: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.timeline  li {
    position: relative;
    margin-right: 10px;
    margin-bottom: 15px;
}

.timeline  li:before,
.timeline  li:after {
    display: table;
    content: " ";
}

.timeline  li:after {
    clear: both;
}

.timeline  li > .timeline-item {
    margin-top: 10px;
    border: 0px solid #dfdfdf;
    background: #fff;
    color: #555;
    margin-left: 60px;
    margin-right: 15px;
    padding: 5px;
    position: relative;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.timeline  li > .timeline-item > .time {
    color: #999;
    float: right;
    margin: 2px 0 0 0;
}

.timeline  li > .timeline-item > .timeline-header {
    margin: 0;
    color: #555;
    border-bottom: 1px solid #f4f4f4;
    padding: 5px;
    font-size: 16px;
    line-height: 1.1;
}

.timeline  li > .timeline-item > .timeline-header > a {
    font-weight: 600;
}

.timeline  li > .timeline-item > .timeline-body,
.timeline  li > .timeline-item > .timeline-footer {
    padding: 10px;
}

.timeline  li.time-label > span {
    font-weight: 600;
    padding: 5px;
    display: inline-block;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.timeline li > .fa,
.timeline   li > .glyphicon,
.timeline  li > .ion {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    width: 30px;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    position: absolute;
    color: #666;
    background-color: #eee;
    border-radius: 50%;
    text-align: center;
    left: 18px;
    top: 0;
    background-position: center center;
    background-repeat: no-repeat;
}

/*
end Component: timeline
--------------------
*/

/* Background colors */
.bg-red,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-light-blue,
.bg-green,
.bg-navy,
.bg-teal,
.bg-olive,
.bg-lime,
.bg-orange,
.bg-fuchsia,
.bg-purple,
.bg-maroon,
.bg-black {
    color: #f9f9f9 !important;
}

.bg-gray {
    background-color: #eaeaec !important;
}

.bg-black {
    background-color: #222222 !important;
}

.bg-red {
    background-color: #f56954 !important;
}

.bg-yellow {
    background-color: #f39c12 !important;
}

.bg-aqua {
    background-color: #00c0ef !important;
}

.bg-blue {
    background-color: #0073b7 !important;
}

.bg-light-blue {
    background-color: #3c8dbc !important;
}

.bg-green {
    background-color: #00a65a !important;
}

.bg-navy {
    background-color: #001f3f !important;
}

.bg-teal {
    background-color: #39cccc !important;
}

.bg-olive {
    background-color: #3d9970 !important;
}

.bg-lime {
    background-color: #01ff70 !important;
}

.bg-orange {
    background-color: #ff851b !important;
}

.bg-fuchsia {
    background-color: #f012be !important;
}

.bg-purple {
    background-color: #932ab6 !important;
}

.bg-maroon {
    background-color: #85144b !important;
}

.no-border {
    border: 0px !important;
}

.my-navbar {

    border-radius: 0px !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0071bc', endColorstr='#2ca3d5'));
    background: -webkit-gradient(linear, left top, left bottom, from(#0071bc), to(#2ca3d5));
    background: -moz-linear-gradient(top, #0071bc, #2ca3d5);
    background: -o-linear-gradient(top, #0071bc, #2ca3d5) transparent;
    background-image: -ms-linear-gradient(top, #0071bc 0%, #2ca3d5 100%);
}

.my-navbar > .container-fluid {
    min-height: 100px !important;
}

.my-navbar .brand > img {
    width: auto !important;
}

tr.warning > td:first-child{
    border-left: 5px solid #f0ad4e;
}

tr.success > td:first-child{
    border-left: 5px solid #5cb85c;
}

.reservation-state{
    float: left;
    margin: 0px 0px 0px 20px;
    line-height: 27px;
    font-size: 13px;
    padding-left: 5px;
}

.warning {
    border-left: 5px solid #f0ad4e;
}

.success {
    border-left: 5px solid #5cb85c;
}


/* Calendar */
.fc-widget-header, .fc-widget-content {
    border: none;

}

.fc-grid .fc-day-number {
    padding: 0 2px;
    text-align: right;
    box-sizing: border-box;
    border-top: 1px solid #ccc;
    margin: 0px 5px;
    float: none;
}
.fc-grid th {
    text-align: right;
    padding: 0px 6px;
}
.fc-state-highlight {
    background: inherit;
}
.fc-today .fc-day-number {
    background: #ffc;
}
.asingTourPort {
    text-align: right;
    margin-right: 10px;
    margin-top: 5px;
}