
.separated {
    background-image: url("../../img/front/separador.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: right;
    height: 23px;
    width: 6px;
    margin: 8px 10px 0px 10px;
}

.profile-more {
    background-image: url("../../img/front/btn_add_bonus_normal.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    margin: 4px 10px 0px 0px;
    float: right;
    cursor: pointer;
}

.profile-more.selected {
    background-image: url("../../img/front/btn_add_bonus_press.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    margin: 4px 10px 0px 0px;
    float: right;
    cursor: pointer;
}
.ship-selected{
    background-image: url("../../img/front/ic_ship_unselected.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 21px;
    width: 21px;
    float: right;
    cursor: pointer;
}
.ship-selected.selected{
    background-image: url("../../img/front/ic_ship_selected.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 21px;
    width: 21px;
    float: right;
    cursor: pointer;
}

.flags {
    background-position: center center;
    background-repeat: no-repeat;
    float: right;
    height: 13px;
    width: 18px;
    margin: 3px 5px 0px 10px;
    cursor: pointer;
}

.icon {
    height: 25px;
    width: 25px;
    background-position: center center;
    background-repeat: no-repeat;
}

.share-icon {
    background-image: url("../../img/front/ic_header_share_normal.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: right;
    height: 27px;
    width: 20px;
    margin: 4px 0px 0px 0px;
    cursor: pointer;
}

.share-icon.selected {
    background-image: url("../../img/front/ic_header_share_hover.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: right;
    height: 27px;
    width: 20px;
    margin: 4px 0px 0px 0px;
    cursor: pointer;
}

.icon-dollar {
    background-image: url("../../img/front/dollar.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    height: 27px;
    width: 20px;
    margin: 5px 10px 0px 10px;
    cursor: pointer;
}

.icon-dollar.selected {
    background-image: url("../../img/front/dollar_hover.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    height: 27px;
    width: 20px;
    margin: 5px 10px 0px 10px;
    cursor: pointer;
}

.icon-libra {
    background-image: url("../../img/front/libra.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    height: 27px;
    width: 20px;
    margin: 5px 10px 0px 10px;
    cursor: pointer;
}

.icon-libra.selected {
    background-image: url("../../img/front/libra_hover.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    height: 27px;
    width: 20px;
    margin: 5px 10px 0px 10px;
    cursor: pointer;
}

.icon-euro {
    background-image: url("../../img/front/euro.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    height: 27px;
    width: 20px;
    margin: 5px 6px 0px 10px;
    cursor: pointer;
}

.icon-euro.selected {
    background-image: url("../../img/front/euro_hover.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    height: 27px;
    width: 20px;
    margin: 5px 6px 0px 10px;
    cursor: pointer;
}

.icon-news {
    background-image: url("../../img/front/noticias.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: right;
    height: 27px;
    width: 20px;
    margin: 5px 0px 0px 0px;
}

.icon-galery {
    background-image: url("../../img/front/galeria.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: right;
    height: 27px;
    width: 20px;
    margin: 5px 10px 0px 0px;
}

.icon-printer {
    background-image: url("../../img/front/footerPrinter.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: right;
    height: 27px;
    width: 20px;
    margin: 5px 5px 0px 5px;
    cursor: pointer;
}

.icon-printer-footer {
    background-image: url("../../img/front/footerPrinter.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    height: 27px;
    width: 20px;
    margin: 17px 10px 0px 0px;
    cursor: pointer;
}

.icon-email {
    background-image: url("../../img/front/email.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: right;
    height: 27px;
    width: 20px;
    margin: 5px 0px 0px 10px;
    cursor: pointer;
}

.icon-email-footer {
    background-image: url("../../img/front/email.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    height: 27px;
    width: 20px;
    margin: 7px 10px 0px 0px;
    cursor: pointer;
}

.icon-fcb {
    background-image: url("../../img/front/fcb.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: right;
    height: 27px;
    width: 20px;
    margin: 5px 0px 0px 10px;
    cursor: pointer;
}

.icon-fcb-footer {
    background-image: url("../../img/front/fcb.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    height: 27px;
    width: 20px;
    margin: 7px 10px 0px 0px;
    cursor: pointer;
}

.icon-twitter {
    background-image: url("../../img/front/twitter.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: right;
    height: 27px;
    width: 20px;
    margin: 5px 0px 0px 10px;
    cursor: pointer;
}

.icon-twitter-footer {
    background-image: url("../../img/front/twitter.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    height: 27px;
    width: 20px;
    margin: 7px 10px 0px 0px;
    cursor: pointer;
}

.icon-pinterest {
    background-image: url("../../img/front/pinterest.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: right;
    height: 27px;
    width: 20px;
    margin: 5px 0px 0px 10px;
    cursor: pointer;
}

.icon-pinterest-footer {
    background-image: url("../../img/front/footerPinterest.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    height: 27px;
    width: 20px;
    margin: 7px 0px 0px 0px;

}

.logo {
    background-image: url("../../img/front/LogoBojeo.com.PNG");
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    height: 91px;
    width: 124px;
    margin: 0px 0px 0px 20px;
    background-size: contain;
}

.search {
    border: #3996ce solid 1px;
    background-color: #96c7e5;
    height: 22px;
    width: 175px;
    font-size: 12px;
    float: left;
    margin: 5px 0px 0px 6px;
}

.searcher {
    height: 22px;
    width: 220px;
    font-size: 12px;
    float: right;
    margin: 89px 30px 0px 0px;
}

.searcher .sea-button img {
    height: 17px;
    margin-right: 14px;
    margin-left: 0px;
    margin-top: -1px;
}

.searh-button {
    background-image: url("../../img/front/lupa.png");
    background-position: center center;
    background-repeat: no-repeat;
    width: 20%;
    height: 20px;
    float: right;
    margin: 1px 5px 0px 0px;
    box-sizing: border-box;
}

.searh-text {
    background-color: #96c7e5;
    border: none;
    height: 20px;
    width: 76%;
    margin: 0 0 0 1%;
    float: left;
    color: #0179c0;
    font-family: CenturyGothic;
    box-sizing: border-box;
}

.searh-text :hover {
    border: none;
}

.breadcrumb {
    float: left;
    font-family: CenturyGothic;
    font-size: 12px;
    color: #0078bf;
    padding: 10px 0 10px 20px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 0 0 4px 4px;
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .2);
}

.breadcrumb div {
    float: left;
}

.breadcrumb-pages {
    background-color: #e4f0f9;
    margin: 0px 5px;
}

.input-text {
    font-family: CenturyGothic;
    font-size: 15px;
    width: 100%;
    float: left;
}

.input-text.radio {

}

.text-danger {
    color: #ff0000;
}

.imp-text {
    width: 220px;
    margin: 5px 0px;
}

.label-bojeo {
    margin: 0px 60px 0px 20px;
    line-height: 35px;
    width: 120px;
    text-align: left;
}

.imp-check {
    margin: 10px 0px 0px 20px;
}

.button-red {
    background-color: #055e9d;
    width: 115px;
    height: 40px;
    margin: 30px 40px 20px 0px;
    line-height: 40px;
    color: #ffffff;
    font-family: CenturyGothic bold;
    font-size: 15px;
    cursor: pointer;
}

.content-time {
    height: 110px;
    background: url("../../img/front/bg_weather.png");
    float: right;
    margin: 10px 30px 15px 0px;
}

.content-time-block {
    width: 120px;
    float: left;
}

.content-time-left-up {
    font-family: CenturyGothicB;
    color: #fff;
    font-size: 12px;
    margin: 5px 0px 0px 0px;
}

.content-time-left-down {
    margin-left: 7px;
}

.grad {
    font-family: CenturyGothic;
    font-size: 42px;
}

.gradmin {
    font-family: CenturyGothic;
    font-size: 12px;
    color: #fff;
    margin-top: -5px;
}

.option-symbol {
    float: left;
    width: 20px;
}

.icon-formprinter-footer {
    background-image: url("../../img/front/form_printer.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    height: 15px;
    width: 16px;
    margin: 5px 20px 0px 0px;
}

.icon-formemail-footer {
    background-image: url("../../img/front/form_email.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    height: 15px;
    width: 25px;
    margin: 5px 20px 0px 0px;
}

.icon-formfcb-footer {
    background-image: url("../../img/front/form_fcb.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    height: 15px;
    width: 8px;
    margin: 5px 20px 0px 0px;
}

.icon-formtwitter-footer {
    background-image: url("../../img/front/form_twitter.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    height: 15px;
    width: 18px;
    margin: 5px 20px 0px 0px;
}

.imp-radio {
    margin: 3px 20px 0px 20px;
}

.red {
    color: #ff0000;
}

.content-tab {
    width: 100%;
    float: left;
    margin: 15px 0px 0px 0px;
}

.bojeo-tabs {
    width: 200px;
    height: 30px;
    float: left;
    background-color: #f3f3f3;
    border: 1px solid #e9e9e9;
    line-height: 30px;
    font-family: CenturyGothic;
    color: #737c8d;
    font-size: 13px;
    cursor: pointer;
}

.bojeo-tabs.selected {
    width: 200px;
    height: 30px;
    float: left;
    background-color: #f9f9f9;
    border: 1px solid #e9e9e9;
    line-height: 30px;
    color: #737c8d;
    border-bottom-color: #f9f9f9;

}

.content-tab-content {
    background-color: #f9f9f9;
    width: 100%;
    float: none;
    border: 1px solid #f2f2f2;
    margin: 0 auto;
    padding: 0px 0px 0px 10px;
    box-sizing: border-box;
}

.content-tab-main {
    width: 97%;
    float: left;
    background-color: #fff;
    margin: 10px 10px 60px 10px;
    border: 1px solid #f2f2f2;
}

.hidden {
    display: none;
}

.dark {
    background-color: #f2f2f2;
}

.dark > div {
    font-family: CenturyGothicB;
}

.fill {
    width: 100%;
    min-height: 30px;
    line-height: 30px;
    text-align: left;
}

.fill > div {
    margin: 0px 0px 0px 20px;
}

.fill-separated {
    float: left;
}

.fill-separated > .header {
    font-family: CenturyGothiB;
    font-size: 15px;
    width: 100px;
    border-right: 2px solid #f2f2f2;
    float: left;
}

.fill-times {
    float: left;
    width: 181px;
    text-align: left;

}

.fill-times-reserva {
    float: left;
    width: 600px;
    text-align: left;

}

.fill-separated .details {
    float: left;
    width: 100%;
    text-align: left;
}

.content-buy-step {
    background-color: #0078BF;
    float: right;
    width: 210px;
    color: #fff;
    padding: 10px;
    font-family: CenturyGothic;
    margin: 0px 40px 20px 0px;
}

.buy-left-option-radio {
    background-image: url("../../img/front/form_radio-btn.png");
    background-position: center center;
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
    float: left;
    margin: 5px 10px 0px 20px;
}

.buy-left-option-text {
    font-size: 14px;
}

@media (max-width: 979px) {
    .bojeo-tabs.selected {
        width: 155px;
        height: 30px;
        float: left;
        background-color: #f9f9f9;
        border: 1px solid #e9e9e9;
        line-height: 30px;
        color: #737c8d;
        border-bottom-color: #f9f9f9;
    }

    .head-profile-text {
        margin: 0px 0px 13px 0px;
        width: 755px;
    }

    .content-right-profile {
        height: 80px;
        float: left;
        font-size: 16px;
        font-family: CenturyGothic;
        text-align: right;
    }

    .button-blue-profile {
        margin: 5px 0px 0px 350px;
        line-height: 40px;
        color: #ffffff;
        font-family: CenturyGothic bold;
        font-size: 15px;
        cursor: pointer;
        text-align: center;
    }

    .content-return-side-profile {
        /* width: 452px; */
        width: 400px;
        float: left;
        background-color: #f9f9f9;
        border: solid;
        border-width: 1px;
        border-color: #ECECEC;
        /* background-color: #ECECEC; */
        margin: 10px 20px 10px 200px;
        padding-bottom: 10px;
    }

    .mis-bojeos-head-text {
        margin: 25px 0px 0px 200px;
        width: 345px;
    }

    .fill {
        width: 98%;
        float: left;
        border: 1px solid #e9e9e9;
        min-height: 30px;
        line-height: 30px;
    }

    .clase-tour {
        width: 180px;
    }

    .clase-salida {
        width: 135px;
    }

    .clase-precio {
        width: 105px;
    }

    .clase-tour-data {
        width: 163px;
    }

    .lugar-salida-tour {
        float: left;
    }

    .clase-salida-data {
        width: 205px;
        margin: 0px 0px 0px 17px;
    }

    .clase-precio-data {
        width: 40px;
        margin: 0px 0px 0px 8px;
    }

    .content-return {
        width: 750px;
        margin: 0 auto;
    }

    .content-return-side {
        width: 452px;
        height: 445px;
        background-color: #f9f9f9;
        margin: 0px 0px 13px 150px;
        padding-bottom: 10px;
        float: none;
    }

    .button-red {
        background-color: #055e9d;
        width: 115px;
        height: 40px;
        margin: -6px 303px 54px 0px;
        line-height: 40px;
        color: #ffffff;
        font-family: CenturyGothic bold;
        font-size: 15px;
        cursor: pointer;
    }

    .margin-table {
        width: 99%;
        float: left;
        margin: 0px 0px 30px 15px;
    }

    .margin-button-table {
        margin: 0px 0px 70px 0px;
        height: 518px;
        width: 750px;
    }

    .alertErrorEmptyField {
        padding: 5px 35px 8px 14px;
        width: 320px;
        margin: 0px 0px 5px 137px;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        text-align: left;
        color: darkred;
    }

    .alertErrorPass {
        padding: 5px 35px 8px 14px;
        width: 480px;
        margin: 0px 0px 5px 7px;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        text-align: left;
        float: left;
    }

    .alertErrorPass {
        padding: 5px 35px 8px 14px;
        width: 490px;
        /*margin: 0px 0px 5px 7px;*/
        margin: 10px 0px 5px 197px;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        text-align: left;
        float: left;
    }

    .alertErrorPassProfile {
        padding: 5px 35px 8px 14px;
        width: 376px;
        /* margin: 0px 0px 5px 7px; */
        margin: 10px 0px 5px 9px;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        text-align: left;
        float: left;
        color: darkred;
    }

    .alertSuccess {
        padding: 8px 35px 8px 14px;
        margin: -10px 0px 5px 137px;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        color: dodgerblue;
        width: 477px;
        float: left;
        text-align: left;
    }

    .alertSuccessProfile {
        padding: 8px 35px 8px 14px;
        margin: -10px 0px 5px 7px;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        color: dodgerblue;
        width: 477px;
        float: left;
        text-align: left;
    }

    .alertSuccessAbonos {
        padding: 8px 35px 8px 14px;
        margin: 47px 0px -12px -435px;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        color: dodgerblue;
        width: 290px;
        /* float: left; */
        text-align: left;
    }

}