<!DOCTYPE html>
<html lang="en" ng-app="bojeoLoadData">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LOAD DATA</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/jumbotron-narrow.css" rel="stylesheet">
</head>

<body ng-hide="flase" class="ng-hide">

<div class="container-narrow" ng-controller="LoadData">
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li><a href="/">BOJEO WEB</a></li>
            <li><a href="/backoffice">BACKOFFICE</a></li>
        </ul>
        <h3 class="text-muted">LoadData Tool</h3>
    </div>
    <div class="jumbotron" ng-show="lcomplete">
        <h1>LOADING COMPLETED</h1>

        <p><a class="btn btn-large btn-success" href="#" ng-click="initialize()">BACK</a></p>

    </div>
    <div ng-show="!showlog">
        <div class="progress progress-striped active">
            <div ng-class="{'progress-bar-danger':percent < 50,
        'progress-bar-success':percent>75}" class="progress-bar" role="progressbar" style="{{'width:'+percent+'%'}}">
            </div>

        </div>

        <table class="table table-condensed">
            <thead>
            <tr>
                <th>Collection</th>
                <th>Documents</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="msg in msgLoad" ng-class="{'success':msg.accion=='insert','danger':msg.accion=='delete'}">
                <td class="center">{{msg.coll.name|uppercase}}</td>
                <td class="center"><span class="badge">{{msg.coll.cant}}</span></td>
            </tr>

            </tbody>
        </table>

    </div>
    <div ng-show="showlog">
        <table class="table table-condensed table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Collections</th>
                <th class="text-right">Quantity</th>
                <th class="text-center">Load
                    <!--<a ng-href="javascript:;" ng-click="selectAll()">({{allSelected() ? 'non' : 'all'}})</a>-->
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="collection in collectionSave">
                <td class="text-left">{{$index+1}}</td>
                <td class="text-left">{{collection.name|uppercase}}</td>
                <td class="text-right">{{collection.cant}}</td>
                <td class="text-center"><input type="checkbox" ng-model="collection.active"></td>
            </tr>
            </tbody>
        </table>
        <div style="margin: 10px auto;width: 100px">

            <button type="button" class="btn btn-primary" ng-click="loadDataCollection()">Load</button>
        </div>
    </div>

    <div class="footer">
        <p>&copy; 2014 iSOFACT-Cuba</p>
    </div>

</div>
<!-- /container -->

<script src="/javascripts/js/lib/jquery.min.js"></script>
<script src="/javascripts/js/lib/bootstrap.js"></script>
<script src="/javascripts/js/lib/angular.js"></script>
<script src="/javascripts/js/lib/angular-route.js"></script>
<script src="/javascripts/js/lib/angular-resource.js"></script>
<script src="/javascripts/js/lib/ui-bootstrap-tpls-0.11.0.js"></script>
<script src="/javascripts/js/lib/loadData.js"></script>
</body>
</html>
