<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
    <div class="alert alert-danger col-lg-12 marginTop" >
        <strong>404</strong><br/>
        {{texts.page_error_404 | uppercase}}
    </div>
</div>
<div class="container2">

    <div class="clearfix"></div>
    <div class="container bojeo-content">
        <div class="col-lg-3 col-md-3 col-sm-4" ng-repeat="tour in $root.selectedPort.groups"
             ng-include="'/javascripts/js/partials/poilerTours.html'">

        </div>
        <div class="col-lg-3 col-md-3 col-sm-4" ng-include="'/javascripts/js/partials/poilerBooking.html'"></div>
        <div></div>
    </div>

    <div class="clearfix"></div>
    <div class="container bojeo-content">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="fb-like-box" data-href="https://www.facebook.com/BojeoBarcelona" data-height="100%"
                 data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false"
                 data-show-border="false"></div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <a class="twitter-timeline" href="https://twitter.com/BojeoBarcelona" rel="nofollow"
               data-widget-id="489837719996993536"></a>
            <script>!function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = p + "://platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }(document, "script", "twitter-wjs");</script>
        </div>
    </div>


    <div style="clear: both"></div>

</div>
</div>
<!--<div class="bottom-40">{{updatePosition()}}</div>-->