
<div id="about-page" class="container bojeo-content " >
    <div class="col-lg-12 col-md-12 col-sm-12">
        <ol class="breadcrumb text-left" ng-cloak>
            <li><a ng-href="/{{languageSelected.min}}">{{$root.texts.inicio}}</a></li>
            <li class="active">{{$root.texts.sobre_bojeo}}</li>
        </ol>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="page-header text-left" ng-cloak>
            <h3>{{$root.texts.bienvenido_bojeo |uppercase}}</h3>
        </div>
    </div>
    <div ng-cloak class="col-lg-9 col-md-9 col-sm-12 text-justify"
         ng-bind-html="languageSelected.min == 'es' ? aboutBojeo.es : aboutBojeo.en">

    </div>

    <div class="col-lg-3 col-md-3 col-sm-3"  ng-include="'/javascripts/js/partials/poilerBooking.html'">
    </div>
    <div class="clearfix"></div>
    <div ng-class="{'hidden-xs':$index!=0}" class="col-lg-3 col-md-3 col-sm-3" ng-repeat="image in images">
        <img src="{{image.path}}" alt="{{(languageSelected.min == 'es' ? aboutBojeo.es : aboutBojeo.en).substring(0,100)}}">
    </div>

    <div class="bottom-40"></div>
</div>









