<div id="pabout-page" class="container bojeo-content">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <ol class="breadcrumb text-left">
            <li><a ng-href="/{{languageSelected.min}}">{{$root.texts.inicio}}</a></li>
            <li class="active">{{texts.boletin_noticias}}</li>
        </ol>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="page-header text-left">
            <h3>{{texts.boletin_noticias |uppercase}}</h3>
        </div>
    </div>

    <div class="col-lg-9 col-md-9 col-sm-12">
        <div ng-class="{hidden:user!=null}" >
            <div class="bulletin-user ">
                {{texts.page_news_bulletin_new_user_title}}
            </div>
            <div class="bulletin-text">
                <a class="bojeo-green" ng-href="/{{$root.languageSelected.min}}/register">{{texts.page_news_bulletin_register_command1}}</a> {{texts.page_news_bulletin_register_command2}}<span ng-click="starSession()" class="bojeo-blue">{{texts.page_news_bulletin_register_command3}}</span>
                {{texts.page_news_bulletin_register_command4}}
            </div>
        </div>
        <div ng-class="{hidden:user==null}">
            <div class="bulletin-user text-left">
                {{user.username|uppercase}}
            </div>
            <div class="bulletin-text1">
                {{texts.page_news_bulletin_info}} <label>{{user.email}}</label>
            </div>
            <div class="bulletin-checked">
                <input class="left" type="checkbox" ng-model="suscription" ng-change="changeSuscription()"/>

                <div class="left" style="margin-left: 10px">{{texts.page_news_bulletin_subscription}}</div>
            </div>

        </div>
  <div class="clearfix bottom-40"></div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3" ng-include="'/javascripts/js/partials/poilerBooking.html'">
    </div>
</div>

<!--<div class="bottom-40">{{updatePosition()}}</div>-->


