<div id="tour-page" class="container bojeo-content">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <ol class="breadcrumb text-left">
            <li><a ng-href="/{{languageSelected.min}}">{{$root.texts.inicio}}</a></li>
            <li class="active">{{$root.texts.comprar}}</li>
        </ol>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="page-header text-left">
            <h3>{{$root.texts.comprar |uppercase}}</h3>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-include="'/javascripts/js/partials/imageTour.html'">

    </div>

    <div class="col-sm-6 col-xs-12">
        <form class="form-horizontal" name="givepassForm" role="form">
            <div class="pack-label-form" ng-style="{'background-image':  'url(\''+
            (
            packColor == '#00FF00' ? '/img/front/ic_tagbooking_pack1.png' :
            packColor == '#FFFF00' ? '/img/front/ic_tagbooking_pack2.png' :
            packColor == '#F279DA' ? '/img/front/ic_tagbooking_pack3.png' :
            packColor == '#3FB3E9' ? '/img/front/ic_tagbooking_pack4.png' :
            packColor == '#FF7DA3' ? '/img/front/ic_tagbooking_pack5.png' :
            packColor == '#00FFFF' ? '/img/front/ic_tagbooking_pack6.png' : ''
            )
            +'\')'}">
            </div>
            <div class="well well-bojeo">
                <h3>{{(languageSelected.min == 'es' ? tour.group.name.es : tour.group.name.en)}} -
                    {{(languageSelected.min == 'es' ? tour.name.es : tour.name.en)}}</h3>
                <hr/>
                <div ng-hide="reservedBusy">
                    <div class="time-info form-group">
                        <div class="col-lg-5 col-md-5  col-sm-5 col-xs-5">
                            <div class="text-left">{{texts.tours_options_form_weather_place|uppercase}}</div>
                        </div>
                        <div class="col-lg-7 col-md-7  col-sm-7 col-xs-7">
                            <div class="text-right">{{date | date:'dd/MM/yyyy'}}</div>
                            <div class="text-right" ng-show="selectedDayweather">
                                {{texts[$root.selectedDayweather.code]}}
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-show="selectedDayweather">
                            <img ng-src="{{selectedDayweather.image}}"/>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-show="selectedDayweather">
                            <div class="temp text-right">{{selectedDayweather.low}}-{{selectedDayweather.high}}°C</div>
                        </div>

                    </div>
                    <hr/>
                    <div class="table row">
                        <div class="col-xs-6 ">
                            <div class="row">
                                <div class="col-xs-12 title">
                                    {{texts.tours_purchase_summary_ship}}
                                </div>
                                <div class="col-xs-12 title">
                                    {{texts.tours_purchase_summary_departure}}
                                </div>
                                <div ng-show="tour.data.payForm != 'bonds'" class="col-xs-12 title">
                                    {{texts.tours_specs_specifications_duration}}
                                </div>
                                <div class="col-xs-12 title">
                                    {{texts.tours_purchase_summary_capacities}}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 ">
                            <div class="col-xs-12 value">{{ship.name}}</div>
                            <div class="col-xs-12 value">{{ tour.data.payForm == 'bonds' ?
                                texts.tours_specs_recommended_products_arrange:departure +'h'}}
                            </div>
                            <div ng-show="tour.data.payForm != 'bonds'" class="col-xs-12 value">
                                {{tour.data.price.type=='hours' ? duration +'h' : duration +'d'}}
                            </div>
                            <div class="col-xs-12 value">{{cantPerson}}</div>
                        </div>
                        <div class="clearfix"></div>
                    </div>


                    <hr/>
                    <!--services -->
                    <div ng-show="services.length > 0">

                        <div class="form-group time-info">
                            <div class="text-left col-lg-8 col-md-8 col-sm-8 col-xs-8 ">
                                {{texts.tours_options_form_Tour}}
                            </div>
                            <div class="text-right col-lg-4 col-md-4 col-sm-4 col-xs-4">{{(tourMonto
                                *financeConverter())|number:2}} {{coinSelected.symbol}}
                            </div>
                        </div>
                        <hr/>
                        <div ng-repeat="service in services" class="form-group time-info">
                            <div class="text-left col-lg-8 col-md-8 col-sm-8 col-xs-8"
                                    >{{(languageSelected.min == 'es' ?
                                service.name.es : service.name.en)}}
                            </div>
                            <div class="text-right col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                {{((service.price*cantPerson*days) * financeConverter())|number:2}}
                                {{coinSelected.symbol}}
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <hr/>
                    </div>

                    <!--services end -->
                    <div class="form-group tour-monto" ng-show="tour.data.payForm !='bonds'">
                        <div class="col-lg-offset-8 col-lg-4">
                            <div class="text">Total</div>

                            <div class="value">{{(monto * financeConverter())|number:2}}{{coinSelected.symbol}}</div>
                        </div>
                    </div>
                    <div class="form-group tour-monto" ng-show="tour.data.payForm =='bonds'">
                        <div class="col-lg-offset-8 col-lg-4">
                            <div class="text">Total</div>
                            <div class="value">{{hour}}</div>
                        </div>
                    </div>
                    <!--<div class="form-group">-->
                        <!--<div class="col-lg-offset-4 col-lg-4">-->
                            <!--<button ng-click="SendConfirm()"-->
                                    <!--type="button" class="btn btn-green btn-lg">-->
                                <!--{{texts.tours_purchase_summary_button_text}}-->
                            <!--</button>-->
                        <!--</div>-->
                    <!--</div>-->
                    <hr/>
                    <div ng-show="tour.data.payForm !='bonds'" class="pay-using">Pagar con</div>


                    <div class="form-group">
                        <div ng-show="tour.data.payForm !='bonds'">
                            <div class="col-lg-12">
                                <button ng-click="SendConfirm(0)"
                                        type="button" class="btn btn-green btn-lg pay-using-button">
                                    {{'paypal'}}
                                </button>

                            </div>
                            <div class="col-lg-12" ng-hide="false">
                                <button ng-click="SendConfirm(1)"
                                        type="button" class="btn btn-green btn-lg pay-using-button">
                                    {{'tpv'}}
                                </button>
                            </div>
                        </div>
                        <div ng-show="tour.data.payForm =='bonds'" class="col-lg-12">
                            <button ng-click="SendConfirm(0)"
                                    type="button" class="btn btn-green btn-lg pay-using-button">
                                {{$root.texts.tours_bookings}}
                            </button>

                        </div>
                    </div>
                </div>
                <div class="alert alert-danger" ng-show="(reservedBusy)">
                    {{texts.page_purchase_booking_just_bought}}<br>
                    <a ng-href="/{{$root.languageSelected.min}}/tour/{{type}}">{{texts.page_purchase_booking_try_again}}</a>

                </div>

            </div>

        </form>
        <div ng-show="false">
                <form id="tpvForm" action="{{urlTPV}}" method="post">
                    <input type="hidden" name="{{prop}}" ng-value="value" ng-repeat="(prop, value) in formTpv">
                </form>
        </div>
    </div>
</div>

<div class="bottom-40"></div>

