<div id="login-page" class="container bojeo-content">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <ol class="breadcrumb text-left">
            <li><a ng-href="/{{languageSelected.min}}">{{$root.texts.inicio}}</a></li>
            <li class="active">{{texts.page_account_password_new}}</li>
        </ol>
    </div>
    <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6">
        <form class="form-horizontal" name="changeForm">
            <div class="col-lg-12 col-md-12 col-sm-12"></div>
            <h3>{{texts.page_account_password_new}}</h3>
            <hr/>
            <div class="form-group"
                 ng-class="{'has-error':changeForm.forgivePass.$dirty && registerForm.forgivePass.$invalid}">
                <!--<label class="col-lg-4 col-md-4 control-label">{{texts.page_account_password_new}}</label>-->

                <div class="col-lg-12 col-md-12">
                    <input name="forgivePass" type="password" ng-model="forgivePass" class="form-control"
                           placeholder="{{texts.page_account_password_new}}" required>
                </div>
            </div>
            <div class="form-group"
                 ng-class="{'has-error':changeForm.forgiveNewPass.$dirty && registerForm.forgiveNewPass.$invalid}">
                <!--<label class="col-lg-4 col-md-4  control-label">{{texts.page_account_password_confirm}}</label>-->

                <div class="col-lg-12 col-md-12">
                    <input name="forgiveNewPass" type="password" ng-model="forgiveNewPass" class="form-control" required
                           placeholder="{{texts.page_account_password_confirm}}">
                </div>
            </div>
            <div class="form-group" id="error">
                <div class="alert alert-danger col-lg-12" ng-show="$root.login_error">
                    {{texts.page_account_password_notification_error}}
                </div>
            </div>
            <div ng-show="passwordChange">
                <div class="alert alert-success">
                    {{texts.page_account_password_notification_changed}}
                    <a href="/index">Ir al inicio</a>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-12">
                    <button ng-show="!passwordChange" ng-click="changePass()"
                            ng-disabled="!changeForm.$valid ||  forgivePass != forgiveNewPass || forgivePass.length < 7"
                            type="button" class="btn btn-primary full-width ng-binding">
                        {{languageSelected.min=='es' ? 'Cambiar contraseña': 'Change password'}}
                    </button>
                </div>

            </div>

        </form>
    </div>

    <div class="bottom-40"></div>
</div>
<!--<div class="bottom-40">{{updatePosition()}}</div>-->