<div id="fb-root"></div>
<script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<div class="container2">
    <div>
        <div class="clearfix"></div>
        <div class="container bojeo-content">
            <div ng-init="grid = $root.getGrid($root.selectedPort.groups.length); categoryList = orderBy($root.selectedPort.groups,'front')"> </div>
            <!--<div class="row">
                <div class="col-sm-8" ng-init="group = categoryList[0]" >
                    <a ng-href="/{{$root.languageSelected.min}}/groups/{{group.slug}}" ng-include="'/javascripts/js/partials/categoryCard.html'">
                    </a>
                </div>
                <div class="col-sm-4"  >
                    <a href="mailto:info@bojeo.com" ng-include="'/javascripts/js/partials/24hBookin.html'">
                    </a>
                </div>
            </div>-->
            <div ng-repeat="row in grid" class="row">
                <div ng-repeat="t in row"
                     ng-class="t.class" ng-init="group = categoryList[t.pos]" >
                    <a ng-href="/{{$root.languageSelected.min}}/{{group.slug[$root.languageSelected.min]}}" ng-include="'/javascripts/js/partials/categoryCard.html'">
                    </a>
                </div>
            </div>
        </div>
</div>

<div class="clearfix"></div>
<div class="container bojeo-content">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="fb-like-box" data-href="https://www.facebook.com/BojeoBarcelona" data-height="100%"
             data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false"
             data-show-border="false"></div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <a class="twitter-timeline" href="https://twitter.com/BojeoBarcelona" rel="nofollow"
           data-widget-id="489837719996993536"></a>
        <script>!function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = p + "://platform.twitter.com/widgets.js";
                    js.async="async";
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }(document, "script", "twitter-wjs");</script>
    </div>
</div>
</div>
<div class="bottom-40"></div>
