<div id="search-page" class="container bojeo-content" style="min-height: 271px">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <ol class="breadcrumb text-left">
            <li><a ng-href="/{{languageSelected.min}}">{{$root.texts.inicio}}</a></li>
            <li class="active">{{texts.partners_footer}}</li>
        </ol>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="page-header text-left">
            <h3>{{texts.partners_footer|uppercase}}</h3>
        </div>
    </div>
    <div class="result-search-item" ng-repeat="enterprise in enterprises">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 search-img">
            <img ng-show="enterprise.photo" ng-src="" class="img-responsive shadow-image"
                 src="{{enterprise.photo.path}}" alt="{{(languageSelected.min=='es' ? enterprise.name.es : enterprise.name.en) }}"/>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <a ng-href="{{enterprise.url }}" target="_blank" rel="nofollow">
                    <h4 class="title-enterprise">
                        {{(languageSelected.min=='es' ? enterprise.name.es : enterprise.name.en) }}
                    </h4>
                </a>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 "
                 ng-bind-html="languageSelected.min=='es' ? enterprise.description.es : enterprise.description.en">

            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div ng-show="(totalItems/maxSize)>1" class="pagination pagination-centered">
        <pagination direction-links="false" boundary-links="true"
                    total-items="totalItems" ng-model="currentPage" max-size="maxSize"
                    class="pagination-sm"
                    ng-change="pageChanged()"
                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                    last-text="&raquo;"></pagination>
    </div>
</div>




