<div class="content-buy-block">
    <form class="form-horizontal form-bojeo-login" name="givepassForm" role="form">
        <div class="alert alert-info col-lg-12" ng-show="nextStep!=null">{{nextStep.msg}}</div>
        <div class="alert alert-success col-lg-12" ng-show="token==1">{{texts.page_account_password_notification_activation}}</div>
        <h3>{{texts.page_account_password_recover_text}}</h3>
        <hr/>
        <div class="form-group" ng-class="{'has-error':givepassForm.inputEmail.$dirty && givepassForm.inputEmail.$invalid}">
            <label class="col-lg-4 col-md-4 control-label">E-mail</label>

            <div class="col-lg-8 col-md-8">
                <input type="email" required ng-model="forgiveEmail" class="form-control" name="inputEmail" placeholder="E-mail">
            </div>
        </div>

        <div class="form-group">
            <div class="alert alert-danger col-lg-12" ng-show="$root.login_error">Email Incorrecto</div>
            <div class="alert alert-success col-lg-12" ng-show="$root.login_success">Se le ha enviado un correo, por
                favor compruebelo
            </div>
        </div>
        <div class="form-group" ng-hide="$root.login_success">
        <div class="col-lg-offset-8 col-lg-4">
                <button ng-disabled="!givepassForm.$valid" ng-click="SendNewPass()" ng-disabled="$root.logining"
                        type="button" class="btn btn-primary btn-lg">
                    {{texts.page_account_password_recover_button}}
                </button>
            </div>
        </div>

    </form>
</div>
<!--<div class="bottom-40">{{updatePosition()}}</div>-->