<div id="gallery-page" class="container bojeo-content">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <ol class="breadcrumb text-left">
            <li><a ng-href="/{{languageSelected.min}}">{{$root.texts.inicio}}</a></li>
            <li class="active">{{texts.galeria}}</li>
        </ol>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="page-header text-left">
            <h3>{{texts.galeria | uppercase}}</h3>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <!--<h3 class="text-left">{{texts.page_gallery_ports_city | uppercase}}</h3>-->

        <!--<div class="custon-slide col-xs-12 col-sm-12 col-md-12 col-lg-12">-->
            <!--<div>-->
                <!--<carousel interval="myInterval">-->
                    <!--<slide ng-repeat="sli in gallerySlides" active="slide.active" >-->

                        <!--<img ng-style="{'background-image':  'url(\''+sli.image+'\')'}" style="margin:auto;">-->

                        <!--<div class="carousel-caption">-->
                            <!--{{languageSelected.min=='es'? sli.name.es:sli.name.en}}-->
                        <!--</div>-->
                    <!--</slide>-->
                <!--</carousel>-->
            <!--</div>-->
        <!--</div>-->
        <!--<h3 class="text-left">{{texts.page_gallery_tours | uppercase}}</h3>-->

        <div class="col-sm-3 col-md-3 col-lg-3" ng-repeat="pictour in pictures.tours">

            <a tooltip="{{languageSelected.min=='es'? pictour.name.es:pictour.name.en}}" tooltip-placement="top"
               href="{{pictour.link}}">
                <div class="postal-ship shadow-image"
                     ng-style="{'background-image':  'url('+pictour.img.path+')' }"></div>
            </a>

        </div>

    </div>


</div>
<div class="bottom-40">{{updatePosition(!positionOk, setOkPosition())}}</div>