<div id="login-page" class="container bojeo-content">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <ol class="breadcrumb text-left">
            <li><a ng-href="/{{languageSelected.min}}">{{$root.texts.inicio}}</a></li>
            <li class="active">{{texts.login_page_title}}</li>
        </ol>
    </div>
    <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6">
        <form class="form-horizontal " role="form" action="/login" method="post">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="alert alert-info " ng-show="$root.nextStep!=null">{{$root.nextStep.msg}}</div>

                <div class="alert alert-success " ng-show="token">Su usuario a sido activado</div>
            </div>
            <h3>{{texts.login_page_title}}</h3>
            <hr/>
            <div class="form-group">

                <div class="col-lg-12 col-md-12">
                    <input name="email" type="email" ng-model="$root.email" class="form-control" id="inputEmail1"
                           placeholder="E-mail">
                </div>
            </div>
            <div class="form-group">

                <div class="col-lg-12 col-md-12">
                    <input name="password" type="password" ng-model="$root.password" class="form-control"
                           id="inputPassword1"
                           placeholder="{{texts.page_account_password}}">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-12 text-right">
                    <a ng-href="/{{$root.languageSelected.min}}/forgot-password"
                       class="btn btn-link login-label">{{texts.page_account_password_forgot}}</a>
                </div>
            </div>
            <div class="form-group" id="error" ng-show="$root.login_error">
                <div class="alert alert-danger col-lg-12">
                    {{texts.page_account_password_notification_error}}
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-12 ">
                    <button type="submit" ng-disabled="$root.logining" type="button" class="btn btn-primary full-width">
                        {{texts.login}}
                    </button>
                </div>
            </div>

            <div class="form-group">
                <label class="login-label text-center">{{texts.login_dont_have}}</label>
            </div>
            <div class="form-group">
                <a ng-href="/{{$root.languageSelected.min}}/register" class="btn btn-link login-label">{{texts.login_create |uppercase}}</a>
            </div>
            <hr/>
            <div class="form-group">
                <div class="col-lg-12 text-right">

                    <label class="login-label text-center">{{texts.login_cant}}</label>

                </div>
            </div>
        </form>
        <form action="/login/facebook" method="post" class="form-horizontal">

            <div class="form-group">
                <div class="col-lg-12 ">
                    <button id="btn-fb" type="submit" class="btn btn-primary full-width">
                        {{'FACEBOOK'}}
                    </button>
                </div>
            </div>

        </form>


    </div>
</div>

<div class="bottom-40"></div>
