

<div id="map-page" class="container bojeo-content ng-hide" ng-show="true">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <ol class="breadcrumb text-left">
            <li><a ng-href="/{{languageSelected.min}}">{{$root.texts.inicio}}</a></li>
            <li class="active">{{$root.texts.mapa_sitio}}</li>
        </ol>
    </div>
    <div style="clear: both"></div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container-map">
        <a ng-href="/{{$root.languageSelected.min}}/">
            <div class="container-map-logo"></div>
        </a>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 left" style="margin:0 auto ;float: none;">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 map-subcontainer">
                <a ng-href="/{{$root.languageSelected.min}}/login"><div class="map-title">{{texts.login|uppercase}}</div></a>
                <a ng-href="/{{$root.languageSelected.min}}/profile/{{user._id}}"><div >{{texts.profile}}</div></a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 map-subcontainer">
                <a ng-href="/{{$root.languageSelected.min}}/login"><div class="map-title">{{texts.inicio|uppercase}}</div></a>
                <a ng-href="/{{$root.languageSelected.min}}/news"><div>{{texts.news_footer}}</div></a>
                <a ng-href="/{{$root.languageSelected.min}}/gallery"><div>{{texts.galeria}}</div></a>
                <a ng-href="/{{$root.languageSelected.min}}/searchResult"><div>{{texts.page_search_title}}</div></a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 map-subcontainer">
                <a ng-href="/{{$root.languageSelected.min}}/register"><div class="map-title">{{texts.register_me|uppercase}}</div></a>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 left">
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 left map-subcontainer">
                <a ng-href="/{{$root.languageSelected.min}}/about"><div class="map-title"> {{texts.sobre_bojeo|uppercase}}</div></a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 left map-subcontainer" ng-repeat="ft in frontTours" >
                <a ng-href="/{{$root.languageSelected.min}}/groups/{{ft.group.front}}"><div class="map-title">{{languageSelected.min=='es'? ft.group.name.es:ft.group.name.en |uppercase}}</div></a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 left map-subcontainer">
                <a ng-href="/{{$root.languageSelected.min}}/news"><div class="map-title">{{texts.noticias|uppercase}}</div></a>

            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 left map-subcontainer">
                <a ng-href="/{{$root.languageSelected.min}}/contact"><div class="map-title">{{texts.contacto|uppercase}}</div></a>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 left">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 left map-subcontainer">
                <div class="map-title">{{texts.info_footer|uppercase}}</div>
                <a ng-href="/{{$root.languageSelected.min}}/about"><div>{{texts.sobre_bojeo}}</div></a>
                <a ng-href="/{{$root.languageSelected.min}}/news"><div>{{texts.noticias}}</div></a>
                <a ng-href="/{{$root.languageSelected.min}}/contact"><div>{{texts.contacto}}</div></a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 left map-subcontainer">
                <div class="map-title">{{texts.services_footer|uppercase}}</div>
                <a ng-href="/{{$root.languageSelected.min}}/pay-form"><div>{{texts.formas_de_pago}}</div></a>
                <a ng-href="/{{$root.languageSelected.min}}/refund"><div>{{texts.booking_footer}}</div></a>
                <a ng-href="/{{$root.languageSelected.min}}/terms-of-use"><div>{{texts.terms_footer}}</div></a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 left map-subcontainer">
                <div class="map-title">{{texts.area_footer|uppercase}}</div>
                <a ng-href="/{{$root.languageSelected.min}}/profile/{{user._id}}"><div>{{texts.user_footer}}</div></a>
                <a ng-href="/{{$root.languageSelected.min}}/profile/{{user._id}}"><div>{{texts.colaborator_footer}}</div></a>
                <a ng-href="/{{$root.languageSelected.min}}/profile/{{user._id}}"><div>{{texts.admin_footer}}</div></a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 left map-subcontainer">
                <div class="map-title">...</div>
                <div class="map-title-container">
                    <a ng-href="/{{$root.languageSelected.min}}/enterprise"><div>{{texts.partners_footer}}</div></a>
                    <a ng-href="/{{$root.languageSelected.min}}/bulletin"><div>{{texts.bulletin_footer}}</div></a>
                    <a ng-href="/{{$root.languageSelected.min}}/map"><div>{{texts.map_footer}}</div></a>
                </div>
            </div>

        </div>






    </div>
</div>





