<div id="new-page" class="container bojeo-content">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <ol class="breadcrumb text-left">
            <li><a ng-href="/{{languageSelected.min}}">{{$root.texts.inicio}}</a></li>
            <li><a ng-href="/{{languageSelected.min}}/news">{{$root.texts.noticias}}</a></li>
            <li class="active">{{languageSelected.min == 'es' ? new.title.es : new.title.en}}</li>
        </ol>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="page-header text-left">
            <h3>{{languageSelected.min == 'es' ? new.title.es : new.title.en |uppercase}}</h3>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 text-justify">
        <img class="pull-left new-main-picture" ng-src="{{new.photo.path}}" alt="{{languageSelected.min == 'es' ? new.title.es : new.title.en |uppercase}}">

        <div ng-bind-html="languageSelected.min == 'es' ? new.body.es : new.body.en"></div>

    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 text-left">
        <strong>{{texts.page_news_article_by}}</strong> {{new.originalAutor}}<br/>
        <strong>{{texts.page_news_photo_by}}</strong> {{new.imageFooter.en}}<br/>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 " >
        <fbComments class="fb-comments" data-href="{{newUrl}}" data-width="100%"
                    data-numposts="20" data-colorscheme="light"></fbComments>
    </div>
    <!--<div class="bottom-40">{{updatePosition()}}</div>-->
</div>



