<div id="news-page" class="container bojeo-content">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <ol class="breadcrumb text-left">
            <li><a ng-href="/{{languageSelected.min}}">{{$root.texts.inicio}}</a></li>
            <li class="active">{{$root.texts.noticias}}</li>
        </ol>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="page-header text-left">
            <h3>{{$root.texts.noticias |uppercase}}</h3>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 new-item" ng-repeat="new in news ">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <img class="img-news" ng-src="{{new.photo.path}}" alt="{{languageSelected.min == 'es' ? new.title.es : new.title.en}}"/>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <span class="text-left">{{languageSelected.min == 'es' ? new.title.es : new.title.en}}</span>
            <p class="text-justify" ng-bind-html="languageSelected.min == 'es' ? new.introduction.es : new.introduction.en"></p>
            <a class="pull-right" ng-href="/{{$root.languageSelected.min}}/news/{{new._id}}">{{texts.page_news_read_more}}</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <!--<div class="bottom-40">{{updatePosition()}}</div>-->
</div>
<div >
    <div class="pagination pagination-centered">
        <pagination direction-links="false" boundary-links="true"
                    total-items="totalItems" ng-model="currentPage" max-size="maxSize"
                    class="pagination-sm"
                    ng-change="pageChanged()"
                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                    last-text="&raquo;"></pagination>
    </div>
</div>
