
<div id="payForm-page" class="container bojeo-content">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <ol class="breadcrumb text-left">
            <li><a ng-href="/{{languageSelected.min}}">{{$root.texts.inicio}}</a></li>
            <li class="active">{{$root.texts.formas_de_pago}}</li>
        </ol>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="page-header text-left">
            <h3>{{$root.texts.formas_de_pago|uppercase}}</h3>
        </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-12 text-justify" >
        <div ng-bind-html="languageSelected.min == 'es' ? payForms.es : payForms.en"></div>
        <div class="logo-paypal"></div>
        <div class="clearfix"></div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3" ng-include="'/javascripts/js/partials/poilerBooking.html'">
    </div>
</div>
<!--<div class="bottom-40">{{updatePosition()}}</div>-->