<div id="register-page" class="container bojeo-content">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <ol class="breadcrumb text-left">
            <li><a ng-href="/{{languageSelected.min}}">{{$root.texts.inicio}}</a></li>
            <li class="active">{{texts.page_breadcrumbs_profile2}}</li>
        </ol>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="page-header text-left">
            <h3>{{texts.page_account_title|uppercase}}</h3>
        </div>
    </div>
</div>
<!--<div id="containerShip"></div>-->

<div class="container bojeo-content ">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <ul class="nav nav-tabs hidden-xs ">
            <li ng-show="user.reservations.length > 0" ng-class="{active: tabSelected== 0}">
                <a ng-click="changeTab(0)"
                   href="javascript:;"><strong>{{texts.page_account_summary_bookings_title}}</strong></a>
            </li>
            <li ng-class="{active: tabSelected== 1}">
                <a ng-click="changeTab(1)" href="javascript:;"><strong>{{texts.page_account_summary_title}}</strong></a>
            </li>
            <li ng-show="showActivities" ng-class="{active: tabSelected== 2}">
                <a ng-click="changeTab(2)" href="javascript:;"><strong>{{texts.tours_ships_activity_title}}</strong></a>
            </li>
            <li ng-class="{active: tabSelected== 3}">
                <a ng-click="changeTab(3)" href="javascript:;"><strong>{{texts.seo_page_name_profile}}</strong></a>
            </li>
            <li ng-show="activities.ships.length > 0" ng-class="{active: tabSelected== 4}">
                <a ng-click="changeTab(4)" href="javascript:;"><strong>{{texts.page_account_owner_ships_activity_commissions}}</strong></a>
            </li>
            <li ng-show="activities.services.length > 0" ng-class="{active: tabSelected== 5}">
                <a ng-click="changeTab(5)"
                   href="javascript:;"><strong>{{texts.page_account_provider_services_commissions}}</strong></a>
            </li>
        </ul>
        <ul class="nav nav-tabs visible-xs ">
            <li ng-show="tabSelected== 0 && user.reservations.length > 0" class="active"><a ng-click="changeTab(0)"
                                                                                            href="javascript:;">{{texts.page_account_summary_bookings_title}}</a>
            </li>
            <li ng-show="tabSelected== 1" class="active"><a ng-click="changeTab(1)" href="javascript:;">{{texts.page_account_summary_title}}</a>
            </li>
            <li ng-show="tabSelected== 2 && showActivities" class="active"><a ng-click="changeTab(2)"
                                                                              href="javascript:;">{{texts.tours_ships_activity_title}}</a>
            </li>
            <li ng-show="tabSelected== 3" class="active"><a ng-click="changeTab(3)" href="javascript:;">{{texts.seo_page_name_profile}}</a>
            </li>
            <li ng-show="tabSelected== 4 && activities.ships.length > 0" class="active"><a ng-click="changeTab(4)"
                                                                                           href="javascript:;">{{texts.page_account_owner_ships_activity_commissions}}</a>
            </li>
            <li ng-show="tabSelected== 5 && activities.services.length > 0" class="active"><a ng-click="changeTab(5)"
                                                                                              href="javascript:;">{{texts.page_account_provider_services_commissions}}</a>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" href="#">
                    {{$root.texts.mas}} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu tour-dropdown-menu">
                    <li ng-show="user.reservations.length > 0"><a ng-click="changeTab(0)" href="javascript:;">{{texts.page_account_summary_bookings_title}}</a>
                    </li>
                    <li><a ng-click="changeTab(1)" href="javascript:;">{{texts.page_account_summary_title}}</a>
                    </li>
                    <li ng-show="showActivities"><a ng-click="changeTab(2)" href="javascript:;">{{texts.tours_ships_activity_title}}</a>
                    </li>
                    <li><a ng-click="changeTab(3)"
                           href="javascript:;">{{texts.seo_page_name_profile}}</a></li>
                    <li ng-show="activities.ships.length > 0"><a ng-click="changeTab(4)" href="javascript:;">{{texts.page_account_owner_ships_activity_commissions}}</a>
                    </li>
                    <li ng-show="activities.services.length > 0"><a ng-click="changeTab(5)" href="javascript:;">{{texts.page_account_provider_services_commissions}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="tab-box " ng-class="{hidden: tabSelected!= 0}">
            <div id="buy-complete" class="text-left">
                <div class=" col-lg-6 col-lg-offset-3 col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6">
                    <div class="alert alert-success "
                         ng-show="showOk">
                        {{texts.tours_purchase_done_confirmation}}
                    </div>
                </div>
                <div class="clearfix"></div>
                <div ng-hide="user.reservations.length==0">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <button type="button" disabled="disabled" class="btn btn-success"></button>
                        {{texts.page_account_booking_status_reserved}}
                        <button type="button" disabled="disabled" class="btn btn-warning"></button>
                        {{texts.page_account_booking_status_done}}
                        <button type="button" disabled="disabled" class="btn btn-danger"></button>
                        {{texts.page_account_booking_status_canceled}}

                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="table-responsive" style="overflow: auto">
                            <table class="table table-condensed table-bordered">
                                <thead>
                                <tr role="row">
                                    <th>{{texts.tours_options_form_date}}</th>
                                    <th>{{texts.tours_type_name}}</th>
                                    <th>{{ languageSelected.min == 'es'? 'Puerto':'Port'}}</th>
                                    <th>{{ languageSelected.min == 'es'? 'Embarcación':'Ship'}}</th>
                                    <th>{{texts.tours_daparture}}</th>
                                    <th>{{texts.tours_specs_specifications_duration}}</th>
                                    <th>{{texts.tours_capacities}}</th>
                                    <th>{{texts.page_account_summary_bookings_grand_total}} ({{texts.online}})</th>

                                </tr>
                                </thead>
                                <tbody>

                                <tr ng-repeat="reservation in user.reservations | orderBy:'reservation.date' "
                                    ng-class="{'successn': reservation.reservation.state == 'booked','warningn': reservation.reservation.state == 'done','dangern': reservation.reservation.state=='canceled'}">
                                    <td>{{ formatDate(reservation.reservation.start)}}</td>
                                    <td>{{ languageSelected.min == 'es'?
                                        reservation.reservation.tour.group.name.es:reservation.reservation.tour.group.name.en}}-
                                        {{ languageSelected.min == 'es'?
                                        reservation.reservation.tour.name.es:reservation.reservation.tour.name.en}}
                                        <span ng-show="reservation.pack" class="pack-class">pack</span>
                                    </td>
                                    <td>{{ languageSelected.min == 'es'?
                                        reservation.reservation.tour.port.name.es:reservation.reservation.tour.port.name.en}}
                                    </td>

                                    <td ng-hide="reservation.reservation.ship.name.es">
                                        {{reservation.reservation.ship.name}}
                                    </td>

                                    <td ng-show="reservation.reservation.ship.name.es">{{ languageSelected.min == 'es'?
                                        reservation.reservation.ship.name.es:reservation.reservation.ship.name.en}}
                                    </td>
                                    <td>{{reservation.reservation.tour.group.payform == 'bonds'?
                                        texts.tours_specs_recommended_products_arrange:(reservation.reservation.departure +' '+ texts.tours_specs_specifications_duration_in_hours) }}
                                    </td>

                                    <td ng-show="reservation.reservation.tour.group.payform == 'bonds'">
                                        {{texts.tours_specs_recommended_products_arrange}}
                                    </td>
                                    <td ng-show="reservation.reservation.tour.group.payform != 'bonds'">
                                        {{reservation.reservation.duration }} {{reservation.reservation.type=='hours' ?
                                        texts.tours_specs_specifications_duration_in_hours :
                                        texts.tours_specs_specifications_duration_in_days}}
                                    </td>
                                    <td>{{reservation.cantPerson}}</td>
                                    <td ng-show="reservation.reservation.tour.group.payform == 'bonds'">{{reservation.payment.total}}</td>

                                    <td ng-show="reservation.reservation.tour.group.payform != 'bonds'">
                                        {{(reservation.payment.total * financeConverter())|number:2}}{{coinSelected.symbol}}
                                    </td>

                                    <td ng-show="reservation.reservation.state=='booked'"
                                        class="cancel-reservation-cell"><a
                                                ng-href="/{{$root.languageSelected.min}}/refund/{{reservation._id}}"
                                                class="btn btn-default btn-xs pull-right">{{texts.page_account_password_cancel_button}}</a>
                                    </td>


                                </tr>
                                <!--<tr ng-repeat="reservation in user.reservations | orderBy:'reservation.date':reverse=true | filter:{ reservation: {date :actualDate}}:compareDown"
                                    ng-class="{'success': reservation.state == 0,'warning': reservation.state == 1,'danger': reservation.state == 2 }">
                                    <td>{{ formatDate(reservation.reservation.date)}}</td>
                                    <td>{{ languageSelected.min == 'es'?
                                        reservation.reservation.tour.name.es:reservation.reservation.tour.name.en}}
                                    </td>
                                    <td>{{reservation.reservation.departure==-1?
                                        texts.tours_specs_recommended_products_arrange:reservation.reservation.departure}}
                                    </td>
                                    <td>{{reservation.monto}}</td>
                                    <td>{{reservation.cantPerson}}</td>
                                </tr>-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="tab-box " ng-class="{hidden: tabSelected!= 1}">
            <div id="bonu" class="container bojeo-content">

                <form class="form-horizontal" role="form">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <h3>{{texts.page_account_summary_title}}</h3>
                        <hr/>
                        <div class="form-group"
                                >
                            <label class="col-lg-6 col-md-6 control-label text-center">{{texts.page_account_summary_bookings}}</label>

                            <div class="col-lg-6 col-md-6">
                                <input type="text" ng-model="user.reservations.length" class="form-control "
                                       ng-disabled="true">
                            </div>
                        </div>
                        <div class="form-group" ng-repeat="ubond in user.abonos"
                                >
                            <label class="col-lg-6 col-md-6 control-label text-center">({{texts.credit}})
                                {{$root.languageSelected.min=='es'?ubond.name.es:ubond.name.en}}</label>

                            <div class="col-lg-6 col-md-6">
                                <input type="text" ng-model="ubond.cant" class="form-control " ng-disabled="true">
                            </div>
                        </div>
                        <div class="form-group"
                                >
                            <label class="col-lg-6 col-md-6 control-label">{{texts.page_account_summary_bookings_grand_total}}</label>

                            <div class="col-lg-6 col-md-6">
                                <input type="text" value="{{(montoTotal *
                        financeConverter())|number:2}}{{coinSelected.symbol}}" class="form-control" ng-disabled="true">
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <h3>{{texts.page_account_summary_bookings_buy_bonus}}</h3>
                        <hr/>
                        <div class="form-group" ng-repeat="bon in abonosList">
                            <label class="col-lg-5 col-md-5 control-label">{{$root.languageSelected.min=='es'?
                                bon.name.es :
                                bon.name.en}}</label>

                            <div class="col-lg-7 col-md-7">
                                <div class="input-group">
                                    <input type="text"
                                           value="{{bon.bond.hours+' h X '}}{{(bon.bond.price * financeConverter())|number:2}}{{coinSelected.symbol}}"
                                           class="form-control" ng-disabled="true">
                          <span class="input-group-btn">
                            <button class="btn btn-default btn-success" ng-click="buyBonds(bon.bond)" type="button">
                                {{texts.comprar}}
                            </button>
                          </span>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="tab-box " ng-class="{hidden: tabSelected!= 2}">
            <!--<div class="col-lg-12 col-md-12 col-sm-12">-->
            <!--<button type="button" disabled="disabled" class="btn btn-success"></button>-->
            <!--{{texts.page_account_booking_status_reserved}}-->
            <!--<button type="button" disabled="disabled" class="btn btn-warning"></button>-->
            <!--{{texts.page_account_booking_status_done}}-->
            <!--<button type="button" disabled="disabled" class="btn btn-danger"></button>-->
            <!--{{texts.page_account_booking_status_canceled}}-->
            <!--</div>-->
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="table-responsive" style="overflow: auto">
                    <table class="table table-condensed table-bordered">
                        <thead>
                        <tr role="row">
                            <th>{{texts.tours_options_form_date}}</th>
                            <th>Grupo</th>
                            <th>{{texts.tours_type_name}}</th>
                            <th>{{ languageSelected.min == 'es'? 'Puerto':'Port'}}</th>
                            <th>{{ languageSelected.min == 'es'? 'Embarcación':'Ship'}}</th>
                            <th>{{texts.tours_daparture}}</th>
                            <th>{{texts.tours_capacities}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="activity in user.activities | orderBy:'reservation.date' ">
                            <!--ng-class="{'success': reservation.state == 0,'warning': reservation.state == 1,'danger': !reservation.cancel  }">-->
                            <td>{{ formatDate(activity.date)}}</td>
                            <td>{{ languageSelected.min == 'es'?
                                activity.tour.group.name.es:activity.tour.group.name.en}}
                            </td>
                            <td>{{ languageSelected.min == 'es'?activity.tour.name.es:activity.tour.name.en}}</td>
                            <td>{{ languageSelected.min == 'es'?
                                activity.tour.port.name.es:activity.tour.port.name.en}}

                            <td>{{activity.ship.name}}</td>
                            <td>{{activity.departure==-1?
                                texts.tours_specs_recommended_products_arrange:activity.departure+' h'}}
                            </td>
                            <td>{{activity.cantPerson}}</td>
                            <td ng-show="reservation.reservation.departure==-1">{{reservation.monto}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-box " ng-class="{hidden: tabSelected!= 3}">
            <div class="alert alert-info "
                 ng-show="showPerfilOk">
                {{texts.page_account_register_notification_complete}}
            </div>
            <form class="form-horizontal" role="form" name="formProfile">
                <div class="container bojeo-content">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <h3>{{texts.page_account_personal_data}}</h3>
                        <hr/>
                        <div class="form-group"
                             ng-class="{'has-error':formProfile.inputName.$dirty && formProfile.inputName.$invalid}">
                            <label class="col-lg-4 col-md-4 control-label"><span>*</span>{{texts.page_account_name}}</label>

                            <div class="col-lg-8 col-md-8">
                                <input type="text" ng-model="user.userName" name="inputName" class="form-control"
                                       ng-disabled="!letEdit" required ng-focus/>

                                <div class="hing-error" style="text-align: left;"
                                     ng-show="formProfile.inputName.$dirty && formProfile.inputName.$invalid && !formProfile.inputName.$focused">
                                    <small ng-show="formProfile.inputName.$error.required">
                                        <i class="fa fa-warning"></i> El nombre es requerido.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group"
                             ng-class="{'has-error':formProfile.inputLastName.$dirty && formProfile.inputLastName.$invalid}">
                            <label class="col-lg-4 col-md-4 control-label"><span>*</span>{{texts.page_account_surname}}</label>

                            <div class="col-lg-8 col-md-8">
                                <input type="text" required ng-model="user.lastName" name="inputLastName"
                                       class="form-control" ng-disabled="!letEdit" ng-focus/>

                                <div class="hing-error" style="text-align: left;"
                                     ng-show="formProfile.inputLastName.$dirty && formProfile.inputLastName.$invalid && !formProfile.inputLastName.$focused">
                                    <small ng-show="formProfile.inputLastName.$error.required">
                                        <i class="fa fa-warning"></i> Los apellidos son requeridos.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 col-md-4 control-label"><span>*</span>{{texts.page_account_sex}}</label>

                            <div class="col-lg-8 col-md-8">
                                <select class="form-control" ng-model="user.sex" ng-disabled="!letEdit">
                                    <option value="male">{{texts.page_account_sex_male}}</option>
                                    <option value="female">{{texts.page_account_sex_female}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 col-md-4 control-label">{{texts.page_account_date_of_birth}}</label>

                            <div class="col-lg-8 col-md-8" ng-show="!letEdit">
                                <input disabled type="text" value="{{birthday | date:'dd/MM/yyyy'}}"
                                       class="form-control"/>
                            </div>
                            <div ng-show="letEdit">
                                <div>
                                    <div class=" col-lg-2 col-md-2 col-sm-4 col-xs-4">
                                        <select class="form-control " ng-model="day">
                                            <option ng-repeat="day in days">{{day}}</option>
                                        </select>
                                    </div>
                                    <div class=" col-lg-3 col-md-3 col-sm-4 col-xs-4">
                                        <select class="form-control " ng-model="month"
                                                ng-change="changeDate()">
                                            <option value="0">{{texts.month_1}}</option>
                                            <option value="1">{{texts.month_2}}</option>
                                            <option value="2">{{texts.month_3}}</option>
                                            <option value="3">{{texts.month_4}}</option>
                                            <option value="4">{{texts.month_5}}</option>
                                            <option value="5">{{texts.month_6}}</option>
                                            <option value="6">{{texts.month_7}}</option>
                                            <option value="7">{{texts.month_8}}</option>
                                            <option value="8">{{texts.month_9}}</option>
                                            <option value="9">{{texts.month_10}}</option>
                                            <option value="10">{{texts.month_11}}</option>
                                            <option value="11">{{texts.month_12}}</option>
                                        </select>
                                    </div>
                                    <div class=" col-lg-3 col-md-3 col-sm-4 col-xs-4">
                                        <select class="form-control " ng-model="year"
                                                ng-change="changeDate()">
                                            <option ng-repeat="year in years">{{year}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group"
                             ng-class="{'has-error':emailValidator()==false}">
                            <label class="col-lg-4 col-md-4 control-label"><span>*</span>{{texts.page_account_email}}</label>

                            <div class="col-lg-8 col-md-8">
                                <input type="email" ng-model="user.email" class="form-control" ng-disabled="!letEdit">
                            </div>
                        </div>
                        <div class="form-group"
                             ng-class="{'has-error':(formProfile.phoneNumber.$dirty && formProfile.phoneNumber.$invalid)}">
                            <label class="col-lg-4 col-md-4 control-label"><span>*</span>{{texts.page_account_telf}}</label>

                            <div class="col-lg-8 col-md-8">
                                <input type="number" class="form-control" ng-disabled="!letEdit"
                                       ng-minlength=6 ng-model="user.phoneNumber" name="phoneNumber" required ng-focus/>

                                <div class="hing-error" style="text-align: left;"
                                     ng-show="formProfile.phoneNumber.$dirty && formProfile.phoneNumber.$invalid && !formProfile.phoneNumber.$focused">
                                    <small ng-show="formProfile.phoneNumber.$error.minlength">
                                        <i class="fa fa-warning"></i> El teléfono como mínimo son 6 dígitos.</br>
                                    </small>
                                    <small ng-show="formProfile.phoneNumber.$error.required">
                                        <i class="fa fa-warning"></i> El teléfono es requerido e incorrecto.</br>
                                    </small>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-lg-4 col-md-4 control-label">{{texts.page_account_company}}</label>

                            <div class="col-lg-8 col-md-8">
                                <input type="text" ng-model="user.enterprise" class="form-control"
                                       ng-disabled="!letEdit">
                            </div>
                        </div>
                        <h3 ng-hide="user.socialId">{{texts.page_account_password}}</h3>
                        <hr ng-hide="user.socialId"/>
                        <div class="well" ng-hide="user.socialId">
                            <div ng-hide="editPassword">
                                <button type="button" class="btn btn-link" ng-click="showEditPass()">
                                    {{texts.page_account_password_edit_button}}
                                </button>
                                <div class="alert alert-success" ng-show="passSuccessShow">
                                    {{texts.page_account_password_notification_changed}}
                                </div>
                            </div>
                            <div ng-show="editPassword">
                                <div class="form-group"
                                     ng-class="{'has-error':formProfile.inputOldPassword.$dirty && registerForm.inputOldPassword.$invalid || isOldPassNULL()}">
                                    <label class="col-lg-4 col-md-4 control-label">
                                        <div class="aster">*</div>
                                        {{texts.page_account_password_current}}</label>

                                    <div class="col-lg-8 col-md-8">
                                        <input type="password" ng-model="oldPass" name="inputOldPassword" ng-minlength=6
                                               class="form-control" ng-focus/>

                                        <div class="hing-error" style="text-align: left;"
                                             ng-show="formProfile.inputOldPassword.$dirty && formProfile.inputOldPassword.$invalid && !formProfile.inputOldPassword.$focused || isOldPassNULL()">
                                            <small ng-show="formProfile.inputOldPassword.$error.minlength">
                                                <i class="fa fa-warning"></i> La contraseña anterior como mínimo son 6
                                                dígitos.</br>
                                            </small>
                                            <small ng-show="isOldPassNULL()">
                                                <i class="fa fa-warning"></i> La contraseña anterior es requerida.</br>
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group"
                                     ng-class="{'has-error':formProfile.inputPassword.$dirty && formProfile.inputPassword.$invalid,
             'has-error' : newPass != newPass1 || isNewPassNULL()}">
                                    <label class="col-lg-4 col-md-4 control-label">
                                        <div class="aster">*</div>
                                        {{texts.page_account_password_new}}</label>

                                    <div class="col-lg-8 col-md-8">
                                        <input type="password" ng-model="newPass" name="inputPassword"
                                               class="form-control" ng-minlength=6 ng-focus/>

                                        <div class="hing-error" style="text-align: left;"
                                             ng-show="formProfile.inputPassword.$dirty && formProfile.inputPassword.$invalid && !formProfile.inputPassword.$focused || isNewPassNULL()">
                                            <small ng-show="formProfile.inputPassword.$error.minlength">
                                                <i class="fa fa-warning"></i> La contraseña como mínimo son 6
                                                dígitos.</br>
                                            </small>
                                            <small ng-show="isNewPassNULL()">
                                                <i class="fa fa-warning"></i> La nueva contraseña es requerida.</br>
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group"
                                     ng-class="{'has-error':formProfile.inputPassword1.$dirty && formProfile.inputPassword1.$invalid,
            'has-error' : newPass != newPass1 || isConfirmPassNULL()}">
                                    <label class="col-lg-4 col-md-4 control-label">
                                        <div class="aster">*</div>
                                        {{texts.page_account_password_confirm}}</label>

                                    <div class="col-lg-8 col-md-8">
                                        <input type="password" ng-model="newPass1" name="inputPassword1"
                                               class="form-control" ng-minlength=6 ng-focus/>

                                        <div class="hing-error" style="text-align: left;"
                                             ng-show="formProfile.inputPassword1.$dirty && formProfile.inputPassword1.$invalid && formProfile.inputPassword1.$focused || newPass != newPass1 || isConfirmPassNULL()">
                                            <small ng-show="isConfirmPassNULL()">
                                                <i class="fa fa-warning"></i> Confirmar contraseña es requerido.</br>
                                            </small>
                                            <small ng-show="formProfile.inputPassword1.$error.minlength">
                                                <i class="fa fa-warning"></i> La contraseña como mínimo son 6
                                                dígitos.</br>
                                            </small>
                                            <small ng-show="newPass != newPass1">
                                                <i class="fa fa-warning"></i> La contraseña y confirmación no son
                                                iguales.</br>
                                            </small>
                                        </div>
                                    </div>
                                </div>

                                <div class="alert alert-danger" ng-show="passError==2">
                                    {{texts.page_account_password_notification_error1}}
                                </div>
                                <div class="alert alert-danger" ng-show="passError.show &&  passFlag ==2">
                                    {{texts.page_account_password_notification_error2}}
                                </div>
                                <div class="alert alert-danger" ng-show="passError.show &&  passFlag ==3">
                                    {{texts.page_account_password_notification_error3}}
                                </div>

                                <div class="alert alert-success" ng-show="passSuccessShow">
                                    {{texts.page_account_password_notification_changed}}
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-offset-4 col-lg-8">
                                        <button ng-click="editPassword=false;" type="button"
                                                class="btn btn-link ">
                                            {{texts.page_account_password_cancel_button}}
                                        </button>
                                        <button ng-click="changePassUsersProfile()" type="button"
                                                class="btn btn-primary btn-lg"
                                                ng-disabled="!validEditPass()">
                                            {{texts.page_account_password_change_button}}
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <h3>{{texts.page_account_address_title}}</h3>
                        <hr/>
                        <div class="form-group"
                             ng-class="{'has-error':formProfile.inputAddress1.$dirty && formProfile.inputAddress1.$invalid}">
                            <label class="col-lg-4 col-md-4 control-label"><span>*</span>{{texts.page_account_address1}}</label>

                            <div class="col-lg-8 col-md-8">
                                <input type="text" required ng-model="user.address" name="inputAddress1"
                                       class="form-control" ng-disabled="!letEdit" ng-focus/>

                                <div class="hing-error" style="text-align: left;"
                                     ng-show="formProfile.inputAddress1.$dirty && formProfile.inputAddress1.$invalid && !formProfile.inputAddress1.$focused">
                                    <small ng-show="formProfile.inputAddress1.$error.required">
                                        <i class="fa fa-warning"></i> La dirección es requerida.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group"
                             ng-class="{'has-error':formProfile.inputCountry.$dirty && formProfile.inputCountry.$invalid}">
                            <label class="col-lg-4 col-md-4 control-label"><span>*</span>{{texts.page_account_address_country}}</label>

                            <div class="col-lg-8 col-md-8">
                                <input type="text" required ng-model="user.country" name="inputCountry"
                                       class="form-control" ng-disabled="!letEdit" ng-focus/>

                                <div class="hing-error" style="text-align: left;"
                                     ng-show="formProfile.inputCountry.$dirty && formProfile.inputCountry.$invalid && !formProfile.inputCountry.$focused">
                                    <small ng-show="formProfile.inputCountry.$error.required">
                                        <i class="fa fa-warning"></i> El país es requerido.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group"
                             ng-class="{'has-error':formProfile.inputCity.$dirty && formProfile.inputCity.$invalid}">
                            <label class="col-lg-4 col-md-4 control-label"><span>*</span>{{texts.page_account_address_city}}</label>

                            <div class="col-lg-8 col-md-8">
                                <input type="text" required ng-model="user.city" name="inputCity" class="form-control"
                                       ng-disabled="!letEdit" ng-focus/>

                                <div class="hing-error" style="text-align: left;"
                                     ng-show="formProfile.inputCity.$dirty && formProfile.inputCity.$invalid && !formProfile.inputCity.$focused">
                                    <small ng-show="formProfile.inputCity.$error.required">
                                        <i class="fa fa-warning"></i> La ciudad es requerida.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 col-md-4 control-label">{{texts.page_account_address_zip_code}}</label>

                            <div class="col-lg-8 col-md-8">
                                <input type="text" ng-model="user.postalCode" class="form-control"
                                       ng-disabled="!letEdit">
                            </div>
                        </div>

                        <div class="form-group" style="margin-top: 30px;">
                            <div class="col-lg-offset-2 col-lg-8 col-md-8 right">
                                <div class="checkbox right">
                                    <label class="pull-left">
                                        <input type="checkbox" ng-model="user.subscription" ng-disabled="!letEdit">
                                        {{texts.page_account_bulletin_get_subscription}}
                                    </label>
                                </div>
                            </div>
                        </div>

                        <!--<h3>{{texts.page_account_bulletin_title}}</h3>
                        <hr/>-->

                        <div class="alert alert-danger" ng-show="showSaveError"><strong>Error</strong>
                            {{texts.page_account_register_confirmation_error}}
                        </div>
                        <div class="alert alert-success" ng-show="showSaveSuccess">
                            {{texts.page_account_saved_data_notification}}
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <hr/>
                            <div class="form-group" ng-show="letEdit">
                                <div class="col-lg-offset-4 col-lg-8 ">
                                    <button ng-click="changeLetEdit(false)" type="button"
                                            class="btn btn-default btn-lg right" style="margin-left: 10px;">
                                        {{texts.cancel}}
                                    </button>
                                    <button ng-click="updateProfile()"
                                            ng-disabled="!validEditProfile() || !formProfile.$valid"
                                            type="button"
                                            class="btn btn-primary btn-lg right">
                                        {{texts.page_account_save_button}}
                                    </button>

                                </div>
                            </div>
                            <div class="form-group" ng-show="!letEdit">
                                <div class="col-lg-offset-8 col-lg-4">

                                    <button ng-click="changeLetEdit(true)" type="button"
                                            class="btn btn-primary btn-lg right">
                                        {{texts.edit}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
        <div class="tab-box " ng-class="{hidden: tabSelected!= 4}">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-init="tabSelected== 4">
                <div ng-show="false">{{shipChart()}}</div>

                <div class="yearChartProfile">
                    <div class="form-group">
                        <div class="input-group">
                  <span class="input-group-btn">
                    <button ng-click="changeYear(-1)" class="btn btn-primary" type="button"><<</button>
                  </span>
                            <input type="text" disabled="true" class="form-control" ng-value="yearNow">
                        <span class="input-group-btn">
                    <button ng-click="changeYear(1)" class="btn btn-primary" type="button">>></button>
                  </span>
                        </div>
                    </div>
                    <div class=" form-group">
                        <select ng-model="shipName" ng-change="changeShip()"
                                class="form-control col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <option ng-repeat="ship in activities.ships">{{ship.name}}</option>
                        </select>
                    </div>
                </div>

                <div class=" col-lg-6 col-lg-offset-3 col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6"
                     style="margin-top: 20px;">
                    <div ng-hide="activities.ships.length" class="alert alert-info">
                        {{texts.no_items_to_show_notification}}
                    </div>
                </div>
                <div ng-show="activities.ships.length">
                    <div id="containerShip" style="height: 400px; margin: 0 auto"></div>
                    <div class="table-responsive" style="overflow: auto;margin-top: 30px;">
                        <table class="table table-condensed table-bordered">
                            <thead>
                            <tr role="row">
                                <th>{{texts.service}}</th>
                                <th>{{texts.quantity}} ( x {{texts.credit}})</th>
                                <th>{{texts.quantity}} ( x {{texts.currency}})</th>
                                <th>{{texts.page_account_myships_commission}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="ship in activities.ships">
                                <td>{{ship.name}}</td>
                                <td>{{ship.sp}}</td>
                                <td>{{ship.others}}</td>
                                <td>{{ship.total}}</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="tour-monto">
                        <div class="text"> TOTAL</div>

                        <div class="value">{{grandTotalShips}}</div>
                    </div>
                </div>

            </div>

        </div>
        <div class="tab-box " ng-class="{hidden: tabSelected!= 5}">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-init="tabSelected== 4">
                <div ng-show="false">{{shipService()}}</div>
                <!--<div>-->
                <!--<select ng-model="serviceName" ng-change="changeService()">-->
                <!--<option ng-repeat="serv in activities.services">-->
                <!--{{$root.languageSelected.min=='es'?serv.name.es:serv.name.en}}-->
                <!--</option>-->
                <!--</select>-->
                <!--</div>-->
                <!--<div class="yearChartProfile">-->
                <!--<button type="button" class="btn btn-primary btn-sm" ng-click="changeYear(-1)"><<</button>-->
                <!--<button type="button" class="btn btn-success btn-sm" disabled>{{yearNow}}</button>-->
                <!--<button type="button" class="btn btn-primary btn-sm" ng-click="changeYear(1)">>></button>-->

                <!--</div>-->
                <div class="yearChartProfile">
                    <div class="form-group">
                        <div class="input-group">
                  <span class="input-group-btn">
                    <button ng-click="changeYear(-1)" class="btn btn-primary" type="button"><<</button>
                  </span>
                            <input type="text" disabled="true" class="form-control" ng-value="yearNow">
                        <span class="input-group-btn">
                    <button ng-click="changeYear(1)" class="btn btn-primary" type="button">>></button>
                  </span>
                        </div>
                    </div>
                    <div class=" form-group">
                        <select ng-model="serviceName" ng-change="changeService()"
                                class="form-control col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <option ng-repeat="serv in activities.services">
                                {{$root.languageSelected.min=='es'?serv.name.es:serv.name.en}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class=" col-lg-6 col-lg-offset-3 col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6"
                     style="margin-top: 20px;">
                    <div ng-hide="activities.services.length" class="alert alert-info">
                        {{texts.no_items_to_show_notification}}
                    </div>
                </div>
                <div ng-show="activities.services.length">
                    <div id="containerService" style="height: 400px; margin: 0 auto">
                        <div class="table-responsive">
                            <table class="  table table-condensed table-bordered">
                                <thead>
                                <tr role="row">
                                    <th>{{texts.service}}</th>
                                    <th>{{texts.quantity}}</th>
                                    <th>{{texts.page_account_myships_commission}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="service in activities.services">
                                    <td>{{$root.languageSelected.min=='es'?service.name.es: service.name.en}}</td>
                                    <td>{{service.cant}}</td>
                                    <td>{{service.total}}</td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                        <div>
                            <label> TOTAL</label>

                            <div>{{grandTotalService}}</div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>


</div>
<!--<div class="bottom-40">{{updatePosition()}}</div>-->


