<div class="container bojeo-content ng-hide" ng-show="true">

    <div class="col-sm-offset-2 col-sm-8">
        <div class="text-center">
            <h3>{{$root.texts.tours_purchase_done_confirmation |uppercase}}</h3>
        </div>
    </div>

    <div class="col-sm-offset-2 col-sm-8 col-xs-12">
        <form class="form-horizontal" name="givepassForm" role="form">
            <div class="pack-label-form" ng-style="{'background-image':  'url(\''+
            (
            tour.bodySale.color == '#00FF00' ? '/img/front/ic_tagbooking_pack1.png' :
            tour.bodySale.color == '#FFFF00' ? '/img/front/ic_tagbooking_pack2.png' :
            tour.bodySale.color == '#F279DA' ? '/img/front/ic_tagbooking_pack3.png' :
            tour.bodySale.color == '#3FB3E9' ? '/img/front/ic_tagbooking_pack4.png' :
            tour.bodySale.color == '#FF7DA3' ? '/img/front/ic_tagbooking_pack5.png' :
            tour.bodySale.color == '#00FFFF' ? '/img/front/ic_tagbooking_pack6.png' : ''
            )
            +'\')'}">
            </div>
            <div class="well well-bojeo">
                <h3>{{tour.bodySale.tour.group.name[languageSelected.min]}}-{{tour.bodySale.tour.name[languageSelected.min]}}</h3>
                <hr/>
                <div ng-hide="reservedBusy">
                    <div class="time-info form-group">
                        <div class="col-lg-5 col-md-5  col-sm-5 col-xs-5">
                            <div class="text-left">{{tour.bodySale.tour.port.country[languageSelected.min]|uppercase}},
                                {{tour.bodySale.tour.port.city[languageSelected.min]|uppercase}}
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7  col-sm-7 col-xs-7">
                            <div class="text-right">{{tour.bodySale.date | date:'dd/MM/yyyy'}}</div>
                            <div class="text-right" ng-show="selectedDayweather">
                                {{texts[$root.selectedDayweather.code]}}
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-show="selectedDayweather">
                            <img ng-src="{{selectedDayweather.image}}"/>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-show="selectedDayweather">
                            <div class="temp text-right">{{selectedDayweather.low}}-{{selectedDayweather.high}}°C</div>
                        </div>

                    </div>
                    <hr/>
                    <div class="table row">
                        <div class="col-xs-6 ">
                            <div class="row">
                                <div class="col-xs-12 title">
                                    {{texts.tours_purchase_summary_ship}}
                                </div>
                                <div class="col-xs-12 title">
                                    {{texts.tours_purchase_summary_departure}}
                                </div>
                                <div ng-show="tour.bodySale.payForm != 'bonds'" class="col-xs-12 title">
                                    {{texts.tours_specs_specifications_duration}}
                                </div>
                                <div class="col-xs-12 title">
                                    {{texts.tours_purchase_summary_capacities}}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 ">
                            <div class="col-xs-12 value">{{tour.bodySale.ship.name}}</div>
                            <div class="col-xs-12 value">{{ tour.bodySale.payForm == 'bonds' ?
                                texts.tours_specs_recommended_products_arrange : tour.bodySale.departure +'h'}}
                            </div>
                            <div ng-show="tour.bodySale.payForm != 'bonds'" class="col-xs-12 value">
                                {{tour.bodySale.tour.data.price.type=='hours' ? tour.bodySale.duration +'h' :
                                tour.bodySale.duration +'d'}}
                            </div>
                            <div class="col-xs-12 value">{{tour.bodySale.cantPerson}}</div>
                        </div>
                        <div class="clearfix"></div>
                    </div>


                    <hr/>
                    <!--services -->
                    <div ng-show="tour.bodySale.pack">
                        <div class="form-group time-info">
                            <div class="text-left col-lg-8 col-md-8 col-sm-8 col-xs-8 ">
                                {{texts.tours_options_form_Tour}}
                            </div>
                            <div class="text-right col-lg-4 col-md-4 col-sm-4 col-xs-4">{{(tour.bodySale.tourMonto
                                *financeConverter())|number:2}} {{coinSelected.symbol}}
                            </div>
                        </div>
                        <hr/>
                        <div ng-repeat="service in tour.bodySale.pack.services" class="form-group time-info">
                            <div class="text-left col-lg-8 col-md-8 col-sm-8 col-xs-8"
                                    >{{(service.name[languageSelected.min])}}
                            </div>
                            <div class="text-right col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                {{((service.price* tour.bodySale.cantPerson * (tour.bodySale.tour.data.price.type=='hours' ? 1 : tour.bodySale.duration)) * financeConverter())|number:2}}
                                {{coinSelected.symbol}}
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <hr/>
                    </div>
                    <!--services end -->
                    <div class="form-group tour-monto" ng-show="tour.bodySale.payForm !='bonds'">
                        <div class="col-lg-offset-8 col-lg-4">
                            <div class="text">Total</div>

                            <div class="value">{{(tour.bodySale.monto *
                                financeConverter())|number:2}}{{coinSelected.symbol}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group tour-monto" ng-show="tour.bodySale.payForm =='bonds'">
                        <div class="col-lg-offset-8 col-lg-4">
                            <div class="text">Total</div>
                            <div class="value">{{tour.bodySale.hours}}</div>
                        </div>
                    </div>


                </div>
                <div class="alert alert-danger" ng-show="(reservedBusy)">
                    {{texts.page_purchase_booking_just_bought}}<br>
                    <a ng-href="/{{$root.languageSelected.min}}/tour/{{type}}">{{texts.page_purchase_booking_try_again}}</a>

                </div>

            </div>

        </form>

    </div>

</div>