<div id="register-page" class="container bojeo-content">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <ol class="breadcrumb text-left">
            <li><a ng-href="/{{languageSelected.min}}">{{$root.texts.inicio}}</a></li>
            <li class="active">{{texts.register_me}}</li>
        </ol>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="page-header text-left">
            <h3>{{texts.page_account_register_title|uppercase}}</h3>
            <h4>{{texts.page_account_register_condition1}} <a
                        ng-href="/{{languageSelected.min}}/login">{{texts.page_account_register_condition2}}</a></h4>
        </div>
    </div>
    <form class="form-horizontal" role="form" name="registerForm">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <h3>{{texts.page_account_personal_data}}</h3>
            <hr/>
            <div class="form-group"
                 ng-class="{'has-error':registerForm.inputName.$dirty && registerForm.inputName.$invalid}">
                <label class="col-lg-4 col-md-4 control-label"><span>*</span>{{texts.page_account_name}}</label>

                <div class="col-lg-8 col-md-8">
                    <input type="text" required ng-model="userName" class="form-control" name="inputName" ng-focus/>

                    <div class="hing-error" style="text-align: left;"
                         ng-show="registerForm.inputName.$dirty && registerForm.inputName.$invalid && !registerForm.inputName.$focused">
                        <small ng-show="registerForm.inputName.$error.required">
                            <i class="fa fa-warning"></i> {{texts.page_account_register_warning_name}}
                        </small>
                    </div>
                </div>
            </div>
            <div class="form-group"
                 ng-class="{'has-error':registerForm.inputLastName.$dirty && registerForm.inputLastName.$invalid}">
                <label class="col-lg-4 col-md-4 control-label"><span>*</span>{{texts.page_account_surname}}</label>

                <div class="col-lg-8 col-md-8">
                    <input type="text" required ng-model="lastName" class="form-control" name="inputLastName" ng-focus/>

                    <div class="hing-error" style="text-align: left;"
                         ng-show="registerForm.inputLastName.$dirty && registerForm.inputLastName.$invalid && !registerForm.inputLastName.$focused">
                        <small ng-show="registerForm.inputLastName.$error.required">
                            <i class="fa fa-warning"></i> {{texts.page_account_register_warning_surnames}}
                        </small>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-4 col-md-4 control-label"><span>*</span>{{texts.page_account_sex}}</label>

                <div class="col-lg-8 col-md-8">
                    <select class="form-control" ng-model="sex">
                        <option value="male">{{texts.page_account_sex_male}}</option>
                        <option value="female">{{texts.page_account_sex_female}}</option>
                    </select>
                </div>
            </div>

            <!-- new date select-->
            <div class="form-group">
                <label class="col-lg-4 col-md-4 control-label">{{texts.page_account_date_of_birth}}</label>

                <div>
                    <div class=" col-lg-2 col-md-2 col-sm-4 col-xs-4">
                        <select class="form-control " ng-model="day">
                            <option ng-repeat="day in days">{{day}}</option>
                        </select>
                    </div>
                    <div class=" col-lg-3 col-md-3 col-sm-4 col-xs-4">
                        <select class="form-control " ng-model="month"
                                ng-change="changeDate()">
                            <option value="0">{{texts.month_1}}</option>
                            <option value="1">{{texts.month_2}}</option>
                            <option value="2">{{texts.month_3}}</option>
                            <option value="3">{{texts.month_4}}</option>
                            <option value="4">{{texts.month_5}}</option>
                            <option value="5">{{texts.month_6}}</option>
                            <option value="6">{{texts.month_7}}</option>
                            <option value="7">{{texts.month_8}}</option>
                            <option value="8">{{texts.month_9}}</option>
                            <option value="9">{{texts.month_10}}</option>
                            <option value="10">{{texts.month_11}}</option>
                            <option value="11">{{texts.month_12}}</option>
                        </select>
                    </div>
                    <div class=" col-lg-3 col-md-3 col-sm-4 col-xs-4">
                        <select class="form-control " ng-model="year"
                                ng-change="changeDate()">
                            <option ng-repeat="year in years">{{year}}</option>
                        </select>
                    </div>
                </div>

            </div>
            <!-- end new date select-->
            <div class="form-group"
                 ng-class="{'has-error':(registerForm.inputEmail.$dirty && registerForm.inputEmail.$invalid) || !emailValidator()}">
                <label class="col-lg-4 col-md-4 control-label"><span>*</span>E-mail</label>

                <div class="col-lg-8 col-md-8">
                    <input type="email" required ng-model="email" class="form-control" name="inputEmail"
                           placeholder="" ng-focus/>

                    <div class="hing-error" style="text-align: left;"
                         ng-show="registerForm.inputEmail.$dirty && registerForm.inputEmail.$invalid && !registerForm.inputEmail.$focused">
                        <small ng-show="registerForm.inputEmail.$error.required">
                            <i class="fa fa-warning"></i> {{texts.page_account_register_warning_email}}</br>
                        </small>
                        <small ng-show="(registerForm.inputEmail.$dirty && registerForm.inputEmail.$invalid) || !emailValidator()">
                            <i class="fa fa-warning"></i> {{texts.page_account_register_warning_email_wrong}}
                        </small>
                    </div>
                </div>
            </div>
            <div class="form-group"
                 ng-class="{'has-error':(registerForm.inputPhoneNumber.$dirty && registerForm.inputPhoneNumber.$invalid)}">
                <!--ng-class="{'has-error':(registerForm.inputPhoneNumber.$dirty && registerForm.inputPhoneNumber.$invalid) || !phoneValidator()}">-->

                <label class="col-lg-4 col-md-4 control-label"><span>*</span>{{texts.page_account_telf}}</label>

                <div class="col-lg-8 col-md-8">
                    <input type="number" required
                           ng-model="phoneNumber" class="form-control" name="inputPhoneNumber" ng-minlength=6 ng-focus/>

                    <div class="hing-error" style="text-align: left;"
                         ng-show="registerForm.inputPhoneNumber.$dirty && registerForm.inputPhoneNumber.$invalid && !registerForm.inputPhoneNumber.$focused">
                        <small ng-show="registerForm.inputPhoneNumber.$error.minlength">
                            <i class="fa fa-warning"></i> {{texts.page_account_register_warning_phone_min}}</br>
                        </small>
                        <small ng-show="registerForm.inputPhoneNumber.$error.required">
                            <i class="fa fa-warning"></i> {{texts.page_account_register_warning_phone_wrong}}</br>
                        </small>
                    </div>
                </div>
            </div>
            <div class="form-group"
                 ng-class="{'has-error':registerForm.inputEnterprise.$dirty && registerForm.inputEnterprise.$invalid}">
                <label class="col-lg-4 col-md-4 control-label">{{texts.page_account_company}}</label>

                <div class="col-lg-8 col-md-8">
                    <input type="text" ng-model="enterprise" class="form-control" name="inputEnterprise"
                           placeholder="">
                </div>
            </div>
            <h3>{{texts.page_account_password}}</h3>
            <hr/>
            <div class="form-group" ng-class="{'has-error':registerForm.inputPassword.$dirty && registerForm.inputPassword.$invalid,
             'has-error' : password != password1}">
                <label class="col-lg-4 col-md-4 control-label"><span>*</span>{{texts.page_account_password}}</label>

                <div class="col-lg-8 col-md-8">
                    <input type="password" required ng-model="password" class="form-control" name="inputPassword"
                           ng-minlength=6 ng-focus/>

                    <div class="hing-error" style="text-align: left;"
                         ng-show="registerForm.inputPassword.$dirty && registerForm.inputPassword.$invalid && !registerForm.inputPassword.$focused">
                        <small ng-show="registerForm.inputPassword.$error.minlength">
                            <i class="fa fa-warning"></i> {{texts.page_account_register_warning_password_min}}</br>
                        </small>
                        <small ng-show="registerForm.inputPassword.$error.required">
                            <i class="fa fa-warning"></i> {{texts.page_account_register_warning_password}}</br>
                        </small>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error':registerForm.inputPassword1.$dirty && registerForm.inputPassword1.$invalid,
            'has-error' : password != password1}">
                <label class="col-lg-4 col-md-4 control-label"><span>*</span>{{texts.page_account_password_confirm}}</label>

                <div class="col-lg-8 col-md-8">
                    <input type="password" required ng-model="password1" class="form-control" name="inputPassword1"
                           ng-minlength=6 ng-focus/>

                    <div class="hing-error" style="text-align: left;"
                         ng-show="registerForm.inputPassword1.$dirty && registerForm.inputPassword1.$invalid && registerForm.inputPassword1.$focused || password!=password1">
                        <small ng-show="registerForm.inputPassword1.$error.required">
                            <i class="fa fa-warning"></i>{{texts.page_account_register_warning_password_confirm}}</br>
                        </small>
                        <small ng-show="registerForm.inputPassword1.$error.minlength">
                            <i class="fa fa-warning"></i>{{texts.page_account_register_warning_password_min}}</br>
                        </small>
                        <small ng-show="password!=password1">
                            <i class="fa fa-warning"></i>{{texts.page_account_password_notification_error2}}</br>
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <h3>{{texts.page_account_address_title}}</h3>
            <hr/>
            <div class="form-group"
                 ng-class="{'has-error':registerForm.inputAddress1.$dirty && registerForm.inputAddress1.$invalid}">
                <label class="col-lg-4 col-md-4 control-label"><span>*</span>{{texts.page_account_address1}}</label>

                <div class="col-lg-8 col-md-8">
                    <input type="text" required ng-model="address" class="form-control" name="inputAddress1" ng-focus/>

                    <div class="hing-error" style="text-align: left;"
                         ng-show="registerForm.inputAddress1.$dirty && registerForm.inputAddress1.$invalid && !registerForm.inputAddress1.$focused">
                        <small ng-show="registerForm.inputAddress1.$error.required">
                            <i class="fa fa-warning"></i> {{texts.page_account_register_warning_address}}
                        </small>
                    </div>
                </div>
            </div>
            <div class="form-group"
                 ng-class="{'has-error':registerForm.inputCity.$dirty && registerForm.inputCity.$invalid}">
                <label class="col-lg-4 col-md-4 control-label"><span>*</span>{{texts.page_account_address_city}}</label>

                <div class="col-lg-8 col-md-8">
                    <input type="text" required ng-model="city" class="form-control" name="inputCity" ng-focus/>

                    <div class="hing-error" style="text-align: left;"
                         ng-show="registerForm.inputCity.$dirty && registerForm.inputCity.$invalid && !registerForm.inputCity.$focused">
                        <small ng-show="registerForm.inputCity.$error.required">
                            <i class="fa fa-warning"></i> {{texts.page_account_register_warning_city}}
                        </small>
                    </div>
                </div>
            </div>
            <div class="form-group"
                 ng-class="{'has-error':registerForm.inputPostalcode.$dirty && registerForm.inputPostalcode.$invalid}">
                <label class="col-lg-4 col-md-4 control-label">{{texts.page_account_address_zip_code}}</label>

                <div class="col-lg-8 col-md-8">
                    <input type="text" ng-minlength="3" ng-maxlength="20" ng-model="postalcode"
                           class="form-control" name="inputPostalcode" placeholder="">
                </div>
            </div>
            <div class="form-group"
                 ng-class="{'has-error':registerForm.inputCountry.$dirty && registerForm.inputCountry.$invalid}">
                <label class="col-lg-4 col-md-4 control-label"><span>*</span>{{texts.page_account_address_country}}</label>

                <div class="col-lg-8 col-md-8">
                    <input type="text" ng-model="country" required class="form-control" name="inputCountry"
                           placeholder="" ng-focus/>

                    <div class="hing-error" style="text-align: left;"
                         ng-show="registerForm.inputCountry.$dirty && registerForm.inputCountry.$invalid && !registerForm.inputCountry.$focused">
                        <small ng-show="registerForm.inputCountry.$error.required">
                            <i class="fa fa-warning"></i> {{texts.page_account_register_warning_country}}
                        </small>
                    </div>
                </div>
            </div>
            <h3>{{texts.page_account_bulletin_title}}</h3>
            <hr/>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-12 col-md-12 text-left">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="subscription">
                            {{texts.page_account_bulletin_get_subscription}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div style="clear: both"></div>
        <div class="alert col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2"
             ng-class="{'alert-success': notyColor=='green','alert-danger' : notyColor=='red'}" ng-show="showNoty">{{notyText}}
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <hr/>
            <div class="form-group">
                <div class="col-lg-offset-8 col-lg-4">
                    <!--<div ng-show="msgError" class="alert alert-danger">-->
                    <!--<strong>Error</strong> {{texts.page_account_register_confirmation_error}}-->
                    <!--</div>-->
                    <button ng-click="create()"
                            ng-disabled="!registerForm.$valid ||  password != password1 || password.length < 6 || password1.length < 6"
                            type="button" class="btn btn-primary btn-lg">
                        {{texts.enviar}}
                    </button>
                </div>
            </div>
        </div>
    </form>

</div>


<div style="clear: both"></div>

<div class="bottom-40"></div>