<div id="return-page" class="container bojeo-content">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <ol class="breadcrumb text-left">
            <li><a ng-href="/{{languageSelected.min}}">{{$root.texts.inicio}}</a></li>
            <li class="active">{{$root.texts.booking_footer}}</li>
        </ol>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="page-header text-left">
            <h3>{{texts.booking_footer |uppercase}}</h3>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 text-left">
        <div ng-bind-html="languageSelected.min == 'es' ? devolutions.es : devolutions.en">
        </div>
    </div>


    <div ng-show="showReturnForm" id="return-form" class="col-lg-12 col-md-12 col-sm-12">
        <hr/>
        <h3 class="text-left">{{texts.tours_refund_form_title1}}</h3>

        <div class="col-lg-12 col-md-12 col-sm-12 text-left well well-bojeo return">
            <h3 class="text-center">{{texts.tours_refund_form_title2}}</h3>
            <hr/>
            <div class="col-lg-8 col-md-8 col-sm-8">
                <div class="col-lg-12 col-md-12 col-sm-12 form-horizontal">
                    <div class="title text-left">
                        {{texts.tours_refund_form_saleID|uppercase}}
                    </div>
                    <div class="value">{{reservation.payment.token}}</div>
                    <div class="title text-left">
                        {{texts.tours_refund_form_product|uppercase}}
                    </div>
                    <div class="time-info  form-group">
                        <div class="col-lg-6 col-md-6  col-sm-6 col-xs-6">
                            <div class="text-left ng-binding">
                                {{(languageSelected.min == 'es' ? reservation.reservation.tour.group.name.es :
                                reservation.reservation.tour.group.name.en)}} -
                                {{(languageSelected.min == 'es' ? reservation.reservation.tour.name.es :
                                reservation.reservation.tour.name.en)}}

                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6  col-sm-6 col-xs-6">
                            <div class="text-right ng-binding">{{texts.city}}</div>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="table">
                            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6 form-group">
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 title">
                                    {{texts.tours_options_form_date}}
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 title">
                                    {{texts.tours_purchase_summary_ship}}
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 title">
                                    {{texts.tours_purchase_summary_departure}}
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 title">
                                    {{texts.tours_purchase_summary_capacities}}
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6 form-group">
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 value">{{reservation.reservation.start
                                    |
                                    date:'dd/MM/yyyy'}}
                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 value">
                                    {{reservation.reservation.ship.name}}
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 value">
                                    {{reservation.reservation.tour.group.payform=='bonds' ?
                                    texts.tours_specs_recommended_products_arrange
                                    :(reservation.reservation.departure + ' h')}}
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 value">
                                    {{reservation.reservation.cantPerson}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr/>
                    <div class="form-group tour-monto" ng-hide="practice">
                        <div class="col-lg-offset-8 col-lg-4">
                            <div class="text" ng-show="reservation.reservation.tour.group.payform=='bonds'">{{texts.credit}}:
                                {{reservation.payment.total}}
                            </div>
                            <div class="text" ng-show="reservation.reservation.tour.group.payform!='bonds'">
                                {{texts.tours_specs_recommended_products_price}} {{(reservation.payment.total
                                * financeConverter())|number:2}}{{coinSelected.symbol}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">

                <div class="col-lg-12 col-md-12">
                    <div class="title text-left">
                        {{texts.tours_refund_form_reason}}
                    </div>
                    <form name="refund">
                        <div class="form-group"
                             ng-class="{'has-error':(contacForm.refund.$dirty && contacForm.refund.$invalid) || hasError}">
                            <div class="col-lg-12 col-md-12">
                                <textarea required id="return-textarea" ng-model="reasonText" type="text"
                                          name="reasonText"
                                          class="form-control"> </textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="form-group">
            <div class="col-lg-offset-4 col-lg-4">

                <button ng-click="sendDevolution()" type="button"
                        class="btn btn-primary btn-lg element-margin-from-footer"
                        ng-disabled="!reasonText">
                    {{texts.enviar}}
                </button>
            </div>
        </div>

    </div>

    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12" ng-show="showCompleteCancel">

        <div class="alert alert-info  ng-binding">{{texts.tours_refund_notification_success}}</div>
    </div>
</div>
<div class="bottom-40"></div>