<div id="search-page" class="container bojeo-content" style="min-height: 271px">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <ol class="breadcrumb text-left">
            <li><a ng-href="/{{languageSelected.min}}">{{$root.texts.inicio}}</a></li>
            <li class="active">{{texts.page_search_title}}</li>
        </ol>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="page-header text-left">
            <h3>{{texts.page_search_title|uppercase}}</h3>
        </div>
    </div>

    <form class="form-horizontal" role="form">
        <div class="col-lg-6 col-md-6 col-sm-6  ">
            <div class="input-group">
                <input ng-change="changeSearchText()" type="text" class="form-control ng-pristine ng-valid"
                       placeholder="{{languageSelected.min=='es'?'Buscar':'Search'}}" ng-model="searchText">
                  <span class="input-group-btn">
                      <button ng-click="search()" ng-disabled="!searchText||searchText.length<4"
                              class="btn btn-primary sea-button"
                              type="button">
                          {{texts.page_search_button}}
                      </button>
                  </span>
            </div>
        </div>
        <div class="clearfix"></div>
    </form>

    <div class="col-lg-12 col-md-12 col-sm-12 resul-search-resume" ng-show="showSumary">
        <span class="badge ">{{result.length}}</span>
        <span class="sumary-dark"> {{texts.page_search_results_text}}</span>
        <a ng-href="/{{$root.languageSelected.min}}/search/{{searchText}}">"{{searchText}}"</a>

    </div>

    <div class="result-search-item" ng-repeat="res in result">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 search-img">
            <img ng-show="res.img" ng-src="" class="img-responsive" src="{{res.img.path}}" alt="{{(languageSelected.min=='es' ? res.title.es : res.title.en) |uppercase}}"/>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <a ng-href="/{{$root.languageSelected.min}}/{{res.link }}">
                    <h4>
                        {{(languageSelected.min=='es' ? res.title.es : res.title.en) |uppercase}}
                        <!-- <strong ng-hide="res.type=='news' || res.type==5">{{res.price}}€</strong>-->
                    </h4>
                </a>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 search-text-color"
                 ng-bind-html="languageSelected.min=='es' ? reduceText(res.text.es) : reduceText(res.text.en)">

            </div>
        </div>
        <div class="clearfix"></div>
    </div>


    <div ng-show="languageSelected.min=='en'" class="result-search-item" ng-repeat="res in result.en">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
            <img ng-src="" class="img-responsive" src="{{res.path}}"/>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <a ng-href="/{{$root.languageSelected.min}}/{{res.link}}">
                    <h4>
                        {{res.title|uppercase}} <strong ng-hide="res.type=='news' || res.type==5">
                        {{res.price}}€</strong>

                    </h4>
                </a>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " ng-bind-html="res.text">

            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <!--<div class="bottom-40">{{updatePosition()}}</div>-->

</div>




