<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:xhtml="http://www.w3.org/1999/xhtml">
    <url>
        <loc>http://www.bojeo.com</loc>
        <xhtml:link
                rel="alternate"
                hreflang="es"
                href="http://www.bojeo.com"
                />
        <xhtml:link
                rel="alternate"
                hreflang="en"
                href="http://www.bojeo.com/en"
                />
    </url>

    <% groups.forEach(function(group){ %>
    <url>
        <loc>http://www.bojeo.com/es/<%= group._doc.slug.es %></loc>
        <xhtml:link
                rel="alternate"
                hreflang="es"
                href="http://www.bojeo.com/es/<%= group._doc.slug.es %>"
                />
        <xhtml:link
                rel="alternate"
                hreflang="en"
                href="http://www.bojeo.com/en/<%= group._doc.slug.en %>"
                />
    </url>
    <% }) %>
    <% tours.forEach(function(tour){ %>
        <url>
            <loc>http://www.bojeo.com/es/<%= tour._doc.group.slug.es %>/<%= tour._doc.slug.es %></loc>
            <xhtml:link
                    rel="alternate"
                    hreflang="es"
                    href="http://www.bojeo.com/es/<%= tour._doc.group.slug.es %>/<%= tour._doc.slug.es %>"
                    />
            <xhtml:link
                    rel="alternate"
                    hreflang="en"
                    href="http://www.bojeo.com/en/<%= tour._doc.group.slug.en %>/<%= tour._doc.slug.en %>"
                    />
        </url>
    <% }) %>
</urlset>
