<div ng-show="show" id="tour-page" class="container bojeo-content ng-hide">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <ol class="breadcrumb text-left">
            <li><a ng-href="/{{languageSelected.min}}">{{$root.texts.inicio}}</a></li>
            <li class="active">{{languageSelected.min == 'es' ? tour.name.es : tour.name.en}}</li>
        </ol>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="page-header text-left">
            <h1 class="h1-category">{{(tour.name[languageSelected.min])|uppercase}}</h1>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-include="'/javascripts/js/partials/imageTour.html'">

    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-cloak>
        <form class="form-horizontal" name="givepassForm" role="form">
            <div class="pack-label-form" ng-style="{'background-image':  'url(\''+
            (
            packColor == '#00FF00' ? '/img/front/ic_tagbooking_pack1.png' :
            packColor == '#FFFF00' ? '/img/front/ic_tagbooking_pack2.png' :
            packColor == '#F279DA' ? '/img/front/ic_tagbooking_pack3.png' :
            packColor == '#3FB3E9' ? '/img/front/ic_tagbooking_pack4.png' :
            packColor == '#FF7DA3' ? '/img/front/ic_tagbooking_pack5.png' :
            packColor == '#00FFFF' ? '/img/front/ic_tagbooking_pack6.png' : ''
            )
            +'\')'}">
            </div>
            <div class="well well-bojeo" ng-cloak>
                <h3>{{(languageSelected.min == 'es' ? tour.group.name.es : tour.group.name.en)}}
                    - {{(languageSelected.min == 'es' ? tour.name.es : tour.name.en)}}</h3>
                <hr/>
                <div ng-cloak class="time-info form-group">
                    <div class="col-lg-5 col-md-5  col-sm-5 col-xs-5">
                        <div class="text-left">{{texts.tours_options_form_weather_place|uppercase}}</div>
                    </div>
                    <div class="col-lg-7 col-md-7  col-sm-7 col-xs-7">
                        <div class="text-right">{{dt.getTime() | date:'dd/MM/yyyy'}}</div>
                        <div class="text-right" ng-show="selectedDayweather">{{texts[selectedDayweather.code]}}</div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-show="selectedDayweather">
                        <img ng-src="{{selectedDayweather.image}}"/>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-show="selectedDayweather">
                        <div class="temp text-right">{{selectedDayweather.low}}-{{selectedDayweather.high}}°C</div>
                    </div>
                </div>
                <div ng-cloak class="form-group"
                     ng-class="{'has-error':givepassForm.inputEmail.$dirty && givepassForm.inputEmail.$invalid}">
                    <label class="col-lg-4 col-md-4 control-label"><span>*</span>{{texts.tours_options_form_date}}</label>

                    <div class="col-lg-8 col-md-8">
                        <div class="input-group">
                            <input disabled type="text" value="{{dt.getTime() | date:'dd/MM/yyyy'}}"
                                   class="form-control"/>
                      <span class="input-group-btn" ng-mouseleave="fadeCalendar()">
                          <button type="button" class="btn btn-default dropdown-toggle" ng-click="showCalendar()"
                                  tabindex="-1">
                              <span class="caret"></span>
                          </button>
                           <div class="dropdown-calendar dropdown-menu" id="calendarBojeo">
                               <datepicker ng-model="dt" min-date="minDate" max-date="maxDate"
                                           date-disabled="disabled(date, mode)"
                                           show-weeks="true" ng-change="SelectedDay()"
                                           class="well well-sm"></datepicker>
                           </div>
                      </span>
                        </div>
                    </div>
                </div>
                <div ng-cloak class="form-group" ng-hide="occupied">
                    <label class="col-lg-4 col-md-4 control-label"><span>*</span>{{texts.tours_options_form_schedule}}</label>

                    <div class="col-lg-8 col-md-8" ng-show="tour.data.payForm != 'bonds'">
                        <select ng-model="departure" ng-change="changeDeparture()" class="form-control"
                                ng-disabled="ship.departures.length==1">
                            <option ng-repeat="dep in ship.departures" value="{{dep.departure}}">{{dep.departure}}h
                            </option>
                        </select>
                    </div>
                    <div class="col-lg-8 col-md-8" ng-show="tour.data.payForm == 'bonds'">
                        {{texts.tours_specs_recommended_products_arrange}}
                    </div>
                </div>
                <!-- SEPARATION -->
                <div ng-cloak class="form-group" ng-hide="occupied || tour.data.payForm == 'bonds'">
                    <label class="col-lg-4 col-md-4 control-label"><span>*</span>{{texts.tours_specs_specifications_duration}}</label>

                    <div class="col-lg-8 col-md-8">
                        <select ng-model="duration" ng-change="changeDuration()" class="form-control"
                                ng-disabled="departureSelected.duration.length==1">
                            <option ng-repeat="val in departureSelected.duration" value="{{val.duration}}">
                                {{val.duration}}
                                {{tour.data.price.type=='hours' ?
                                texts.tours_specs_specifications_duration_in_hours:texts.tours_specs_specifications_duration_in_days}}
                            </option>
                        </select>
                    </div>
                </div>
                <!-- SEPARATION -->
                <div ng-cloak >
                    <!-- SEPARATION -->
                    <div class="form-group" ng-hide="occupied && !ships.length">
                        <label class="col-lg-4 col-md-4 control-label"><span>*</span>{{texts.tours_options_form_ship}}</label>

                        <div class="col-lg-8 col-md-8">
                            <div class="input-group">
                                <input disabled type="text" ng-model="shipName" class="form-control"/>
                                  <span class="input-group-btn">
                                      <button type="button" class="btn btn-default dropdown-toggle"
                                              ng-click="showShip()"
                                              tabindex="-1">
                                          <span class="caret"></span>
                                      </button>

                                  </span>
                            </div>
                        </div>
                        <div id="wrapper" ng-mouseleave="fadeShip()">
                            <ul>
                                <li ng-repeat="shipShow in ships">
                                    <div class="col-lg-12 col-md-12 col-sm-12 pull-left left">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 shipImg"
                                             ng-style="{'background-image':  'url(\''+shipShow.photos[0].path+'\')'}"></div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 ">
                                            <div class="titleShip">{{shipShow.name}}</div>
                                            <div class="description"
                                                 ng-bind-html="$root.languageSelected.min=='es'?shipShow.description.es:shipShow.description.en"></div>
                                        </div>
                                        <div ng-class="{'selected':shipShow==ship}"
                                             ng-click="changeShip(shipShow)"
                                             class="col-lg-1 col-md-1 col-sm-1 col-xs-1 ship-selected"></div>
                                        <div ng-show="false">{{refresh($index)}}</div>
                                    </div>
                                </li>
                                <li>.</li>

                            </ul>
                        </div>
                    </div>
                    <div class="form-group"
                         ng-hide="capacity.priceBy=='boat' || tour.price.payform=='bonds' || occupied">
                        <label class="col-lg-4 col-md-4 control-label"><span>*</span>{{texts.tours_options_form_capacity}}</label>

                        <div class="col-lg-8 col-md-8">
                            <select ng-model="cantPerson" ng-change="changeDaysAndPerson()" class="form-control">
                                <option ng-repeat="arr in arrayPerson">{{arr}}</option>
                            </select>
                        </div>
                    </div>
                    <!-- SEPARATION -->
                    <div class="form-group" ng-show="tour.data.capacity.type=='boat' && !occupied">
                        <label class="col-lg-4 col-md-4 control-label">{{texts.tours_options_form_capacity}}</label>

                        <div class="col-lg-8 col-md-8">
                            <p class="form-control-static"> {{cantPerson}}</p>
                        </div>
                    </div>
                    <!-- SEPARATION -->
                    <div class="form-group"
                         ng-hide="tour.data.payForm!='bonds' || occupied || bond.cant < tour.price.minHour ">
                        <label class="col-lg-4 col-md-4 control-label">{{texts.tours_options_form_available_hours}}</label>

                        <div class="col-lg-8 col-md-8">
                            <p class="form-control-static">{{bond.cant}}h</p>
                        </div>
                    </div>
                    <!-- SEPARATION -->
                    <div class="form-group" ng-cloak
                         ng-hide="tour.data.payForm!='bonds' || occupied || bond.cant < tour.price.minHour || bond.cant < tour.data.bond.minHour ">
                        <label class="col-lg-4 col-md-4 control-label"><span>*</span>{{texts.tours_options_form_desired_hours}}</label>

                        <div class="col-lg-8 col-md-8">
                            <select class="form-control" ng-model="selecteddesireHours"
                                    ng-options="c for c in desireHours">
                            </select>
                        </div>
                    </div>
                </div>
                <!--services -->
                <div ng-cloak ng-show="services.length > 0">
                    <hr/>
                    <div class="form-group time-info">
                        <div class="text-left col-lg-8 col-md-8 col-sm-8 col-xs-8 cursor"
                             ng-click="showServiceDescription('tour')">
                            {{texts.tours_options_form_Tour}}
                        </div>
                        <div class="text-right col-lg-4 col-md-4 col-sm-4 col-xs-4">{{(tourMonto *
                            financeConverter())|number:2}} {{coinSelected.symbol}}
                        </div>
                    </div>
                    <hr/>
                    <div ng-repeat="service in services" class="form-group time-info">
                        <div class="text-left col-lg-8 col-md-8 col-sm-8 col-xs-8 cursor"
                             ng-click="showServiceDescription($index)">{{(languageSelected.min == 'es' ?
                            service.name.es : service.name.en)}}
                        </div>
                        <div class="text-right col-lg-4 col-md-4 col-sm-4 col-xs-4"> {{(day || 1)*(cantPerson *
                            service.price *
                            financeConverter())|number:2}} {{coinSelected.symbol}}
                        </div>
                    </div>
                </div>
                <div ng-cloak class="clearfix"></div>
                <!--services end -->
                <hr/>
                <div ng-show="!occupied">
                    <div class="form-group tour-monto" ng-show="tour.data.payForm =='currencies'">
                        <div class="col-lg-offset-7 col-lg-5">
                            <div class="text">Total</div>
                            <div class="value">{{(monto * financeConverter())|number:2}} {{coinSelected.symbol}}</div>
                        </div>
                    </div>
                    <!-- SEPARATION -->

                    <div class="form-group tour-monto"
                         ng-show="tour.data.payForm =='bonds' && bond.cant < tour.data.bond.minHour">

                        <div class="col-lg-offset-7 col-lg-5">
                            <div class="text">Total</div>
                            <div class="value">{{selecteddesireHours}}</div>
                        </div>
                    </div>
                    <!-- SEPARATION -->
                    <div class="alert alert-danger" ng-show="bond.cant < tour.data.bond.minHour">
                        {{texts.tours_options_form_not_enough_hours}}
                    </div>
                    <div ng-cloak class="form-group" ng-show="bond.cant < tour.data.bond.minHour">
                        <div class="col-lg-offset-4 col-lg-4">

                            <button ng-click="buyHours()"
                                    type="button" class="btn btn-green btn-lg">
                                {{texts.comprar_bonos}}
                            </button>
                        </div>
                    </div>


                    <!-- SEPARATION -->
                    <div class="form-group">
                        <div class="col-lg-offset-4 col-lg-4">

                            <button ng-click="Reserved('paypal')"
                                    ng-hide="occupied || (bond.cant < tour.price.minHour && tour.price.payform =='bonds') || bond.cant < tour.data.bond.minHour"
                                    type="button" class="btn btn-orange btn-lg">
                                {{texts.tours_options_form_button_text|uppercase}}
                            </button>
                        </div>
                    </div>
                </div>
                <div ng-show="occupied && shipsOc">
                    <div class="alert alert-danger">{{texts.tours_options_form_occupied_day}}</div>
                </div>

                <div ng-show="occupied && !shipsOc">
                    <div class="alert alert-danger">{{texts.tours_options_form_occupied_ships}}</div>
                </div>

                <div class="alert alert-danger" ng-hide="true">
                    {{texts.page_purchase_booking_just_bought}}
                </div>
            </div>
        </form>
    </div>

    <div class="clearfix bottom-40"></div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <ul class="nav nav-tabs hidden-xs ">
            <li ng-class="{active: tabSelected== 0}"><a ng-click="changeTab(0)" href="javascript:;"><strong>{{texts.tours_specs_title_description}}</strong></a>
            </li>
            <li ng-class="{active: tabSelected== 1}"><a ng-click="changeTab(1)" href="javascript:;"><strong>{{texts.tours_specs_title_specifications}}</strong></a>
            </li>
            <li ng-class="{active: tabSelected== 3}"><a ng-click="changeTab(3)" href="javascript:;"><strong>{{texts.tours_specs_title_recommendations}}</strong></a>
            </li>
            <li ng-class="{active: tabSelected== 2}"><a ng-click="changeTab(2)"
                                                        href="javascript:;"><strong>{{texts.tours_specs_title_recommended_products}}</strong></a>
            </li>
        </ul>
        <ul class="nav nav-tabs visible-xs ">
            <li ng-show="tabSelected== 0" class="active"><a ng-click="changeTab(0)" href="javascript:;">{{texts.tours_specs_title_description}}</a>
            </li>
            <li ng-show="tabSelected== 1" class="active"><a ng-click="changeTab(1)" href="javascript:;">{{texts.tours_specs_title_specifications}}</a>
            </li>
            <li ng-show="tabSelected== 3" class="active"><a ng-click="changeTab(3)" href="javascript:;">{{texts.tours_specs_title_recommendations}}</a>
            </li>
            <li ng-show="tabSelected== 2" class="active"><a ng-click="changeTab(2)" href="javascript:;">{{texts.tours_specs_title_recommended_products}}</a>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" href="#">
                    {{$root.texts.mas}} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu tour-dropdown-menu">
                    <li><a ng-click="changeTab(0)" href="javascript:;">{{texts.tours_specs_title_description}}</a></li>
                    <li><a ng-click="changeTab(1)" href="javascript:;">{{texts.tours_specs_title_specifications}}</a>
                    </li>
                    <li><a ng-click="changeTab(3)" href="javascript:;">{{texts.tours_specs_title_recommendations}}</a>
                    </li>
                    <li><a ng-click="changeTab(2)"
                           href="javascript:;">{{texts.tours_specs_title_recommended_products}}</a></li>
                </ul>
            </li>
        </ul>

        <div class="tab-box " ng-class="{hidden: tabSelected!= 0}">
            <div class="fill dark dark-fixed">
                <div class="fixed-dark">
                    {{(languageSelected.min == 'es' ? tour.group.name.es :tour.group.name.en)|uppercase}} -
                    {{(languageSelected.min == 'es' ? tour.name.es : tour.name.en)|uppercase}}
                </div>
            </div>
            <div id="service-tour" class="text-tour-description"
                 ng-bind-html="languageSelected.min =='es' ? tour.description.es : tour.description.en">
            </div>

            <div ng-repeat="service in services">
                <div class="fill dark dark-fixed">
                    <div id="service-{{$index}}" class="fixed-dark">{{(languageSelected.min == 'es' ? service.name.es :
                        service.name.en)|uppercase}}
                    </div>
                </div>
                <div class="text-tour-description"
                     ng-bind-html="languageSelected.min =='es' ? service.description.es : service.description.en">
                </div>
            </div>
        </div>
        <div class="tab-box" ng-class="{hidden: tabSelected!= 1}">
            <!--    SEPARATION    -->
            <div class="fill dark">
                <div>{{texts.tours_specs_specifications_departure_point}}</div>
            </div>
            <div class="fill">
                <div>
                    <div class="left" style="max-height: 30px">
                        <p class="left">{{languageSelected.min == 'es' ? tour.port.name.es : tour.port.name.en}}.</p>

                        <p class="left"
                           ng-bind-html="languageSelected.min == 'es' ? tour.port.address.es : tour.port.address.en"></p>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!--    SEPARATION    -->
            <div class="fill dark">
                <div>{{texts.tours_specs_specifications_duration}}/{{texts.tours_specs_specifications_price}}</div>
            </div>
            <div class="fill">
                <div ng-show="tour.data.payForm!='bonds'">
                    <div ng-show="tour.data.price.type=='day'" class="fill-times"
                         ng-repeat="val in tour.data.price.value">
                        {{val.duration}}{{texts.tours_specs_specifications_duration_in_days}}/{{(val.price
                        *financeConverter())|number:2}}{{coinSelected.symbol}}
                    </div>
                    <div ng-show="tour.data.price.type=='hours'" class="fill-times"
                         ng-repeat="val in tour.data.price.value">
                        {{val.duration}}{{texts.tours_specs_specifications_duration_in_hours}}/{{(val.price
                        *financeConverter())|number:2}}{{coinSelected.symbol}}
                    </div>
                </div>
                <div ng-show="tour.data.payForm=='bonds'" class="fill-times">
                    {{texts.tours_bonus}} {{showbond.hours}}h/{{(showbond.price
                    *financeConverter())|number:2}}{{coinSelected.symbol}}
                </div>

            </div>
            <!--    SEPARATION    -->
            <div>
                <div class="fill dark">
                    <div>{{texts.tours_specs_specifications_schedule}}</div>
                </div>
                <div class="fill">
                    <div ng-show="tour.data.payForm!='bonds'">
                        <div class="fill-times" ng-repeat="departure in tour.data.departures">
                            {{departure}}{{texts.tours_specs_specifications_departure_in}}
                        </div>
                        <br>

                        <div ng-bind-html="languageSelected.min=='es' ? tour.hours.departureTxt.es:tour.hours.departureTxt.en"></div>
                    </div>
                    <div>
                        {{texts.tours_specs_recommended_products_arrange}}
                    </div>

                </div>

            </div>
            <div class="fill dark">
                <div>{{texts.tours_specs_specifications_available_weekdays}}</div>
            </div>
            <div class="fill">
                <div>
                    <div class="days-week" ng-show="tour.daysWeek[0]">{{languageSelected.min=='es' ? nameDays()[0].es
                        :nameDays()[0].en}}
                    </div>
                    <div class="days-week" ng-show="tour.daysWeek[1]">{{languageSelected.min=='es' ? nameDays()[1].es
                        :nameDays()[1].en}}
                    </div>
                    <div class="days-week" ng-show="tour.daysWeek[2]">{{languageSelected.min=='es' ? nameDays()[2].es
                        :nameDays()[2].en}}
                    </div>
                    <div class="days-week" ng-show="tour.daysWeek[3]">{{languageSelected.min=='es' ? nameDays()[3].es
                        :nameDays()[3].en}}
                    </div>
                    <div class="days-week" ng-show="tour.daysWeek[4]">{{languageSelected.min=='es' ? nameDays()[4].es
                        :nameDays()[4].en}}
                    </div>
                    <div class="days-week" ng-show="tour.daysWeek[5]">{{languageSelected.min=='es' ? nameDays()[5].es
                        :nameDays()[5].en}}
                    </div>
                    <div class="days-week" ng-show="tour.daysWeek[6]">{{languageSelected.min=='es' ? nameDays()[6].es
                        :nameDays()[6].en}}
                    </div>
                </div>
                <br>

                <div ng-bind-html="languageSelected.min=='es'?tour.daysTxt.es:tour.daysTxt.en"></div>
            </div>
            <div>
                <div class="fill dark">
                    <div>{{texts.tours_specs_specifications_capacitiesxreserve}}</div>
                </div>
                <div class="fill">
                    <div>
                        <div class="fill-times">{{texts.tours_specs_specifications_capacities_max_persons}}:
                            {{tour.data.capacity.maxPerson}}
                            {{texts.tours_specs_specifications_capacities_persons}}
                        </div>
                    </div>
                </div>
            </div>
            <div ng-hide="tour.noIncludes.es=='<p>null</p>'">
                <div class="fill dark">
                    <div>{{texts.tours_specs_specifications_not_included}}</div>
                </div>
                <div class="fill">
                    <div>
                        <div class="incluye-tour"
                             ng-bind-html="languageSelected.min=='es' ? tour.noIncludes.es:tour.noIncludes.en"></div>
                    </div>
                </div>
            </div>
            <div class="fill dark">
                <div>{{texts.tours_specs_specifications_conditions}}</div>
            </div>
            <div class="fill">
                <div class="left">
                    <div class="for-reserve" style="text-align: justify"
                         ng-bind-html="languageSelected.min=='es' ? tour.conditions.es:tour.conditions.en "></div>
                </div>
                <div style="clear: both"></div>
            </div>
            <div ng-hide="tour.extras.es=='<p>null</p>'">
                <div class="fill dark">
                    <div>{{texts.tours_specs_specifications_extras}}</div>
                </div>
                <div class="fill">
                    <div class="for-reserve"
                         ng-bind-html="languageSelected.min=='es' ? tour.extras.es:tour.extras.en"></div>
                    <div style="clear: both"></div>
                </div>
            </div>

            <div class="fill dark">
                <div>{{texts.tours_specs_specifications_languages}}</div>
            </div>
            <div class="fill">
                <div class="left">
                    <div class="for-reserve"
                         ng-bind-html="languageSelected.min=='es' ? tour.language.es : tour.language.en"></div>
                </div>
                <div style="clear: both"></div>
            </div>
            <div class="fill dark">
                <div>{{texts.tours_specs_specifications_transport}}</div>
            </div>
            <div class="fill">
                <div class="left">
                    <div class="for-reserve"
                         ng-bind-html="languageSelected.min=='es' ? tour.transport.es : tour.transport.en"></div>
                </div>
                <div style="clear: both"></div>
            </div>
            <div class="fill dark">
                <div>{{texts.tours_specs_specifications_to_reserve}}</div>
            </div>
            <div class="fill">
                <div class="left">
                    <div class="for-reserve"
                         ng-bind-html="languageSelected.min=='es' ? tour.forReserve.es:tour.forReserve.en"></div>

                </div>
                <div style="clear: both"></div>
            </div>
        </div>
        <div class="tab-box" ng-class="{hidden: tabSelected!= 2}">
            <div class="container bojeo-content">
                <div class="col-lg-3 col-md-3 col-sm-6" ng-repeat="tours in recommendationsTours"
                     ng-show="!tours.hasPack" ng-init="$root.startProcess()"
                     ng-include="'/javascripts/js/partials/poilerToursG.html'"></div>

                <div class="col-lg-3 col-md-3 col-sm-6" ng-repeat="tours in recommendationsTours"
                     ng-show="tours.hasPack" ng-init="$root.startProcess()"
                     ng-include="'/javascripts/js/partials/poilerToursGPack.html'"></div>
            </div>
        </div>
        <div class="tab-box" ng-class="{hidden: tabSelected!= 3} "
             ng-bind-html="languageSelected.min =='es' ? tour.recommendations.es : tour.recommendations.en">
        </div>

    </div>

    <div class="clear-fix"></div>
    <!-- Modal -->
    <div class="modal fade" id="showMapModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="ports-map">
                    <button type="button" class="close-port" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </div>
</div>

