<div >
    <div id="tour-page" class="container bojeo-content ng-hide" ng-show="true">

        <div class="col-lg-12 col-md-12 col-sm-12">
            <ol class="breadcrumb text-left">
                <li><a ng-href="/{{languageSelected.min}}">{{$root.texts.inicio}}</a></li>
                <li class="active">{{languageSelected.min=='es'? group.name.es: group.name.en}}</li>
            </ol>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="page-header text-left">
                <h1 class="h1-category">{{group.name[languageSelected.min]|uppercase}}</h1>
            </div>
        </div>

        <div class="col-lg-9 col-md-9 col-sm-12 text-justify"
             ng-bind-html="languageSelected.min=='es'? group.description.es: group.description.en">

        </div>
        <div class="col-lg-3 col-md-3 col-sm-4" ng-include="'/javascripts/js/partials/poilerBooking.html'"></div>
    </div>
    <div class="clearfix"></div>
    <div class="container bojeo-content">
        <div class="col-lg-3 col-md-3 col-sm-6" ng-repeat="tours in toursGroup" ng-show="!tours.hasPack" ng-init="$root.startProcess()"
             ng-include="'/javascripts/js/partials/poilerToursG.html'"></div>

        <div class="col-lg-3 col-md-3 col-sm-6" ng-repeat="tours in toursGroup" ng-show="tours.hasPack" ng-init="$root.startProcess()"
             ng-include="'/javascripts/js/partials/poilerToursGPack.html'"></div>
    </div>
    <!--<div class="bottom-40">{{updatePosition()}}</div>-->
</div>