<div id="page-page" class="container bojeo-content">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <ol class="breadcrumb text-left">
            <li><a ng-href="/{{languageSelected.min}}">{{$root.texts.inicio}}</a></li>
            <li class="active">{{texts.terms_footer}}</li>
        </ol>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="page-header text-left">
            <h3>{{texts.terms_footer |uppercase}}</h3>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 text-justify" ng-bind-html="languageSelected.min == 'es' ? useTerms.es : useTerms.en">

    </div>
</div>

<!--<div class="bottom-40">{{updatePosition()}}</div>-->