<div  class="container bojeo-content " ng-show="true" >
    <div id="where-page" class="col-lg-12 col-md-12 col-sm-12">
        <ol class="breadcrumb text-left">
            <li><a ng-href="/{{languageSelected.min}}">{{$root.texts.inicio}}</a></li>
            <li class="active">{{$root.texts.contacto}}</li>
        </ol>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="page-header text-left">
            <h3>{{texts.contacto |uppercase}}</h3>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 ">
        <form class="form-horizontal" name="contacForm" role="form">
            <h3>{{texts.formulario_contacto }}</h3>
            <hr/>
            <div class="form-group"
                 ng-class="{'has-error':contacForm.inputName.$dirty && contacForm.inputName.$invalid}">
                <label class="col-lg-4 col-md-4 control-label"><span>*</span>{{$root.texts.nombre_completo}}</label>

                <div class="col-lg-8 col-md-8">
                    <input type="text" required ng-model="fullName" class="form-control" name="inputName">
                </div>
            </div>
            <div class="form-group"
                 ng-class="{'has-error':contacForm.inputEmail.$dirty && contacForm.inputEmail.$invalid}">
                <label class="col-lg-4 col-md-4 control-label"><span>*</span>E-mail</label>

                <div class="col-lg-8 col-md-8">
                    <input type="email" required ng-model="email" class="form-control" name="inputEmail">
                </div>
            </div>
            <div class="form-group"
                 ng-class="{'has-error':contacForm.inputCity.$dirty && contacForm.inputCity.$invalid}">
                <label class="col-lg-4 col-md-4 control-label"><span>*</span>{{texts.page_account_address_city}}</label>

                <div class="col-lg-8 col-md-8">
                    <input type="text" required ng-model="city" class="form-control" name="inputCity" ng-focus/>
                </div>
            </div>
            <div class="form-group"
                 ng-class="{'has-error':contacForm.inputCountry.$dirty && contacForm.inputCountry.$invalid}">
                <label class="col-lg-4 col-md-4 control-label"><span>*</span>{{texts.page_account_address_country}}</label>

                <div class="col-lg-8 col-md-8">
                    <input type="text" ng-model="country" required class="form-control" name="inputCountry"
                           placeholder="" ng-focus/>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error':contacForm.inputTel.$dirty && contacForm.inputTel.$invalid}">
                <label class="col-lg-4 col-md-4 control-label">{{$root.texts.telefono}}</label>

                <div class="col-lg-8 col-md-8">
                    <input type="text" ng-model="tel" class="form-control" name="inputTel">
                </div>
            </div>
            <!--<div class="form-group"
                 ng-class="{'has-error':contacForm.inputCompany.$dirty && contacForm.inputCompany.$invalid}">
                <label class="col-lg-4 col-md-4 control-label">{{$root.texts.compania}}</label>

                <div class="col-lg-8 col-md-8">
                    <input type="text" ng-model="company" class="form-control" name="inputCompany" >
                </div>
            </div>-->
            <div class="form-group"
                 ng-class="{'has-error':contacForm.inputComment.$dirty && contacForm.inputComment.$invalid}">
                <label class="col-lg-4 col-md-4 control-label"><span>*</span>{{$root.texts.mensaje}}</label>

                <div class="col-lg-8 col-md-8">
                    <textarea type="text" required ng-model="comment" class="form-control" name="inputComment"
                              > </textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="alert alert-success" ng-show="showSucces">
                       {{texts.page_contact_form_notification_success}}
                    </div>
                    <div class="alert alert-danger" ng-show="showError">
                        {{texts.page_contact_form_notification_error}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-8 col-lg-4">
                    <button ng-click="sendContact()" ng-disabled="!contacForm.$valid" type="button"
                            class="btn btn-primary">
                        {{$root.texts.enviar}}
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
        <h3>{{texts.mapa}}</h3>
        <hr/>
        <div id=" map_canvas" class="contact-form-map ">

            <!--<div >
                <google-map center='map.center' zoom='map.zoom' draggable='map.draggable' draging='map.draging' events='map.events'><window coords='mark.position' show='true'><div class='mark-text'>Bojeo Tours.</div></window></google-map>
            </div>-->
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2993.385081649233!2d2.199190253967285!3d41.38744286467346!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xba800d03f197aaeb!2sBOJEO+TOURS!5e0!3m2!1ses!2ses!4v1436444821966" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>

</div>
<div class="bottom-40"></div>


