<!DOCTYPE html>
<html ng-app>
<head>
</head>
<body>
<div ng-controller='MyController'>
    <div ng-repeat="log in logs">{{$index+": "}}{{log.result+" ------"}}{{ log.date | date : date : 'mediumTime'}}</div>
</div>
<script src="/javascripts/js/lib/angular.js"></script>

<script>
    function MyController($scope, $http) {
        $scope.logs = [];
        var cont = 0;
        setInterval(function () {
            $http({method: 'GET', url: '/ipnPayPal'}).
                    success(function (data) {
                        $scope.logs.push(data);
                    }).
                    error(function (data, status, headers, config) {

                    });
        }, 5000);
    }
</script>
</body>
</html>