﻿<!DOCTYPE html>
<html lang="es" ng-app="bojeoApp">
<head>
    <meta charset="utf-8">
    <title>Bojeo Backoffice</title>
    <link href="/stylesheets/normalize.css" rel="stylesheet"/>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->

    <script src="/javascripts/js/lib/html5shiv.js"></script>
    <!--[if lt IE 9]>
    <![endif]-->


    <link href="/stylesheets/bootstrap-cerulean.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-bottom: 40px;
        }

        .sidebar-nav {
            padding: 9px 0;
        }
    </style>
    <link href="/stylesheets/bootstrap-responsive.css" rel="stylesheet">
    <link href="/stylesheets/charisma/charisma-app.css" rel="stylesheet">
    <link href="/stylesheets/charisma/jquery-ui-1.8.21.custom.css" rel="stylesheet">
    <link href='/stylesheets/charisma/fullcalendar.css' rel='stylesheet'>
    <link href='/stylesheets/charisma/fullcalendar.print.css' rel='stylesheet' media='print'>
    <link href='/stylesheets/charisma/chosen.css' rel='stylesheet'>
    <link href='/stylesheets/charisma/uniform.default.css' rel='stylesheet'>
    <link href='/stylesheets/charisma/colorbox.css' rel='stylesheet'>
    <!--<link href='/stylesheets/charisma/jquery.cleditor.css' rel='stylesheet'>-->
    <link href='/stylesheets/charisma/jquery.noty.css' rel='stylesheet'>
    <link href='/stylesheets/charisma/noty_theme_default.css' rel='stylesheet'>
    <!--<link href='/stylesheets/charisma/elfinder.min.css' rel='stylesheet'>-->
    <!--<link href='/stylesheets/charisma/elfinder.theme.css' rel='stylesheet'>-->
    <link href='/stylesheets/charisma/jquery.iphone.toggle.css' rel='stylesheet'>
    <link href='/stylesheets/charisma/opa-icons.css' rel='stylesheet'>
    <link href='/stylesheets/charisma/uploadify.css' rel='stylesheet'>
    <link href='/stylesheets/mystyle.css' rel='stylesheet'>


    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/Favicon/ic_apple_touch_144px.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/Favicon/ic_apple_touch_114px.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/Favicon/aic_apple_touch_72px.png">
    <link rel="apple-touch-icon-precomposed" href="/img/Favicon/ic_apple_touch_57px.png">
    <link rel="shortcut icon" href="/img/Favicon/favicon.png">


</head>
<body ng-show="true" class="ng-hide">
<div ng-show="$root.loadingImg">
    <div class="modal-backdrop fade in"></div>
    <div class="box modal" style="width: 200px;height: 200px;left: 62%;top: 35%;">
        <div class="loading-img"></div>
    </div>
</div>

<!--<div>-->
<!--<button ng-click="$root.loadingImg=true">CLICK</button>-->
<!--</div>-->

<div id="noty_information" class="noty-bojeo">
    <div ng-class="{'noty-success':$root.notyBojeo.type==0,'noty-info':$root.notyBojeo.type==1,'noty-error':$root.notyBojeo.type==2}"
         class="alert " style="margin-bottom: 0px">
        <div style="width: 500px;margin: 0 auto;">{{$root.notyBojeo.msg|uppercase}}</div>
    </div>
</div>


<div class="navbar">
    <div class="navbar-inner my-navbar">
        <div class="container-fluid">
            <div class="span5">
                <a class="btn btn-navbar" data-toggle="collapse"
                   data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </a>

                <a class="" href="/" target="_blank">
                    <img src="/img/back-icons/Bojeo-BackOffice-02.png"/>
                </a>

            </div>
            <div class="bojeo-logout span2">
                <a ng-href="/logout" class="square-btn-adjust   ">
                    {{$root.user.username|uppercase}} {{$root.user.lastname|uppercase}}
                    <i class="icon-white icon-off "></i>
                </a>
            </div>
            <div class="navbar-right bojeo-notification span3">
                <ul class="nav navbar-nav">
                    <!-- Messages: style can be found in dropdown.less-->
                    <li class="dropdown messages-menu">
                        <a ng-href="#/reservations">
                            <div class="ic_backend_header_booking span2" title="Reservas"></div>
                            <span class="label label-success">{{$root.statistics.reservationsToday}}</span>
                        </a>
                    </li>
                    <!-- Notifications: style can be found in dropdown.less -->
                    <li class="dropdown notifications-menu">
                        <a ng-href="#/refunds">
                            <div class="ic_backend_header_refunds span2" title="Devoluciones"></div>
                            <span class="label label-warning">{{$root.statistics.refundsToday}}</span>
                        </a>
                    </li>
                    <!-- Tasks: style can be found in dropdown.less -->
                    <li class="dropdown tasks-menu">
                        <a ng-href="#/contacts">
                            <div class="ic_backend_header_contacts span2" title="Contactos"></div>
                            <span class="label label-danger">{{$root.statistics.contactsUnread}}</span>
                        </a>
                    </li>
                    <li class="dropdown tasks-menu">
                        <a ng-href="#/users">
                            <div class="ic_backend_header_users span2" title="Usuarios"></div>
                            <span class="label label-important">{{$root.statistics.newUsers}}</span>
                        </a>
                    </li>


                </ul>
                <a class="bojeo-logout-button btn-success btn-navbar " ng-href="/logout"
                   style="margin: -3px 0px 0px 0px;"> <i class="icon-white icon-off "></i></a>
            </div>


        </div>

    </div>
</div>
<!-- topbar ends -->

<!-- left menu starts -->
<div class="container-fluid">
    <div class="row-fluid">

        <!-- left menu starts -->
        <div class="span2 main-menu-span">
            <div class="well nav-collapse sidebar-nav">
                <ul class="nav nav-tabs nav-stacked main-menu">
                    <li class="nav-header hidden-tablet">Menu</li>
                    <li ng-click="changePage('home')" ng-class="{active: PageSelected == 'home'}">
                        <a class="ajax-link" href="#/home"><i class="back-icon-home  index-icons"></i><span
                                    class="hidden-tablet"> Inicio / Timeline</span></a>
                    </li>
                    <li>
                        <a class="ajax-link" target="_blank" href="/"><i class="back-icon-bojeo  index-icons"></i><span
                                    class="hidden-tablet"> Ir a Bojeo.com</span></a>
                    </li>
                    <li ng-click="changePage('countries')" ng-class="{active: PageSelected == 'countries'}">
                        <a class="ajax-link" href="#/countries"><i class="back-icon-countries index-icons"></i><span
                                    class="hidden-tablet"> Países y Ciudades</span><span
                                    class="label label-blue index-lateral-menu"
                                    ng-hide="$root.statistics.countries == 0">{{$root.statistics.countries}}</span></a>
                    </li>
                    <li ng-click="changePage('users')" ng-class="{active: PageSelected == 'users'}">
                        <a class="ajax-link" href="#/users"><i class="back-icon-user index-icons"></i><span
                                    class="hidden-tablet"> Usuarios</span><span ng-hide="$root.statistics.users == 0"
                                                                                class="label label-blue index-lateral-menu">{{$root.statistics.users}}</span></a>
                    </li>
                    <li ng-click="changePage('enterprise')" ng-class="{active: PageSelected == 'enterprise'}">
                        <a class="ajax-link" href="#/enterprises"><i class="back-icon-enterprise index-icons"></i><span
                                    class="hidden-tablet"> Empresas</span><span
                                    class="label label-blue index-lateral-menu"
                                    ng-hide="$root.statistics.enterprises == 0">{{$root.statistics.enterprises}}</span></a>
                    </li>
                    <li ng-click="changePage('ports')" ng-class="{active: PageSelected == 'ports'}">
                        <a class="ajax-link" href="#/ports"><i class="back-icon-ports index-icons"></i><span
                                    class="hidden-tablet"> Puertos</span><span
                                    class="label label-blue index-lateral-menu"
                                    ng-hide="$root.statistics.ports == 0">{{$root.statistics.ports}}</span></a>
                    </li>
                    <li ng-click="changePage('tags')" ng-class="{active: PageSelected == 'tags'}">
                        <a class="ajax-link" href="#/tags"><i class="back-icon-ships index-icons"></i><span
                                    class="hidden-tablet"> Categorías de Barcos</span><span
                                    class="label label-blue index-lateral-menu"
                                    ng-hide="$root.statistics.tags == 0">{{$root.statistics.tags}}</span></a>
                    </li>
                    <li ng-click="changePage('ships')" ng-class="{active: PageSelected == 'ships'}">
                        <a class="ajax-link" href="#/ships"><i class="back-icon-ships index-icons"></i><span
                                    class="hidden-tablet"> Barcos</span><span
                                    class="label label-blue index-lateral-menu"
                                    ng-hide="$root.statistics.ships == 0">{{$root.statistics.ships}}</span></a>
                    </li>
                    <li ng-click="changePage('bonds')" ng-class="{active: PageSelected == 'bonds'}">
                        <a class="ajax-link" href="#/bonds"><i class="back-icon-credits index-icons"></i><span
                                    class="hidden-tablet"> Bonos</span><span class="label label-blue index-lateral-menu"
                                                                             ng-hide="$root.statistics.bonds == 0">{{$root.statistics.bonds}}</span></a>
                    </li>
                    <li ng-click="changePage('services')" ng-class="{active: PageSelected == 'services'}">
                        <a class="ajax-link" href="#/services"><i class="back-icon-third-services index-icons"></i><span
                                    class="hidden-tablet"> Servicios de Terceros</span><span
                                    class="label label-blue index-lateral-menu"
                                    ng-hide="$root.statistics.services == 0">{{$root.statistics.services}}</span></a>
                    </li>
                    <li ng-click="changePage('groups')" ng-class="{active: PageSelected == 'groups'}">
                        <a class="ajax-link" href="#/groups"><i class="back-icon-tour-categories index-icons"></i><span
                                    class="hidden-tablet"> Categorías de Tours</span><span
                                    class="label label-blue index-lateral-menu" ng-hide="$root.statistics.groups == 0">{{$root.statistics.groups}}</span></a>
                    </li>
                    <li ng-click="changePage('tours')" ng-class="{active: PageSelected == 'tours'}">
                        <a class="ajax-link" href="#/tours"><i class="back-icon-tours index-icons"></i><span
                                    class="hidden-tablet"> Tours</span><span class="label label-blue index-lateral-menu"
                                                                             ng-hide="$root.statistics.tours == 0">{{$root.statistics.tours}}</span></a>
                    </li>
                    <li ng-click="changePage('packages')" ng-class="{active: PageSelected == 'packages'}">
                        <a class="ajax-link" href="#/packages"><i class="back-icon-packs index-icons"></i><span
                                    class="hidden-tablet"> Paquetes</span><span
                                    class="label label-blue index-lateral-menu"
                                    ng-hide="$root.statistics.packages == 0">{{$root.statistics.packages}}</span></a>
                    </li>
                    <li ng-click="changePage('reservations')" ng-class="{active: PageSelected == 'reservations'}">
                        <a class="ajax-link" href="#/reservations"><i class="back-icon-booking index-icons"></i><span
                                    class="hidden-tablet"> Reservas</span>
                            <span class="label label-blue index-lateral-menu"
                                  ng-hide="$root.statistics.reservations == 0">{{$root.statistics.reservations}}</span></a>
                    </li>
                    <li ng-click="changePage('refunds')" ng-class="{active: PageSelected == 'refunds'}">
                        <a class="ajax-link" href="#/refunds"><i class="back-icon-refund index-icons"></i><span
                                    class="hidden-tablet"> Devoluciones</span>
                            <span class="label label-blue index-lateral-menu" ng-hide="$root.statistics.refunds == 0">{{$root.statistics.refunds}}</span></a>
                    </li>
                    <li ng-click="changePage('invoice')" ng-class="{active: PageSelected == 'invoice'}">
                        <a class="ajax-link" href="#/invoice"><i class="back-icon-invoice index-icons"></i><span
                                    class="hidden-tablet"> Invoice</span>
                            <!--<span class="label label-blue index-lateral-menu" ng-hide="$root.statistics.refunds == 0">{{$root.statistics.refunds}}</span>-->
                        </a>
                    </li>
                    <li ng-click="changePage('graphics')" ng-class="{active: PageSelected == 'graphics'}">
                        <a class="ajax-link" href="#/graphics"><i class="back-icon-statistics  index-icons"></i><span
                                    class="hidden-tablet"> Estadísticas</span></a>
                    </li>
                    <li ng-click="changePage('listNews')" ng-class="{active: PageSelected == 'listNews'}">
                        <a class="ajax-link" href="#/listNews"><i class="back-icon-news index-icons"></i><span
                                    class="hidden-tablet"> Noticias</span><span
                                    class="label label-blue index-lateral-menu"
                                    ng-hide="$root.statistics.news == 0">{{$root.statistics.news}}</span></a>
                    </li>
                    <li ng-click="changePage('contacts')" ng-class="{active: PageSelected == 'contacts'}">
                        <a class="ajax-link" href="#/contacts"><i class="back-icon-contact index-icons"></i><span
                                    class="hidden-tablet"> Contactos</span><span
                                    class="label label-blue index-lateral-menu"
                                    ng-hide="$root.statistics.contacts == 0">{{$root.statistics.contacts}}</span></a>
                    </li>
                    <li ng-click="changePage('email')" ng-class="{active: PageSelected == 'email'}">
                        <a class="ajax-link" href="#/email"><i class="back-icon-email index-icons"></i><span
                                    class="hidden-tablet"> Correos y Notificaciones</span></a>
                    </li>
                    <li ng-click="changePage('listGeneralInfo')" ng-class="{active: PageSelected == 'listGeneralInfo'}">
                        <a class="ajax-link" href="#/listGeneralInfo"><i
                                    class="back-icon-settings index-icons"></i><span
                                    class="hidden-tablet"> Info General</span></a>
                    </li>
                </ul>

            </div>
            <!--/.well -->
        </div>
        <!--/span-->
        <!-- left menu ends -->


        <div id="content" class="span10">

            <div ng-controller="DataController"></div>
            <div class="wrap">
                <div ng-view></div>
            </div>


            <!-- content ends -->
        </div>
        <!--/#content.span10-->
    </div>
    <!--/fluid-row-->


</div>


<!-- jQuery -->

<script src="/javascripts/js/lib/jquery.js"></script>
<script src="/javascripts/js/lib/jquery-1.7.2.min.js"></script>
<script src="/javascripts/js/lib/tinymce/tinymce.min.js"></script>
<script src="/javascripts/js/lib/angular.js"></script>
<script src="/javascripts/js/lib/tinymce.js"></script>

<script src="/javascripts/js/lib/angular-file-upload.min.js"></script>
<script src="/javascripts/js/lib/angular-route.js"></script>
<script src="/javascripts/js/lib/angular-resource.js"></script>
<script src="/javascripts/js/lib/angular-restful.min.js"></script>
<script src="/javascripts/js/lib/angular-sanitize.min.js"></script>


<script src="/javascripts/js/utils/utils.js"></script>
<script src="/javascripts/js/controllers/back/NewsController.js"></script>
<script src="/javascripts/js/controllers/back/listNewsController.js"></script>
<script src="/javascripts/js/controllers/back/listUsersController.js"></script>
<script src="/javascripts/js/controllers/back/DataController.js"></script>
<script src="/javascripts/js/controllers/back/MyCtrlController.js"></script>
<script src="/javascripts/js/controllers/back/ToursController.js"></script>
<script src="/javascripts/js/controllers/back/addToursController.js"></script>
<script src="/javascripts/js/controllers/back/listShipsController.js"></script>
<script src="/javascripts/js/controllers/back/calendarController.js"></script>
<script src="/javascripts/js/controllers/back/HomeController.js"></script>
<script src="/javascripts/js/controllers/back/viewCalendarController.js"></script>
<script src="/javascripts/js/controllers/back/editCalendarController.js"></script>
<script src="/javascripts/js/controllers/back/abonoController.js"></script>
<script src="/javascripts/js/controllers/back/reservationController.js"></script>
<script src="/javascripts/js/controllers/back/generalInfoController.js"></script>
<script src="/javascripts/js/controllers/back/listGeneralInfoController.js"></script>
<script src="/javascripts/js/controllers/back/listPortsController.js"></script>
<script src="/javascripts/js/controllers/back/graphicsController.js"></script>
<script src="/javascripts/js/controllers/back/emailController.js"></script>
<script src="/javascripts/js/controllers/back/listContactController.js"></script>
<script src="/javascripts/js/controllers/back/devolutionController.js"></script>
<script src="/javascripts/js/controllers/back/countriesController.js"></script>
<script src="/javascripts/js/controllers/back/servicesController.js"></script>
<script src="/javascripts/js/controllers/back/enterpriseController.js"></script>
<script src="/javascripts/js/controllers/back/packagesController.js"></script>
<script src="/javascripts/js/controllers/back/invoiceController.js"></script>
<script src="/javascripts/js/controllers/back/tagsController.js"></script>
<script src="/javascripts/js/services/servicesBack.js"></script>

<script src="/javascripts/js/directives/ValidFocusDirective.js"></script>
<script src="/javascripts/js/filters/durationHour.js"></script>
<script src="/javascripts/js/filters/horary.js"></script>

<!-- jQuery UI -->
<script src="/javascripts/js/lib/jquery-ui-1.8.21.custom.min.js"></script>

<script src="/javascripts/js/lib/calendar.js"></script>
<script src="/javascripts/js/appBack.js"></script>

<!-- transition / effect library -->

<script src="/javascripts/js/lib/charisma/jquery-1.7.2.min.js"></script>
<!-- jQuery UI -->
<script src="/javascripts/js/lib/charisma/jquery-ui-1.8.21.custom.min.js"></script>
<!-- modal / dialog library -->
<script src="/javascripts/js/lib/bootstrap-modal.js"></script>
<!-- transition / effect library -->
<script src="/javascripts/js/lib/bootstrap-transition.js"></script>
<!-- alert enhancer library -->
<script src="/javascripts/js/lib/charisma/bootstrap-alert.js"></script>

<!-- custom dropdown library -->
<script src="/javascripts/js/lib/charisma/bootstrap-dropdown.js"></script>
<!-- scrolspy library -->
<script src="/javascripts/js/lib/charisma/bootstrap-scrollspy.js"></script>
<!-- library for creating tabs -->
<script src="/javascripts/js/lib/charisma/bootstrap-tab.js"></script>
<!-- library for advanced tooltip -->
<script src="/javascripts/js/lib/charisma/bootstrap-tooltip.js"></script>
<!-- popover effect library -->
<script src="/javascripts/js/lib/charisma/bootstrap-popover.js"></script>
<!-- button enhancer library -->
<script src="/javascripts/js/lib/charisma/bootstrap-button.js"></script>
<!-- accordion library (optional, not used in demo) -->
<script src="/javascripts/js/lib/charisma/bootstrap-collapse.js"></script>
<!-- carousel slideshow library (optional, not used in demo) -->
<script src="/javascripts/js/lib/charisma/bootstrap-carousel.js"></script>
<!-- autocomplete library -->
<script src="/javascripts/js/lib/charisma/bootstrap-typeahead.js"></script>
<!-- tour library -->
<script src="/javascripts/js/lib/charisma/bootstrap-tour.js"></script>
<!-- library for cookie management -->
<script src="/javascripts/js/lib/charisma/jquery.cookie.js"></script>
<!-- calander plugin -->
<script src='/javascripts/js/lib/charisma/fullcalendar.min.js'></script>
<!-- data table plugin -->
<script src='/javascripts/js/lib/charisma/jquery.dataTables.min.js'></script>

<!-- chart libraries start -->
<script src="/javascripts/js/lib/charisma/excanvas.js"></script>
<script src="/javascripts/js/lib/charisma/jquery.flot.min.js"></script>
<script src="/javascripts/js/lib/charisma/jquery.flot.pie.min.js"></script>
<script src="/javascripts/js/lib/charisma/jquery.flot.stack.js"></script>
<script src="/javascripts/js/lib/charisma/jquery.flot.resize.min.js"></script>
<!-- chart libraries end -->

<!-- select or dropdown enhancer -->
<!--<script src="/javascripts/js/lib/charisma/jquery.chosen.min.js"></script>-->
<!-- checkbox, radio, and file input styler -->
<!--<script src="/javascripts/js/lib/charisma/jquery.uniform.min.js"></script>-->
<!-- plugin for gallery image view -->
<script src="/javascripts/js/lib/charisma/jquery.colorbox.min.js"></script>
<!-- rich text editor library -->
<!--<script src="/javascripts/js/lib/charisma/jquery.cleditor.min.js"></script>-->
<!-- notification plugin -->
<script src="/javascripts/js/lib/charisma/jquery.noty.js"></script>
<!-- file manager library -->
<!--<script src="/javascripts/js/lib/charisma/jquery.elfinder.min.js"></script>-->
<!-- star rating plugin -->
<script src="/javascripts/js/lib/charisma/jquery.raty.min.js"></script>
<!-- for iOS style toggle switch -->
<script src="/javascripts/js/lib/charisma/jquery.iphone.toggle.js"></script>
<!-- autogrowing textarea plugin -->
<script src="/javascripts/js/lib/charisma/jquery.autogrow-textarea.js"></script>
<!-- multiple file upload plugin -->
<script src="/javascripts/js/lib/charisma/jquery.uploadify-3.1.min.js"></script>
<!-- history.js for cross-browser state change on ajax -->


<!--<script src="/javascripts/js/lib/jquery-ui.min.js"></script>-->

<!-- application script for Charisma demo -->
<script src="/javascripts/js/lib/charisma/charisma.js"></script>
<script src="/javascripts/js/lib/lodash.js"></script>
<script src="/javascripts/js/lib/highcharts.js"></script>
<script src="/javascripts/js/lib/exporting.js"></script>
<script src="/javascripts/js/lib/ui-bootstrap-tpls-0.11.0.js"></script>
</body>
</html>