<!DOCTYPE html>
<html lang="en">
<head>
    <!--
        Charisma v1.0.0

        Copyright 2012 Muhammad Usman
        Licensed under the Apache License v2.0
        http://www.apache.org/licenses/LICENSE-2.0

        http://usman.it
        http://twitter.com/halalit_usman
    -->
    <meta charset="utf-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
    <meta name="author" content="Muhammad Usman">

    <!-- The styles -->
    <link id="bs-css" href="/stylesheets/bootstrap-cerulean.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-bottom: 40px;
        }

        .sidebar-nav {
            padding: 9px 0;
        }
    </style>
    <link href="/stylesheets/bootstrap-responsive.css" rel="stylesheet">
    <link href="/stylesheets/charisma-app.css" rel="stylesheet">
    <link href="/stylesheets/jquery-ui-1.8.21.custom.css" rel="stylesheet">
    <link href='/stylesheets/opa-icons.css' rel='stylesheet'>
    <link href='/stylesheets/mystyle.css' rel='stylesheet'>

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/Favicon/ic_apple_touch_144px.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/Favicon/ic_apple_touch_114px.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/Favicon/aic_apple_touch_72px.png">
    <link rel="apple-touch-icon-precomposed" href="/img/Favicon/ic_apple_touch_57px.png">
    <link rel="shortcut icon" href="/img/Favicon/favicon.png">


    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- The fav icon -->
    <link rel="shortcut icon" href="img/favicon.ico">


</head>

<body>




<div class="container-fluid">
    <div class="row-fluid">

        <div class="row-fluid">
            <div class="logo-login-back span12 center login-header"></div>
            <div class="span12 center login-header">
                <h2>BOJEO BACKOFFICE</h2>
            </div>
            <!--/span-->
        </div>
        <!--/row-->

        <div class="row-fluid">
            <div class="well span5 center login-box">
                <div class="alert alert-info">
                    Por favor inicie sesi&oacute;n con su Usuario y Contrase&ntilde;a.
                </div>

                <form class="form-horizontal" id="loginForm" method="post" action="/loginB">
                    <fieldset>
                        <div class="input-prepend" title="Email" data-rel="tooltip">
                            <span class="add-on"><i class="icon-user"></i></span><input autofocus
                                                                                        class="input-large span10"
                                                                                        name="email" id="email"
                                                                                        type="email"
                                                                                        placeholder="email"

                                />
                        </div>
                        <div class="clearfix"></div>

                        <div class="input-prepend" title="Password" data-rel="tooltip">
                            <span class="add-on"><i class="icon-lock"></i></span><input class="input-large span10"
                                                                                        name="password" id="password"
                                                                                        type="password"
                                                                                        placeholder="**********"
                                />
                        </div>
                        <div class="clearfix"></div>

                        <!-- <div class="input-prepend">
                             <label class="remember" for="remember"><input type="checkbox" id="remember" />Remember me</label>
                         </div>-->
                        <div class="clearfix"></div>
                        <div id="error-alert"></div>
                        <div class="form-actions">
                            <input type="submit" class="btn btn-primary" value="Iniciar sesi&oacute;n"
                                   id="loginButton"/>


                        </div>
                    </fieldset>
                </form>

            </div>
            <!--/span-->
        </div>
        <!--/row-->
    </div>
    <!--/fluid-row-->

</div>
<!--/.fluid-container-->

<!-- external javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->


<!-- jQuery -->
<script src="/javascripts/js/lib/jquery-1.7.2.min.js"></script>
<script>


    $(document).ready(function () {
        console.log(window.location.hash);
            if(window.location.hash == '#error'){
                var html = ' <div class="alert alert-error" id="error-login" > <button type="button" class="close" data-dismiss="alert">&times;</button><strong>' + 'Usuario o contraseña incorrecto' + '</strong> </div>';
                $('#error-alert').html(html);
            }
    });

</script>

<!-- jQuery UI -->
<script src="/javascripts/js/lib/jquery-ui-1.8.21.custom.min.js"></script>
<!-- library for advanced tooltip -->
<script src="/javascripts/js/lib/bootstrap-tooltip.js"></script>
<script src="/javascripts/js/lib/bootstrap-alert.js"></script>
<!-- button enhancer library -->
<script src="/javascripts/js/lib/bootstrap-button.js"></script>
<!-- accordion library (optional, not used in demo) -->
<script src="/javascripts/js/lib/bootstrap-collapse.js"></script>
<!-- carousel slideshow library (optional, not used in demo) -->
<script src="/javascripts/js/lib/bootstrap-carousel.js"></script>
<!-- autocomplete library -->
<script src="/javascripts/js/lib/bootstrap-typeahead.js"></script>
<!-- tour library -->
<script src="/javascripts/js/lib/bootstrap-tour.js"></script>
<!-- library for cookie management -->
<script src="/javascripts/js/lib/jquery.cookie.js"></script>


</body>
</html>