<div id="content" class="span12">
    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-header well" data-original-title>
                <h2><i class="back-icon-credits index-icons"></i> Bonos</h2>

                <h2 ng-click="showForm()" ng-show="openClose" style="float: right;cursor: pointer">
                    <span class="icon icon-add"></span> Crear
                </h2>

                <h2 ng-click="hideForm()" ng-hide="openClose" style="float: right;cursor: pointer">
                    <span class="icon icon-remove"></span> Cerrar
                </h2>
            </div>
            <div class="box-content">
                <form class="form-horizontal" id="form-bond" name="formbond" style="display: none">
                    <fieldset style="margin: 0 auto;width: 450px;">
                        <legend>Datos del Bono</legend>
                        <div id="success-create-alert"></div>
                        <div class="control-group"
                             ng-class="{'error':formbond.hours.$dirty && formbond.hours.$invalid }">
                            <label class="control-label"><span>*</span>Horas</label>

                            <div class="controls">
                                <input ng-focus="dismissErrorDiv()" type="number" class="input-xlarge" ng-model="hours" required
                                       name="hours">
                            </div>
                        </div>
                        <div class="control-group"
                             ng-class="{'error':formbond.price.$dirty && formbond.price.$invalid }">
                            <label class="control-label"><span>*</span>Precio</label>

                            <div class="controls">
                                <div class="input-prepend">
                                    <span class="add-on">€</span><input ng-focus="dismissErrorDiv()" type="number" class="form-control input-euro" min="0"
                                                                        ng-model="price" name="price"
                                                                        required>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button ng-show="editBono" ng-click="save()" class="btn btn-primary"
                                    ng-disabled="!formbond.$valid ">Guardar Cambios
                            </button>
                            <button ng-hide="editBono" ng-click="create()" class="btn btn-primary"
                                    ng-disabled="!formbond.$valid ">Crear Bono
                            </button>
                            <button ng-click="hideForm()" class="btn ">Cancelar</button>
                        </div>
                    </fieldset>
                </form>
                <div ng-hide="empty" class="box-content">
                    <table class="table table-striped table-condensed">
                        <thead>
                        <tr>
                            <th>Horas</th>
                            <th>Precio (€)</th>
                            <th>Tour</th>
                            <th style="width: 120px">Estado</th>
                            <th style="width: 120px">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="bond in bonds">
                            <td>
                                <a ng-href="#/tours/{{bond.occupied.tour.id}}" ng-show="bond.occupied.tour">
                                    <i class="index-icons back-icon-tours" title="Ver link con Tours"></i>
                                </a>
                                <!--<a ng-href="#/users/{{bond._id}}" ng-show="bond.occupied.user">-->
                                    <!--<i class="index-icons back-icon-user" title="Ver link con Usuarios"></i>-->
                                <!--</a>-->
                                <a ng-href="#/reservations/{{bond.occupied.tour.id}}" ng-show="bond.occupied.tour.hasReservation">
                                    <i class="index-icons back-icon-booking" title="Ver link con Reservas"></i>
                                </a>
                                <i class="index-icons" ng-show="!bond.occupied.tour"></i>
                                <i class="index-icons" ng-show="!bond.occupied.user"></i>
                                <i class="index-icons" ng-show="!bond.occupied.tour.hasReservation"></i>
                                {{bond.hours}}
                            </td>
                            <td class="center">{{bond.price|number:2}}</td>
                            <td>{{bond.occupied.tour ? bond.occupied.tour.group+" - "+bond.occupied.tour.name.es : "No asignado"}}</td>
                            <td class="center list-news">
                                <button class="btn btn-success" title="Cambiar estado"
                                   style="margin-left: 5px"
                                   ng-click="changeStatus(bond)"
                                   ng-class="{'btn-danger': bond.available == false}">
                                    <i class="icon icon-unlocked icon-white" ng-class="{'icon-lock': bond.available == false}"></i>
                                </button>
                            </td>
                            <td class="center">
                                <button type="button" class="btn btn-info" title="Editar Bono"
                                        ng-click="edit(bond)"><i class="icon-edit icon-white"></i>
                                </button>
                                <button type="button" class="btn btn-danger" title="{{bond.occupied.tour.hasReservation && bond.occupied.user?'El Bono presenta reservaciones y compras':bond.occupied.tour.hasReservation?'El Bono presenta reservaciones':bond.occupied.user?'El Bono presenta compras':'Eliminar Bono'}}"
                                        data-toggle="modal"
                                        href="#deleteModal"
                                        ng-click="changeDeleteItem(bond)"
                                        ng-disabled="bond.available || bond.occupied.tour.hasReservation || bond.occupied.user"><i class="icon-trash icon-white"></i>
                                </button>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                    <div class="pagination pagination-centered">
                        <pagination direction-links="false" boundary-links="true"
                                    total-items="totalItems" ng-model="currentPage" max-size="maxSize"
                                    class="pagination-sm"
                                    ng-change="pageChanged()"
                                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                    last-text="&raquo;"></pagination>
                    </div>
                </div>
                <div ng-show="empty">
                    <div class="alert alert-block ">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <h4 class="alert-heading">Atención!</h4>

                        <p>No existen elementos para mostrar.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal del delete -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Eliminar Bono</h4>
                    </div>

                    <div class="modal-body">
                        <label ng-show="deleteTours.tour" class="control-label">Si elimina el Bono se eliminará el siguiente elemento:</label>
                        <label ng-show="deleteTours.tour" class="control-label"><strong>Tour:</strong> {{deleteTours.tour.group.es+" - "+deleteTours.tour.name.es}}</label>
                        <br ng-show="deleteTours.tour">
                        <label class="control-label">¿Seguro desea eliminar este Bono?</label>
                        <input type="text" class="span6 typeahead" name="id" ng-model="deleteItem._id" data-provide="typeahead"
                               data-items="4" style="display: none">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                        <button type="button" class="btn btn-danger" ng-class="{selected: buttonClick == 0}"
                                ng-click="delete()" data-dismiss="modal">Si
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!--Change Status Modal-->
        <div class="modal hide fade" id="changeStatusModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">
                            <a class="label btn-success" style="cursor: default; padding: 8px 8px 10px; margin-right: 10px;"
                               ng-class="{'btn-danger': changeStatusItem.available == true}">
                                <i ng-show="changeStatusItem.available == true" class="icon-white icon-lock" style="margin-left: 2px;"></i>
                                <i ng-show="changeStatusItem.available == false" class="icon icon-white icon-unlocked" style="margin-left: 2px;"></i>
                            </a>
                            Alerta de cambio de estado
                        </h3>
                    </div>

                    <div class="modal-body">
                        <label class="control-label">Si se activa el bono se activará el siguiente elemento:</label>
                        <label class="control-label"><strong>Tour:</strong> {{associationTours.tour.group.es+" - "+associationTours.tour.name.es}}</label>
                        <input type="text" class="span6 typeahead" name="id" ng-model="changeStatusItem._id"
                               data-provide="typeahead"
                               data-items="4" style="display: none">
                    </div>
                    <div class="modal-footer">
                        <!--<button ng-show="cantReservations == 0 && associationPacks.length == 0" type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>-->
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                        <button type="button" class="btn btn-primary" ng-class="{selected: buttonClick == 0}"
                                ng-click="changeStatusNow(changeStatusItem)" data-dismiss="modal">Si
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--/row-->