
<div id="content" class="span12">
    <!-- content starts -->

    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-header well" data-original-title>
                <h2><i class="icon-edit"></i> Adicionar monedas</h2>
            </div>
            <div class="box-content">
                <form name="form" class="form-horizontal">

                <fieldset>

                    <div class="control-group">
                        <label class="control-label">Cambio del Euro</label>

                        <div class="controls">
                            <input ng-focus="dismissErrorDiv()" name="currencyEuro" type="text" ng-model="euro" smart-float/>
                        </div>
                        <span ng-show="form.currencyEuro.$error.float">
                                    <div class="alert-field-empty"><strong>Número inválido</strong></div>
                                </span>
                        <div ng-class="{'alert-field-empty': errorEuro == 'Campo vacío'}">
                            <strong>{{errorEuro}}</strong>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Cambio del Dólar</label>

                        <div class="controls">
                            <input ng-focus="dismissErrorDiv()" name="currencyDollar" type="text" ng-model="dollar" smart-float/>
                        </div>
                        <span ng-show="form.currencyDollar.$error.float">
                                    <div class="alert-field-empty"><strong>Número inválido</strong></div>
                                </span>
                        <div ng-class="{'alert-field-empty': errorDollar== 'Campo vacío'}">
                            <strong>{{errorDollar}}</strong>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Cambio de la Libra</label>

                        <div class="controls">
                            <input ng-focus="dismissErrorDiv()" name="currencyLibra" type="text" ng-model="libra" smart-float/>
                        </div>
                        <span ng-show="form.currencyLibra.$error.float">
                                    <div class="alert-field-empty"><strong>Número inválido</strong></div>
                                </span>
                        <div ng-class="{'alert-field-empty': errorLibra == 'Campo vacío'}">
                            <strong>{{errorLibra}}</strong>
                        </div>
                    </div>
                    <div id="success-edit-alert"></div>
                    <div class="form-actions">
                        <button ng-click="createCurrencyConverter()" class="btn btn-primary" ng-class="{selected: buttonClick == 0}">Crear</button>
                        <button class="btn" ng-click="closeModal()">Cancelar</button>
                    </div>
                    </fieldset>
                    </form>

            </div>
        </div><!--/span-->

    </div>
</div><!--/row-->