<div id="content" class="span12">
    <!-- content starts -->

    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-header well" data-original-title>
                <h2><i class="back-icon-tours index-icons"></i> Tours</h2>

                <h2 ng-click="showForm()" ng-show="openClose" style="float: right;cursor: pointer">
                    <span class="icon icon-add"></span> Crear
                </h2>

                <h2 ng-click="hideForm()" ng-hide="openClose" style="float: right;cursor: pointer">
                    <span class="icon icon-remove"></span> Cerrar
                </h2>

                <div ng-show="!reload" style="float: right;margin-right: 20px" class=" span3">
                    <form class="navbar-search pull-left span12">
                        <input placeholder="Buscar" class=" span12" name="query" type="text" ng-model="text"
                               ng-change="loadTours()" style="float: left;">
                    </form>
                </div>

            </div>
            <div class="box-content">

                <form class="form-horizontal" id="form-bond" name="formbond" style="display: none">
                    <fieldset>
                        <legend>Datos del Tour</legend>
                        <div id="success-create-alert"></div>

                        <div class="control-group"
                             ng-class="{'error':formbond.name_en.$dirty && formbond.name_en.$invalid }">
                            <label class="control-label"><span>*</span>Nombre (es)</label>

                            <div class="controls">
                                <input type="text" ng-model="tour.name.es"
                                       name="name_es" required>
                            </div>

                        </div>
                        <div class="control-group"
                             ng-class="{'error':formbond.name_es.$dirty && formbond.name_es.$invalid }">
                            <label class="control-label"><span>*</span>Nombre (en)</label>

                            <div class="controls">
                                <input type="text" ng-model="tour.name.en"
                                       name="name_en" required>
                            </div>
                        </div>

                        <div class="control-group"
                             ng-class="{'error':formbond.maxPerson.$dirty && formbond.maxPerson.$invalid }">
                            <label class="control-label"><span>*</span>Máximo de personas</label>

                            <div class="controls">
                                <input type="number" ng-model="tour.data.capacity.maxPerson"
                                       name="maxPerson" required>
                            </div>
                        </div>

                        <div>
                            <div class="span6">
                                <div class="control-group"
                                     ng-class="{'error':formbond.titleES.$dirty && formbond.titleES.$invalid }">
                                    <label class="control-label"><span>*</span>SEO título (es)</label>

                                    <div class="controls">
                                        <input type="text" ng-model="tour.seo.title.es" required name="titleES">
                                    </div>
                                </div>
                                <div class="control-group"
                                     ng-class="{'error':formbond.descriptionES.$dirty && formbond.descriptionES.$invalid }">
                                    <label class="control-label"><span>*</span>SEO Descripción (es)</label>

                                    <div class="controls">
                                        <textarea type="text" ng-model="tour.seo.description.es" required
                                                  name="descriptionES"></textarea>
                                    </div>
                                </div>

                            </div>

                            <div class="span6">
                                <div class="control-group"
                                     ng-class="{'error':formbond.titleEN.$dirty && formbond.titleEN.$invalid }">
                                    <label class="control-label"><span>*</span>SEO título (en)</label>

                                    <div class="controls">
                                        <input type="text" ng-model="tour.seo.title.en" required name="titleEN">
                                    </div>
                                </div>
                                <div class="control-group"
                                     ng-class="{'error':formbond.descriptionEN.$dirty && formbond.descriptionEN.$invalid }">
                                    <label class="control-label"><span>*</span>SEO Descripción (en)</label>

                                    <div class="controls">
                                        <textarea type="text" ng-model="tour.seo.description.en" required
                                                  name="descriptionEN"></textarea>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="control-group">

                            <label ng-show="editPort && !showSelectPort" class="control-label">Puerto Nuevo</label>
                            <label ng-show="editPort && showSelectPort" class="control-label">Puerto Actual</label>

                            <div class="controls" ng-show="editPort && !showSelectPort">
                                <button ng-click="changeShowSelectPort()" class="btn btn-primary"><i
                                            class="icon-edit icon-white"></i> {{namePort.es}}
                                </button>
                            </div>
                            <div class="controls" ng-show="editPort && showSelectPort">
                                <button ng-click="changeShowSelectPort()" class="btn btn-danger"><i
                                            class="icon-ban-circle icon-white"></i> {{namePort.es}}
                                </button>
                            </div>

                        </div>
                        <div class="control-group" ng-show="showSelectPort">
                            <label class="control-label">Puerto</label>

                            <div class="controls">
                                <select data-rel="chosen" ng-model="country" ng-change="changeCountry()">
                                    <option ng-repeat="country in countries">{{country.name.es}}</option>
                                </select>
                                <select data-rel="chosen" ng-model="city" ng-change="changeCity()">
                                    <option ng-repeat="cities in cities">{{cities.es}}</option>
                                </select>
                                <select data-rel="chosen" ng-model="namePort">
                                    <option ng-repeat="port in allPorts">{{port.name.es}}</option>
                                </select>
                            </div>
                        </div>


                        <hr/>
                        <div class="control-group"
                             ng-class="{'error':formbond.description_es.$dirty && formbond.description_es.$invalid }">
                            <label class="control-label"><span>*</span>Descripción </label>

                            <div class="controls">
                                <ul class="nav nav-tabs" style="margin-left: 0px;">
                                    <li ng-class="{'active':tabsShowEs.description}"><a href="#"
                                                                                        ng-click="tabsShowEs.description = true"
                                                                                        data-toggle="tab">Español</a>
                                    </li>
                                    <li ng-class="{'active':!tabsShowEs.description}"><a href="#"
                                                                                         ng-click="tabsShowEs.description = false"
                                                                                         data-toggle="tab">Inglés</a>
                                    </li>
                                </ul>
                                <div ng-show="tabsShowEs.description">

                                    <textarea ui-tinymce="tinymceOptions" ng-model="tour.description.es"
                                              required></textarea>
                                </div>
                                <div ng-show="!tabsShowEs.description">
                                    <textarea ng-show="!tabsShowEs.description" name="description_en"
                                              ui-tinymce="tinymceOptions"
                                              ng-model="tour.description.en" required></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label"><span>*</span>Días de la Semana</label>

                            <div class="controls">
                                <label class="checkbox inline">
                                    <div class="checker">
                                        <span ng-class="{checked:tour.daysWeek[0]}">
                                        <input class="left daysWeek-checkbox imp-check" type="checkbox"
                                               ng-model="tour.daysWeek[0]"/>
                                    </span>
                                    </div>
                                    Domingo
                                </label>
                                <label class="checkbox inline">
                                    <div class="checker">
                                        <span ng-class="{checked:tour.daysWeek[1]}">
                                        <input class="left daysWeek-checkbox imp-check" type="checkbox"
                                               ng-model="tour.daysWeek[1]"/>
                                    </span>
                                    </div>
                                    Lunes
                                </label>
                                <label class="checkbox inline">
                                    <div class="checker">
                                        <span ng-class="{checked:tour.daysWeek[2]}">
                                        <input class="left daysWeek-checkbox imp-check" type="checkbox"
                                               ng-model="tour.daysWeek[2]"/>
                                    </span>
                                    </div>
                                    Martes
                                </label>
                                <label class="checkbox inline">
                                    <div class="checker">
                                        <span ng-class="{checked:tour.daysWeek[3]}">
                                        <input class="left daysWeek-checkbox imp-check" type="checkbox"
                                               ng-model="tour.daysWeek[3]"/>
                                    </span>
                                    </div>
                                    Miércoles
                                </label>
                                <label class="checkbox inline">
                                    <div class="checker">
                                        <span ng-class="{checked:tour.daysWeek[4]}">
                                        <input class="left daysWeek-checkbox imp-check" type="checkbox"
                                               ng-model="tour.daysWeek[4]"/>
                                    </span>
                                    </div>
                                    Jueves
                                </label>
                                <label class="checkbox inline">
                                    <div class="checker">
                                        <span ng-class="{checked:tour.daysWeek[5]}">
                                        <input class="left daysWeek-checkbox imp-check" type="checkbox"
                                               ng-model="tour.daysWeek[5]"/>
                                    </span>
                                    </div>
                                    Viernes
                                </label>
                                <label class="checkbox inline">
                                    <div class="checker">
                                        <span ng-class="{checked:tour.daysWeek[6]}">
                                        <input class="left daysWeek-checkbox imp-check" type="checkbox"
                                               ng-model="tour.daysWeek[6]"/>
                                    </span>
                                    </div>
                                    Sábado
                                </label>


                            </div>
                        </div>
                        <div class="control-group"
                             ng-class="{'error':formbond.daysTxt_es.$dirty && formbond.daysTxt_es.$invalid }">
                            <label class="control-label"><span>*</span>Texto de Días</label>

                            <div class="controls">
                                <ul class="nav nav-tabs" style="margin-left: 0px;">
                                    <li ng-class="{'active':tabsShowDaysTxtEs.description}"><a href="#"
                                                                                               ng-click="tabsShowDaysTxtEs.description = true"
                                                                                               data-toggle="tab">Español</a>
                                    </li>
                                    <li ng-class="{'active':!tabsShowDaysTxtEs.description}"><a href="#"
                                                                                                ng-click="tabsShowDaysTxtEs.description = false"
                                                                                                data-toggle="tab">Inglés</a>
                                    </li>
                                </ul>
                                <div ng-show="tabsShowDaysTxtEs.description">
                                    <textarea ui-tinymce="tinymceOptions" ng-model="tour.daysTxt.es"
                                              required></textarea>
                                </div>
                                <div ng-show="!tabsShowDaysTxtEs.description">
                                    <textarea ng-show="!tabsShowDaysTxtEs.description" name="daysTxt_en"
                                              ui-tinymce="tinymceOptions"
                                              ng-model="tour.daysTxt.en" required></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="control-group"
                             ng-class="{'error':formbond.recommendations_es.$dirty && formbond.recommendations_es.$invalid }">
                            <label class="control-label"><span>*</span>Recomendaciones</label>

                            <div class="controls">
                                <ul class="nav nav-tabs" style="margin-left: 0px;">
                                    <li ng-class="{'active':tabsShowRecomendEs.description}"><a href="#"
                                                                                                ng-click="tabsShowRecomendEs.description = true"
                                                                                                data-toggle="tab">Español</a>
                                    </li>
                                    <li ng-class="{'active':!tabsShowRecomendEs.description}"><a href="#"
                                                                                                 ng-click="tabsShowRecomendEs.description = false"
                                                                                                 data-toggle="tab">Inglés</a>
                                    </li>
                                </ul>
                                <div ng-show="tabsShowRecomendEs.description">
                                    <textarea ui-tinymce="tinymceOptions" ng-model="tour.recommendations.es"
                                              required></textarea>
                                </div>
                                <div ng-show="!tabsShowRecomendEs.description">
                                    <textarea ng-show="!tabsShowRecomendEs.description" name="recommendations_en"
                                              ui-tinymce="tinymceOptions" ng-model="tour.recommendations.en"
                                              required></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="control-group"
                             ng-class="{'error':formbond.forReserve_es.$dirty && formbond.forReserve_es.$invalid }">
                            <label class="control-label"><span>*</span>Para reservar</label>

                            <div class="controls">
                                <ul class="nav nav-tabs" style="margin-left: 0px;">
                                    <li ng-class="{'active':tabsShowForReserveEs.description}"><a href="#"
                                                                                                  ng-click="tabsShowForReserveEs.description = true"
                                                                                                  data-toggle="tab">Español</a>
                                    </li>
                                    <li ng-class="{'active':!tabsShowForReserveEs.description}"><a href="#"
                                                                                                   ng-click="tabsShowForReserveEs.description = false"
                                                                                                   data-toggle="tab">Inglés</a>
                                    </li>
                                </ul>
                                <div ng-show="tabsShowForReserveEs.description">
                                    <textarea ui-tinymce="tinymceOptions" ng-model="tour.forReserve.es"
                                              required></textarea>
                                </div>
                                <div ng-show="!tabsShowForReserveEs.description">
                                    <textarea ng-show="!tabsShowForReserveEs.description" name="forReserve_en"
                                              ui-tinymce="tinymceOptions" ng-model="tour.forReserve.en"
                                              required></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="control-group"
                             ng-class="{'error':formbond.transport_es.$dirty && formbond.transport_es.$invalid }">
                            <label class="control-label"><span>*</span>Transporte</label>

                            <div class="controls">
                                <ul class="nav nav-tabs" style="margin-left: 0px;">
                                    <li ng-class="{'active':tabsShowTransporteEs.description}"><a href="#"
                                                                                                  ng-click="tabsShowTransporteEs.description = true"
                                                                                                  data-toggle="tab">Español</a>
                                    </li>
                                    <li ng-class="{'active':!tabsShowTransporteEs.description}"><a href="#"
                                                                                                   ng-click="tabsShowTransporteEs.description = false"
                                                                                                   data-toggle="tab">Inglés</a>
                                    </li>
                                </ul>
                                <div ng-show="tabsShowTransporteEs.description">
                                    <textarea ui-tinymce="tinymceOptions" ng-model="tour.transport.es"
                                              required></textarea>
                                </div>
                                <div ng-show="!tabsShowTransporteEs.description">
                                    <textarea ng-show="!tabsShowTransporteEs.description" name="transport_en"
                                              ui-tinymce="tinymceOptions"
                                              ng-model="tour.transport.en" required></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="control-group"
                             ng-class="{'error':formbond.conditions_es.$dirty && formbond.conditions_es.$invalid }">
                            <label class="control-label"><span>*</span>Condiciones</label>

                            <div class="controls">
                                <ul class="nav nav-tabs" style="margin-left: 0px;">
                                    <li ng-class="{'active':tabsShowCondicionesEs.description}"><a href="#"
                                                                                                   ng-click="tabsShowCondicionesEs.description = true"
                                                                                                   data-toggle="tab">Español</a>
                                    </li>
                                    <li ng-class="{'active':!tabsShowCondicionesEs.description}"><a href="#"
                                                                                                    ng-click="tabsShowCondicionesEs.description = false"
                                                                                                    data-toggle="tab">Inglés</a>
                                    </li>
                                </ul>
                                <div ng-show="tabsShowCondicionesEs.description">
                                    <textarea ui-tinymce="tinymceOptions" ng-model="tour.conditions.es"
                                              required></textarea>
                                </div>
                                <div ng-show="!tabsShowCondicionesEs.description">
                                    <textarea ng-show="!tabsShowCondicionesEs.description" name="conditions_en"
                                              ui-tinymce="tinymceOptions" ng-model="tour.conditions.en"
                                              required></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="control-group"
                             ng-class="{'error':formbond.language_es.$dirty && formbond.language_es.$invalid }">
                            <label class="control-label"><span>*</span>Idiomas</label>

                            <div class="controls">
                                <ul class="nav nav-tabs" style="margin-left: 0px;">
                                    <li ng-class="{'active':tabsShowLanguageEs.description}"><a href="#"
                                                                                                ng-click="tabsShowLanguageEs.description = true"
                                                                                                data-toggle="tab">Español</a>
                                    </li>
                                    <li ng-class="{'active':!tabsShowLanguageEs.description}"><a href="#"
                                                                                                 ng-click="tabsShowLanguageEs.description = false"
                                                                                                 data-toggle="tab">Inglés</a>
                                    </li>
                                </ul>
                                <div ng-show="tabsShowLanguageEs.description">
                                    <textarea ui-tinymce="tinymceOptions" ng-model="tour.language.es"
                                              required></textarea>
                                </div>
                                <div ng-show="!tabsShowLanguageEs.description">
                                    <textarea ng-show="!tabsShowLanguageEs.description" name="language_en"
                                              ui-tinymce="tinymceOptions"
                                              ng-model="tour.language.en" required></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="control-group"
                             ng-class="{'error':formbond.extras_es.$dirty && formbond.extras_es.$invalid }">
                            <label class="control-label"><span>*</span>Extras</label>

                            <div class="controls">
                                <ul class="nav nav-tabs" style="margin-left: 0px;">
                                    <li ng-class="{'active':tabsShowExtrasEs.description}"><a href="#"
                                                                                              ng-click="tabsShowExtrasEs.description = true"
                                                                                              data-toggle="tab">Español</a>
                                    </li>
                                    <li ng-class="{'active':!tabsShowExtrasEs.description}"><a href="#"
                                                                                               ng-click="tabsShowExtrasEs.description = false"
                                                                                               data-toggle="tab">Inglés</a>
                                    </li>
                                </ul>
                                <div ng-show="tabsShowExtrasEs.description">
                                    <textarea ui-tinymce="tinymceOptions" ng-model="tour.extras.es" required></textarea>
                                </div>
                                <div ng-show="!tabsShowExtrasEs.description">
                                    <textarea ng-show="!tabsShowExtrasEs.description" name="extras_en"
                                              ui-tinymce="tinymceOptions"
                                              ng-model="tour.extras.en" required></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="control-group"
                             ng-class="{'error':formbond.noincludes_es.$dirty && formbond.noincludes_es.$invalid }">
                            <label class="control-label"><span>*</span>No incluye</label>

                            <div class="controls">
                                <ul class="nav nav-tabs" style="margin-left: 0px;">
                                    <li ng-class="{'active':tabsShowNoIncludesEs.description}"><a href="#"
                                                                                                  ng-click="tabsShowNoIncludesEs.description = true"
                                                                                                  data-toggle="tab">Español</a>
                                    </li>
                                    <li ng-class="{'active':!tabsShowNoIncludesEs.description}"><a href="#"
                                                                                                   ng-click="tabsShowNoIncludesEs.description = false"
                                                                                                   data-toggle="tab">Inglés</a>
                                    </li>
                                </ul>
                                <div ng-show="tabsShowNoIncludesEs.description">
                                    <textarea ui-tinymce="tinymceOptions" ng-model="tour.noIncludes.es"
                                              required></textarea>
                                </div>
                                <div ng-show="!tabsShowNoIncludesEs.description">
                                    <textarea ng-show="!tabsShowNoIncludesEs.description" name="noincludes_en"
                                              ui-tinymce="tinymceOptions" ng-model="tour.noIncludes.en"
                                              required></textarea>
                                </div>
                            </div>
                        </div>

                        <!-- Dinamic Form-->
                        <div class="control-group">
                            <label class="col-lg-4 col-md-4 control-label"><span>*</span>Categoría de Tour</label>

                            <div class="controls">
                                <a ng-show="nameGroup" class="btn btn-info" ng-click="nameGroup=false"><i
                                            class="icon-edit icon-white"></i> {{nameGroup}}</a>
                                <select ng-show="!nameGroup" ng-model="tour.group"
                                        ng-options="g.name.es for g in groups"
                                        ng-value="g._id" ng-selected="groupSelected==g._id"
                                        ng-change="selectedGroup()">
                                    <option value="">-- Seleccione la Categoría --</option>
                                </select>
                            </div>

                        </div>
                        <div class="control-group">
                            <label class="control-label"><span>*</span>Reserva por</label>

                            <div class="controls">
                                <label class="radio">
                                    <input type="radio" name="optionsRadios"
                                           ng-model="tour.data.capacity.type" value="person" style="margin-left: 1px;">
                                    Persona
                                </label>
                                <br>
                                <label class="radio">
                                    <input type="radio" name="optionsRadios"
                                           ng-model="tour.data.capacity.type" value="boat" style="margin-left: 1px;">
                                    Embarcación
                                </label>
                                <br>
                            </div>

                        </div>

                        <div ng-show="tour.data.payForm=='currencies'">

                            <div class="control-group">
                                <label class="control-label"><span>*</span>Duración del Tour</label>

                                <div class="controls">
                                    <!--<label class="radio">
                                        <input type="radio" ng-change="changetour.data.price.type()" ng-model="tour.data.price.type"
                                               value="agree" style="margin-left: 1px;">
                                        A convenir
                                    </label> <br>-->

                                    <label class="radio">
                                        <input type="radio" ng-change="changeTypeDuration()"
                                               ng-model="tour.data.price.type"
                                               value="day" style="margin-left: 1px;">
                                        Por Días
                                    </label> <br>
                                    <label class="radio">
                                        <input type="radio" ng-change="changeTypeDuration()"
                                               ng-model="tour.data.price.type"
                                               value="hours" style="margin-left: 1px;">
                                        Por horas
                                    </label>
                                </div>
                            </div>

                            <div ng-show="tour.data.price.type=='hours'">
                                <div class="control-group">
                                    <label class="control-label"><span>*</span>Precio x Horas</label>

                                    <div class="controls">
                                        <div class="box-content span 6" ng-show="tour.data.price.value.length">
                                            <table class="table table-bordered table-striped table-condensed">
                                                <thead>
                                                <tr>

                                                    <th>Duration</th>
                                                    <th>Price</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="val in tour.data.price.value">
                                                    <td class="center">{{val.duration}} horas</td>
                                                    <td class="center">{{val.price}} €</td>
                                                    <td class="center">
                                                        <a class="btn btn-danger btn-sm"
                                                           ng-click="removePriceValue($index)"><i
                                                                    class="icon-trash icon-white"></i></a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div>
                                            <input class="left" type="text" ng-model="pairDurationPrice.duration"
                                                   name="duration">
                                            <input class="left" type="text" ng-model="pairDurationPrice.price"
                                                   name="price">
                                            <a class="btn btn-primary" ng-click="addPriceValue()">
                                                Adicionar
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div ng-show="tour.data.price.type=='day'">
                                <div class="control-group">
                                    <label class="control-label"><span>*</span>Precio x Horas</label>

                                    <div class="controls">
                                        <div class="box-content span 6" ng-show="tour.data.price.value.length">
                                            <table class="table table-bordered table-striped table-condensed">
                                                <thead>
                                                <tr>

                                                    <th>Duration</th>
                                                    <th>Price</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="val in tour.data.price.value">
                                                    <td class="center">{{val.duration}} días</td>
                                                    <td class="center">{{val.price}} €</td>
                                                    <td class="center">
                                                        <a class="btn btn-danger btn-sm"
                                                           ng-click="removePriceValue($index)"><i
                                                                    class="icon-trash icon-white"></i></a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div>
                                            <input class="left" type="text" ng-model="pairDurationPrice.duration"
                                                   name="duration">
                                            <input class="left" type="text" ng-model="pairDurationPrice.price"
                                                   name="price">
                                            <a class="btn btn-primary" ng-click="addPriceValue()">
                                                Adicionar
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label"><span>*</span>% a pagar</label>

                                <div class="controls">
                                    <select ng-model="tour.data.price.toPay">
                                        <option ng-repeat="num in percentArray">{{num}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label"><span>*</span>Texto de Precio</label>

                                <div class="controls">
                                    <ul class="nav nav-tabs" style="margin-left: 0px;">
                                        <li ng-class="{'active':tabsShowPriceTxtEs.description}"><a href="#"
                                                                                                    ng-click="tabsShowPriceTxtEs.description = true"
                                                                                                    data-toggle="tab">Español</a>
                                        </li>
                                        <li ng-class="{'active':!tabsShowPriceTxtEs.description}"><a href="#"
                                                                                                     ng-click="tabsShowPriceTxtEs.description = false"
                                                                                                     data-toggle="tab">Inglés</a>
                                        </li>
                                    </ul>
                                    <div ng-show="tabsShowPriceTxtEs.description">
                                        <textarea ui-tinymce="tinymceOptions" ng-model="tour.priceTxt.es"></textarea>
                                    </div>
                                    <div ng-show="!tabsShowPriceTxtEs.description">
                                        <textarea ng-show="!tabsShowPriceTxtEs.description" name="priceTxt_en"
                                                  ui-tinymce="tinymceOptions" ng-model="tour.priceTxt.en"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="col-lg-4 col-md-4 control-label"><span>*</span>Horarios de Salida</label>

                                <div class="controls">
                                    <div class="box-content span 6" ng-show="tour.data.departures.length">
                                        <table class="table table-bordered table-striped table-condensed">
                                            <thead>
                                            <tr>
                                                <th>Salidas</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="dep in tour.data.departures">
                                                <td class="center">{{dep}} horas</td>
                                                <td class="center">
                                                    <a class="btn btn-danger btn-sm" ng-click="delDepartures($index)"><i
                                                                class="icon-trash icon-white"></i></a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="controls">
                                    <div class="box-content span 6">
                                        <input class="left ng-pristine ng-valid" type="text" ng-model="departureValue"
                                               name="duration">
                                        <a ng-click="addDepartures()" class="btn btn-primary">Adicionar</a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label"><span>*</span>Texto de Horario</label>

                                    <div class="controls">
                                        <ul class="nav nav-tabs" style="margin-left: 0px;">
                                            <li ng-class="{'active':tabsShowDepartureTxtEs.description}"><a href="#"
                                                                                                            ng-click="tabsShowDepartureTxtEs.description = true"
                                                                                                            data-toggle="tab">Español</a>
                                            </li>
                                            <li ng-class="{'active':!tabsShowDepartureTxtEs.description}"><a href="#"
                                                                                                             ng-click="tabsShowDepartureTxtEs.description = false"
                                                                                                             data-toggle="tab">Inglés</a>
                                            </li>
                                        </ul>
                                        <div ng-show="tabsShowDepartureTxtEs.description">
                                            <textarea ui-tinymce="tinymceOptions"
                                                      ng-model="tour.departureTxt.es"></textarea>
                                        </div>
                                        <div ng-show="!tabsShowDepartureTxtEs.description">
                                            <textarea ng-show="!tabsShowDepartureTxtEs.description"
                                                      name="departureTxt_en" ui-tinymce="tinymceOptions"
                                                      ng-model="tour.departureTxt.en"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div ng-show="tour.data.payForm=='bonds'">
                            <div class="control-group">
                                <label class="control-label"><span>*</span>Mínimo de horas</label>

                                <div class="controls">
                                    <input type="number" min="1" ng-model="tour.data.bond.minHour"
                                           name="minhour">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label"><span>*</span>Máximo de horas</label>

                                <div class="controls">
                                    <input type="number" min="1" ng-model="tour.data.bond.maxHour"
                                           name="maxhour">
                                </div>
                            </div>
                            <div class="alert alert-error" ng-hide="!noBonds" style="margin: 0 auto;">
                                <div style="margin: 0 auto;width: 350px;">
                                    <strong>Lo sentimos!</strong> Pero no cuenta con bonos disponibles.
                                </div>
                            </div>

                            <div class="control-group" ng-show="!noBonds">
                                <label class="control-label"><span>*</span>Seleccionar Bono</label>

                                <div class="controls">
                                    <div ng-repeat="bon in bonds">
                                        <label class="radio">
                                            <input type="radio" ng-model="tour.data.bond.bond" value="{{bon._id}}"
                                                   style="margin-left: 1px;">
                                            {{bon.hours +" horas X "+ bon.price+" €"}}
                                        </label>
                                        <br>
                                    </div>

                                </div>

                            </div>
                        </div>


                        <div class="form-actions">
                            <button ng-show="editG" ng-click="save()" class="btn btn-primary"
                                    ng-disabled="!formbond.$valid">Guardar Cambios
                            </button>
                            <button ng-hide="editG || !tour.group" ng-click="create()" class="btn btn-primary"
                                    ng-disabled="!formbond.$valid">
                                Crear Tour
                            </button>

                            <button ng-click="hideForm()" class="btn ">Cancelar</button>
                        </div>

                    </fieldset>
                </form>

                <div id="imagesObject" style="display: none">


                <div
                     ng-include="'/javascripts/js/partials/back/imagesCrud.html'"></div>
                <div class="controls" style="margin-top: 5px;">
                    <p style="float: left; margin-right: 15px;" ><strong>Cantidad: </strong>4</p>

                    <p style="float: left; margin-right: 15px;" ><strong>Dimensiones: </strong>672x530px</p>

                    <p style="float: left; margin-right: 15px;" ><strong>Formatos: </strong>[ jpg, png ]</p>

                    <p class="ng-binding"><strong>Resolución: </strong>72dpi</p>
                </div>
                </div>

                <div ng-hide="empty" class="box-content">
                    <a ng-show="reload" class="btn btn-primary " ng-href="#/tours"><i
                                class="icon-refresh icon-white"></i> Mostrar Todos</a>
                    <table class="table table-striped table-condensed">

                        <thead>
                        <tr>
                            <th></th>
                            <th class="cursor" ng-click="changeOrder('name.es')">Nombre</th>
                            <th class="cursor" ng-click="changeOrder('tour.name.es')">Puerto</th>
                            <th class="cursor" ng-click="changeOrder('group.name.es')">Categoría</th>
                            <th>Método de pago</th>
                            <!--<th>Duración X Precio</th>-->
                            <th>Capacidad</th>
                            <th>Reserva por:</th>
                            <th>Fotos</th>
                            <th>Estado</th>
                            <th style="width: 120px">Acciones</th>

                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="tour in tours| orderBy:order">
                            <td>
                                <a ng-href="#/ships/{{tour._id}}" ng-show="tour.dependencies.ships.length">
                                    <i class="index-icons back-icon-ships" title="Ver link con Barcos"></i>
                                </a>
                                <a ng-href="#/packages/{{tour._id}}" ng-show="tour.dependencies.packs.length">
                                    <i class="index-icons back-icon-packs" title="Ver link con Paquetes"></i>
                                </a>
                                <i class="index-icons" ng-show="!tour.hasShip" style="margin-right: 5px"></i>
                                <i class="index-icons" ng-show="!tour.hasPack" style="margin-right: 5px"></i>
                            </td>
                            <td>
                                {{tour.name.es}}
                            </td>
                            <td class="center">{{tour.port.name.es}}</td>
                            <td class="center">
                                <div style=" border-bottom: 2px solid {{tour.group.color}}">{{tour.group.name.es}}</div>
                            </td>
                            <td class="center">{{tour.data.payForm == 'bonds'?'bonos':'moneda'}}</td>
                            <!--<td class="center" ng-show="tour.data.price.type=='hours'">-->
                                <!--<div ng-repeat="val in  tour.data.price.value">{{val.duration}} horas x €-->
                                    <!--{{val.price|number:2}}-->
                                <!--</div>-->
                            <!--</td>-->
                            <!--<td class="center" ng-show="tour.data.price.type=='day'">-->
                                <!--<div ng-repeat="val in  tour.data.price.value">{{val.duration}} días x €-->
                                    <!--{{val.price|number:2}}-->
                                <!--</div>-->
                            <!--</td>-->
                            <td class="center">{{tour.data.capacity.maxPerson}} personas</td>
                            <td class="center">{{tour.data.capacity.type =='person'? 'personas':'embarcación'}}</td>

                            <td class="center" ng-show="tour.price.payForm == 'bonds'">{{tour.price.hours}}h *
                                {{tour.price.price| number:2}}
                            </td>
                            <td>{{tour.photos.length}}</td>
                            <td class="center list-news">
                                <div ng-show="tour.photos.length<4">
                                    <span title="Necesita 4 imágenes" class="icon32 icon-color icon-notice"
                                          style="margin: -5px 0px -5px 12px;"></span>
                                </div>

                                <button ng-disabled="tour.hasShip || tour.hasPack" class="btn btn-success"
                                        title="Cambiar estado"
                                        ng-show="tour.photos.length>=4"
                                        style="margin-left: 5px"
                                        ng-click="changeStatus(tour)"
                                        ng-class="{'btn-danger': tour.available == false}">
                                    <i ng-show="tour.available == true" class="icon icon-white icon-unlocked"></i>
                                    <i ng-show="tour.available == false" class=" icon-white icon-lock"></i>
                                </button>
                            </td>
                            <td class="center">
                                <a class="btn btn-primary actions-buttons" title="Gestionar imágenes"

                                   ng-click="showImg(tour)">
                                    <i class=" icon-white icon-picture"></i>
                                </a>
                                <a class="btn btn-info actions-buttons" title="Editar Tour" data-toggle="modal"
                                   href="#editModal"
                                   ng-click="edit(tour)">
                                    <i class="icon-edit icon-white"></i>
                                </a>
                                <a ng-disabled="tour.available || tour.dependencies.ships.length" class="btn btn-danger actions-buttons"
                                   title="Eliminar Tour"
                                   data-toggle="modal" href="#deleteModal"
                                   ng-click="showDeleteModal(tour)">
                                    <i class="icon-trash icon-white"></i>
                                </a>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                    <div class="pagination pagination-centered">
                        <pagination direction-links="false" boundary-links="true"
                                    total-items="totalItems" ng-model="currentPage" max-size="maxSize"
                                    class="pagination-sm"
                                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                    last-text="&raquo;"></pagination>
                    </div>
                </div>
                <div ng-show="empty">
                    <div class="alert alert-block ">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <h4 class="alert-heading">Atención!</h4>

                        <p>No existen elementos para mostrar.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--/span-->
    <div class="modal hide fade" id="myModal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Eliminar Tour</h3>
        </div>
        <div class="modal-body">
            <p>¿Desea eliminar el elemento?</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">No</a>
            <a ng-click="delete()" data-dismiss="modal" href="#" class="btn btn-danger">SI</a>
        </div>
    </div>

</div>

</div><!--/row-->