<div ng-show="popupEvent" class="modal " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button ng-click="showModalEvent(false)" type="button" class="close" data-dismiss="modal">×</button>
                <h3>Evento</h3>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <textarea style="margin-left: 0px;margin-right: 0px;width: 850px;" ng-model="eventName" placeholder="Nombre del Evento" ng-disabled="!editableEvent"></textarea>
                </div>
                <div class="form-group" >
                    <textarea style="margin-left: 0px;margin-right: 0px;width: 850px;" ng-model="eventDescription" placeholder="Descripción del Evento"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <a ng-click="showModalEvent(false)" style="float:left;" class="btn btn-default" data-dismiss="modal">Cerrar</a>
                <div ng-show="editableEvent">
                    <a ng-click="removeEvent()" class="btn btn-danger" data-dismiss="modal">Eliminar</a>
                    <a ng-click="saveNameEvent()" class="btn btn-primary" data-dismiss="modal">Salvar Cambios</a>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="content" class="span11">
    <!-- content starts -->
    <!--<button ng-click="consoleLog()">asd</button>-->
    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-header well" data-original-title>
                <h2><i class="icon-calendar"></i>Calendar ({{ship.name}})</h2>
                <a ng-href="#/ships">
                    <h2 style="float: right;cursor: pointer">
                        <span class="icon icon-remove"></span> Cerrar
                    </h2>
                </a>
            </div>
            <div class="box-content">
                <div id="external-events" class="well span2">
                    <h4>Eventos</h4>
                    <div id="start" class="external-event badge badge-success">Día de inicio</div>
                    <div id="end" class="external-event badge badge-warning">Día de fin</div>
                    <div class="external-event badge badge-important">Bloqueado</div>
                    <div style="width: 115px;margin: 10px auto">
                        <button ng-click="saveCalendar()" type="button" class="btn btn-primary btn-small">Guardar
                            Cambios
                        </button>
                        <br>
                    </div>
                </div>
                <div>
                    <div class="span10">
                        <h3 style="margin: 0 auto;width: 190px;">
                            <button ng-show="caledarShip.start" ng-click="goToDay(caledarShip.start.start)"
                                    class="btn btn-success">Día de Inicio
                            </button>
                            <button ng-show="caledarShip.end" ng-click="goToDay(caledarShip.end.start)"
                                    class="btn btn-warning">Día de Fin
                            </button>
                        </h3>
                    </div>
                    <div id="calendar"></div>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--/row-->
    <!--/row-->

    <!-- content ends -->
</div><!--/#content.span12-->
