<div class="box span6">


    <div class="box-header well" data-original-title="">
        <h2><i class="back-icon-countries index-icons"></i> Países</h2>

        <h2 ng-click="changeShowFormCountries(true)" ng-show="!showFormCoutry" style="float: right;cursor: pointer">
            <span class="icon icon-add"></span> Crear
        </h2>

        <h2 ng-click="changeShowFormCountries(false)" ng-show="showFormCoutry" style="float: right;cursor: pointer">
            <span class="icon icon-remove"></span> Cerrar
        </h2>

        <div style="float: right;margin-right: 20px;" class=" span4">
            <form class="navbar-search pull-left span12">
                <input placeholder="Buscar" class=" span12" name="query" type="text" ng-model="text"
                       ng-change="loadCountries()" style="float: left;">
            </form>
        </div>
    </div>
    <div ng-show="showFormCoutry">
        <form class="form-horizontal" name="countryForm">
            <fieldset class="top-margin-country">
                <div class="control-group">
                    <label class="control-label">ISO</label>

                    <div class="controls" ng-class="{'error':(countryForm.iso.$dirty && countryForm.iso.$invalid) }">
                        <input class="input-xlarge focused" type="text" ng-model="iso" name="iso" required
                               maxlength="2">
                    </div>
                </div>
                <div class="control-group"
                     ng-class="{'error':countryForm.name_es.$dirty && countryForm.name_es.$invalid}">
                    <label class="control-label">Nombre (es)</label>

                    <div class="controls">
                        <input class="input-xlarge focused" type="text" ng-model="name.es" name="name_es" required>
                    </div>
                </div>
                <div class="control-group"
                     ng-class="{'error':countryForm.name_en.$dirty && countryForm.name_en.$invalid}">
                    <label class="control-label">Nombre (en)</label>

                    <div class="controls">
                        <input class="input-xlarge focused" type="text" ng-model="name.en" name="name_en" required>
                    </div>
                </div>


                <div class="form-actions">
                    <button ng-show="!semaphoreEdit" type="submit" class="btn btn-primary"
                            ng-disabled="!countryForm.$valid" ng-click="create()">Crear
                    </button>
                    <button ng-show="semaphoreEdit" type="submit" class="btn btn-primary"
                            ng-disabled="!countryForm.$valid" ng-click="update()">Guardar
                    </button>
                    <button class="btn" ng-click="changeShowFormCountries(false)">Cancelar</button>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="box-content" ng-show="countries.length > 0 && !showFormCoutry">
        <table class="table  table-condensed">
            <thead>
            <tr>
                <th>Nombre (es)</th>
                <th>Nombre (en</th>
                <th>Iso</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="country in countries" ng-class="{'fill-active':(country._id==countrySelected._id)}"
                class="fill-default" ng-click="selectedCountry($index)">
                <td class="center">{{country.name.es}}</td>
                <td class="center">{{country.name.en}}</td>
                <td class="center">{{country.iso}}</td>
                <td class="center">
                    <div ng-show="country.has">
                        <a href="#/ports/{{country.name.es}}"><i style="margin-left: 30px;" class="back-icon-ports index-icons" title="Ver link con Puertos"></i></a>
                    </div>
                    <div  ng-show="!country.has">
                        <button class="btn btn-info" ng-click="edit(country)" title="Editar País"><i
                                class="icon-edit icon-white"></i></button>
                        <button class="btn btn-danger" ng-click="delete(country)" title="Eliminar País"><i
                                class="icon-trash icon-white"></i></button>
                    </div>

                </td>
            </tr>
            </tbody>
        </table>
        <div class="pagination pagination-centered">
            <pagination direction-links="false" boundary-links="true"
                        total-items="totalItems" ng-model="currentPage" max-size="maxSize"
                        class="pagination-sm"
                        ng-change="pageChanged()"
                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                        last-text="&raquo;"></pagination>
        </div>
    </div>


</div>

<div class="box span6">
    <div class="box-header well" data-original-title="">
        <h2><i class="back-icon-countries index-icons"></i> Ciudades</h2>

        <h2 ng-click="changeFormCities(true)" ng-show="!showFormCity" style="float: right;cursor: pointer">
            <span class="icon icon-add"></span> Crear
        </h2>

        <h2 ng-click="changeFormCities(false)" ng-show="showFormCity" style="float: right;cursor: pointer">
            <span class="icon icon-remove"></span> Cerrar
        </h2>
    </div>
    <div ng-show="showFormCity">
        <form class="form-horizontal" name="cityForm">
            <fieldset class="top-margin-country">

                <div class="control-group"
                     ng-class="{'error':cityForm.ccity_es.$dirty && cityForm.ccity_es.$invalid}">
                    <label class="control-label">Nombre (es)</label>

                    <div class="controls">
                        <input class="input-xlarge focused" type="text" ng-model="ccity.es" name="ccity_es" required>
                    </div>
                </div>
                <div class="control-group"
                     ng-class="{'error':cityForm.ccity_en.$dirty && cityForm.ccity_en.$invalid}">
                    <label class="control-label">Nombre (en)</label>

                    <div class="controls">
                        <input class="input-xlarge focused" type="text" ng-model="ccity.en" name="ccity_en" required>
                    </div>
                </div>


                <div class="form-actions">
                    <button ng-show="!semaphoreEditCity" type="submit" class="btn btn-primary"
                            ng-disabled="!cityForm.$valid" ng-click="addCity()">Crear
                    </button>
                    <button ng-show="semaphoreEditCity" type="submit" class="btn btn-primary"
                            ng-disabled="!cityForm.$valid" ng-click="updateCity()">Guardar
                    </button>
                    <button class="btn" ng-click="changeFormCities(false)">Cancelar</button>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="box-content" ng-show="!showFormCity">
        <table class="table table-striped table-condensed">
            <thead>
            <tr>
                <th>Nombre (es)</th>
                <th>Nombre (en)</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="city in countrySelected.cities | orderBy:'es'">
                <td class="center">{{city.es}}</td>
                <td class="center">{{city.en}}</td>
                <td class="center">
                    <div ng-show="city.has">
                        <i style="margin-left: 30px;" class="back-icon-ports index-icons"></i>
                    </div>
                    <div ng-show="!city.has">
                        <button class="btn btn-info" ng-click="editCity(city)" title="Editar Ciudad"><i
                                class="icon-edit icon-white"></i></button>
                        <button class="btn btn-danger" ng-click="delCity(city)" title="Eliminar Ciudad"><i
                                class="icon-trash icon-white"></i></button>
                    </div>

                </td>

            </tr>
            </tbody>
        </table>
    </div>
</div>