<div id="content" class="span12">
    <!-- content starts -->
    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-header well" data-original-title>
                <h2><i class="back-icon-refund index-icons"></i> Devoluciones</h2>

                <div style="float: right;" class=" span3">
                    <form class="navbar-search pull-left span12">
                        <input placeholder="Buscar" class=" span12" name="query" type="text" ng-model="text"
                               ng-change="loadReservations()" style="float: left;">
                    </form>
                </div>
            </div>
            <div class="box-content">
                <div class="box-content" ng-hide="empty">
                    <table class="table table-striped table-condensed">
                        <thead>
                        <tr role="row">
                            <th>Fecha</th>
                            <th>Cliente</th>
                            <th>Tipo de Tour</th>
                            <th>Puerto</th>
                            <th>Embarcación</th>
                            <th>Salida</th>
                            <th>Plazas</th>
                            <th>Importe total(€)</th>
                            <th>Razón</th>

                        </tr>

                        </thead>
                        <tbody>
                        <tr ng-repeat="rest in reservations">
                            <td>{{rest.reservation.start|date : 'dd/MM/yyyy'}}</td>
                            <td>{{rest.user.email}}</td>
                            <td>
                                <div style=" border-bottom: 2px solid {{rest.reservation.tour.group.color}}">
                                    {{rest.reservation.tour.group.name.es }} - {{
                                    rest.reservation.tour.name.es}}
                                </div>
                            </td>
                            <td>{{rest.reservation.tour.port.name.es}}</td>
                            <td>{{rest.reservation.ship.name.es ? rest.reservation.ship.name.es :
                                rest.reservation.ship.name}}
                            </td>
                            <td>{{rest.reservation.tour.group.payform=='bond' ? 'A convenir' :rest.reservation.departure}}</td>
                            <td>{{rest.reservation.cantPerson}}</td>
                            <td>{{rest.payment.total}}</td>
                            <td>
                                <a class="btn btn-info actions-buttons" title="Ver razón de cancelación"
                                   data-toggle="modal" href="#deleteModal"
                                   ng-click="showReason(rest)">
                                    <i class=" icon-eye-open icon-white"></i>
                                </a>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                    <div class="pagination pagination-centered">
                        <pagination direction-links="false" boundary-links="true"
                                    total-items="totalItems" ng-model="currentPage" max-size="maxSize"
                                    class="pagination-sm"
                                    ng-change="pageChanged()"
                                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                    last-text="&raquo;"></pagination>
                    </div>
                </div>
            </div>
            <div class="box-content" ng-show="empty">
                <div class="alert alert-block ">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <h4 class="alert-heading">Atención!</h4>

                    <p>No existen elementos para mostrar.</p>
                </div>
            </div>
        </div>


    </div>

</div>
<!-- Modal del delete -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="box-content">
                <form class="form-horizontal">
                    <fieldset>
                        <legend>Razón de la cancelación</legend>
                        <div class="control-group">
                            <p>{{reason}}</p>
                        </div>
                    </fieldset>
                </form>

            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>