<div id="content" class="span12">

    <div class="row-fluid sortable">

        <div class="box span12">

            <div class="box-header well" data-original-title>
                <h2><i class="back-icon-email index-icons"></i> Configuración de Correo</h2>
            </div>
            <div class="box span6 ng-scope">
                <div class="box-content">
                    <form class="form-horizontal" name="serverForm">
                        <fieldset ng-hide="loadData">
                            <legend>Servidor</legend>
                            <div class="control-group"
                                 ng-class="{'error':serverForm.server.$dirty && serverForm.server.$invalid}">
                                <label class="control-label"><span>*</span>Servidor de Correo</label>
                                <div class="controls">
                                    <input ng-model="server" name="server" required class="span8"
                                           type="text">
                                </div>
                            </div>
                            <div class="control-group"
                                 ng-class="{'error':serverForm.port.$dirty && serverForm.port.$invalid}">
                                <label class="control-label"><span>*</span>Puerto SMTP</label>

                                <div class="controls">
                                    <input ng-model="port" name="port" required class="span8"
                                           type="text">
                                </div>
                            </div>
                            <div class="control-group"
                                 ng-class="{'error':serverForm.user.$dirty && serverForm.user.$invalid}">
                                <label class="control-label"><span>*</span>Usuario</label>

                                <div class="controls">
                                    <input ng-model="user" name="user" required class="span8"
                                           type="email">
                                </div>
                            </div>
                            <div class="control-group"
                                 ng-class="{'error':serverForm.password.$dirty && serverForm.password.$invalid || password != password1 }">
                                <label class="control-label"><span>*</span>Contraseña</label>

                                <div class="controls">
                                    <input ng-model="password" name="password" required class="span8"
                                           type="password">
                                </div>
                            </div>
                            <div class="control-group"
                                 ng-class="{'error':serverForm.password1.$dirty && serverForm.password1.$invalid || password != password1}">
                                <label class="control-label"><span>*</span>Repetir Contraseña</label>

                                <div class="controls">
                                    <input ng-model="password1" required name="password1" class="span8"
                                           type="password">
                                </div>
                            </div>
                            <div class="form-actions">
                                <button ng-click="saveConfigurationServer()"

                                        class="btn btn-primary">Guardar
                                </button>
                                <button class="btn btn-success" ng-click="sendEmail()">Probar conexión</button>

                            </div>
                        </fieldset>
                        <fieldset ng-show="loadData">
                            <legend>Servidor</legend>
                            <div class="control-group"
                                 ng-class="{'error':serverForm.server.$dirty && serverForm.server.$invalid}">
                                <label class="control-label">Crear Configuración</label>

                                <div class="controls">
                                    <button class="btn btn-primary" ng-click="CreateConfiguration()">Crear</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="box span5 ng-scope">
                <div class="box-content">
                    <form name="formActivacion" class="form-horizontal">
                        <fieldset>
                            <legend>Activación</legend>
                            <div class="control-group">
                                <label class="control-label">Correo de reserva</label>

                                <div class="controls">
                                    <input ng-model="notyReserved.active" type="checkbox"
                                           ng-change="changeNoty(0,notyReserved)">
                                    <button ng-click="movePage('bookingmail')" class="btn btn-primary email-button"><i
                                            class="icon-edit icon-white"></i> Editar
                                    </button>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Correo de Devolución</label>

                                <div class="controls">
                                    <input ng-model="devolution.active" type="checkbox"
                                           ng-change="changeNoty(2,devolution)">
                                    <button ng-click="movePage('refundmail')" class="btn btn-primary email-button"><i
                                            class="icon-edit icon-white"></i> Editar
                                    </button>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">Correo de promoción</label>

                                <div class="controls">
                                    <input ng-model="promo.active" type="checkbox"
                                           ng-change="changeNoty(3,promo.active)"/>
                                    <button ng-click="movePage('promomail')" class="btn btn-primary email-button"><i class="icon-edit icon-white"></i> Editar</button>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Correo de Boletín</label>

                                <div class="controls">
                                    <input ng-model="bulletin.active" type="checkbox"
                                           ng-change="changeNoty(4,bulletin.active)">
                                    <button ng-click="movePage('bulletinmail')" class="btn btn-primary email-button"><i class="icon-edit icon-white"></i> Editar</button>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Correo de Registro</label>

                                <div class="controls">
                                    <input ng-model="notyRegister.active" type="checkbox"
                                           ng-change="changeNoty(5,notyRegister.active)">
                                    <button ng-click="movePage('notymail')" class="btn btn-primary email-button"><i class="icon-edit icon-white"></i> Editar</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>

            <div class="span10">
                <div class="">
                    <div class="box-content" id="signgmail">
                        <form name="formRegistro" class="form-horizontal">
                            <fieldset>
                                <legend>Firma de Correo</legend>
                                <div class="control-group"
                                     ng-class="{'error':formRegistro.notyRegister_body_es.$dirty && formPromo.notyRegister_body_es.$invalid }">


                                    <div class="controls">
                                        <ul class="nav nav-tabs" style="margin-left: 0px;">
                                            <li ng-class="{'active':tabsShowSignEs.description}"><a href="#"
                                                                                                    ng-click="tabsShowSignEs.description = true"
                                                                                                    data-toggle="tab">Español</a>
                                            </li>
                                            <li ng-class="{'active':!tabsShowSignEs.description}"><a href="#"
                                                                                                     ng-click="tabsShowSignEs.description = false"
                                                                                                     data-toggle="tab">Inglés</a>
                                            </li>
                                        </ul>
                                        <div ng-show="tabsShowSignEs.description">
                                            <textarea ui-tinymce="tinymceOptions" name="notyRegister_body_es"
                                                      ng-model="sign.es" required></textarea>
                                        </div>

                                        <div ng-show="!tabsShowSignEs.description">
                                            <textarea ui-tinymce="tinymceOptions" name="notyRegister_body_en"
                                                      ng-model="sign.en" required></textarea>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button ng-disabled="!formRegistro.$valid" ng-click="changeNotyBody(5,sign)"
                                            type="submit" class="btn btn-primary">
                                        Guardar
                                    </button>

                                </div>
                            </fieldset>
                        </form>

                    </div>
                    <div class="box-content" id="bookingmail">
                        <form name="formRegistro" class="form-horizontal">
                            <fieldset>
                                <legend>Notificación de Reserva</legend>

                                <div class="control-group">
                                    <label class="control-label"><span>*</span>Asunto</label>

                                    <div class="controls">
                                        <input type="text" ng-model="notyReserved.subject.es" placeholder="Asunto (es)"
                                               required/>
                                        <input type="text" ng-model="notyReserved.subject.en" placeholder="Asunto (en)"
                                               required/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <table class="table table-bordered table-striped table-condensed">
                                        <thead>
                                        <tr>
                                            <th>Usuario</th>
                                            <th>Id de Venta</th>
                                            <th>Tour</th>
                                            <th>Puerto</th>
                                            <th>Fecha</th>
                                            <th>Embarcación</th>
                                            <th>Salida</th>
                                            <th>Plazas</th>
                                            <th>Días</th>
                                            <th>Precio</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td><code>[email_user]</code></td>
                                            <td><code>[sale_id]</code></td>
                                            <td><code>[tour_name]</code></td>
                                            <td><code>[port_name]</code></td>
                                            <td><code>[date]</code></td>
                                            <td><code>[ship_name]</code></td>
                                            <td><code>[departure]</code></td>
                                            <td><code>[capacities]</code></td>
                                            <td><code>[days]</code></td>
                                            <td><code>[total]</code></td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>

                                <div class="control-group"
                                     ng-class="{'error':formRegistro.notyRegister_body_es.$dirty && formPromo.notyRegister_body_es.$invalid }">
                                    <label class="control-label"><span>*</span>Cuerpo del correo</label>

                                    <div class="controls">
                                        <ul class="nav nav-tabs" style="margin-left: 0px;">
                                            <li ng-class="{'active':tabsShowBookingEs.description}"><a href="#"
                                                                                                       ng-click="tabsShowBookingEs.description = true"
                                                                                                       data-toggle="tab">Español</a>
                                            </li>
                                            <li ng-class="{'active':!tabsShowBookingEs.description}"><a href="#"
                                                                                                        ng-click="tabsShowBookingEs.description = false"
                                                                                                        data-toggle="tab">Inglés</a>
                                            </li>
                                        </ul>
                                        <div ng-show="tabsShowBookingEs.description">
                                            <textarea ui-tinymce="tinymceOptions" name="notyRegister_body_es"
                                                      ng-model="notyReserved.body.es" required></textarea>
                                        </div>

                                        <div ng-show="!tabsShowBookingEs.description">
                                            <textarea ui-tinymce="tinymceOptions" name="notyRegister_body_en"
                                                      ng-model="notyReserved.body.en" required></textarea>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button ng-disabled="!formRegistro.$valid" ng-click="changeNotyBody(2,notyReserved)"
                                            type="submit" class="btn btn-primary">
                                        Guardar
                                    </button>

                                </div>
                            </fieldset>
                        </form>

                    </div>
                    <div class="box-content" id="refundmail">
                        <form name="formRegistro" class="form-horizontal">
                            <fieldset>
                                <legend>Notificación de Devolución</legend>

                                <div class="control-group">
                                    <label class="control-label"><span>*</span>Asunto</label>

                                    <div class="controls">
                                        <input type="text" ng-model="devolution.subject.es" placeholder="Asunto (es)"
                                               required/>
                                        <input type="text" ng-model="devolution.subject.en" placeholder="Asunto (en)"
                                               required/>
                                    </div>
                                </div>
                                <table class="table table-bordered table-striped table-condensed">
                                    <thead>
                                    <tr>
                                        <th>Usuario</th>
                                        <th>Razón</th>
                                        <th>Id de Venta</th>
                                        <th>Tour</th>
                                        <th>Puerto</th>
                                        <th>Fecha</th>
                                        <th>Embarcación</th>
                                        <th>Salida</th>
                                        <th>Plazas</th>
                                        <th>Días</th>
                                        <th>Precio</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><code>[email_user]</code></td>
                                        <td><code>[reason]</code></td>
                                        <td><code>[sale_id]</code></td>
                                        <td><code>[tour_name]</code></td>
                                        <td><code>[port_name]</code></td>
                                        <td><code>[date]</code></td>
                                        <td><code>[ship_name]</code></td>
                                        <td><code>[departure]</code></td>
                                        <td><code>[capacities]</code></td>
                                        <td><code>[days]</code></td>
                                        <td><code>[total]</code></td>
                                    </tr>
                                    </tbody>
                                </table>

                                <div class="control-group"
                                     ng-class="{'error':formRegistro.devolution_body_es.$dirty && formPromo.devolution_body_es.$invalid }">
                                    <label class="control-label"><span>*</span>Cuerpo del correo</label>

                                    <div class="controls">
                                        <ul class="nav nav-tabs" style="margin-left: 0px;">
                                            <li ng-class="{'active':tabsShowRefundEs.description}"><a href="#"
                                                                                                      ng-click="tabsShowRefundEs.description = true"
                                                                                                      data-toggle="tab">Español</a>
                                            </li>
                                            <li ng-class="{'active':!tabsShowRefundEs.description}"><a href="#"
                                                                                                       ng-click="tabsShowRefundEs.description = false"
                                                                                                       data-toggle="tab">Inglés</a>
                                            </li>
                                        </ul>
                                        <div ng-show="tabsShowRefundEs.description">
                                            <textarea ui-tinymce="tinymceOptions" name="devolution_body_es"
                                                      ng-model="devolution.body.es" required></textarea>
                                        </div>

                                        <div ng-show="!tabsShowRefundEs.description">
                                            <textarea ui-tinymce="tinymceOptions" name="devolution_body_en"
                                                      ng-model="devolution.body.en" required></textarea>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button ng-disabled="!formRegistro.$valid" ng-click="changeNotyBody(4,devolution)"
                                            type="submit" class="btn btn-primary">
                                        Guardar
                                    </button>

                                </div>
                            </fieldset>
                        </form>

                    </div>
                    <div class="box-content" id="promomail">
                        <form name="formPromo" class="form-horizontal">
                            <fieldset>
                                <legend>Correo de Promoción</legend>
                                <div class="control-group">
                                    <label class="control-label"><span>*</span>Asunto del correo</label>
                                    <div class="controls">
                                        <input type="text" ng-model="promo.subject.es" placeholder="Asunto (es)" required/>
                                        <input type="text" ng-model="promo.subject.en" placeholder="Asunto (en)" required/>
                                    </div>
                                </div>
                                <div class="control-group"
                                     ng-class="{'error':formPromo.promo_body_es.$dirty && formPromo.promo_body_es.$invalid }">
                                    <label class="control-label"><span>*</span>Cuerpo del correo</label>

                                    <div class="controls">
                                        <ul class="nav nav-tabs" style="margin-left: 0px;">
                                            <li ng-class="{'active':tabsShowEs.description}"><a href="#"
                                                                                                ng-click="tabsShowEs.description = true"
                                                                                                data-toggle="tab">Español</a>
                                            </li>
                                            <li ng-class="{'active':!tabsShowEs.description}"><a href="#"
                                                                                                 ng-click="tabsShowEs.description = false"
                                                                                                 data-toggle="tab">Inglés</a>
                                            </li>
                                        </ul>
                                        <div ng-show="tabsShowEs.description">

                                            <textarea ui-tinymce="tinymceOptions" name="promo_body_es" ng-model="promo.body.es" required></textarea>
                                        </div>
                                        <div ng-show="!tabsShowEs.description">
                                            <textarea ng-show="!tabsShowEs.description" name="promo_body_en" ui-tinymce="tinymceOptions"
                                                      ng-model="promo.body.en" required></textarea>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-actions">
                                    <button ng-disabled="!formPromo.$valid" ng-click="changeNotyBody(1,promo)" type="submit" class="btn btn-primary">
                                        Guardar
                                    </button>
                                    <button ng-disabled="!formPromo.$valid" ng-show="promo.active" ng-click="sendNotyEmail(0)" type="submit" class="right btn btn-primary">Enviar
                                        Mensaje
                                    </button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="box-content" id="bulletinmail">
                        <form name="formBoletin" class="form-horizontal">
                            <fieldset>
                                <legend>Boletín</legend>
                                <div class="control-group">
                                    <label class="control-label"><span>*</span>Asunto</label>
                                    <div class="controls">
                                        <input type="text" ng-model="bulletin.subject.es" placeholder="Asunto (es)" required/>
                                        <input type="text" ng-model="bulletin.subject.en" placeholder="Asunto (en)" required/>
                                    </div>
                                </div>
                                <div class="control-group"
                                     ng-class="{'error':formBoletin.bulletin_body_es.$dirty && formBoletin.bulletin_body_es.$invalid }">
                                    <label class="control-label"><span>*</span>Cuerpo del correo</label>

                                    <div class="controls">
                                        <ul class="nav nav-tabs" style="margin-left: 0px;">
                                            <li ng-class="{'active':tabsShowBoletinEs.description}"><a href="#"
                                                                                                ng-click="tabsShowBoletinEs.description = true"
                                                                                                data-toggle="tab">Español</a>
                                            </li>
                                            <li ng-class="{'active':!tabsShowBoletinEs.description}"><a href="#"
                                                                                                 ng-click="tabsShowBoletinEs.description = false"
                                                                                                 data-toggle="tab">Inglés</a>
                                            </li>
                                        </ul>
                                        <div ng-show="tabsShowBoletinEs.description">

                                            <textarea ui-tinymce="tinymceOptions" name="bulletin_body_es" ng-model="bulletin.body.es" required></textarea>
                                        </div>
                                        <div ng-show="!tabsShowBoletinEs.description">
                                            <textarea ng-show="!tabsShowBoletinEs.description" name="bulletin_body_en" ui-tinymce="tinymceOptions"
                                                      ng-model="bulletin.body.en" required></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button ng-disabled="!formBoletin.$valid" ng-click="changeNotyBody(3,bulletin)"
                                            type="submit" class="btn btn-primary">
                                        Guardar
                                    </button>
                                    <button ng-disabled="!formBoletin.$valid" ng-show="bulletin.active" ng-click="sendNotyEmail(1)" type="submit" class="right btn btn-primary">Enviar
                                        Mensaje
                                    </button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="box-content" id="notymail">
                        <form name="formRegistro" class="form-horizontal">
                            <fieldset>
                                <legend>Notificación de Registro</legend>

                                <div class="control-group">
                                    <label class="control-label"><span>*</span>Asunto</label>

                                    <div class="controls">
                                        <input type="text" ng-model="notyRegister.subject.es" placeholder="Asunto (es)" required/>
                                        <input type="text" ng-model="notyRegister.subject.en" placeholder="Asunto (en)" required/>
                                    </div>
                                </div>
                                <div class="control-group">

                                    <div class="controls">
                                        <div class="span3">
                                            <strong>Variable:</strong> Email del Usuario<br>
                                            <strong>Código:</strong> <code>[email_user]</code><br>
                                        </div>
                                        <div class="span3">
                                            <strong>Variable:</strong> Link de Bojeo<br>
                                            <strong>Código:</strong> <code>[bojeo_link]</code><br>
                                        </div>

                                    </div>
                                </div>

                                <div class="control-group"
                                     ng-class="{'error':formRegistro.notyRegister_body_es.$dirty && formPromo.notyRegister_body_es.$invalid }">
                                    <label class="control-label"><span>*</span>Cuerpo del correo</label>

                                    <div class="controls">
                                        <ul class="nav nav-tabs" style="margin-left: 0px;">
                                            <li ng-class="{'active':tabsShowRegistroEs.description}"><a href="#"
                                                                                                       ng-click="tabsShowRegistroEs.description = true"
                                                                                                       data-toggle="tab">Español</a>
                                            </li>
                                            <li ng-class="{'active':!tabsShowRegistroEs.description}"><a href="#"
                                                                                                        ng-click="tabsShowRegistroEs.description = false"
                                                                                                        data-toggle="tab">Inglés</a>
                                            </li>
                                        </ul>
                                        <div ng-show="tabsShowRegistroEs.description">

                                            <textarea ui-tinymce="tinymceOptions" name="notyRegister_body_es" ng-model="notyRegister.body.es" required></textarea>
                                        </div>
                                        <div ng-show="!tabsShowRegistroEs.description">
                                            <textarea ng-show="!tabsShowRegistroEs.description" name="notyRegister_body_en" ui-tinymce="tinymceOptions"
                                                      ng-model="notyRegister.body.en" required></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button ng-disabled="!formRegistro.$valid" ng-click="changeNotyBody(0,notyRegister)" type="submit" class="btn btn-primary">
                                        Guardar
                                    </button>

                                </div>
                            </fieldset>
                        </form>

                    </div>

                </div>
            </div>
        </div>
        <!--/span-->

    </div>
    <!--/row-->
</div>