<div id="content" class="span12">
    <!-- content starts -->
    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-header well" data-original-title>
                <h2><i class="back-icon-enterprise index-icons"></i> Empresas</h2>
                <h2 ng-click="showForm()" ng-show="openClose" style="float: right;cursor: pointer">
                    <span class="icon icon-add"></span> Crear
                </h2>
                <h2 ng-click="hideForm()" ng-hide="openClose" style="float: right;cursor: pointer">
                    <span class="icon icon-remove"></span> Cerrar
                </h2>
                <div ng-show="!reload" style="float: right; margin-right: 20px;" class=" span3">
                    <form class="navbar-search pull-left span12">
                        <input placeholder="Buscar" class=" span12" name="query" type="text" ng-model="text"
                               ng-change="loadEnterprise()" style="float: left;">
                    </form>
                </div>
            </div>
            <div class="box-content">
                <form class="form-horizontal" role="form" name="enterpriseForm" id="form-enterprise" style="display: none">
                    <fieldset>
                        <legend>Datos de la Empresa</legend>
                        <div class="control-group"
                             ng-class="{'has-error':enterpriseForm.inputNameEs.$dirty && enterpriseForm.inputNameEs.$invalid}">
                            <label class="col-lg-4 col-md-4 control-label"><span>*</span>Nombre(es)</label>

                            <div class="col-lg-8 col-md-8 controls">
                                <input type="text" required ng-model="name.es" name="inputNameEs"
                                       class="form-control input-xlarge">
                                <div ng-class="{'alert-field-empty': errorNombre == 'Campo vacío'}"><strong>{{errorNombre}}</strong></div>
                            </div>
                        </div>
                        <div class="control-group"
                             ng-class="{'has-error':enterpriseForm.inputNameEn.$dirty && enterpriseForm.inputNameEn.$invalid}">
                            <label class="col-lg-4 col-md-4 control-label"><span>*</span>Nombre(en)</label>

                            <div class="col-lg-8 col-md-8 controls">
                                <input type="text" required ng-model="name.en" name="inputNameEn"
                                       class="form-control input-xlarge">
                                <div ng-class="{'alert-field-empty': errorNombreEn == 'Campo vacío'}"><strong>{{errorNombreEn}}</strong></div>
                            </div>
                        </div>
                        <div class="control-group"
                             ng-class="{'has-error':enterpriseForm.descripcion_es.$dirty && enterpriseForm.descripcion_es.$invalid || enterpriseForm.descripcion_en.$dirty && enterpriseForm.descripcion_en.$invalid}">
                            <label class="control-label"><span>*</span>Descripción</label>
                            <div class="controls">
                                <ul class="nav nav-tabs" style="margin-left: 0px;">
                                    <li ng-class="{'active':tabsShowEs.description}"><a href="#"
                                                                                        ng-click="tabsShowEs.description = true"
                                                                                        data-toggle="tab">Español</a>
                                    </li>
                                    <li ng-class="{'active':!tabsShowEs.description}"><a href="#"
                                                                                         ng-click="tabsShowEs.description = false"
                                                                                         data-toggle="tab">Inglés</a>
                                    </li>
                                </ul>
                                <div ng-show="tabsShowEs.description">
                                    <textarea ui-tinymce="tinymceOptions" ng-model="description.es" name="descripcion_es"
                                              required></textarea>

                                    <div ng-class="{'alert-field-empty': errorDescripcion == 'Campo vacío'}"><strong>{{errorDescripcion}}</strong>
                                    </div>
                                </div>
                                <div ng-show="!tabsShowEs.description">
                                    <textarea ng-show="!tabsShowEs.description" name="descripcion_en" ui-tinymce="tinymceOptions"
                                              ng-model="description.en" required></textarea>

                                    <div ng-class="{'alert-field-empty': errorDescripcion_en == 'Campo vacío'}"><strong>{{errorDescripcion_en}}</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label"><span>*</span>Logotipo</label>
                            <ul class="thumbnails gallery" ng-show="image != null">
                                <li class="thumbnail">
                                    <a title="{{image.name}}"
                                       href="{{image.path}}" class="cboxElement">
                                        <img src="{{image.path}}" alt="{{image.name}}"
                                             style="display: block;">
                                    </a>
                                    <button type="button" class="close" ng-click="deleteEnterpriseImg(image.name)" aria-hidden="true">×</button>
                                </li>
                            </ul>
                            <div class="controls">
                                <input ng-disabled="image != null" type="file" ng-model="imgfileUpload"
                                       ng-file-select="onImgSelect($files)"
                                       class="ng-pristine ng-valid" id="imgFile">
                            </div>
                            <div class="controls" style="margin-top: 5px;">
                                <p style="float: left; margin-right: 15px;"><strong>Cantidad: </strong>{{cantImage}}</p>

                                <p style="float: left; margin-right: 15px;"><strong>Dimensiones: </strong>{{dimensionImage}}</p>

                                <p style="float: left; margin-right: 15px;"><strong>Formatos: </strong>{{formatImage}}</p>

                                <p><strong>Resolución: </strong>{{resolucionImage}}</p>
                            </div>
                            <div ng-class="{'alert-field-empty': errorImgUpload == 'Campo vacío'}">
                                <strong>{{errorImgUpload}}</strong>
                            </div>
                            <div ng-show="error == 'errorType'" class="alert-input-file"
                                 ng-repeat="errorNameImage in erroresNameImage"><strong>Formato incorrecto:
                                {{errorNameImage}}</strong></div>
                            <div ng-show="validCantImg == 1" class="alert-input-file"><strong>Ha superado el número
                                máximo({{cantImage}}) de imágenes.</strong></div>
                        </div>
                        <div class="control-group"
                             ng-class="{'error':enterpriseForm.urlEmpresa.$dirty && enterpriseForm.urlEmpresa.$invalid }">
                            <label class="control-label">Url</label>
                            <div class="controls">
                                <input class="input-xlarge focused" name="urlEmpresa" type="url"
                                       ng-model="url">
                            </div>
                        </div>

                    </fieldset>
                    <div class="form-actions" style="clear: both;">
                        <button ng-show="semaphore" ng-click="createEnterprise()"
                                ng-disabled="!enterpriseForm.$valid || files[0] == null" class="btn btn-primary">Crear
                        </button>
                        <button ng-hide="semaphore" ng-click="saveEnterprise()"
                                ng-disabled="!enterpriseForm.$valid || files[0] == null" class="btn btn-primary">Guardar
                        </button>
                        <button class="btn" type="button" ng-click="hideForm()">Cancelar</button>
                    </div>

                </form>
                <div class="box-content" ng-hide="empty">
                    <table class="table table-striped table-condensed">
                        <thead>
                        <tr>
                            <th width="5%"></th>
                            <th width="20%">Nombre</th>
                            <th width="45%"> Descripción</th>
                            <th width="15%">Url</th>
                            <th width="15%">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="list in enterprise">
                            <td>
                                <a ng-href="#/services/{{list._id}}" ng-show="list.service.length > 0">
                                    <i class="index-icons back-icon-third-services" title="Ver link con Servicios de Terceros"></i>
                                </a>
                                <a ng-href="#/reservations/{{list._id}}" ng-show="list.hasReservation">
                                    <i class="index-icons back-icon-booking" title="Ver link con Reservas"></i>
                                </a>
                                <i class="index-icons" ng-show="list.service.length==0"></i>
                                <i class="index-icons" ng-show="!list.hasReservation"></i>
                            </td>
                            <td>
                                {{list.name.es}}
                            </td>
                            <td class="center" ng-bind-html="list.description.es"></td>
                            <td class="center"><a href="{{list.url}}" target="_blank">{{list.url}}</a></td>

                            <td class="center">

                                <button ng-show="list.available == true" type="button" class="btn btn-success"
                                                        title="Cambiar estado"
                                                        ng-click="changeStatus(list)" style="margin-left: 3px;">
                                    <i class="icon icon-white icon-unlocked"></i>
                                </button>
                                <button ng-show="list.available == false" type="button" class="btn btn-danger"
                                        title="Cambiar estado"
                                        ng-click="changeStatus(list)" style="margin-left: 3px;">
                                    <i class="icon-white icon-lock"></i>
                                </button>

                                <button type="button" class="btn btn-info" title="Editar Empresa"
                                        ng-click="showEditEnterprise(list)"><i class="icon-edit icon-white"></i>
                                </button>
                                <button type="button" class="btn btn-danger" title="{{list.hasReservation?'La Empresa presenta reservaciones':'Eliminar Empresa'}}"
                                        data-toggle="modal"
                                        href="#deleteModal"
                                        ng-disabled="list.available || list.hasReservation" ng-click="deleteEnterprise(list)"><i class="icon-trash icon-white"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="pagination pagination-centered">
                        <pagination direction-links="false" boundary-links="true"
                                    total-items="totalItems" ng-model="currentPage" max-size="maxSize"
                                    class="pagination-sm"
                                    ng-change="pageChanged()"
                                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                    last-text="&raquo;"></pagination>
                    </div>
                </div>
                <div class="box-content" ng-show="empty">
                    <div class="alert alert-block ">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <h4 class="alert-heading">Atención!</h4>

                        <p>No existen elementos para mostrar.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Eliminar empresa</h4>
                    </div>
                    <div class="modal-body">
                        <label ng-show="deleteServices.services.length > 1 || deleteServices.services.length == 1 && deleteServices.packs.length > 0" class="control-label">Si elimina la empresa se eliminarán los siguientes elementos:</label>
                        <label ng-show="deleteServices.services.length == 1 && deleteServices.packs.length == 0" class="control-label">Si elimina la empresa se eliminará el siguiente elemento:</label>
                        <label class="control-label" ng-repeat="service in deleteServices.services"><strong>Servicio:</strong> {{service.name.es}}</label>
                        <label class="control-label" ng-repeat="pack in deleteServices.packs"><strong>Paquete:</strong> {{pack.datTour.tour.group.name.es+" - "+pack.datTour.tour.name.es}} + <span ng-repeat="service in pack.datService.services">{{($last?service.name.es:service.name.es+", ")}}</span></label>
                        <br ng-show="deleteServices.length != 0">
                        <label class="control-label">¿Seguro desea eliminar esta empresa?</label>
                        <input type="text" class="span6 typeahead" name="id" ng-model="delEnterprise._id" data-provide="typeahead"
                               data-items="4" style="display: none">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                        <button type="button" class="btn btn-danger" ng-class="{selected: buttonClick == 0}"
                                ng-click="dropEnterprise()" data-dismiss="modal">Si
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!--Change Status Modal-->
        <div class="modal hide fade" id="changeStatusModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">
                            <a class="label btn-success" style="cursor: default; padding: 8px 8px 10px; margin-right: 10px;"
                               ng-class="{'btn-danger': changeStatusItem.available == true}">
                                <i ng-show="changeStatusItem.available == true" class="icon-white icon-lock" style="margin-left: 2px;"></i>
                                <i ng-show="changeStatusItem.available == false" class="icon icon-white icon-unlocked" style="margin-left: 2px;"></i>
                            </a>
                            Alerta de cambio de estado
                        </h3>
                    </div>

                    <div class="modal-body">
                        <label ng-show="associationService.length == 1" class="control-label">Se desactivará el siguiente elemento:</label>
                        <label ng-show="associationService.length > 1" class="control-label">Se desactivarán los siguiente elemento:</label>
                        <label class="control-label" ng-repeat="service in associationService.services"><strong>Servicio:</strong> {{service.name.es}}</label>
                        <label class="control-label" ng-repeat="pack in associationService.packs"><strong>Paquete:</strong> {{pack.datTour.tour.group.name.es+" - "+pack.datTour.tour.name.es}} + <span ng-repeat="service in pack.datService.services">{{($last?service.name.es:service.name.es+", ")}}</span></label>
                        <!--<span class="control-label"  ng-repeat="service in associationService"><label ng-show="service.packs.length > 0" ng-repeat="pack in service.packs"><strong>Paquete:</strong> {{pack.datTour.tour.group.name.es+" - "+pack.datTour.tour.name.es}} + <span ng-repeat="service in pack.datService.services">{{($last?service.name.es:service.name.es+", ")}}</span></label></span>-->
                        <input type="text" class="span6 typeahead" name="id" ng-model="changeStatusItem._id"
                               data-provide="typeahead"
                               data-items="4" style="display: none">
                    </div>
                    <div class="modal-footer">
                        <!--<button ng-show="cantReservations == 0 && associationPacks.length == 0" type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>-->
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                        <button type="button" class="btn btn-primary" ng-class="{selected: buttonClick == 0}"
                                ng-click="changeStatusNow(changeStatusItem)" data-dismiss="modal">Si
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div><!--/row-->