<div id="content" class="span12">
    <!-- content starts -->

    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-header well" data-original-title>
                <h2><i class="icon-edit"></i> Adicionar Informaci&oacute;n General de Bojeo</h2>
            </div>
            <div class="box-content">
                <form class="form-horizontal" name="configForm">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label">Sobre Bojeo:</label>
                            <div class="controls">
                                <textarea ng-focus="dismissErrorDiv()" ui-tinymce="tinymceOptions" ng-model="aboutBojeo_es"></textarea>
                            </div>
                            <div ng-class="{'alert-field-empty': errorAboutBojeo_es == 'Campo vacío'}"><strong>{{errorAboutBojeo_es}}</strong></div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Sobre Bojeo(Ingl&eacute;s):</label>
                            <div class="controls">
                                <textarea ng-focus="dismissErrorDiv()" ui-tinymce="tinymceOptions" ng-model="aboutBojeo_en"></textarea>
                            </div>
                            <div ng-class="{'alert-field-empty': errorAboutBojeo_en == 'Campo vacío'}"><strong>{{errorAboutBojeo_es}}</strong></div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Formas de pago:</label>
                            <div class="controls">
                                <textarea ui-tinymce="tinymceOptions" ng-model="payForms_es" ng-focus="dismissErrorDiv()"></textarea>
                            </div>
                            <div ng-class="{'alert-field-empty': errorPayForms_es == 'Campo vacío'}"><strong>{{errorPayForms_es}}</strong></div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Formas de pago(Ingl&eacute;s):</label>
                            <div class="controls">
                                <textarea ui-tinymce="tinymceOptions" ng-model="payForms_en" ng-focus="dismissErrorDiv()"></textarea>
                            </div>
                            <div ng-class="{'alert-field-empty': errorPayForms_en == 'Campo vacío'}"><strong>{{errorPayForms_en}}</strong></div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Devoluciones:</label>
                            <div class="controls">
                                <textarea ui-tinymce="tinymceOptions" ng-model="devolutions_es" ng-focus="dismissErrorDiv()"></textarea>
                            </div>
                            <div ng-class="{'alert-field-empty': errorDevolutions_es == 'Campo vacío'}"><strong>{{errorDevolutions_es}}</strong></div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Devoluciones(Ingl&eacute;s):</label>
                            <div class="controls">
                                <textarea ui-tinymce="tinymceOptions" ng-model="devolutions_en" ng-focus="dismissErrorDiv()"></textarea>
                            </div>
                            <div ng-class="{'alert-field-empty': errorDevolutions_en == 'Campo vacío'}"><strong>{{errorDevolutions_en}}</strong></div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">T&eacute;rminos de uso</label>
                            <div class="controls">
                                <textarea ui-tinymce="tinymceOptions" ng-model="useTerms_es" ng-focus="dismissErrorDiv()"></textarea>
                            </div>
                            <div ng-class="{'alert-field-empty': errorUseTerms_es == 'Campo vacío'}"><strong>{{errorUseTerms_es}}</strong></div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">T&eacute;rminos de uso(Ingl&eacute;s)</label>
                            <div class="controls">
                                <textarea ui-tinymce="tinymceOptions" ng-model="useTerms_en" ng-focus="dismissErrorDiv()"></textarea>
                            </div>
                            <div ng-class="{'alert-field-empty': errorUseTerms_en == 'Campo vacío'}"><strong>{{errorUseTerms_en}}</strong></div>
                        </div>
                        <div id="success-create-alert"></div>
                        <div class="form-actions">
                            <button ng-click="createGeneralInfo()" class="btn btn-primary" ng-disabled="!configForm.$valid">Crear</button>
                            <button class="btn" ng-click="closeModal()">Cancelar</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <!--/span-->

    </div>

</div><!--/row-->