<div id="content" class="span12">
    <div class="box ">

        <div class="box-content">
            <div style="margin: 5px auto;width: 200px;">
                <button class="btn btn-primary" ng-click="changeYear(-1)"><i class="icon-backward icon-white"></i></button>
                <span style="font-size: 30px;background-color: #3B9DD8" class="label label-info">{{year|uppercase}}</span>
                <button ng-click="changeYear(1)" class="btn btn-primary" ><i class="icon-forward icon-white"></i></button>
            </div>
            <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

        </div>
    </div>
</div>
