<div class="container-about">
    <div class="span12
    ">
        <ul class="timeline ">
            <div ng-repeat="day in timeLine">
                <li class="time-label">
                        <span class="bg-red">
                            {{day.date | date:'d MMM. yyyy' }}
                        </span>
                </li>

                <li ng-repeat="event in day.event">
                    <i class="fa fa-envelope "
                       ng-class="{
                       'back-icon-user-white': (event.type == 0),
                       'bg-aqua': (event.type == 0),
                       'back-icon-booking-white': (event.type == 1),
                       'bg-green': (event.type == 1),
                       'back-icon-refund-white': (event.type == 2),
                       'bg-red': (event.type == 2)
                       }"></i>

                    <!-- new user -->
                    <div class="timeline-item" ng-show="event.type == 0">
                        <span class="time"><i class="icon-time"></i> {{event.date | date:'h:mm a'}}</span>

                        <h3 class="timeline-header no-border"><a ng-href="#/users/{{event.info.id}}">{{event.info.userName}}</a>
                            se a unido a Bojeo</h3>
                    </div>
                    <!-- new user -->
                    <div class="timeline-item" ng-show="event.type == 1">
                        <span class="time"><i class="icon-time"></i> {{event.date | date:'h:mm a'}}</span>

                        <h3 class="timeline-header"><a ng-href="#/tours/{{event.info.tourId}}">{{event.info.group.es}}
                            - {{event.info.tourName.es}}</a> reservado por <a ng-href="#/users/{{event.info.userId}}">{{event.info.userName}}</a>
                        </h3>

                        <div class="timeline-body">
                            Salida el {{event.info.date | date:'d MMM. yyyy'}} desde {{' '}}<i
                                class="back-icon-ports index-icons"></i>{{event.info.portName.es}}
                            en {{' '}}<a ng-href="#"><i class="back-icon-ships index-icons"></i>{{event.info.shipName}}</a>
                        </div>
                    </div>
                    <div class="timeline-item" ng-show="event.type == 2">
                        <span class="time"><i class="icon-time"></i> {{event.date | date:'h:mm a'}}</span>

                        <h3 class="timeline-header"><a ng-href="#/tours/{{event.info.tourId}}">{{event.info.group.es}}
                            - {{event.info.tourName.es}}</a> cancelado por <a ng-href="#/users/{{event.info.userId}}">{{event.info.userName}}</a>
                        </h3>

                        <div class="timeline-body">
                            {{event.info.reason}}
                        </div>
                    </div>


                </li>

            </div>

            <li>
                <i class="fa back-icon-ships-white bg-blue"></i>
            </li>
        </ul>
    </div>



</div>


