<div id="content" class="span12">
    <div class="box-content span6">
        <ul class="nav nav-tabs" id="tabInvoice">
            <li ng-class="{'active':tabSelected=='tab0'}" ng-click="changeTab('tab0')">
                <a><i class="back-icon-third-services index-icons"></i> Servicios</a>
            </li>
            <li ng-class="{'active':tabSelected=='tab1'}" ng-click="changeTab('tab1')">
                <a><i class="back-icon-ships index-icons"></i> Barcos</a>
            </li>
        </ul>

        <div id="myTabContent" class="tab-content">
            <div ng-class="{'active':tabSelected=='tab0'}" class="tab-pane">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Proveedor</th>
                        <th>Email</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="service in services" ng-class="{'fill-active':(service.id==serviceSelected.id)}"
                        class="fill-default" ng-click="selectedService($index)">
                        <td>{{service.name.es}}</td>
                        <td>{{service.owner.name}}</td>
                        <td>{{service.owner.email}}</td>
                    </tr>
                    </tbody>
                </table>

                <div style="margin: 0 auto">
                    <pagination direction-links="false" boundary-links="true"
                                total-items="totalItems" ng-model="currentPage" max-size="maxSize"
                                class="pagination-sm"
                                ng-change="pageChanged()"
                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                last-text="&raquo;"></pagination>
                </div>

            </div>
            <div ng-class="{'active':tabSelected=='tab1'}" class="tab-pane" id="custom">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Proveedor</th>
                        <th>Email</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="ship in ships" ng-class="{'fill-active':(ship.id==shipSelected.id)}"
                        class="fill-default" ng-click="selectedShip($index)">
                        <td>{{ship.name}}</td>
                        <td>{{ship.owner.name}}</td>
                        <td>{{ship.owner.email}}</td>
                    </tr>
                    </tbody>
                </table>

                <div style="margin: 0 auto">
                    <pagination direction-links="false" boundary-links="true"
                                total-items="totalItemsShip" ng-model="currentPageShip" max-size="maxSizeShip"
                                class="pagination-sm"
                                ng-change="pageChangedShip()"
                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                last-text="&raquo;"></pagination>
                </div>
            </div>
        </div>
    </div>

    <div class=" span6">

        <div ng-show="tabSelected=='tab0'" class="nav-tabs">
            <div style="margin: 7px auto;margin-bottom: 18px;" class="nav-tabs">

                <div class="form-group" style="width: 192px;margin: 0 auto;">
                    <div class="input-group"><span class="input-group-btn"><button ng-click="changeMonthYear(-1)"
                                                                                   class="btn btn-primary"
                                                                                   type="button"><i
                                        class="icon-backward icon-white"></i></button></span><input type="text"
                                                                                                    disabled="true"
                                                                                                    class="form-control"
                                                                                                    ng-value="monthName+' '+year"
                                                                                                    style="width: 110px;text-align: center;margin: 5px 0px;"><span
                                class="input-group-btn"><button ng-click="changeMonthYear(1)" class="btn btn-primary"
                                                                type="button"><i class="icon-forward icon-white"></i>
                            </button></span>
                    </div>
                </div>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>Cantidad</th>
                    <th>Paquete</th>
                    <th>Comisión</th>
                    <th>Precio</th>
                    <th>Personas</th>
                    <th>Subtotal</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="data in serviceData.packs" class="fill-active">
                    <td style="text-align: center">{{data.cant}}</td>
                    <td>{{data.pack.es}}</td>
                    <td style="text-align: center">{{data.comition}}%</td>
                    <td style="text-align: center">{{data.price|number:2}}</td>
                    <td style="text-align: center">{{data.cantPerson}}</td>
                    <td style="text-align: right" class="">{{data.subTotal|number:2}}</td>
                </tr>
                </tbody>
            </table>
            <div style="font-size: 18px; margin-right: 5px; text-align: right; color: #3B9DD8;">Total</div>
            <div style="font-size: 24px; margin: 10px 5px 10px 0px; text-align: right">
                <strong>{{serviceData.total|number:2}}</strong></div>
        </div>
        <div ng-show="tabSelected=='tab1'">
            <div style="margin: 7px auto;margin-bottom: 18px;" class="nav-tabs">

                <div class="form-group" style="width: 192px;margin: 0 auto;">
                    <div class="input-group"><span class="input-group-btn"><button ng-click="changeMonthYear(-1)"
                                                                                   class="btn btn-primary"
                                                                                   type="button"><i
                                        class="icon-backward icon-white"></i></button></span><input type="text"
                                                                                                    disabled="true"
                                                                                                    class="form-control"
                                                                                                    ng-value="monthName+' '+year"
                                                                                                    style="width: 110px;text-align: center;margin: 5px 0px;"><span
                                class="input-group-btn"><button ng-click="changeMonthYear(1)" class="btn btn-primary"
                                                                type="button"><i class="icon-forward icon-white"></i>
                            </button></span>
                    </div>
                </div>
            </div>
            <table class="table ">
                <thead>
                <tr>
                    <th>Cantidad</th>
                    <th>Tour</th>
                    <th>Comisión</th>
                    <th>Precio</th>
                    <th style="text-align: right">Subtotal</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="data in shipData.tours" class="fill-active">
                    <td style="text-align: center">{{data.cant}}</td>
                    <td>{{data.tour.es}}</td>
                    <td style="text-align: center">{{data.comition}}</td>
                    <td style="text-align: center">{{data.price|number:2}}</td>
                    <td style="text-align: right">{{data.subTotal|number:2}}</td>
                </tr>
                </tbody>
            </table>
            <div style="font-size: 18px; margin-right: 5px; text-align: right; color: #3B9DD8;">Total</div>
            <div style="font-size: 24px; margin: 10px 5px 20px 0px; text-align: right">
                <strong>{{shipData.total|number:2}}</strong></div>
            <table ng-show="shipData1.tours.length >= 1" class="table table-condensed">
                <thead>
                <tr>
                    <th>Cantidad</th>
                    <th>Tour</th>
                    <th>Comisión</th>
                    <th>Personas</th>
                    <th>Horas</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="data in shipData1.tours">
                    <td style="text-align: center">{{data.cant}}</td>
                    <td>{{data.tour.es}}</td>
                    <td style="text-align: center">{{data.comition}}</td>
                    <td style="text-align: center">{{data.cantPerson}}</td>
                    <td style="text-align: center">{{data.subTotal}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>