<div id="content" class="span12">
    <!-- content starts -->
    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-header well" data-original-title>
                <h2><i class="back-icon-ships index-icons"></i> Barcos</h2>

                <h2 ng-click="showForm()" ng-show="openClose" style="float: right;cursor: pointer">
                    <span class="icon icon-add"></span> Crear
                </h2>

                <h2 ng-click="hideForm()" ng-hide="openClose" style="float: right;cursor: pointer">
                    <span class="icon icon-remove"></span> Cerrar
                </h2>

                <div ng-show="!reload" style="float: right;margin-right: 20px" class=" span3">
                    <form class="navbar-search pull-left span12">
                        <input placeholder="Buscar" class=" span12" name="query" type="text" ng-model="text"
                               ng-change="loadShips()" style="float: left;">

                    </form>
                </div>
            </div>

            <div class="box-content">
                <!--<div class="box-content">-->
                <div class="box span6" style="float: none;margin: 0 auto;display: none" id="toursShip">
                    <fieldset>
                        <legend style="padding: 0px 5px;">{{name}} (Asignación de Tours)
                            <button class="btn " ng-click="hideTours()"
                                    style="float: right;float: right;margin: 5px 10px;">Cerrar
                            </button>
                        </legend>
                    </fieldset>
                    <div>
                        <span style="margin-left: 10px; font-weight: bold;">Datos del Puerto</span>

                        <div class="control-group" style="margin-top: 10px;">
                            <label class="span2 control-label asingTourPort"><span>*</span>País</label>

                            <div class="controls">
                                <select class="combo-width" data-rel="chosen" ng-model="country"
                                        ng-change="changeCountry()">
                                    <option ng-repeat="country in countries">{{country.name.es}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="span2 control-label asingTourPort"><span>*</span>Ciudad</label>

                            <div class="controls">
                                <select class="combo-width" data-rel="chosen" ng-model="city" ng-change="changeCity()">
                                    <option ng-repeat="cities in cities">{{cities.es}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="span2 control-label asingTourPort"><span>*</span>Puerto</label>

                            <div class="controls">
                                <select class="combo-width" data-rel="chosen" ng-model="namePort"
                                        ng-change="changePort()">
                                    <option ng-repeat="port in allPorts">{{port.name.es}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th style="width: 60px;">Acción</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="tour in tours">
                            <td>{{tour.group.name.es+" - "+tour.name}}</td>
                            <td class="center" style="cursor: pointer">
                                    <span ng-show="tour.active" class="label label-success"
                                          ng-click="delTour(tour,$index)">Asignado</span>
                                    <span ng-show="!tour.active" class="label label-important"
                                          ng-click="addTour(tour)">No asignado</span>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--</div>-->
                <form class="form-horizontal" name="formship" id="form-ship" style="display: none">
                    <fieldset>
                        <legend>Datos del Barco</legend>
                        <div class="control-group"
                             ng-class="{'error':formship.name.$dirty && formship.name.$invalid }">
                            <label class="control-label"><span>*</span>Nombre</label>

                            <div class="controls">
                                <input class="input-xlarge focused" type="text" ng-model="name" name="name" required>
                            </div>
                        </div>
                        <div class="control-group"
                             ng-class="{'error':formship.description_es.$dirty && formbond.description_es.$invalid }">
                            <label class="control-label"><span>*</span>Descripción </label>

                            <div class="controls">
                                <ul class="nav nav-tabs" style="margin-left: 0px;">
                                    <li ng-class="{'active':tabsShowEs.description}"><a href="#"
                                                                                        ng-click="tabsShowEs.description = true"
                                                                                        data-toggle="tab">Español</a>
                                    </li>
                                    <li ng-class="{'active':!tabsShowEs.description}"><a href="#"
                                                                                         ng-click="tabsShowEs.description = false"
                                                                                         data-toggle="tab">Inglés</a>
                                    </li>
                                </ul>
                                <div ng-show="tabsShowEs.description">

                                    <textarea ui-tinymce="tinymceOptions" ng-model="description.es" required></textarea>
                                </div>
                                <div ng-show="!tabsShowEs.description">
                                    <textarea ng-show="!tabsShowEs.description" name="description_en"
                                              ui-tinymce="tinymceOptions"
                                              ng-model="description.en" required></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="control-group"
                             ng-class="{'error':formship.nameUserOwner.$dirty && formship.nameUserOwner.$invalid }">
                            <label class="control-label"><span>*</span>Proveedor</label>

                            <div class="controls">
                                <div class="input-append">
                                    <input class="input-xlarge" type="text" ng-model="nameUserOwner"
                                           name="nameUserOwner" required
                                           disabled>
                                    <button class="btn btn-primary"
                                            type="button"
                                            title="Adicionar Proveedor"
                                            data-toggle="modal"
                                            href="#addDuenno"
                                            ng-click="listOwners()"><i class="icon-plus icon-white"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="control-group"
                             ng-class="{'error':formship.comision.$dirty && formship.comision.$invalid }">
                            <label class="control-label"><span>*</span>Comisión</label>

                            <div class="controls">
                                <div class="input-prepend">
                                    <span class="add-on">%</span><input type="number" class="form-control input-euro"
                                                                        min="0"
                                                                        ng-model="owner.comitions" name="comision"
                                                                        required>
                                </div>
                            </div>
                        </div>
                        <div class="control-group"
                             ng-class="{'error':formship.nameUserPatron.$dirty && formship.nameUserPatron.$invalid }">
                            <label class="control-label"><span>*</span>Patrón</label>

                            <div class="controls">
                                <div class="input-append">
                                    <input class="input-xlarge" type="text"
                                           ng-model="nameUserPatron" name="nameUserPatron" required disabled>
                                    <button class="btn btn-primary"
                                            type="button"
                                            title="Adicionar patrón"
                                            data-toggle="modal"
                                            href="#addPatron"
                                            ng-click="listPatrons()"><i class="icon-plus icon-white"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="control-group"
                             ng-class="{'error':formship.nameTag.$dirty && formship.nameTag.$invalid }">
                            <label class="control-label"><span>*</span>Categoía</label>

                            <div class="controls">
                                <div class="input-append">
                                    <input class="input-xlarge" type="text"
                                           ng-model="tag.name.es" name="nameTag" required disabled>
                                    <button class="btn btn-primary"
                                            type="button"
                                            title="Adicionar Categoía"
                                            data-toggle="modal"
                                            href="#addTag"
                                            ng-click="loadTags()"><i class="icon-plus icon-white"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label"><span>*</span>Imagen</label>

                            <div class="edit-images">
                                <ul class="thumbnails gallery" ng-show="files.length != 0">
                                    <li class="thumbnail" style="background-color: #fff" ng-repeat="file in files">
                                        <div ng-click="(file.image ? viewImage(file.image):viewImage(file.path))"
                                             style="background:url({{file.image?file.image:file.path}}); background-size: cover;"
                                             class="img-bojeo"></div>
                                        <button type="button" class="close"
                                                ng-click="deleteShipImg(file)"
                                                aria-hidden="true">×
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <input ng-disabled="files.length >= cantImage" ng-focus="dismissErrorDiv()"
                                           type="file"
                                           ng-model="imgfileUpload"
                                           ng-file-select="onImgSelect($files)"
                                           id="imgFile" multiple>
                                </div>
                                <div class="controls" style="margin-top: 5px;">
                                    <p style="float: left; margin-right: 15px;"><strong>Cantidad: </strong>{{cantImage}}
                                    </p>

                                    <p style="float: left; margin-right: 15px;"><strong>Dimensiones: </strong>{{dimensionImage}}
                                    </p>

                                    <p style="float: left; margin-right: 15px;"><strong>Formatos: </strong>{{formatImage}}
                                    </p>

                                    <p><strong>Resolución: </strong>{{resolucionImage}}</p>
                                </div>
                                <div ng-class="{'alert-field-empty': errorImgUpload == 'Campo vacío'}">
                                    <strong>{{errorImgUpload}}</strong>
                                </div>
                                <div ng-show="error == 'errorType'" class="alert-input-file"
                                     ng-repeat="errorNameImage in erroresNameImage"><strong>Formato incorrecto:
                                        {{errorNameImage}}</strong></div>
                                <div ng-show="error == 'errorExist'" class="alert-input-file"
                                     ng-repeat="errorExistImage in erroresExistImage"><strong>Error: {{errorExistImage}}
                                        ya
                                        existe.</strong></div>
                                <div ng-show="validCantImg == 1" class="alert-input-file"><strong>Ha superado el número
                                        máximo ({{cantImage}}) de imágenes.</strong></div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button ng-hide="editG" type="button" class="btn btn-primary"
                                    ng-disabled="!formship.$valid || files[0] == null || files.length != cantImage"
                                    ng-click="create()">Crear Barco
                            </button>
                            <button ng-show="editG" ng-click="save()" class="btn btn-primary"
                                    ng-disabled="!formship.$valid || files[0] == null || files.length != cantImage">
                                Guardar Cambios
                            </button>
                            <button ng-click="hideForm()" type="button" class="btn">Cancelar</button>
                        </div>
                    </fieldset>
                </form>

                <div class="box-content">
                    <a ng-show="reload" class="btn btn-primary " ng-href="#/ships"><i
                                class="icon-refresh icon-white"></i>
                        Mostrar Todos</a>
                    <table class="table table-striped table-condensed">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Proveedor</th>
                            <th>Comisión</th>
                            <th>Patrón</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="ship in ships">
                            <td>
                                <a ng-href="#/reservations/{{ship._id}}" ng-show="ship.hasRes">
                                    <i class="index-icons back-icon-booking" title="Ver link con Reservas"></i>
                                </a>
                                <i class="index-icons" ng-show="ship.hasRes == false"></i>
                                {{ship.name}}
                            </td>
                            <td class="center">{{ship.owner.email}}</td>
                            <td class="center">{{ship.owner.comitions}}%</td>
                            <td class="center">{{ship.patron.email}}</td>

                            <td class="center">


                                <a class="btn btn-success actions-buttons"
                                   ng-href="#/calendar/{{ship._id}}" title="Calendario">
                                    <i class="icon-calendar icon-white"></i>
                                </a>
                                <a class="btn btn-warning actions-buttons" title="Gestionar Tours del Barco"
                                   ng-click="crudTour(ship)">
                                    <i class=" back-icon-options-tour index-icons"></i>
                                </a>
                                <button ng-show="ship.available == true" type="button" class="btn btn-success"
                                        title="Cambiar estado"
                                        ng-click="changeStatus(ship)">
                                    <i class="icon icon-white icon-unlocked"></i>
                                </button>
                                <button ng-show="ship.available == false" type="button" class="btn btn-danger"
                                        title="Cambiar estado"
                                        ng-click="changeStatus(ship)">
                                    <i class=" icon-white icon-lock"></i>
                                </button>
                                <button type="button" class="btn btn-info" title="Editar Barco"
                                        ng-click="edit(ship)"><i class="icon-edit icon-white"></i>
                                </button>
                                <button type="button" class="btn btn-danger"
                                        title="{{ship.hasRes?'El Barco presenta reservaciones':'Eliminar Barco'}}"
                                        data-toggle="modal"
                                        href="#deleteModal"
                                        ng-click="showDeleteModal(ship)"
                                        ng-disabled="ship.hasRes || ship.available"><i
                                            class="icon-trash icon-white"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="pagination pagination-centered">
                        <pagination direction-links="false" boundary-links="true"
                                    total-items="totalItems" ng-model="currentPage" max-size="maxSize"
                                    class="pagination-sm"
                                    ng-change="pageChanged()"
                                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                    last-text="&raquo;"></pagination>
                    </div>
                </div>
            </div>
        </div>
        <!--/span-->
    </div>
</div>

<!--Change Status Modal-->
<div class="modal hide fade" id="changeStatusModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">
                    <a class="label btn-success" style="cursor: default; padding: 8px 8px 10px; margin-right: 10px;"
                       ng-class="{'btn-danger': changeStatusItem.available == true}">
                        <i ng-show="changeStatusItem.available == true" class="icon-white icon-lock"
                           style="margin-left: 2px;"></i>
                        <i ng-show="changeStatusItem.available == false" class="icon icon-white icon-unlocked"
                           style="margin-left: 2px;"></i>
                    </a>
                    Alerta de cambio de estado
                </h3>
            </div>

            <div class="modal-body">
                <label class="control-label" ng-show="associationUsers.owner && associationUsers.patron">Si se activa el
                    barco se activarán los siguientes elementos:</label>
                <label class="control-label"
                       ng-show="associationUsers.owner && !associationUsers.patron || !associationUsers.owner && associationUsers.patron">Si
                    se activa el barco se activará el siguiente elemento:</label>
                <label class="control-label" ng-show="associationUsers.owner"><strong>Usuario:</strong>
                    {{associationUsers.owner.email}}</label>
                <label class="control-label" ng-show="associationUsers.patron"><strong>Usuario:</strong>
                    {{associationUsers.patron.email}}</label>
                <input type="text" class="span6 typeahead" name="id" ng-model="changeStatusItem._id"
                       data-provide="typeahead"
                       data-items="4" style="display: none">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" ng-class="{selected: buttonClick == 0}"
                        ng-click="changeStatusNow(changeStatusItem)" data-dismiss="modal">Si
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Modal del delete -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Eliminar Barco</h4>
            </div>

            <div ng-show="!deleteItem.dependencies.length">
                <div class="modal-body">
                    <label class="control-label">¿Seguro desea eliminar éste Barco?</label>
                    <input type="text" class="span6 typeahead" name="id" ng-model="deleteItem._id"
                           data-provide="typeahead"
                           data-items="4" style="display: none">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-danger" ng-class="{selected: buttonClick == 0}"
                            ng-click="delete()" data-dismiss="modal">Si
                    </button>
                </div>
            </div>
            <div ng-show="deleteItem.dependencies.length">
                <div class="modal-body">
                    <label class="control-label">El elemento no se puede eliminar, contiene algunas dependendencias.</label>
                    <ul>
                        <li ng-repeat="dep in deleteItem.dependencies">Reservación {{dep.start|date:'medium'}} - {{dep.end|date:'medium'}} </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal del addDuenno -->
<div class="modal fade" id="addDuenno" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Adicionar Proveedor</h4>
            </div>

            <div class="modal-body" ng-hide="emptyOwner">
                <!--<div class="box-content">-->
                <div class="input-group input-group-sm search-user">
                    <input ng-change="listOwners()" ng-model="wordSearchO" type="text" name="q"
                           class="form-control  ng-valid ng-dirty" placeholder="Buscar por correo electrónico">

                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Correo electrónico</th>
                        <th>Teléfono</th>
                        <th>Asignar</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in users">
                        <td class="">{{user.userName}}</td>

                        <td class="">{{user.lastName}}</td>

                        <td class="center">{{user.email}}</td>

                        <td class="center">{{user.phoneNumber}}</td>

                        <td class="center">
                            <i style="cursor: pointer; margin-left: 4px" class="icon-plus" ng-click="addOwner(user)"
                               data-dismiss="modal"></i>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="pagination pagination-centered">
                    <pagination direction-links="false" boundary-links="true"
                                total-items="totalItemsOwners" ng-model="currentPageO" max-size="maxSizeO"
                                class="pagination-sm"
                                ng-change="pageChangedO()"
                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                last-text="&raquo;"></pagination>
                </div>
                <!--</div>-->
            </div>
            <div class="box-content" ng-show="emptyOwner">
                <div class="alert alert-block ">
                    <!--<button type="button" class="close" data-dismiss="alert">×</button>-->
                    <h4 class="alert-heading">Atención!</h4>

                    <p>No existen elementos para mostrar.</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal del addPatron -->
<div class="modal fade" id="addPatron" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Adicionar Patrón</h4>
            </div>
            <div class="modal-body" ng-hide="emptyPatron">
                <!--<div class="box-content">-->
                <div class="input-group input-group-sm search-user">
                    <input ng-change="listPatrons()" ng-model="wordSearchP" type="text" name="q"
                           class="form-control  ng-valid ng-dirty" placeholder="Buscar por correo electrónico">

                </div>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Correo electrónico</th>
                        <th>Teléfono</th>
                        <th>Asignar</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in users">
                        <td class="">{{user.userName}}</td>

                        <td class="">{{user.lastName}}</td>

                        <td class="center">{{user.email}}</td>

                        <td class="center">{{user.phoneNumber}}</td>

                        <td class="center">
                            <i style="cursor: pointer; margin-left: 4px" class="icon-plus" ng-click="addPatron(user)"
                               data-dismiss="modal"></i>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!--<div class="pagination pagination-centered">
                    <pagination direction-links="false" boundary-links="true"
                                total-items="totalItemsPatrons" ng-model="currentPageP" max-size="maxSizeP"
                                class="pagination-sm"
                                ng-change="pageChangedP()"
                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                last-text="&raquo;"></pagination>
                </div>-->
                <!--</div>-->
            </div>
            <div class="box-content" ng-show="emptyPatron">
                <div class="alert alert-block ">
                    <!--<button type="button" class="close" data-dismiss="alert">×</button>-->
                    <h4 class="alert-heading">Atención!</h4>

                    <p>No existen elementos para mostrar.</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal  addTag -->
<div class="modal fade" id="addTag" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Seleccionar Categoría</h4>
            </div>
            <div class="modal-body" ng-hide="emptyTag">
                <!--<div class="box-content">-->
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Nombre (es)</th>
                        <th>Nombre (en)</th>
                        <th>Asignar</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="ta in tags">
                        <td class="">{{ta.name.es}}</td>

                        <td class="">{{ta.name.en}}</td>

                        <td class="center">
                            <i style="cursor: pointer; margin-left: 4px" class="icon-plus" ng-click="SelectTag(ta)"
                               data-dismiss="modal"></i>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="pagination pagination-centered">
                    <pagination direction-links="false" boundary-links="true"
                                total-items="totalItemsTags" ng-model="currentPageTags" max-size="maxSizeTags"
                                class="pagination-sm"
                                ng-change="pageChangedTags()"
                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                last-text="&raquo;"></pagination>
                </div>
            </div>
        </div>
        <div class="box-content" ng-show="emptyPatron">
            <div class="alert alert-block ">
                <!--<button type="button" class="close" data-dismiss="alert">×</button>-->
                <h4 class="alert-heading">Atención!</h4>

                <p>No existen elementos para mostrar.</p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</div>
</div>


