<div id="content" class="span12">
    <!-- content starts -->
    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-header well" data-original-title>
                <h2><i class="back-icon-user index-icons"></i> Usuarios</h2>

                <h2 ng-click="showForm()" ng-show="openClose" style="float: right;cursor: pointer">
                    <span class="icon icon-add"></span> Crear
                </h2>

                <h2 ng-click="hideForm()" ng-hide="openClose" style="float: right;cursor: pointer">
                    <span class="icon icon-remove"></span> Cerrar
                </h2>
                <div ng-show="!reload" style="float: right; margin-right: 20px;" class=" span3">
                    <form class="navbar-search pull-left span12">
                        <input placeholder="Buscar" class=" span12" name="query" type="text" ng-model="text"
                               ng-change="loadUsers()" style="float: left;">
                    </form>
                </div>
            </div>
            <!--<div id="success-edit-alert"></div>-->
            <div class="box-content">
                <div class="box-content">
                    <form class="form-horizontal" role="form" name="registerForm" id="form-user" style="display: none">
                        <fieldset class="fieldset-dividido">
                            <legend>Datos personales</legend>
                            <div class="control-group"
                                 ng-class="{'has-error':registerForm.inputName.$dirty && registerForm.inputName.$invalid}">
                                <label class="col-lg-4 col-md-4 control-label"><span>*</span>Nombre</label>

                                <div class="col-lg-8 col-md-8 controls">
                                    <input type="text" required ng-model="userName" name="inputName"
                                           class="form-control input-xlarge" ng-focus/>

                                    <div class="hing-error"
                                         ng-show="registerForm.inputName.$dirty && registerForm.inputName.$invalid && !registerForm.inputName.$focused">
                                        <small ng-show="registerForm.inputName.$error.required">
                                            <i class="fa fa-warning"></i> El nombre es requerido.
                                        </small>
                                    </div>
                                </div>

                            </div>
                            <div class="control-group"
                                 ng-class="{'has-error':registerForm.inputLastName.$dirty && registerForm.inputLastName.$invalid}">
                                <label class="col-lg-4 col-md-4 control-label"><span>*</span>Apellidos</label>

                                <div class="col-lg-8 col-md-8 controls">
                                    <input type="text" required name="inputLastName"
                                           ng-model="lastName" class="form-control input-xlarge" ng-focus/>

                                    <div class="hing-error"
                                         ng-show="registerForm.inputLastName.$dirty && registerForm.inputLastName.$invalid && !registerForm.inputLastName.$focused">
                                        <small ng-show="registerForm.inputLastName.$error.required">
                                            <i class="fa fa-warning"></i> Los apellidos son requeridos.
                                        </small>
                                    </div>
                                </div>
                                <div ng-class="{'alert-field-empty': errorLastname == 'Campo vacío'}">
                                    <strong>{{errorLastname}}</strong>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="col-lg-4 col-md-4 control-label"><span>*</span>Sexo</label>

                                <div class="col-lg-8 col-md-8 controls">
                                    <select class="form-control combo-width" ng-model="sex">
                                        <option value="male">Masculino</option>
                                        <option value="female">Femenino</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="col-lg-4 col-md-4 control-label">Nacimiento</label>

                                <div class="col-lg-8 col-md-8 controls my-input-group">
                                    <div class="controls span3">
                                        <select class="form-control combo-width-small" ng-model="day">
                                            <option ng-repeat="day in days">{{day}}</option>
                                        </select>
                                    </div>
                                    <label class="control-label" style="text-align: left; width: auto;">/</label>

                                    <div class="controls span5" style="margin-left: 11px;">
                                        <select class="form-control combo-width-medium" ng-model="month"
                                                ng-change="changeDate()">
                                            <option value="0">Enero</option>
                                            <option value="1">Febrero</option>
                                            <option value="2">Marzo</option>
                                            <option value="3">Abril</option>
                                            <option value="4">Mayo</option>
                                            <option value="5">Junio</option>
                                            <option value="6">Julio</option>
                                            <option value="7">Agosto</option>
                                            <option value="8">Septiembre</option>
                                            <option value="9">Octubre</option>
                                            <option value="10">Noviembre</option>
                                            <option value="11">Diciembre</option>
                                        </select>
                                    </div>
                                    <label class="control-label" style="text-align: left; width: auto;">/</label>

                                    <div class="controls span3" style="margin-left: 15px;">
                                        <select class="form-control combo-width-small-year" ng-model="year"
                                                ng-change="changeDate()">
                                            <option ng-repeat="year in years">{{year}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group"
                                 ng-class="{'has-error':(registerForm.inputEmail.$dirty && registerForm.inputEmail.$invalid) || !emailValidator()}">
                                <label class="col-lg-4 col-md-4 control-label"><span>*</span>Correo electrónico</label>

                                <div class="col-lg-8 col-md-8 controls">
                                    <input required name="inputEmail" required class="form-control input-xlarge"
                                           type="email" ng-model="email" ng-focus/>

                                    <div class="hing-error"
                                         ng-show="registerForm.inputEmail.$dirty && registerForm.inputEmail.$invalid && !registerForm.inputEmail.$focused">
                                        <small ng-show="registerForm.inputEmail.$error.required">
                                            <i class="fa fa-warning"></i> El correo electrónico es requerido.</br>
                                        </small>
                                        <small ng-show="(registerForm.inputEmail.$dirty && registerForm.inputEmail.$invalid) || !emailValidator()">
                                            <i class="fa fa-warning"></i> El correo electrónico es incorrecto.
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group"
                                 ng-class="{'has-error':registerForm.inputPhoneNumber.$dirty && registerForm.inputPhoneNumber.$invalid}">
                                <label class="col-lg-4 col-md-4 control-label"><span>*</span>Teléfono</label>

                                <div class="col-lg-8 col-md-8 controls">
                                    <input required
                                           type="number"
                                           ng-model="phoneNumber"
                                           name="inputPhoneNumber"
                                           ng-minlength=6
                                           class="form-control input-xlarge" ng-focus/>

                                    <div class="hing-error"
                                         ng-show="registerForm.inputPhoneNumber.$dirty && registerForm.inputPhoneNumber.$invalid && !registerForm.inputPhoneNumber.$focused">
                                        <small ng-show="registerForm.inputPhoneNumber.$error.minlength">
                                            <i class="fa fa-warning"></i> El teléfono como mínimo son 6 dígitos.</br>
                                        </small>
                                        <small ng-show="registerForm.inputPhoneNumber.$error.required">
                                            <i class="fa fa-warning"></i> El teléfono es requerido e incorrecto.</br>
                                        </small>
                                    </div>
                                </div>
                                <div ng-class="{'alert-field-empty': errorPhonenumber == 'Campo vacío'}">
                                    <strong>{{errorPhonenumber}}</strong>
                                </div>
                            </div>
                            <div class="control-group"
                                 ng-class="{'has-error':registerForm.inputEnterprise.$dirty && registerForm.inputEnterprise.$invalid}">
                                <label class="col-lg-4 col-md-4 control-label">Empresa</label>

                                <div class="col-lg-8 col-md-8 controls">
                                    <input type="text" ng-model="enterprise" class="form-control input-xlarge"
                                           name="inputEnterprise"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="col-lg-4 col-md-4 control-label"><span>*</span>Rol</label>

                                <div class="col-lg-8 col-md-8 controls">
                                    <select class="form-control combo-width" ng-model="role" ng-change="selectRole()"
                                            ng-disabled="editUser && editUser.ship">
                                        <option value="user">Usuario</option>
                                        <option value="patron">Patrón</option>
                                        <option value="owner">Proveedor</option>
                                        <option value="admin">Administrador</option>
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <fieldset>
                                <legend>
                                    Dirección
                                </legend>
                                <div class="control-group"
                                     ng-class="{'has-error':registerForm.inputAddress1.$dirty && registerForm.inputAddress1.$invalid}">
                                    <label class="col-lg-4 col-md-4 control-label"><span>*</span>Dirección</label>

                                    <div class="col-lg-8 col-md-8 controls">
                                        <input class="form-control input-xlarge" type="text" required
                                               name="inputAddress1"
                                               ng-model="address" ng-focus/>

                                        <div class="hing-error"
                                             ng-show="registerForm.inputAddress1.$dirty && registerForm.inputAddress1.$invalid && !registerForm.inputAddress1.$focused">
                                            <small ng-show="registerForm.inputAddress1.$error.required">
                                                <i class="fa fa-warning"></i> La dirección es requerida.
                                            </small>
                                        </div>
                                    </div>

                                </div>
                                <div class="control-group"
                                     ng-class="{'has-error':registerForm.inputCity.$dirty && registerForm.inputCity.$invalid}">
                                    <label class="col-lg-4 col-md-4 control-label"><span>*</span>Ciudad</label>

                                    <div class="col-lg-8 col-md-8 controls">
                                        <input class="form-control input-xlarge" type="text" required
                                               name="inputCity" ng-model="city" ng-focus/>

                                        <div class="hing-error"
                                             ng-show="registerForm.inputCity.$dirty && registerForm.inputCity.$invalid && !registerForm.inputCity.$focused">
                                            <small ng-show="registerForm.inputCity.$error.required">
                                                <i class="fa fa-warning"></i> La ciudad es requerida.
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="col-lg-4 col-md-4 control-label">Código postal</label>

                                    <div class="col-lg-8 col-md-8 controls">
                                        <input type="text" ng-model="postalCode"
                                               class="form-control input-xlarge" name="inputPostalcode">
                                    </div>
                                </div>
                                <div class="control-group"
                                     ng-class="{'has-error':registerForm.inputCountry.$dirty && registerForm.inputCountry.$invalid}">
                                    <label class="col-lg-4 col-md-4 control-label"><span>*</span>País</label>

                                    <div class="col-lg-8 col-md-8 controls">
                                        <input type="text" ng-model="country" required class="form-control input-xlarge"
                                               name="inputCountry" ng-focus/>

                                        <div class="hing-error"
                                             ng-show="registerForm.inputCountry.$dirty && registerForm.inputCountry.$invalid && !registerForm.inputCountry.$focused">
                                            <small ng-show="registerForm.inputCountry.$error.required">
                                                <i class="fa fa-warning"></i> El país es requerido.
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <fieldset>
                                <legend>Contraseña</legend>
                                <div ng-show="semaphore">
                                    <div class="control-group" ng-class="{'has-error':registerForm.inputPass.$dirty && registerForm.inputPass.$invalid,
             'has-error' : password != password1 }">
                                        <label class="col-lg-4 col-md-4 control-label"><span>*</span>Contraseña</label>

                                        <div class="col-lg-8 col-md-8 controls">
                                            <input type="password" ng-model="password" name="inputPass"
                                                   class="form-control input-xlarge" ng-minlength=6 ng-focus/>

                                            <div class="hing-error"
                                                 ng-show="registerForm.inputPass.$dirty && registerForm.inputPass.$invalid && !registerForm.inputPass.$focused">
                                                <small ng-show="registerForm.inputPass.$error.minlength">
                                                    <i class="fa fa-warning"></i> La contraseña como mínimo son 6
                                                    dígitos.</br>
                                                </small>
                                                <small ng-show="registerForm.inputPass.$error.required">
                                                    <i class="fa fa-warning"></i> La contraseña es requerida.</br>
                                                </small>
                                            </div>
                                        </div>

                                    </div>
                                    <div id="error-pass-confirm"></div>
                                    <div class="control-group" ng-class="{'has-error':registerForm.inputPass1.$dirty && registerForm.inputPass1.$invalid,
            'has-error' : password != password1 }">
                                        <label class="col-lg-4 col-md-4 control-label"><span>*</span>Confirmar
                                            contraseña</label>

                                        <div class="col-lg-8 col-md-8 controls">
                                            <input type="password" ng-model="password1" name="inputPass1"
                                                   class="form-control input-xlarge" ng-minlength=6 ng-focus/>

                                            <div class="hing-error"
                                                 ng-show="registerForm.inputPass1.$dirty && registerForm.inputPass1.$invalid && registerForm.inputPass1.$focused || password!=password1">
                                                <small ng-show="registerForm.inputPass1.$error.required">
                                                    <i class="fa fa-warning"></i> Confirmar contraseña es
                                                    requerido.</br>
                                                </small>
                                                <small ng-show="registerForm.inputPass1.$error.minlength">
                                                    <i class="fa fa-warning"></i> La contraseña como mínimo son 6
                                                    dígitos.</br>
                                                </small>
                                                <small ng-show="password!=password1">
                                                    <i class="fa fa-warning"></i> La contraseña y confirmación no son
                                                    iguales.</br>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="well" ng-hide="semaphore">
                                    <div ng-hide="!passEdit">
                                        <div class="control-group"
                                             ng-class="{'has-error':registerForm.inputPassword.$dirty && registerForm.inputPassword.$invalid}">
                                            <label class="col-lg-4 col-md-4 control-label"><span>*</span>Nueva
                                                Contraseña</label>

                                            <div class="col-lg-8 col-md-8 controls">
                                                <input required="" type="password" ng-model="password"
                                                       name="inputPassword" ng-minlength=6
                                                       class="form-control input-xlarge" ng-focus>

                                                <div class="hing-error"
                                                     ng-show="registerForm.inputPassword.$dirty && registerForm.inputPassword.$invalid && !registerForm.inputPassword.$focused">
                                                    <small ng-show="registerForm.inputPassword.$error.minlength">
                                                        <i class="fa fa-warning"></i> La contraseña como mínimo son 6
                                                        dígitos.</br>
                                                    </small>
                                                </div>
                                            </div>

                                        </div>
                                        <button ng-click="changePass()" type="button"
                                                ng-disabled="registerForm.inputPassword.$invalid"
                                                class="btn btn-primary btn-lg ng-binding" style="
    float: none;
    margin: 10px auto;
    display: block;
">
                                            Cambiar
                                        </button>
                                        <div class="alert alert-success ng-binding ng-hide"
                                             style="width: 270px;margin: 0 auto;" ng-show="passSuccessShow">
                                            Su contraseña se ha cambiado correctamente
                                        </div>

                                    </div>
                                </div>

                            </fieldset>
                        </div>
                        <!--ng-disabled="registerForm.inputComision.$error.float || !registerForm.$valid"-->
                        <div id="success-create-alert"></div>
                        <div class="form-actions" style="clear: both;">
                            <button ng-show="semaphore" ng-click="create()"
                                    ng-disabled="!registerForm.$valid || password.length < 6 || password1.length < 6 || password != password1"
                                    class="btn btn-primary">Crear
                            </button>
                            <button ng-hide="semaphore" ng-click="save()"
                                    ng-disabled=""
                                    class="btn btn-primary">Guardar
                            </button>
                            <button class="btn" type="button" ng-click="hideForm()">Cancelar</button>
                        </div>

                    </form>
                    <div ng-hide="empty">
                        <a ng-show="reload" class="btn btn-primary " ng-href="#/users"><i
                                    class="icon-refresh icon-white"></i> Mostrar Todos</a>
                        <table class="table table-striped table-condensed">
                            <thead>
                            <tr>
                                <th class="cursor"></th>
                                <th class="cursor" ng-click="changeOrder('userName')" style="width: 150px;">Nombre</th>
                                <th class="cursor" ng-click="changeOrder('lastName')" style="width: 150px;">Apellidos
                                </th>
                                <th style="width: 45px;" class="cursor" ng-click="changeOrder('sex')">Sexo</th>
                                <th class="cursor" ng-click="changeOrder('email')" style="width: 150px;">Correo
                                    electrónico
                                </th>
                                <th class="cursor" ng-click="changeOrder('phoneNumber')">Teléfono</th>
                                <th class="cursor" ng-click="changeOrder('role')">Rol</th>
                                <th class="cursor" ng-click="changeOrder('country')">País</th>
                                <th class="cursor" ng-click="changeOrder('totalAmount')">Importe(€)</th>
                                <!--<th class="cursor" ng-click="changeOrder('abonos')">Bonos</th>-->
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="list in user | orderBy:order">
                                <!--<td class="center list-news">{{list.userName}}</td>-->
                                <td>
                                    <a ng-href="#/ships/{{list._id}}" ng-show="list.ship">
                                        <i class="index-icons back-icon-ships"
                                           title="Ver link con Barcos"></i>
                                    </a>
                                    <a ng-href="#/services/{{list._id}}" ng-show="list.service">
                                        <i class="index-icons back-icon-third-services"
                                           title="Ver link con Servicios de Terceros"></i>
                                    </a>
                                    <a ng-show="list.reservations.length" style="cursor: default">
                                        <i class="index-icons back-icon-booking "></i>
                                    </a>
                                    <i class="index-icons" ng-show="list.ship == false"></i>
                                    <i class="index-icons" ng-show="list.service == false"></i>
                                    <i class="index-icons" ng-show="!list.reservations.length"></i>
                                </td>
                                <td>
                                    {{list.userName}}
                                </td>
                                <td class="center list-news">{{list.lastName}}</td>
                                <td class="center list-news" ng-show="list.sex == 'male'">M</td>
                                <td class="center list-news" ng-show="list.sex == 'female'">F</td>
                                <td class="center list-news">{{list.email}}</td>
                                <td class="center list-news">{{list.phoneNumber}}</td>
                                <td>
                                    <i ng-show="list.role == 'user'"></i>
                                    <span class="label label-blue" ng-show="list.role == 'user'">Usuario</span>
                                    <i ng-show="list.role == 'patron'"></i>
                                    <span class="label label-blue" ng-show="list.role == 'patron'">Patrón</span>
                                    <i ng-show="list.role == 'owner'"></i>
                                    <span class="label label-blue" ng-show="list.role == 'owner'">Proveedor</span>
                                    <i ng-show="list.role == 'partner'"></i>
                                    <span class="label label-blue" ng-show="list.role == 'partner'">Socio</span>
                                    <i ng-show="list.role == 'admin'"></i>
                                    <span class="label label-blue" ng-show="list.role == 'admin'">Administrador</span>
                                </td>
                                <td class="center list-news">{{list.country}}</td>
                                <td class="center list-news">{{list.totalAmount|number:2 }}</td>

                                <td class="center">
                                    <button ng-show="list.available == true" type="button" class="btn btn-success"
                                            title="Cambiar estado"
                                            ng-click="changeStatus(list,0)">
                                        <i class="icon icon-white icon-unlocked"></i>
                                    </button>
                                    <button ng-show="list.available == false" type="button" class="btn btn-danger"
                                            title="Cambiar estado"
                                            ng-click="changeStatus(list,0)">
                                        <i class=" icon-white icon-lock"></i>
                                    </button>
                                    <button type="button" class="btn btn-info" title="Editar Usuario"
                                            ng-click="edit(list)"><i class="icon-edit icon-white"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger" title="Eliminar Usuario"
                                            ng-click="select(list)"
                                            ng-disabled="list.available || list.reservations.length"><i class="icon-trash icon-white"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="pagination pagination-centered">
                            <pagination direction-links="false" boundary-links="true"
                                        total-items="totalItems" ng-model="currentPage" max-size="maxSize"
                                        class="pagination-sm"
                                        ng-change="pageChanged()"
                                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                        last-text="&raquo;"></pagination>
                        </div>
                    </div>
                    <div ng-show="empty">
                        <div class="alert alert-block ">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <h4 class="alert-heading">Atención!</h4>

                            <p>No existen elementos para mostrar.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/span-->

    </div>


    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Eliminar usuario</h4>
                </div>

                <div class="modal-body">
                    <label class="control-label">¿Seguro desea eliminar este usuario?</label>
                    <input type="text" class="span6 typeahead" name="id" ng-model="delUsers._id"
                           data-provide="typeahead" data-items="4" style="display: none">


                    <div class="modal-body" ng-show="ships.length || services.length || packs.length">
                        <label class="control-label">Si se eliminar el usuario, se eliminarán los siguientes
                            elementos:</label>
                        <label class="control-label" ng-show="role=='patron'">
                            <strong>Barco</strong>:{{ship.name}}
                        </label>

                        <div ng-show="role=='owner'">
                            <label class="control-label" ng-show="ships.length" ng-repeat="ship in ships">
                                <strong>Barco</strong>:{{ship.name}}
                            </label>
                            <label class="control-label" ng-show="services.length" ng-repeat="serv in services">
                                <strong>Servicio</strong>:{{serv.name.es}}
                            </label>
                            <label class="control-label" ng-show="packs.length" ng-repeat="pack in packs">
                                <strong>Paquete</strong>:{{pack.name.es}}
                            </label>
                        </div>
                        <input type="text" class="span6 typeahead" name="id" ng-model="changeStatusItem._id"
                               data-provide="typeahead"
                               data-items="4" style="display: none">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-danger"
                            ng-click="delete()" data-dismiss="modal">Si
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--Change Status Modal-->
    <div class="modal hide fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">
                        <a ng-show="!changeStatusItem.available" class="label btn-danger"
                           style="cursor: default; padding: 8px 8px 10px; margin-right: 10px;">
                            <i class="icon icon-white icon-lock" style="margin-left: 2px;"></i>
                        </a>
                        <a ng-show="changeStatusItem.available" class="label btn-success"
                           style="cursor: default; padding: 8px 8px 10px; margin-right: 10px;">
                            <i class="icon icon-white icon-unlocked" style="margin-left: 2px;"></i>
                        </a>
                        Alerta de cambio de estado
                    </h3>
                </div>

                <div class="modal-body">
                    <label class="control-label">Si se desactiva el usuario, se desactivarán los siguientes
                        elementos:</label>
                    <label class="control-label" ng-show="role=='patron'">
                        <strong>Barco</strong>:{{ship.name}}
                    </label>

                    <div ng-show="role=='owner'">
                        <label class="control-label" ng-show="ships.length" ng-repeat="ship in ships">
                            <strong>Barco</strong>:{{ship.name}}
                        </label>
                        <label class="control-label" ng-show="services.length" ng-repeat="serv in services">
                            <strong>Servicio</strong>:{{serv.name.es}}
                        </label>
                        <label class="control-label" ng-show="packs.length" ng-repeat="pack in packs">
                            <strong>Paquete</strong>:{{pack.name.es}}
                        </label>
                    </div>
                    <input type="text" class="span6 typeahead" name="id" ng-model="changeStatusItem._id"
                           data-provide="typeahead"
                           data-items="4" style="display: none">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn " data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                            ng-click="changeStatus(selectedUser, 1)">Si
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

</div>