<div id="content" class="span12">
<!-- content starts -->
<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header well" data-original-title>
            <h2><i class="back-icon-settings index-icons"></i> Información General de Bojeo</h2>
        </div>
        <div id="success-edit-alert" style="margin: 20px 0px 0px 0px;"></div>
        <div class="box-content">
            <form class="form-horizontal" name="sobreBojeoForm">
                <fieldset>
                    <legend>Sobre Bojeo</legend>
                    <div class="control-group"
                         ng-class="{'error':sobreBojeoForm.description_es.$dirty && sobreBojeoForm.description_es.$invalid }">
                        <label class="control-label">Texto</label>

                        <div class="controls">
                            <ul class="nav nav-tabs" style="margin-left: 0px;">
                                <li ng-class="{'active':tabsShowEs.description}"><a href="#" ng-click="tabsShowEs.description = true"  data-toggle="tab">Español</a></li>
                                <li ng-class="{'active':!tabsShowEs.description}"><a href="#" ng-click="tabsShowEs.description = false" data-toggle="tab">Inglés</a></li>
                            </ul>
                            <div ng-show="tabsShowEs.description">
                                <textarea ui-tinymce="tinymceOptions" ng-model="gInfo.aboutBojeo.es" required></textarea>
                            </div>
                            <div ng-show="!tabsShowEs.description">
                                <textarea ng-show="!tabsShowEs.description" name="description_en" ui-tinymce="tinymceOptions" ng-model="gInfo.aboutBojeo.en" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Imágenes:</label>
                        <div class="edit-images">
                            <ul class="esp-images thumbnails gallery" ng-show="files.length != 0">
                                <li class="thumbnail" style="background-color: #fff" ng-repeat="file in files">
                                    <div ng-click="(file.image ? viewImage(file.image):viewImage(file.path))"
                                         style="background:url({{file.image?file.image:file.path}}); background-size: cover;"
                                         class="img-bojeo"></div>
                                    <button type="button" class="close"
                                            ng-click="deleteSobreBojeoImg(file)" aria-hidden="true">×
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <input ng-disabled="files.length >= cantImage" ng-focus="dismissErrorDiv()" type="file"
                                       ng-model="imgfileUpload"
                                       ng-file-select="onImgSelect($files)"
                                       id="imgFile" multiple>
                            </div>
                            <div class="controls" style="margin-top: 5px;">
                                <p style="float: left; margin-right: 15px;"><strong>Cantidad: </strong>{{cantImage}}</p>

                                <p style="float: left; margin-right: 15px;"><strong>Dimensiones: </strong>{{dimensionImage}}</p>

                                <p style="float: left; margin-right: 15px;"><strong>Formatos: </strong>{{formatImage}}</p>

                                <p><strong>Resolución: </strong>{{resolucionImage}}</p>
                            </div>
                            <div ng-class="{'alert-field-empty': errorImage == 'Campo vacío'}">
                                <strong>{{errorImgUpload}}</strong>
                            </div>
                            <div ng-show="error == 'errorType'" class="alert-input-file"
                                 ng-repeat="errorNameImage in erroresNameImage"><strong>Formato incorrecto:
                                    {{errorNameImage}}</strong></div>
                            <div ng-show="error == 'errorExist'" class="alert-input-file"
                                 ng-repeat="errorExistImage in erroresExistImage"><strong>Error: {{errorExistImage}} ya
                                    existe.</strong></div>
                            <div ng-show="validCantImg == 1" class="alert-input-file"><strong>Ha superado el número
                                    máximo({{cantImage}}) de imágenes.</strong></div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button ng-click="saveSobreBojeo()" ng-disabled="!sobreBojeoForm.$valid"
                                class="btn btn-primary">Guardar
                        </button>

                    </div>
                </fieldset>
            </form>
            <form class="form-horizontal" name="payFormsForm">
                <fieldset>
                    <legend>Formas de Pago</legend>
                    <div class="control-group"
                         ng-class="{'error':payFormsForm.payForms_es.$dirty && payFormsForm.payForms_es.$invalid }">
                        <label class="control-label">Texto</label>

                        <div class="controls">
                            <ul class="nav nav-tabs" style="margin-left: 0px;">
                                <li ng-class="{'active':tabsShowPayFormsEs.description}"><a href="#" ng-click="tabsShowPayFormsEs.description = true"  data-toggle="tab">Español</a></li>
                                <li ng-class="{'active':!tabsShowPayFormsEs.description}"><a href="#" ng-click="tabsShowPayFormsEs.description = false" data-toggle="tab">Inglés</a></li>
                            </ul>
                            <div ng-show="tabsShowPayFormsEs.description">
                                <textarea ui-tinymce="tinymceOptions" ng-model="gInfo.payForms.es" required></textarea>
                            </div>
                            <div ng-show="!tabsShowPayFormsEs.description">
                                <textarea ng-show="!tabsShowPayFormsEs.description" name="payForms_en" ui-tinymce="tinymceOptions" ng-model="gInfo.payForms.en" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button ng-click="saveFormaPago()" ng-disabled="!payFormsForm.$valid"
                                class="btn btn-primary">Guardar
                        </button>

                    </div>
                </fieldset>
            </form>
            <form class="form-horizontal" name="devolutionsForm">
                <fieldset>
                    <legend>Devoluciones</legend>
                    <div class="control-group"
                         ng-class="{'error':devolutionsForm.devolutions_es.$dirty && devolutionsForm.devolutions_es.$invalid }">
                        <label class="control-label">Texto</label>

                        <div class="controls">
                            <ul class="nav nav-tabs" style="margin-left: 0px;">
                                <li ng-class="{'active':tabsShowDevolutionsEs.description}"><a href="#" ng-click="tabsShowDevolutionsEs.description = true"  data-toggle="tab">Español</a></li>
                                <li ng-class="{'active':!tabsShowDevolutionsEs.description}"><a href="#" ng-click="tabsShowDevolutionsEs.description = false" data-toggle="tab">Inglés</a></li>
                            </ul>
                            <div ng-show="tabsShowDevolutionsEs.description">
                                <textarea ui-tinymce="tinymceOptions" ng-model="gInfo.devolutions.es" required></textarea>
                            </div>
                            <div ng-show="!tabsShowDevolutionsEs.description">
                                <textarea ng-show="!tabsShowDevolutionsEs.description" name="devolutions_en" ui-tinymce="tinymceOptions" ng-model="gInfo.devolutions.en" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button ng-click="saveDevolucion()" ng-disabled="!devolutionsForm.$valid"
                                class="btn btn-primary">Guardar
                        </button>

                    </div>
                </fieldset>
            </form>
            <form class="form-horizontal" name="useTermsForm">
                <fieldset>
                    <legend>Términos de Uso</legend>
                    <div class="control-group"
                         ng-class="{'error':useTermsForm.useTerms_es.$dirty && useTermsForm.useTerms_es.$invalid }">
                        <label class="control-label">Texto</label>

                        <div class="controls">
                            <ul class="nav nav-tabs" style="margin-left: 0px;">
                                <li ng-class="{'active':tabsShowUseTermsEs.description}"><a href="#" ng-click="tabsShowUseTermsEs.description = true"  data-toggle="tab">Español</a></li>
                                <li ng-class="{'active':!tabsShowUseTermsEs.description}"><a href="#" ng-click="tabsShowUseTermsEs.description = false" data-toggle="tab">Inglés</a></li>
                            </ul>
                            <div ng-show="tabsShowUseTermsEs.description">
                                <textarea ui-tinymce="tinymceOptions" ng-model="gInfo.useTerms.es" required></textarea>
                            </div>
                            <div ng-show="!tabsShowUseTermsEs.description">
                                <textarea ng-show="!tabsShowUseTermsEs.description" name="useTerms_en" ui-tinymce="tinymceOptions" ng-model="gInfo.useTerms.en" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button ng-click="saveTerminoUso()" ng-disabled="!useTermsForm.$valid"
                                class="btn btn-primary">Guardar
                        </button>

                    </div>
                </fieldset>
            </form>
            <form class="form-horizontal" name="privacyPolicyForm">
                <fieldset>
                    <legend>Política de Privacidad</legend>
                    <div class="control-group"
                         ng-class="{'error':privacyPolicyForm.privacyPolicy_es.$dirty && privacyPolicyForm.privacyPolicy_es.$invalid }">
                        <label class="control-label">Texto</label>

                        <div class="controls">
                            <ul class="nav nav-tabs" style="margin-left: 0px;">
                                <li ng-class="{'active':tabsShowPrivacyPolicyEs.description}"><a href="#" ng-click="tabsShowPrivacyPolicyEs.description = true"  data-toggle="tab">Español</a></li>
                                <li ng-class="{'active':!tabsShowPrivacyPolicyEs.description}"><a href="#" ng-click="tabsShowPrivacyPolicyEs.description = false" data-toggle="tab">Inglés</a></li>
                            </ul>
                            <div ng-show="tabsShowPrivacyPolicyEs.description">
                                <textarea ui-tinymce="tinymceOptions" ng-model="gInfo.privacyPolicy.es" required></textarea>
                            </div>
                            <div ng-show="!tabsShowPrivacyPolicyEs.description">
                                <textarea ng-show="!tabsShowPrivacyPolicyEs.description" name="privacyPolicy_en" ui-tinymce="tinymceOptions" ng-model="gInfo.privacyPolicy.en" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button ng-click="savePoliticaPrivacidad()" ng-disabled="!privacyPolicyForm.$valid"
                                class="btn btn-primary">Guardar
                        </button>

                    </div>
                </fieldset>
            </form>
            <form class="form-horizontal" name="politicCookiesForm">
                <fieldset>
                    <legend>Política de Cookies</legend>
                    <div class="control-group"
                         ng-class="{'error':politicCookiesForm.politicCookies_es.$dirty && politicCookiesForm.politicCookies_es.$invalid }">
                        <label class="control-label">Texto</label>

                        <div class="controls">
                            <ul class="nav nav-tabs" style="margin-left: 0px;">
                                <li ng-class="{'active':tabsShowPoliticCookiesEs.description}"><a href="#" ng-click="tabsShowPoliticCookiesEs.description = true"  data-toggle="tab">Español</a></li>
                                <li ng-class="{'active':!tabsShowPoliticCookiesEs.description}"><a href="#" ng-click="tabsShowPoliticCookiesEs.description = false" data-toggle="tab">Inglés</a></li>
                            </ul>
                            <div ng-show="tabsShowPoliticCookiesEs.description">
                                <textarea ui-tinymce="tinymceOptions" ng-model="gInfo.politicCookies.es" required></textarea>
                            </div>
                            <div ng-show="!tabsShowPoliticCookiesEs.description">
                                <textarea ng-show="!tabsShowPoliticCookiesEs.description" name="politicCookies_en" ui-tinymce="tinymceOptions" ng-model="gInfo.politicCookies.en" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button ng-click="savePoliticaCookies()" ng-disabled="!politicCookiesForm.$valid"
                                class="btn btn-primary">Guardar
                        </button>

                    </div>
                </fieldset>
            </form>
            <form class="form-horizontal" name="noticeCookiesForm">
                <fieldset>
                    <legend>Aviso de Cookies</legend>
                    <div class="control-group"
                         ng-class="{'error':noticeCookiesForm.noticeCookies_es.$dirty && noticeCookiesForm.noticeCookies_es.$invalid }">
                        <label class="control-label">Texto</label>

                        <div class="controls">
                            <ul class="nav nav-tabs" style="margin-left: 0px;">
                                <li ng-class="{'active':tabsShowNoticeCookiesEs.description}"><a href="#" ng-click="tabsShowNoticeCookiesEs.description = true"  data-toggle="tab">Español</a></li>
                                <li ng-class="{'active':!tabsShowNoticeCookiesEs.description}"><a href="#" ng-click="tabsShowNoticeCookiesEs.description = false" data-toggle="tab">Inglés</a></li>
                            </ul>
                            <div ng-show="tabsShowNoticeCookiesEs.description">
                                <textarea ui-tinymce="tinymceOptions" ng-model="gInfo.noticeCookies.es" required></textarea>
                            </div>
                            <div ng-show="!tabsShowNoticeCookiesEs.description">
                                <textarea ng-show="!tabsShowNoticeCookiesEs.description" name="noticeCookies_en" ui-tinymce="tinymceOptions" ng-model="gInfo.noticeCookies.en" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button ng-click="saveAvisoCookies()" ng-disabled="!noticeCookiesForm.$valid"
                                class="btn btn-primary">Guardar
                        </button>

                    </div>
                </fieldset>
            </form>
            <form class="form-horizontal" name="copyRightsForm">
                <fieldset>
                    <legend>Copyrights</legend>
                    <div class="control-group"
                         ng-class="{'error':copyRightsForm.copyRights_es.$dirty && copyRightsForm.copyRights_es.$invalid }">
                        <label class="control-label">Texto</label>

                        <div class="controls">
                            <ul class="nav nav-tabs" style="margin-left: 0px;">
                                <li ng-class="{'active':tabsShowCopyRightsEs.description}"><a href="#" ng-click="tabsShowCopyRightsEs.description = true"  data-toggle="tab">Español</a></li>
                                <li ng-class="{'active':!tabsShowCopyRightsEs.description}"><a href="#" ng-click="tabsShowCopyRightsEs.description = false" data-toggle="tab">Inglés</a></li>
                            </ul>
                            <div ng-show="tabsShowCopyRightsEs.description">
                                <textarea  ng-model="gInfo.copyRights.es" class = "span12" required></textarea>
                            </div>
                            <div ng-show="!tabsShowCopyRightsEs.description">
                                    <textarea ng-show="!tabsShowCopyRightsEs.description" class = "span12" name="copyRights_en" ng-model="gInfo.copyRights.en" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button ng-click="saveCopyRights()" ng-disabled="!copyRightsForm.$valid"
                                class="btn btn-primary">Guardar
                        </button>

                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</div>