<div id="content" class="span12">
    <!-- content starts -->
    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-header well" data-original-title>
                <h2><i class="back-icon-contact index-icons"></i> Contactos</h2>

                <div style="float: right;" class=" span3">
                    <form class="navbar-search pull-left span12">
                        <input placeholder="Buscar" class=" span12" name="query" type="text" ng-model="text"
                               ng-change="loadContact()" style="float: left;">
                    </form>
                </div>

            </div>
            <div id="success-edit-alert"></div>
            <div class="box-content form-horizontal" id="div-contacto" style="display: none">
                <fieldset style="margin: 0 auto; width: 550px;">
                    <legend>Datos del Contacto</legend>
                    <div class="control-group">
                        <label class="control-label">Nombre</label>

                        <div class="controls">
                            <span class="input-xxlarge uneditable-input">{{vContact.fullName}}</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">E-mail</label>

                        <div class="controls">
                            <span class="input-xxlarge uneditable-input">{{vContact.email}}</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Ciudad</label>

                        <div class="controls">
                            <span class="input-xxlarge uneditable-input">{{vContact.city}}</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">País</label>

                        <div class="controls">
                            <span class="input-xxlarge uneditable-input">{{vContact.country}}</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Fecha de creación</label>

                        <div class="controls">
                            <span class="input-xxlarge uneditable-input">{{vContact.createDate | date:'dd/MM/yyyy hh:mm:ss'}}</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Mensaje</label>

                        <div class="controls">
                            <textarea class="input-xxlarge" ng-readonly="true" style="height: 150px;">{{vContact.comment}}</textarea>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button ng-click="hideForm()" class="btn" style="margin-left: 90px;">Cerrar</button>
                    </div>
                </fieldset>
            </div>
            <div ng-hide="empty" class="box-content">
                <table class="table table-striped table-condensed">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>E-mail</th>
                        <th>Ciudad</th>
                        <th>País</th>
                        <th>Teléfono</th>
                        <th>Compañía</th>
                        <th>Fecha de creación</th>
                        <th>Estado</th>
                        <!--<th style="width: 65px;">Published</th>-->
                        <th style="width: 120px;">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="list in allContact | filter:q">
                        <td>{{list.fullName}}</td>
                        <td class="center list-news">{{list.email}}</td>
                        <td class="center list-news">{{list.city}}</td>
                        <td class="center list-news">{{list.country}}</td>
                        <td class="center list-news">{{list.tel}}</td>
                        <td class="center list-news">{{list.company}}</td>
                        <td class="center list-news">{{list.createDate | date:'dd/MM/yyyy hh:mm:ss'}}</td>
                        <td>
                            <span class="label label-blue" ng-show="list.reading == true">Leído</span>
                            <span class="label" ng-show="list.reading == false">No leído</span>
                        </td>
                        <td class="center">
                            <a class="btn btn-success actions-buttons" ng-click="viewContact(list)" title="Ver Mensaje">
                                <i class="icon-zoom-in icon-white"></i>
                            </a>
                            <a class="btn btn-danger actions-buttons" data-toggle="modal" href="#deleteModal"
                               ng-click="deleteContact(list)" title="Eliminar contacto">
                                <i class="icon-trash icon-white"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="pagination pagination-centered">
                    <pagination direction-links="false" boundary-links="true"
                                total-items="totalItems" ng-model="currentPage" max-size="maxSize"
                                class="pagination-sm"
                                ng-change="pageChanged()"
                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                last-text="&raquo;"></pagination>
                </div>
            </div>
            <div class="box-content" ng-show="empty">
                <div class="alert alert-block ">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <h4 class="alert-heading">Atención!</h4>

                    <p>No existen elementos para mostrar.</p>
                </div>
            </div>
        </div>
        <!--/span-->

    </div>
    <!--/row-->

    <!-- Modal -->
    <!--<div class="modal fade span4" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"-->
         <!--aria-hidden="true">-->
        <!--<div class="modal-dialog">-->
            <!--<div class="modal-content">-->
                <!--<div class="modal-header">-->
                    <!--<h4 class="modal-title">{{'Filtrar'|uppercase}}</h4>-->
                <!--</div>-->

                <!--<div class="modal-body">-->
                    <!--<div class="control-group">-->
                        <!--<div class="controls span12">-->
                            <!--<div class="span12">-->
                                <!--<div class="span5" style="margin-left: 25px;">-->
                                    <!--<input  placeholder="Buscar" class="span12" type="text">-->
                                <!--</div>-->
                                <!--<div class="span5">-->
                                    <!--<label class="radio">-->
                                        <!--<input type="checkbox" name="optionsRadios"-->
                                               <!--ng-model="price.priceBy" value="person" style="margin-left: 1px;">-->
                                        <!--<strong style="text-align: right">Leído</strong>-->
                                    <!--</label>-->
                                    <!--<br>-->
                                    <!--<label class="radio">-->
                                        <!--<input type="checkbox" name="optionsRadios"-->
                                               <!--ng-model="price.priceBy" value="boat" style="margin-left: 1px;">-->
                                        <!--<strong style="text-align: right">No leído</strong>-->
                                    <!--</label>-->
                                <!--</div>-->
                                <!--<br>-->
                                <!--<datepicker ng-model="dt" title="Fecha de creación"-->
                                            <!--show-weeks="false " ng-change="SelectedDay()"-->
                                            <!--class="my-well well-sm span12"></datepicker>-->
                            <!--</div>-->


                        <!--</div>-->

                    <!--</div>-->
                <!--</div>-->
                <!--<div class="modal-footer">-->
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">No</button>-->
                    <!--<button type="button" class="btn btn-danger" ng-class="{selected: buttonClick == 0}"-->
                            <!--ng-click="dropContact()" data-dismiss="modal">Si-->
                    <!--</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Eliminar contacto</h4>
                </div>

                <div class="modal-body">
                    <label class="control-label">¿Seguro desea eliminar este contacto?</label>
                    <input type="text" class="span6 typeahead" name="id" ng-model="delContact._id"
                           data-provide="typeahead"
                           data-items="4" style="display: none">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-danger" ng-class="{selected: buttonClick == 0}"
                            ng-click="dropContact()" data-dismiss="modal">Si
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

</div>