<div id="content" class="span12">
    <!-- content starts -->
    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-header well" data-original-title>
                <h2><i class="back-icon-ports index-icons"></i> Puertos</h2>

                <h2 ng-click="showForm()" ng-show="openClose" style="float: right;cursor: pointer">
                    <span class="icon icon-add"></span> Crear
                </h2>

                <h2 ng-click="hideForm()" ng-hide="openClose" style="float: right;cursor: pointer">
                    <span class="icon icon-remove"></span> Cerrar
                </h2>

                <div style="float: right; margin-right: 20px;" class="span3">
                    <form class="navbar-search pull-left span12">
                        <input placeholder="Buscar" class="span12" name="query" type="text" ng-model="text"
                               ng-change="loadPorts()" style="float: left;">
                    </form>
                </div>
            </div>

            <div class="box-content">
                <form class="form-horizontal" name="formship" id="form-ship" style="display: none">
                    <fieldset>
                        <legend>Datos del Puerto</legend>
                        <div class="control-group" ng-class="{'error':name.es.length < 1}">
                            <label class="control-label"><span>*</span>Nombre(es)</label>

                            <div class="controls">
                                <input class="form-control" type="text" ng-model="name.es"/>
                            </div>
                        </div>
                        <div class="control-group" ng-class="{'error':name.en.length < 1}">
                            <label class="control-label"><span>*</span>Nombre(en)</label>

                            <div class="controls">
                                <input type="text" ng-model="name.en"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label"><span>*</span>País</label>

                            <div class="controls">
                                <select class="combo-width1" data-rel="chosen" ng-model="country"
                                        ng-change="changeCountry()">
                                    <option ng-repeat="country in countries">{{country.name.es}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label"><span>*</span>Ciudad</label>

                            <div class="controls">
                                <select class="combo-width1" data-rel="chosen" ng-model="city" ng-change="changeCity()">
                                    <option ng-repeat="cit in selectedCountry.cities">{{cit.es}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group"
                             ng-class="{'error':address.es.length < 3 || address.en.length < 3}">
                            <label class="control-label"><span>*</span>Dirección</label>

                            <div class="controls">
                                <ul class="nav nav-tabs" style="margin-left: 0px;">
                                    <li ng-class="{'active':tabsShowEs.address}"><a href="#"
                                                                                    ng-click="tabsShowEs.address = true"
                                                                                    data-toggle="tab">Español</a>
                                    </li>
                                    <li ng-class="{'active':!tabsShowEs.address}"><a href="#"
                                                                                     ng-click="tabsShowEs.address = false"
                                                                                     data-toggle="tab">Inglés</a>
                                    </li>
                                </ul>
                                <div ng-show="tabsShowEs.address">
                                    <textarea ui-tinymce="tinymceOptions" required ng-model="address.es"
                                              required ng-change="Console()"></textarea>
                                </div>
                                <div ng-show="!tabsShowEs.address">
                                    <textarea ui-tinymce="tinymceOptions" required ng-show="!tabsShowEs.address"
                                              name="address_en"
                                              ng-model="address.en" required></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="control-group" ng-class="{'error': !validateNumber(location.x) }">
                            <label class="control-label"><span>*</span>Longitud</label>

                            <div class="controls">
                                <input name="latitud" type="text" ng-model="location.x"/>
                            </div>
                        </div>
                        <div class="control-group" ng-class="{'error': !validateNumber(location.y) }">
                            <label class="control-label"><span>*</span>Latitud</label>

                            <div class="controls">
                                <input name="longitud" type="text" ng-model="location.y"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label"><span>*</span>Imágenes</label>

                            <div class="edit-images">
                                <ul class="thumbnails gallery" ng-show="files.length != 0">
                                    <li class="thumbnail" style="background-color: #fff" ng-repeat="file in files">
                                        <div ng-click="(file.image ? viewImage(file.image):viewImage(file.path))"
                                             style="background:url({{file.image?file.image:file.path}}); background-size: cover;"
                                             class="img-bojeo"></div>
                                        <button type="button" class="close"
                                                ng-click="deletePortImg(file)"
                                                aria-hidden="true">×
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <input ng-disabled="files.length >= cantImage" ng-focus="dismissErrorDiv()" type="file"
                                           ng-model="imgfileUpload"
                                           ng-file-select="onImgSelect($files)"
                                           id="imgFile" multiple>
                                </div>
                                <div class="controls" style="margin-top: 5px;">
                                    <p style="float: left; margin-right: 15px;"><strong>Cantidad: </strong>{{cantImage}}</p>

                                    <p style="float: left; margin-right: 15px;"><strong>Dimensiones: </strong>{{dimensionImage}}</p>

                                    <p style="float: left; margin-right: 15px;"><strong>Formatos: </strong>{{formatImage}}</p>

                                    <p><strong>Resolución: </strong>{{resolucionImage}}</p>
                                </div>
                                <div ng-class="{'alert-field-empty': errorImgUpload == 'Campo vacío'}">
                                    <strong>{{errorImgUpload}}</strong>
                                </div>
                                <div ng-show="error == 'errorType'" class="alert-input-file"
                                     ng-repeat="errorNameImage in erroresNameImage"><strong>Formato incorrecto:
                                    {{errorNameImage}}</strong></div>
                                <div ng-show="error == 'errorExist'" class="alert-input-file"
                                     ng-repeat="errorExistImage in erroresExistImage"><strong>Error: {{errorExistImage}} ya
                                    existe.</strong></div>
                                <div ng-show="validCantImg == 1" class="alert-input-file"><strong>Ha superado el número
                                    máximo({{cantImage}}) de imágenes.</strong></div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button ng-show="semaphore" class="btn btn-primary" ng-click="create()"
                                    ng-disabled="!validateForm() || !validateNumber(location.x) || !validateNumber(location.y) || files[0] == null || files.length != cantImage">Crear
                            </button>
                            <button ng-hide="semaphore" class="btn btn-primary" ng-click="save()"
                                    ng-disabled="!validateForm() || !validateNumber(location.x) || !validateNumber(location.y) || files[0] == null || files.length != cantImage">Guardar
                            </button>
                            <button class="btn" ng-click="hideForm()">Cancelar</button>
                        </div>
                    </fieldset>
                </form>
                <div ng-hide="empty" class="box-content">
                    <table class="table table-striped table-condensed">
                        <thead>
                        <tr>
                            <th style="min-width: 150px;">Nombre</th>
                            <th>Address</th>
                            <th>País</th>
                            <th>Ciudad</th>
                            <th style="min-width: 80px;">Ubicación</th>
                            <th>Estado</th>
                            <th style="min-width: 100px;">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="port in ports">
                            <td>
                                <a ng-href="#/tours/{{port._id}}" ng-show="port.tour.length>0">
                                    <i class="index-icons back-icon-tours" title="Ver link con Tours">
                                    </i>
                                </a>
                                <a ng-href="#/reservations/{{port._id}}" ng-show="port.hasReservation">
                                    <i class="index-icons back-icon-booking" title="Ver link con Reservas"></i>
                                </a>
                                <!--hasReservation-->
                                <i class="index-icons" ng-show="port.tour.length==0"></i>
                                <i class="index-icons" ng-show="!port.hasReservation"></i>
                                {{port.name.es}}
                            </td>
                            <td class="center" ng-bind-html="port.address.es"></td>
                            <td class="center">{{port.country.es}}</td>
                            <td class="center">{{port.city.es}}</td>
                            <td class="center">Lon:
                                <small class="right">{{port.location.x}}</small>
                                <br>Lat:
                                <small class="right">{{port.location.y}}</small>
                            </td>
                            <td class="center list-news">
                                <button ng-show="port.available == true" type="button" class="btn btn-success"
                                        title="Cambiar estado"
                                        ng-click="changeStatus(port)" style="margin-left: 3px;">
                                    <i class="icon icon-white icon-unlocked"></i>
                                </button>
                                <button ng-show="port.available == false" type="button" class="btn btn-danger"
                                        title="Cambiar estado"
                                        ng-click="changeStatus(port)" style="margin-left: 3px;">
                                    <i class="icon-white icon-lock"></i>
                                </button>
                            </td>
                            <td class="center">
                                <button type="button" class="btn btn-info" title="Editar Puerto"
                                        ng-click="edit(port)"><i class="icon-edit icon-white"></i>
                                </button>
                                <button type="button" class="btn btn-danger" title="{{port.hasReservation?'El Puerto presenta reservaciones':'Eliminar Puerto'}}"
                                        data-toggle="modal"
                                        href="#deleteModal"
                                        ng-click="showDeleteModal(port)"
                                        ng-disabled="port.available || port.hasReservation"><i class="icon-trash icon-white"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="pagination pagination-centered">
                        <pagination direction-links="false" boundary-links="true"
                                    total-items="totalItems" ng-model="currentPage" max-size="maxSize"
                                    class="pagination-sm"
                                    ng-change="pageChanged()"
                                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                    last-text="&raquo;"></pagination>
                    </div>
                </div>
                <div ng-show="empty">
                    <div class="alert alert-block ">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <h4 class="alert-heading">Atención!</h4>

                        <p>No existen elementos para mostrar.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--/span-->
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Eliminar Puerto</h4>
            </div>

            <div class="modal-body">
                <label ng-show="deleteTours.length > 1" class="control-label">Si elimina el puerto se eliminarán los siguientes elementos:</label>
                <label ng-show="deleteTours.length == 1" class="control-label">Si elimina el puerto se eliminará el siguiente elemento:</label>
                <!--<label ng-show="deleteTours.length != 0" class="control-label" ng-repeat="tour in deleteTours">Tour: {{deleteItem.group.name.es+" - "+deleteItem.name.es}} + <span ng-repeat="service in pack.services">{{($last?service.name.es:service.name.es+", ")}}</span></label>-->
                <label class="control-label" ng-repeat="tour in deleteTours"><strong>Tour:</strong> {{tour.group.name.es+" - "+tour.name.es}}</label>
                <span class="control-label"  ng-repeat="tour in deleteTours"><label ng-show="tour.packs.length > 0" ng-repeat="pack in tour.packs"><strong>Paquete:</strong> {{tour.group.name.es+" - "+tour.name.es}} + <span ng-repeat="service in pack.services">{{($last?service.name.es:service.name.es+", ")}}</span></label></span>
                <br ng-show="deleteTours.length != 0">
                <label class="control-label">¿Seguro desea eliminar este puerto?</label>
                <input type="text" class="span6 typeahead" name="id" ng-model="delNews._id" data-provide="typeahead"
                       data-items="4" style="display: none">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" ng-class="{selected: buttonClick == 0}"
                        ng-click="delete()" data-dismiss="modal">Si
                </button>
            </div>
        </div>
    </div>
</div>

<!--Change Status Modal-->
<div class="modal hide fade" id="changeStatusModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">
                    <a class="label" style="cursor: default; padding: 8px 8px 10px; margin-right: 10px;"
                       ng-class="{'btn-danger': changeStatusItem.available == true}">
                        <i ng-show="changeStatusItem.available == true" class="icon-white icon-lock" style="margin-left: 2px;"></i>
                        <i ng-show="changeStatusItem.available == false" class="icon icon-white icon-unlocked" style="margin-left: 2px;"></i>
                    </a>
                    Alerta de cambio de estado
                </h3>
            </div>

            <div class="modal-body">
                <label ng-show="associationTours.length != 0" class="control-label"><strong>Se desactivaran los siguientes elementos:</strong></label>
                <label class="control-label" ng-repeat="tour in associationTours"><strong>Tour:</strong> {{tour.group.name.es+" - "+tour.name.es}}</label>
                <span class="control-label"  ng-repeat="tour in associationTours"><label ng-show="tour.packs.length > 0" ng-repeat="pack in tour.packs"><strong>Paquete:</strong> {{tour.group.name.es+" - "+tour.name.es}} + <span ng-repeat="service in pack.services">{{($last?service.name.es:service.name.es+", ")}}</span></label></span>
                <input type="text" class="span6 typeahead" name="id" ng-model="changeStatusItem._id"
                       data-provide="typeahead"
                       data-items="4" style="display: none">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" ng-class="{selected: buttonClick == 0}"
                        ng-click="changeStatusNow(changeStatusItem)" data-dismiss="modal">Si
                </button>
            </div>
        </div>
    </div>
</div>


