<div id="content" class="span12">
    <!-- content starts -->
    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-header well" data-original-title>
                <h2><i class="back-icon-news index-icons"></i> Noticias</h2>

                <h2 ng-click="showForm()" ng-show="openClose" style="float: right;cursor: pointer">
                    <span class="icon icon-add"></span> Crear
                </h2>

                <h2 ng-click="hideForm()" ng-hide="openClose" style="float: right;cursor: pointer">
                    <span class="icon icon-remove"></span> Cerrar
                </h2>
                <div style="float: right;margin-right: 20px" class=" span3">
                    <form class="navbar-search pull-left span12">
                        <input placeholder="Buscar" class=" span12" name="query" type="text" ng-model="text"
                               ng-change="loadNews()" style="float: left;">
                    </form>
                </div>

            </div>
            <div class="box-content">
                <form class="form-horizontal" name="formnew" id="form-new" style="display: none">
                    <fieldset>
                        <legend>Datos de la Noticia</legend>
                        <div class="control-group">
                            <label class="control-label"><span>*</span>Título</label>

                            <div class="controls">
                                <input ng-focus="dismissErrorDiv()" class="input-xlarge focused" type="text"
                                       ng-model="title_es" placeholder="Título (es)" required>
                                <input ng-focus="dismissErrorDiv()" class="input-xlarge focused" type="text"
                                       ng-model="title_en" placeholder="Título (en)" required>
                            </div>
                            <div ng-class="{'alert-field-empty': errorTitle == 'Campo vacío'}">
                                <strong>{{errorTitle}}</strong></div>
                        </div>
                        <div class="control-group"
                             ng-class="{'error':formnew.introduction_es.$dirty && formnew.introduction_es.$invalid || formnew.introduction_en.$dirty && formnew.introduction_en.$invalid}">
                            <label class="control-label"><span>*</span>Introducción</label>

                            <div class="controls">
                                <ul class="nav nav-tabs" style="margin-left: 0px;">
                                    <li ng-class="{'active':tabsShowEs.description}"><a href="#"
                                                                                        ng-click="tabsShowEs.description = true"
                                                                                        data-toggle="tab">Español</a>
                                    </li>
                                    <li ng-class="{'active':!tabsShowEs.description}"><a href="#"
                                                                                         ng-click="tabsShowEs.description = false"
                                                                                         data-toggle="tab">Inglés</a>
                                    </li>
                                </ul>
                                <div ng-show="tabsShowEs.description">
                                    <textarea ui-tinymce="tinymceOptions" ng-model="introduction_es" name="introduction_es"
                                              required></textarea>

                                    <div ng-class="{'alert-field-empty': errorIntroduction == 'Campo vacío'}"><strong>{{errorIntroduction}}</strong>
                                    </div>
                                </div>
                                <div ng-show="!tabsShowEs.description">
                                    <textarea ng-show="!tabsShowEs.description" name="introduction_en" ui-tinymce="tinymceOptions"
                                              ng-model="introduction_en" required></textarea>

                                    <div ng-class="{'alert-field-empty': errorIntroduction_en == 'Campo vacío'}">
                                        <strong>{{errorIntroduction_en}}</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="control-group"
                             ng-class="{'error':formnew.body_es.$dirty && formnew.body_es.$invalid || formnew.body_en.$dirty && formnew.body_en.$invalid}">
                            <label class="control-label"><span>*</span>Cuerpo</label>

                            <div class="controls">
                                <ul class="nav nav-tabs" style="margin-left: 0px;">
                                    <li ng-class="{'active':tabsShowBodyEs.description}"><a href="#"
                                                                                            ng-click="tabsShowBodyEs.description = true"
                                                                                            data-toggle="tab">Español</a>
                                    </li>
                                    <li ng-class="{'active':!tabsShowBodyEs.description}"><a href="#"
                                                                                             ng-click="tabsShowBodyEs.description = false"
                                                                                             data-toggle="tab">Inglés</a>
                                    </li>
                                </ul>
                                <div ng-show="tabsShowBodyEs.description">
                                    <textarea ui-tinymce="tinymceOptions" ng-model="body_es" name="body_es" required></textarea>

                                    <div ng-class="{'alert-field-empty': errorBody == 'Campo vacío'}">
                                        <strong>{{errorBody}}</strong></div>
                                </div>
                                <div ng-show="!tabsShowBodyEs.description">
                                    <textarea ng-show="!tabsShowBodyEs.description" name="body_en" ui-tinymce="tinymceOptions"
                                              ng-model="body_en" required></textarea>

                                    <div ng-class="{'alert-field-empty': errorBody_en == 'Campo vacío'}">
                                        <strong>{{errorBody_en}}</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Autor original</label>

                            <div class="controls">
                                <input ng-focus="dismissErrorDiv()" class="input-xlarge focused" type="text"
                                       ng-model="originalAutor">
                            </div>
                            <div ng-class="{'alert-field-empty': errorTitle == 'Campo vacío'}">
                                <strong>{{errorTitle}}</strong></div>
                        </div>
                        <div class="control-group"
                             ng-class="{'error':formnew.urlVideo.$dirty && formnew.urlVideo.$invalid }">
                            <label class="control-label">Url del video</label>

                            <div class="controls">
                                <input ng-focus="dismissErrorDiv()" class="input-xlarge focused" name="urlVideo"
                                       type="url"
                                       ng-model="video">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label"><span>*</span>Imagen</label>
                            <ul class="thumbnails gallery" ng-show="image != null">
                                <li class="thumbnail">
                                    <a title="{{image.name}}"
                                       href="{{image.path}}" class="cboxElement">
                                        <img src="{{image.path}}" alt="{{image.name}}"
                                             style="display: block;">
                                    </a>
                                    <button type="button" class="close" ng-click="deleteNewsImg(image.name)"
                                            aria-hidden="true">×
                                    </button>
                                </li>
                            </ul>
                            <div class="controls">
                                <input ng-focus="dismissErrorDiv()" ng-disabled="image != null" type="file"
                                       ng-model="imgfileUpload"
                                       ng-file-select="onImgSelect($files)"
                                       class="ng-pristine ng-valid" id="imgFile">
                            </div>
                            <div class="controls" style="margin-top: 5px;">
                                <p style="float: left; margin-right: 15px;"><strong>Cantidad: </strong>{{cantImage}}</p>

                                <p style="float: left; margin-right: 15px;"><strong>Dimensiones: </strong>{{dimensionImage}}
                                </p>

                                <p style="float: left; margin-right: 15px;"><strong>Formatos: </strong>{{formatImage}}
                                </p>

                                <p><strong>Resolución: </strong>{{resolucionImage}}</p>
                            </div>
                            <div ng-class="{'alert-field-empty': errorImgUpload == 'Campo vacío'}">
                                <strong>{{errorImgUpload}}</strong>
                            </div>
                            <div ng-show="error == 'errorType'" class="alert-input-file"
                                 ng-repeat="errorNameImage in erroresNameImage"><strong>Formato incorrecto:
                                {{errorNameImage}}</strong></div>
                            <div ng-show="validCantImg == 1" class="alert-input-file"><strong>Ha superado el número
                                máximo({{cantImage}}) de imágenes.</strong></div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Documento:</label>
                            <ul class="thumbnails gallery" ng-show="doc != null">
                                <li class="thumbnail">
                                    <a style="background:url({{doc.path}})"
                                       href="{{doc.path}}" class="cboxElement">
                                        <label>Document</label>
                                    </a>
                                    <button type="button" class="close" ng-click="deleteNewsDoc(doc.name)"
                                            aria-hidden="true">×
                                    </button>
                                </li>
                            </ul>
                            <div class="controls">
                                <input ng-focus="dismissErrorDiv()" type="file" ng-model="imgfileUpload1"
                                       ng-file-select="onDocSelect($files)" ng-disabled="doc != null"
                                       class="ng-pristine ng-valid" id="docFile">
                            </div>
                            <div class="controls" style="margin-top: 5px;">
                                <p style="float: left; margin-right: 15px;"><strong>Cantidad: </strong>{{cantDoc}}</p>

                                <p style="float: left; margin-right: 15px;"><strong>Formatos: </strong>{{formatDoc}}</p>

                            </div>
                            <div ng-class="{'alert-field-empty': errorDocUpload == 'Campo vacío'}">
                                <strong>{{errorDocUpload}}</strong>
                            </div>
                            <div style="clear: both" ng-show="error == 'errorTypeDoc'" class="alert-input-file"
                                 ng-repeat="errorNameDoc in erroresNameDoc"><strong>Formato incorrecto:
                                {{errorNameDoc}}</strong></div>
                            <div ng-show="validCantDoc == 1" class="alert-input-file"><strong>Ha superado el número
                                máximo({{cantDoc}}) de imágenes.</strong></div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Pie de imagen</label>

                            <div class="controls">
                                <input ng-focus="dismissErrorDiv()" class="input-xlarge focused" type="text"
                                       ng-model="imageFooter_es" placeholder="Pie de imagen (es)">
                                <input ng-focus="dismissErrorDiv()" class="input-xlarge focused" type="text"
                                       ng-model="imageFooter_en" placeholder="Pie de imagen (en)">
                            </div>
                            <div ng-class="{'alert-field-empty': errorTitle == 'Campo vacío'}">
                                <strong>{{errorTitle}}</strong></div>
                        </div>
                        <div id="success-create-alert"></div>
                        <div class="form-actions">
                            <button ng-show="semaphore" ng-disabled="!formnew.$valid || files[0] == null"
                                    ng-click="createNew()"
                                    class="btn btn-primary">Crear
                            </button>
                            <button ng-hide="semaphore" ng-disabled="!formnew.$valid || files[0] == null"
                                    class="btn btn-primary"
                                    ng-click="sendNews()">Guardar
                            </button>
                            <button class="btn" ng-click="hideForm()">Cancelar</button>
                        </div>
                    </fieldset>
                </form>
                <div id="success-edit-alert"></div>
                <div class="box-content" ng-hide="empty">
                    <table class="table table-striped table-condensed">
                        <thead>
                        <tr>
                            <th>Título</th>
                            <th>Editor</th>
                            <th>Autor original</th>
                            <th>Fecha de creación</th>
                            <th>Publicado</th>
                            <!--<th style="width: 65px;">Published</th>-->
                            <th style="width: 120px;">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="list in news | filter:q">

                            <td>{{list.title.es}}</td>
                            <td class="center list-news">{{list.autor}}</td>
                            <td class="center list-news" ng-show="list.originalAutor != 'null'">{{list.originalAutor}}</td>
                            <td class="center list-news" ng-show="list.originalAutor == 'null'"></td>
                            <td class="center list-news">{{list.createDate | date:'dd/MM/yyyy hh:mm:ss'}}</td>
                            <td class="center list-news">
                                <button ng-show="list.status == true" type="button" class="btn btn-success"
                                        title="No publicar"
                                        ng-click="changeStatus(list._id, false)" style="margin-left: 10px;">
                                    <i class="icon-ok icon-white"></i>
                                </button>
                                <button ng-show="list.status == false" type="button" class="btn btn-danger"
                                        title="Publicar"
                                        ng-click="changeStatus(list._id, true)" style="margin-left: 10px;">
                                    <i class=" icon-white icon-lock"></i>
                                </button>
                            </td>
                            <td class="center">
                                <a class="btn btn-info actions-buttons" title="Editar Noticia"
                                   ng-click="showEditNews(list)">
                                    <i class="icon-edit icon-white"></i>
                                </a>
                                <a class="btn btn-danger actions-buttons" data-toggle="modal" href="#deleteModal"
                                   ng-click="deleteNews(list)" title="Eliminar Noticia">
                                    <i class="icon-trash icon-white"></i>
                                </a>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                    <div class="pagination pagination-centered">
                        <pagination direction-links="false" boundary-links="true"
                                    total-items="totalItems" ng-model="currentPage" max-size="maxSize"
                                    class="pagination-sm"
                                    ng-change="pageChanged()"
                                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                    last-text="&raquo;"></pagination>
                    </div>
                </div>
                <div class="box-content" ng-show="empty">
                    <div class="alert alert-block ">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <h4 class="alert-heading">Atención!</h4>

                        <p>No existen elementos para mostrar.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Eliminar noticia</h4>
                </div>
                <div class="modal-body">
                    <label class="control-label">¿Seguro desea eliminar esta noticia?</label>
                    <input type="text" class="span6 typeahead" name="id" ng-model="delNews._id" data-provide="typeahead"
                           data-items="4" style="display: none">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-danger" ng-class="{selected: buttonClick == 0}"
                            ng-click="dropNews()" data-dismiss="modal">Si
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>