    <div id="content" class="span12">
    <!-- content starts -->

    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-header well" data-original-title>
                <h2><i class="icon-edit"></i> Adicionar Noticia</h2>
            </div>
            <div class="box-content">
                <form class="form-horizontal">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label">T&iacute;tulo:</label>
                            <div class="controls">
                                <input ng-focus="dismissErrorDiv()" class="input-xlarge focused" type="text" ng-model="title_es">
                                <input ng-focus="dismissErrorDiv()" class="input-xlarge focused" type="text" ng-model="title_en" placeholder="Mismo texto en Ingl&eacute;s">
                            </div>
                            <div ng-class="{'alert-field-empty': errorTitle == 'Campo vacío'}"><strong>{{errorTitle}}</strong></div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Introducci&oacute;n:</label>
                            <div class="controls">
                                <textarea ng-focus="dismissErrorDiv()" ui-tinymce="tinymceOptions" ng-model="introduction_es"></textarea>
                            </div>
                            <div ng-class="{'alert-field-empty': errorIntroduction == 'Campo vacío'}"><strong>{{errorIntroduction}}</strong></div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Introducci&oacute;n(Ingl&eacute;s):</label>
                            <div class="controls">
                                <textarea ng-focus="dismissErrorDiv()" ui-tinymce="tinymceOptions" ng-model="introduction_en"></textarea>
                            </div>
                            <div ng-class="{'alert-field-empty': errorIntroduction_en == 'Campo vacío'}"><strong>{{errorIntroduction_en}}</strong></div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Cuerpo:</label>
                            <div class="controls">
                                <textarea ui-tinymce="tinymceOptions" ng-model="body_es" ng-focus="dismissErrorDiv()"></textarea>
                            </div>
                            <div ng-class="{'alert-field-empty': errorBody == 'Campo vacío'}"><strong>{{errorBody}}</strong></div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Cuerpo(Ingl&eacute;s):</label>
                            <div class="controls">
                                <textarea ui-tinymce="tinymceOptions" ng-model="body_en" ng-focus="dismissErrorDiv()"></textarea>
                            </div>
                            <div ng-class="{'alert-field-empty': errorBody_en == 'Campo vacío'}"><strong>{{errorBody_en}}</strong></div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Autor original:</label>
                            <div class="controls">
                                <input ng-focus="dismissErrorDiv()" class="input-xlarge focused" type="text" ng-model="originalAutor">
                            </div>
                            <div ng-class="{'alert-field-empty': errorTitle == 'Campo vacío'}"><strong>{{errorTitle}}</strong></div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Url del video:</label>
                            <div class="controls">
                                <input ng-focus="dismissErrorDiv()" class="input-xlarge focused" name="urlVideo"  type="url" ng-model="video">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Im&aacute;genes:</label>
                            <div class="controls">
                                <input ng-focus="dismissErrorDiv()" type="file" ng-model="imgfileUpload" ng-file-select="onImgSelect($files)"
                                       class="ng-pristine ng-valid" id="imgFile">
                            </div>
                            <div ng-class="{'alert-field-empty': errorImgUpload == 'Campo vacío'}"><strong>{{errorImgUpload}}</strong></div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Documentos:</label>
                            <div class="controls">
                                <input ng-focus="dismissErrorDiv()" type="file" ng-model="imgfileUpload1" ng-file-select="onDocSelect($files)"
                                       class="ng-pristine ng-valid" id="docFile">
                            </div>
                            <div ng-class="{'alert-field-empty': errorDocUpload == 'Campo vacío'}"><strong>{{errorDocUpload}}</strong></div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Pie de imagen:</label>
                            <div class="controls">
                                <input ng-focus="dismissErrorDiv()" class="input-xlarge focused" type="text" ng-model="imageFooter_es">
                                <input ng-focus="dismissErrorDiv()" class="input-xlarge focused" type="text" ng-model="imageFooter_en" placeholder="Mismo texto en Ingl&eacute;s">
                            </div>
                            <div ng-class="{'alert-field-empty': errorTitle == 'Campo vacío'}"><strong>{{errorTitle}}</strong></div>
                        </div>
                        <div id="success-create-alert"></div>
                        <div class="form-actions">
                            <button ng-click="createNew()" class="btn btn-primary">Crear</button>
                            <button class="btn" ng-click="closeModal()">Cancelar</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <!--/span-->

    </div>

</div><!--/row-->