<div id="content" class="span12">
    <!-- content starts -->
    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-header well" data-original-title>
                <h2><i class="back-icon-packs index-icons"></i> Paquetes</h2>

                <h2 ng-click="showForm()" ng-show="openClose" style="float: right;cursor: pointer">
                    <span class="icon icon-add"></span> Crear
                </h2>

                <h2 ng-click="hideForm()" ng-hide="openClose" style="float: right;cursor: pointer">
                    <span class="icon icon-remove"></span> Cerrar
                </h2>
            </div>
            <div class="box-content">
                <form class="form-horizontal" role="form" name="packageForm" id="form-package" style="display: none">
                    <fieldset ng-hide="editPackage">
                        <legend>Datos del Puerto</legend>
                        <div class="control-group">
                            <label class="col-lg-4 col-md-4 control-label"><span>*</span>País</label>

                            <div class="col-lg-8 col-md-8 controls">
                                <select class="combo-width" data-rel="chosen" ng-model="country"
                                        ng-change="changeCountry()">
                                    <option ng-repeat="country in countries">{{country.name.es}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="col-lg-4 col-md-4 control-label"><span>*</span>Ciudad</label>

                            <div class="col-lg-8 col-md-8 controls">
                                <select class="combo-width" data-rel="chosen" ng-model="city" ng-change="changeCity()">
                                    <option ng-repeat="cities in cities">{{cities.es}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="col-lg-4 col-md-4 control-label"><span>*</span>Puerto</label>

                            <div class="col-lg-8 col-md-8 controls">
                                <select class="combo-width" data-rel="chosen" ng-model="namePort"
                                        ng-change="changePort()">
                                    <option ng-repeat="port in allPorts">{{port.name.es}}</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset ng-hide="editPackage">
                        <legend>Datos del Tour</legend>
                        <div class="control-group">
                            <label class="col-lg-4 col-md-4 control-label"><span>*</span>Categoría de Tour</label>

                            <div class="col-lg-8 col-md-8 controls">
                                <select class="combo-width" ng-model="groupSelected"
                                        ng-options="g.name.es for g in groups"
                                        ng-value="group._id" ng-selected="groupSelected==group._id"
                                        ng-change="selectedGroup()">
                                </select>
                            </div>
                        </div>
                        <div class="control-group"
                             ng-class="{'error':packageForm.tour.$dirty && packageForm.tour.$invalid }">
                            <label class="control-label"><span>*</span>Tour</label>

                            <div class="controls">
                                <div class="input-append">
                                    <input class="input-xlarge " type="text" ng-model="tourDescription" name="tour"
                                           required
                                           disabled>
                                    <button class="btn btn-primary" type="button" title="Adicionar tour"
                                            data-toggle="modal"
                                            href="#addTour" ng-click="listTours()"><i class="icon-plus icon-white"></i>
                                    </button>
                                </div>
                                <div ng-class="{'alert-field-empty': errorTourDescription == 'Campo vacío'}"><strong>{{errorTourDescription}}</strong>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset ng-show="editPackage">
                        <legend>Datos del Tour</legend>
                        <div class="control-group">
                            <label class="col-lg-4 col-md-4 control-label">Categoría de Tour</label>

                            <div class="col-lg-8 col-md-8 controls">
                                <input class="input-xlarge" type="text" ng-model="inputCategoriaTour"
                                       name="inputCategoriaTour"
                                       disabled>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="col-lg-4 col-md-4 control-label">Tour</label>

                            <div class="col-lg-8 col-md-8 controls">
                                <input class="input-xlarge" type="text" ng-model="tourDescription" name="tour" disabled>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset ng-show="tourDescription != ''">
                        <legend>Listado de Servicios</legend>
                        <div ng-hide="emptyService">
                            <div class="input-group input-group-sm search-user" style="margin-bottom: 10px;">
                                <input ng-change="loadServicesAvailable(arrayServices)" ng-model="wordSearchS"
                                       type="text" name="q"
                                       class="form-control  ng-valid ng-dirty" placeholder="Buscar por nombre y tipo">
                            </div>
                            <table class="table  table-condensed">
                                <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Tipo</th>
                                    <th>Precio</th>
                                    <th>Empresa</th>
                                    <th>Representante</th>
                                    <th style="width: 120px;">Acción</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="list in services">
                                    <td>{{list.name.es}}</td>
                                    <td>
                                        <span class="label label-blue" ng-show="list.type == 'tourist'">Turístico</span>
                                        <span class="label label-blue"
                                              ng-show="list.type == 'gastronomic'">Gastronómico</span>
                                        <span class="label label-blue"
                                              ng-show="list.type == 'adventurer'">Aventura</span>
                                    </td>
                                    <td class="center">{{list.price| number:2}}</td>
                                    <td class="center">{{list.enterprise.name}}</td>
                                    <td class="center">{{list.owner.email}}</td>
                                    <td class="center" style="cursor: pointer">
                                    <span ng-show="list.active" class="label label-success"
                                          ng-click="delServ(list)">Asignado</span>
                                    <span ng-show="!list.active" class="label label-important"
                                          ng-click="addServ(list)">No asignado</span>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                            <div class="pagination pagination-centered">
                                <pagination direction-links="false" boundary-links="true"
                                            total-items="totalItemsS" ng-model="currentPageS" max-size="maxSizeS"
                                            class="pagination-sm"
                                            ng-change="pageChangedS()"
                                            previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                            last-text="&raquo;"></pagination>
                            </div>
                        </div>
                        <div class="box-content" ng-show="emptyService">
                            <div class="alert alert-block ">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                <h4 class="alert-heading">Atención!</h4>

                                <p>No existen elementos para mostrar.</p>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Datos del Paquete</legend>
                        <div class="control-group">
                            <label class="control-label"><span>*</span>Color</label>

                            <div ng-click="changeColor($index)" class="color-bojeo span1" ng-repeat="col in colors"
                                 style="background-color:{{col}}" ng-class="{'select':col==color} "></div>
                        </div>
                    </fieldset>
                    <div class="form-actions" style="clear: both;">
                        <button ng-show="semaphore" ng-click="createPackage()"
                                ng-disabled="!packageForm.$valid || arrayServices.length == 0" class="btn btn-primary">
                            Crear
                        </button>
                        <button ng-hide="semaphore" ng-click="savePackage()"
                                ng-disabled="!packageForm.$valid || arrayServices.length == 0" class="btn btn-primary">
                            Guardar
                        </button>
                        <button class="btn" type="button" ng-click="hideForm()">Cancelar</button>
                    </div>

                </form>
                <div class="box-content" ng-hide="empty">
                    <a ng-show="reload" class="btn btn-primary " ng-href="#/packages"><i
                                class="icon-refresh icon-white"></i> Mostrar Todos</a>
                    <table class="table table-striped table-condensed">
                        <thead>
                        <tr>
                            <th>Nombre del Tour</th>
                            <th>Nombre del Servicio</th>
                            <th>Color</th>
                            <th>Estado</th>
                            <th style="width: 120px;">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="pack in allPackages">
                            <td>
                                <a ng-href="#/reservations/{{pack._id}}" ng-show="pack.reservation">
                                    <i style="margin-right: 5px" class="index-icons back-icon-booking"
                                       title="Ver link con Reservas"></i>
                                </a>
                                <i class="index-icons" ng-show="pack.reservation == null"
                                   style="margin-right: 5px"></i>
                                {{pack.tour.nameGroup.es+" - "+pack.tour.name.es}}
                            </td>
                            <td class="center"><span ng-repeat="service in pack.services">{{($last?service.nameService.es:service.nameService.es+", ")}}</span>
                            </td>
                            <td class="center">
                                <div style=" width: 25px;height: 25px;margin: 0px 0px 0px 5px; background-color:{{pack.color}} "></div>
                            </td>
                            <td class="center list-news">
                                <button ng-show="pack.status == true" type="button" class="btn btn-success"
                                        title="Cambiar estado"
                                        ng-click="changeStatus(pack, 0)" style="margin-left: 3px;">
                                    <i class="icon icon-white icon-unlocked"></i>
                                </button>
                                <button ng-show="pack.status == false" type="button" class="btn btn-danger"
                                        title="Cambiar estado"
                                        ng-click="changeStatus(pack, 0)" style="margin-left: 3px;">
                                    <i class="icon-white icon-lock"></i>
                                </button>
                            </td>
                            <td class="center">
                                <button type="button" class="btn btn-info" title="Editar Paquete"
                                        ng-click="showEditPackage(pack)"><i class="icon-edit icon-white"></i>
                                </button>
                                <button type="button" class="btn btn-danger" title="Eliminar Paquete"
                                        data-toggle="modal"
                                        href="#deleteModal"
                                        ng-click="deletePackage(pack)"
                                        ng-disabled="pack.status ||pack.reservation"><i
                                            class="icon-trash icon-white"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="pagination pagination-centered">
                        <pagination direction-links="false" boundary-links="true"
                                    total-items="totalItems" ng-model="currentPage" max-size="maxSize"
                                    class="pagination-sm"
                                    ng-change="pageChanged()"
                                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                    last-text="&raquo;"></pagination>
                    </div>
                </div>
                <div class="box-content" ng-show="empty">
                    <div class="alert alert-block ">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <h4 class="alert-heading">Atención!</h4>

                        <p>No existen elementos para mostrar.</p>
                    </div>
                </div>
            </div>

        </div>
        <!-- Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Eliminar paquete</h4>
                    </div>

                    <div class="modal-body">
                        <label class="control-label">¿Seguro desea eliminar este paquete?</label>
                        <input type="text" class="span6 typeahead" name="id" ng-model="delPackage._id"
                               data-provide="typeahead"
                               data-items="4" style="display: none">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                        <button type="button" class="btn btn-danger" ng-class="{selected: buttonClick == 0}"
                                ng-click="dropPackage()" data-dismiss="modal">Si
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal del addTour -->
        <div class="modal fade" id="addTour" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Adicionar Tour</h4>
                    </div>

                    <div class="modal-body" ng-hide="emptyTour">
                        <!--<div class="box-content">-->
                        <div class="input-group input-group-sm search-user">
                            <input ng-change="listTours()" ng-model="wordSearchT" type="text" name="q"
                                   class="form-control  ng-valid ng-dirty" placeholder="Buscar por nombre">
                        </div>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Nombre (es)</th>
                                <th>Método de pago</th>
                                <th>Duración</th>
                                <th>Capacidad</th>
                                <th>Precio (€)</th>
                                <th>Estado</th>
                                <th>Asignar</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="tour in tours">
                                <td class="">{{tour.name.es}}</td>
                                <td class="center">{{tour.price.payform == 'bonds'?'bonos':'moneda'}}</td>
                                <td class="center" ng-show="tour.hours.type=='agree'">A convenir</td>
                                <td class="center" ng-show="tour.hours.type=='hours'">{{tour.hours.duration}} horas</td>
                                <td class="center" ng-show="tour.hours.type=='day'">2-{{tour.price.price.length+1}}
                                    días
                                </td>
                                <td class="center">{{tour.maxPerson}} personas</td>
                                <td class="center" ng-hide="tour.hours.type=='day'||tour.price.payform == 'bonds'">
                                    {{tour.price.price| number:2}}
                                </td>
                                <td class="center" ng-show="tour.hours.type=='day'">Desde {{tour.price.price[0]}}</td>
                                <td class="center" ng-show="tour.price.payform == 'bonds'">Horas X Bonos</td>
                                <td class="center">
                                    <span class="label label-blue" ng-show="tour.available == true">Activo</span>
                                    <span class="label label-blue" ng-show="tour.available == false">Inactivo</span>
                                </td>
                                <td class="center">
                                    <i style="cursor: pointer; margin-left: 4px" class="icon-plus"
                                       ng-click="addTour(tour)"
                                       data-dismiss="modal"></i>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="pagination pagination-centered">
                            <pagination direction-links="false" boundary-links="true"
                                        total-items="totalItemsT" ng-model="currentPageT" max-size="maxSizeT"
                                        class="pagination-sm"
                                        ng-change="pageChangedT()"
                                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                        last-text="&raquo;"></pagination>
                        </div>
                    </div>
                    <div class="box-content" ng-show="emptyTour">
                        <div class="alert alert-block ">
                            <!--<button type="button" class="close" data-dismiss="alert">×</button>-->
                            <h4 class="alert-heading">Atención!</h4>

                            <p>No existen elementos para mostrar.</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
        <!--Change Status Modal-->
        <div class="modal hide fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">
                            <a class="label btn-success"
                               style="cursor: default; padding: 8px 8px 10px; margin-right: 10px;"
                               ng-class="{'btn-danger': changeStatusItem.status == true}">
                                <i ng-show="changeStatusItem.status == true" class="icon icon-white icon-lock"
                                   style="margin-left: 2px;"></i>
                                <i ng-show="changeStatusItem.status == false" class="icon icon-white icon-unlocked"
                                   style="margin-left: 2px;"></i>
                            </a>
                            Alerta de cambio de estado
                        </h3>
                    </div>

                    <div class="modal-body">
                        <label class="control-label">Si se activa el paquete, se activarán los siguientes
                            elementos:</label>
                        <label class="control-label" ng-show="port"> <strong>Puerto</strong>: {{port.name.es}}</label>
                        <label class="control-label" ng-show="tour"><strong>Tour</strong>:
                            {{changeStatusItem.tour.nameGroup.es+" - "+tour.name.es}}</label>
                        <label class="control-label" ng-repeat="service in services"><strong>Servicio</strong>:
                            {{service.name.es}}</label>

                        <label class="control-label" ng-repeat="user in users"><strong>Usuario</strong>:
                            {{user.name}}</label>
                        <label class="control-label" ng-repeat="enterprise in enterprises"><strong>Empresa</strong>:
                            {{enterprise.name.es}}</label>

                        <input type="text" class="span6 typeahead" name="id" ng-model="changeStatusItem._id"
                               data-provide="typeahead"
                               data-items="4" style="display: none">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn " data-dismiss="modal">No</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"
                                ng-click="changeStatus(selectedPack, 1)">Si
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</div><!--/row-->