<div id="content" class="span12">
    <!-- content starts -->
    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-header well" data-original-title>
                <h2><i class="back-icon-booking index-icons"></i> Reservas</h2>

                <div class="reservation-state success">Reservada</div>
                <div class="reservation-state warning">Realizada</div>
                <div ng-show="!reload" style="float: right;" class=" span3">
                    <form class="navbar-search pull-left span12">
                        <input placeholder="Buscar" class=" span12" name="query" type="text" ng-model="text"
                               ng-change="loadReservations()" style="float: left;">
                    </form>
                </div>
            </div>
            <div class="box-content">
                <div class="box-content" ng-hide="empty">
                    <a ng-show="reload" class="btn btn-primary " ng-href="#/reservations"><i
                                class="icon-refresh icon-white"></i> Mostrar Todos</a>
                    <table class="table table-striped table-condensed">
                        <thead>
                        <tr role="row">
                            <th>Fecha</th>
                            <th>Cliente</th>
                            <th>Tipo de Tour</th>
                            <th>Puerto</th>
                            <th>Embarcación</th>
                            <th>Salida</th>
                            <th>Plazas</th>
                            <th>Importe total(€)</th>
                            <th>Cancelar</th>

                        </tr>

                        </thead>
                        <tbody>
                        <tr ng-repeat="rest in reservations | orderBy: '-date'"
                            ng-class="{'success': rest.reservation.state == 'booked','warning': rest.reservation.state == 'done'}">
                            <td>{{rest.reservation.start|date : 'dd/MM/yyyy'}}</td>
                            <td>{{rest.user.email}}</td>
                            <td>
                                <div style=" border-bottom: 2px solid {{rest.reservation.tour.group.color}}">
                                    {{rest.reservation.tour.group.name.es }} - {{
                                    rest.reservation.tour.name.es}}
                                </div>
                            </td>
                            <td>{{rest.reservation.tour.port.name.es}}</td>
                            <td>{{rest.reservation.ship.name.es ? rest.reservation.ship.name.es :
                                rest.reservation.ship.name}}
                            </td>
                            <td>{{rest.reservation.tour.group.payform=='bond' ? 'A convenir' :rest.reservation.departure}}</td>
                            <td>{{rest.reservation.cantPerson}}</td>
                            <td>{{rest.payment.total}}</td>
                            <td>
                                <button class="btn btn-danger" title="Cancelar reservación"
                                        data-toggle="modal" href="#deleteModal"
                                        ng-click="saveReservation(rest)"
                                        ng-disabled="rest.state == 1">
                                    <i class=" icon-remove icon-white"></i>
                                </button>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                    <div ng-hide="reload" class="pagination pagination-centered">
                        <pagination direction-links="false" boundary-links="true"
                                    total-items="totalItems" ng-model="currentPage" max-size="maxSize"
                                    class="pagination-sm"
                                    ng-change="pageChanged()"
                                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                    last-text="&raquo;"></pagination>
                    </div>
                </div>
            </div>
            <div class="box-content" ng-show="empty">
                <div class="alert alert-block ">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <h4 class="alert-heading">Atención!</h4>

                    <p>No existen elementos para mostrar.</p>
                </div>
            </div>
        </div>


    </div>

</div>
<!-- Modal del delete -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="box-content">
                <form class="form-horizontal">
                    <fieldset>
                        <legend>Devolución de Reserva</legend>
                        <div class="control-group">
                            <label class="control-label">Razón de la devolución </label>

                            <div class="controls">
                                <textarea class="autogrow" ng-model="reason"
                                          style="margin: 0px;width: 652px;height: 88px;"></textarea>
                            </div>
                        </div>
                    </fieldset>
                </form>

            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button ng-disabled="reason.length<1" type="button" class="btn btn-danger"
                        ng-click="executeDevolution()" data-dismiss="modal">Si
                </button>
            </div>
        </div>
    </div>
</div>