<div id="content" class="span12">
<!-- content starts -->
<div class="row-fluid sortable">
<div class="box span12">
<div class="box-header well" data-original-title>
    <h2><i class="back-icon-third-services index-icons"></i> Servicios de Terceros</h2>

    <h2 ng-click="showForm()" ng-show="openClose" style="float: right;cursor: pointer">
        <span class="icon icon-add"></span> Crear
    </h2>

    <h2 ng-click="hideForm()" ng-hide="openClose" style="float: right;cursor: pointer">
        <span class="icon icon-remove"></span> Cerrar
    </h2>

    <!--<div ng-show="!reload" style="float: right;margin-right: 20px" class="span3">-->
        <!--<form class="navbar-search pull-left span12">-->
            <!--<input placeholder="Buscar" class="span12" name="query" type="text" ng-model="text"-->
                   <!--ng-change="loadService()" style="float: left;">-->
        <!--</form>-->
    <!--</div>-->
</div>
<div class="box-content">
<form class="form-horizontal" role="form" name="serviceForm" id="form-service" style="display: none">
    <fieldset>
        <legend>Datos del Servicio</legend>
        <div class="control-group"
             ng-class="{'has-error':serviceForm.inputNameEs.$dirty && serviceForm.inputNameEs.$invalid}">
            <label class="col-lg-4 col-md-4 control-label"><span>*</span>Nombre(es)</label>

            <div class="col-lg-8 col-md-8 controls">
                <input type="text" required ng-model="name.es" name="inputNameEs"
                       class="form-control input-xlarge">

                <div ng-class="{'alert-field-empty': errorNombre == 'Campo vacío'}"><strong>{{errorNombre}}</strong>
                </div>
            </div>
        </div>
        <div class="control-group"
             ng-class="{'has-error':serviceForm.inputNameEn.$dirty && serviceForm.inputNameEn.$invalid}">
            <label class="col-lg-4 col-md-4 control-label"><span>*</span>Nombre(en)</label>

            <div class="col-lg-8 col-md-8 controls">
                <input type="text" required ng-model="name.en" name="inputNameEn"
                       class="form-control input-xlarge">

                <div ng-class="{'alert-field-empty': errorNombreEn == 'Campo vacío'}">
                    <strong>{{errorNombreEn}}</strong></div>
            </div>
        </div>
        <div class="control-group"
             ng-class="{'has-error':serviceForm.descripcion_es.$dirty && serviceForm.descripcion_es.$invalid || serviceForm.descripcion_en.$dirty && serviceForm.descripcion_en.$invalid}">
            <label class="control-label"><span>*</span>Descripción</label>

            <div class="controls">
                <ul class="nav nav-tabs" style="margin-left: 0px;">
                    <li ng-class="{'active':tabsShowEs.description}"><a href="#"
                                                                        ng-click="tabsShowEs.description = true"
                                                                        data-toggle="tab">Español</a>
                    </li>
                    <li ng-class="{'active':!tabsShowEs.description}"><a href="#"
                                                                         ng-click="tabsShowEs.description = false"
                                                                         data-toggle="tab">Inglés</a>
                    </li>
                </ul>
                <div ng-show="tabsShowEs.description">
                    <textarea ui-tinymce="tinymceOptions" ng-model="description.es" name="descripcion_es"
                              required></textarea>

                    <div ng-class="{'alert-field-empty': errorDescripcion == 'Campo vacío'}"><strong>{{errorDescripcion}}</strong>
                    </div>
                </div>
                <div ng-show="!tabsShowEs.description">
                    <textarea ng-show="!tabsShowEs.description" name="descripcion_en" ui-tinymce="tinymceOptions"
                              ng-model="description.en" required></textarea>

                    <div ng-class="{'alert-field-empty': errorDescripcion_en == 'Campo vacío'}"><strong>{{errorDescripcion_en}}</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="col-lg-4 col-md-4 control-label"><span>*</span>Tipo</label>

            <div class="col-lg-8 col-md-8 controls">
                <select class="form-control combo-width" ng-model="type">
                    <option value="tourist">Turístico</option>
                    <option value="gastronomic">Gastronómico</option>
                    <option value="adventurer">Aventura</option>
                </select>

                <div ng-class="{'alert-field-empty': errorTipo == 'Campo vacío'}"><strong>{{errorTipo}}</strong>
                </div>
            </div>
        </div>
        <div class="control-group"
             ng-class="{'has-error':serviceForm.price.$dirty && serviceForm.price.$invalid }">
            <label class="col-lg-4 col-md-4 control-label"><span>*</span>Precio x persona (1 día)</label>

            <div class="col-lg-8 col-md-8 controls">
                <div class="input-prepend">
                    <span class="add-on">€</span><input type="number" class="form-control input-euro" min="0"
                                                        ng-model="price" name="price"
                                                        required>
                </div>
                <div ng-class="{'alert-field-empty': errorPrice == 'Campo vacío'}"><strong>{{errorPrice}}</strong></div>
            </div>
        </div>
        <div class="control-group"
             ng-class="{'has-error':serviceForm.enterprise.$dirty && serviceForm.enterprise.$invalid }">
            <label class="control-label"><span>*</span>Empresa</label>

            <div class="controls">
                <div class="input-append">
                    <input class="input-xlarge" type="text" ng-model="nameEnterprise" name="enterprise" required
                           disabled><button class="btn btn-primary"
                            type="button"
                            title="Adicionar empresa"
                            data-toggle="modal"
                            href="#addEnterprise"
                            ng-click="listEnterprises()"><i class="icon-plus icon-white"></i>
                    </button>
                </div>
                <div ng-class="{'alert-field-empty': errorEnterprise == 'Campo vacío'}">
                    <strong>{{errorEnterprise}}</strong></div>
            </div>
        </div>
        <div class="control-group"
             ng-class="{'error':serviceForm.owner.$dirty && serviceForm.owner.$invalid }">
            <label class="control-label"><span>*</span>Representante</label>

            <div class="controls">
                <div class="input-append">
                    <input class="input-xlarge " type="text" ng-model="owner" name="owner" required disabled><button class="btn btn-primary" type="button" title="Adicionar representante" data-toggle="modal"
                            href="#addOwner" ng-click="listOwners()"><i class="icon-plus icon-white"></i></button>
                </div>
                <div ng-class="{'alert-field-empty': errorOwner == 'Campo vacío'}"><strong>{{errorOwner}}</strong></div>
            </div>
        </div>
        <div class="control-group"
             ng-class="{'error':serviceForm.comision.$dirty && serviceForm.comision.$invalid }">
            <label class="control-label"><span>*</span>Comisión</label>

            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on">%</span><input type="number" class="form-control input-euro"
                                                        min="0"
                                                        ng-model="commission" name="commission"
                                                        required>
                </div>
                <div ng-class="{'alert-field-empty': errorCommission == 'Campo vacío'}"><strong>{{errorCommission}}</strong></div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label"><span>*</span>Imágenes</label>

            <div class="edit-images">
                <ul class="thumbnails gallery" ng-show="files.length != 0">
                    <li class="thumbnail" style="background-color: #fff" ng-repeat="file in files">
                        <div ng-click="(file.image ? viewImage(file.image):viewImage(file.path))"
                             style="background:url({{file.image?file.image:file.path}}); background-size: cover;"
                             class="img-bojeo"></div>
                        <button type="button" class="close"
                                ng-click="deleteServiceImg(file)"
                                aria-hidden="true">×
                        </button>
                    </li>
                </ul>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input ng-disabled="files.length >= cantImage" ng-focus="dismissErrorDiv()" type="file"
                           ng-model="imgfileUpload"
                           ng-file-select="onImgSelect($files)"
                           id="imgFile" multiple>
                </div>
                <div class="controls" style="margin-top: 5px;">
                    <p style="float: left; margin-right: 15px;"><strong>Cantidad: </strong>{{cantImage}}</p>

                    <p style="float: left; margin-right: 15px;"><strong>Dimensiones: </strong>{{dimensionImage}}</p>

                    <p style="float: left; margin-right: 15px;"><strong>Formatos: </strong>{{formatImage}}</p>

                    <p><strong>Resolución: </strong>{{resolucionImage}}</p>
                </div>
                <div ng-class="{'alert-field-empty': errorImgUpload == 'Campo vacío'}">
                    <strong>{{errorImgUpload}}</strong>
                </div>
                <div ng-show="error == 'errorType'" class="alert-input-file"
                     ng-repeat="errorNameImage in erroresNameImage"><strong>Formato incorrecto:
                    {{errorNameImage}}</strong></div>
                <div ng-show="error == 'errorExist'" class="alert-input-file"
                     ng-repeat="errorExistImage in erroresExistImage"><strong>Error: {{errorExistImage}} ya
                    existe.</strong></div>
                <div ng-show="validCantImg == 1" class="alert-input-file"><strong>Ha superado el número
                    máximo({{cantImage}}) de imágenes.</strong></div>
            </div>
            <div class="control-group"
                 ng-class="{'error':serviceForm.urlService.$dirty && serviceForm.urlService.$invalid }">
                <label class="control-label">Url</label>
                <div class="controls">
                    <input class="input-xlarge focused" name="urlService" type="url"
                           ng-model="url">
                </div>
            </div>
        </div>
    </fieldset>
    <div class="form-actions" style="clear: both;">
        <button ng-show="semaphore" ng-click="createService()"
                ng-disabled="!serviceForm.$valid || files[0] == null || price <= 0"
                class="btn btn-primary">Crear
        </button>
        <button ng-hide="semaphore" ng-click="saveService()"
                ng-disabled="!serviceForm.$valid || files[0] == null || price <= 0"
                class="btn btn-primary">Guardar
        </button>
        <button class="btn" type="button" ng-click="hideForm()">Cancelar</button>
    </div>

</form>
<div class="box-content" ng-hide="empty">
    <a ng-show="reload" class="btn btn-primary " ng-href="#/services"><i class="icon-refresh icon-white"></i> Mostrar Todos</a>
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Empresa</th>
            <th>Representante</th>
            <th>Comisión</th>
            <th>Url</th>
            <th>Estado</th>
            <th style="width: 120px;">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="list in services">
            <td>
                <a ng-href="#/packages/{{list._id}}" ng-show="list.packages.length > 0">
                    <i class="index-icons back-icon-packs" title="Ver link con Paquetes"></i>
                </a>
                <a ng-href="#/reservations/{{list._id}}" ng-show="list.hasReservation">
                    <i class="index-icons back-icon-booking" title="Ver link con Reservas"></i>
                </a>
                <i class="index-icons" ng-show="list.packages.length==0"></i>
                <i class="index-icons" ng-show="!list.hasReservation"></i>
                {{list.name.es}}
            </td>
            <td>
                <span class="label label-blue" ng-show="list.type == 'tourist'">Turístico</span>
                <span class="label label-blue" ng-show="list.type == 'gastronomic'">Gastronómico</span>
                <span class="label label-blue" ng-show="list.type == 'adventurer'">Aventura</span>
            </td>
            <td class="center">{{list.price| number:2}}</td>
            <td class="center">{{list.enterprise.name}}</td>
            <td class="center">{{list.owner.email}}</td>
            <td class="center">{{list.commission}}%</td>
            <td class="center"><a href="{{list.url}}" target="_blank">{{list.url}}</a></td>
            <td class="center list-news">
                <button ng-show="list.status == true" type="button" class="btn btn-success"
                        title="Cambiar estado"
                        ng-click="changeStatus(list, false)" style="margin-left: 3px;">
                    <i class="icon icon-white icon-unlocked"></i>
                </button>
                <button ng-show="list.status == false" type="button" class="btn btn-danger"
                        title="Cambiar estado"
                        ng-click="changeStatus(list, true)" style="margin-left: 3px;">
                    <i class="icon-white icon-lock"></i>
                </button>
            </td>
            <td class="center">
                <button type="button" class="btn btn-info" title="Editar Servicio"
                        ng-click="showEditService(list)"><i class="icon-edit icon-white"></i>
                </button>
                <button type="button" class="btn btn-danger" title="{{list.hasReservation?'El Servicio presenta reservaciones':'Eliminar Servicio'}}"
                        data-toggle="modal"
                        href="#deleteModal"
                        ng-click="deleteService(list)"
                        ng-disabled="list.status || list.hasReservation"><i class="icon-trash icon-white"></i>
                </button>
            </td>
        </tr>

        </tbody>
    </table>
    <div class="pagination pagination-centered">
        <pagination direction-links="false" boundary-links="true"
                    total-items="totalItems" ng-model="currentPage" max-size="maxSize"
                    class="pagination-sm"
                    ng-change="pageChanged()"
                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                    last-text="&raquo;"></pagination>
    </div>
</div>
<div class="box-content" ng-show="empty">
    <div class="alert alert-block ">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4 class="alert-heading">Atención!</h4>

        <p>No existen elementos para mostrar.</p>
    </div>
</div>
</div>
</div>
<!--Change Status Modal-->
<div class="modal hide fade" id="changeStatusModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">
                    <a class="label btn-success" style="cursor: default; padding: 8px 8px 10px; margin-right: 10px;"
                       ng-class="{'btn-danger': changeStatusItem.status == true}">
                        <i ng-show="changeStatusItem.status == true" class="icon-white icon-lock" style="margin-left: 2px;"></i>
                        <i ng-show="changeStatusItem.status == false" class="icon icon-white icon-unlocked" style="margin-left: 2px;"></i>
                    </a>
                    Alerta de cambio de estado
                </h3>
            </div>

            <div class="modal-body">
                <label ng-show="associationPacks.length != 0" class="control-label">Se desactivaran los siguientes elementos:</label>
                <label class="control-label" ng-repeat="pack in associationPacks">Paquete: {{pack.datTour.tour.group.name.es+" - "+pack.datTour.tour.name.es}} + <span ng-repeat="service in pack.datService.services">{{($last?service.name.es:service.name.es+", ")}}</span></label>
                <label class="control-label" ng-show="associationUser && associationEnterprise">Si se activa el servicio se activarán los siguientes elementos:</label>
                <label class="control-label" ng-show="associationUser && !associationEnterprise || !associationUser && associationEnterprise">Si se activa el servicio se activará el siguiente elemento:</label>
                <label class="control-label" ng-show="associationEnterprise"><strong>Empresa:</strong> {{associationEnterprise.name.es}}</label>
                <label class="control-label" ng-show="associationUser"><strong>Usuario:</strong> {{associationUser.email}}</label>
                <input type="text" class="span6 typeahead" name="id" ng-model="changeStatusItem._id"
                       data-provide="typeahead"
                       data-items="4" style="display: none">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" ng-class="{selected: buttonClick == 0}"
                        ng-click="changeStatusNow(changeStatusItem)" data-dismiss="modal">Si
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Eliminar servicio</h4>
            </div>

            <div class="modal-body">
                <label ng-show="deletePacks.length > 1" class="control-label">Si elimina el servicio se eliminarán los siguientes elementos:</label>
                <label ng-show="deletePacks.length == 1" class="control-label">Si elimina el servicio se eliminará el siguiente elemento:</label>
                <label class="control-label" ng-repeat="pack in deletePacks"><strong>Paquete:</strong> {{pack.tour.nameGroup.es+" - "+pack.tour.name.es}} + <span ng-repeat="service in pack.services">{{($last?service.nameService.es:service.nameService.es+", ")}}</span></label>
                <br ng-show="deletePacks.length != 0">
                <label class="control-label">¿Seguro desea eliminar este servicio?</label>
                <input type="text" class="span6 typeahead" name="id" ng-model="delService._id" data-provide="typeahead"
                       data-items="4" style="display: none">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" ng-class="{selected: buttonClick == 0}"
                        ng-click="dropService()" data-dismiss="modal">Si
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal del addDuenno -->
<div class="modal fade" id="addEnterprise" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Adicionar Empresa</h4>
            </div>

            <div class="modal-body" ng-hide="emptyEnterprise">
                <!--<div class="box-content">-->
                <div class="input-group input-group-sm search-user">
                    <input ng-change="searchEnterprises()" ng-model="wordSearchE" type="text" name="q"
                           class="form-control  ng-valid ng-dirty" placeholder="Buscar por nombre">
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Logotipo</th>
                        <th>Nombre(es)</th>
                        <th>Nombre(en)</th>
                        <th>Asignar</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="enterprise in enterprises">
                        <td>
                            <ul class="thumbnails gallery">
                                <li class="thumbnail">
                                    <a title="{{enterprise.photo.name}}"
                                       href="{{enterprise.photo.path}}" class="cboxElement">
                                        <img src="{{enterprise.photo.path}}" alt="{{enterprise.photo.name}}"
                                             style="display: block;">
                                    </a>
                                </li>
                            </ul>
                        </td>
                        <td class="center">{{enterprise.name.es}}</td>
                        <td class="center">{{enterprise.name.en}}</td>
                        <td class="center">
                            <i style="cursor: pointer; margin-left: 4px" class="icon-plus"
                               ng-click="addEnterprise(enterprise)" data-dismiss="modal"></i>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="pagination pagination-centered">
                    <pagination direction-links="false" boundary-links="true"
                                total-items="totalItemsE" ng-model="currentPageE" max-size="maxSizeE"
                                class="pagination-sm"
                                ng-change="pageChangedE()"
                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                last-text="&raquo;"></pagination>
                </div>
                <!--</div>-->
            </div>
            <div class="box-content" ng-show="emptyEnterprise">
                <div class="alert alert-block ">
                    <!--<button type="button" class="close" data-dismiss="alert">×</button>-->
                    <h4 class="alert-heading">Atención!</h4>

                    <p>No existen elementos para mostrar.</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal del addDuenno -->
<div class="modal fade" id="addOwner" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Adicionar Representante</h4>
            </div>

            <div class="modal-body" ng-hide="emptyOwner">
                <!--<div class="box-content">-->
                <div class="input-group input-group-sm search-user">
                    <input ng-change="searchOwners()" ng-model="wordSearchO" type="text" name="q"
                           class="form-control  ng-valid ng-dirty" placeholder="Buscar por correo electrónico">

                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Correo electrónico</th>
                        <th>Teléfono</th>
                        <th>Asignar</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in users">
                        <td class="">{{user.userName}}</td>

                        <td class="">{{user.lastName}}</td>

                        <td class="center">{{user.email}}</td>

                        <td class="center">{{user.phoneNumber}}</td>

                        <td class="center">
                            <i style="cursor: pointer; margin-left: 4px" class="icon-plus" ng-click="addOwner(user)"
                               data-dismiss="modal"></i>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="pagination pagination-centered">
                    <pagination direction-links="false" boundary-links="true"
                                total-items="totalItemsO" ng-model="currentPageO" max-size="maxSizeO"
                                class="pagination-sm"
                                ng-change="pageChangedO()"
                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                last-text="&raquo;"></pagination>
                </div>
                <!--</div>-->
            </div>
            <div class="box-content" ng-show="emptyOwner">
                <div class="alert alert-block ">
                    <!--<button type="button" class="close" data-dismiss="alert">×</button>-->
                    <h4 class="alert-heading">Atención!</h4>

                    <p>No existen elementos para mostrar.</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
</div>
</div>

