<div id="content" class="span12">
    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-header well" data-original-title>
                <h2><i class="back-icon-credits index-icons"></i> Categorías de Barcos</h2>

                <h2 ng-click="showForm()" ng-show="openClose" style="float: right;cursor: pointer">
                    <span class="icon icon-add"></span> Crear
                </h2>

                <h2 ng-click="hideForm()" ng-show="!openClose" style="float: right;cursor: pointer">
                    <span class="icon icon-remove"></span> Cerrar
                </h2>
            </div>
            <div class="box-content">
                <form class="form-horizontal" id="form-bond" name="formTags" style="display: none">
                    <fieldset style="margin: 0 auto;width: 450px;">
                        <legend>Categoría de Barco</legend>
                        <div id="success-create-alert"></div>
                        <div class="control-group"
                             ng-class="{'error':formTags.nombre.$dirty && formTags.nombre.$invalid }">
                            <label class="control-label"><span>*</span>Nombre (es)</label>

                            <div class="controls">
                                <input type="text" class="input-xlarge" ng-model="tag.name.es" required
                                       name="nombre">
                            </div>
                        </div>
                        <div class="control-group"
                             ng-class="{'error':formTags.name.$dirty && formTags.name.$invalid }">
                            <label class="control-label"><span>*</span>Nombre (en)</label>

                            <div class="controls">
                                <input type="text" class="input-xlarge" ng-model="tag.name.en" required
                                       name="name">
                            </div>
                        </div>
                        <div class="form-actions">
                            <button ng-show="editTag" ng-click="save()" class="btn btn-primary"
                                    ng-disabled="!formTags.$valid ">Guardar Cambios
                            </button>
                            <button ng-hide="editTag" ng-click="create()" class="btn btn-primary"
                                    ng-disabled="!formTags.$valid ">Crear Categoría
                            </button>
                            <button ng-click="hideForm()" class="btn ">Cancelar</button>
                        </div>
                    </fieldset>
                </form>
                <div ng-hide="empty" class="box-content">
                    <table class="table table-striped table-condensed">
                        <thead>
                        <tr>
                            <th>Nombre (es)</th>
                            <th>Nombre (en)</th>
                            <th style="width: 120px">Estado</th>
                            <th style="width: 120px">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="ta in tags">
                            <td>
                                <!--<a ng-href="#/tours/{{bond.occupied.tour.id}}" ng-show="bond.occupied.tour">-->
                                <!--<i class="index-icons back-icon-tours" title="Ver link con Tours"></i>-->
                                <!--</a>-->
                                <!--<a ng-href="#/users/{{bond._id}}" ng-show="bond.occupied.user">-->
                                <!--<i class="index-icons back-icon-user" title="Ver link con Usuarios"></i>-->
                                <!--</a>-->
                                <!--<a ng-href="#/reservations/{{bond.occupied.tour.id}}" ng-show="bond.occupied.tour.hasReservation">-->
                                <!--<i class="index-icons back-icon-booking" title="Ver link con Reservas"></i>-->
                                <!--</a>-->
                                <!--<i class="index-icons" ng-show="!bond.occupied.tour"></i>-->
                                <!--<i class="index-icons" ng-show="!bond.occupied.user"></i>-->
                                <!--<i class="index-icons" ng-show="!bond.occupied.tour.hasReservation"></i>-->
                                {{ta.name.es}}
                            </td>
                            <td class="center">{{ta.name.en}}</td>
                            <td class="center list-news">
                                <button class="btn btn-success" title="Cambiar estado"
                                        style="margin-left: 5px"
                                        ng-click="changeStatus(ta)"
                                        ng-class="{'btn-danger': ta.available == false}">
                                    <i class="icon icon-unlocked icon-white"
                                       ng-class="{'icon-lock': ta.available == false}"></i>
                                </button>
                            </td>
                            <td class="center">
                                <button type="button" class="btn btn-info" title="Editar Bono"
                                        ng-click="edit(ta)"><i class="icon-edit icon-white"></i>
                                </button>
                                <button type="button" class="btn btn-danger"
                                        data-toggle="modal"
                                        href="#deleteModal"
                                        ng-click="selectTag(ta)"
                                        ng-disabled="ta.available"><i class="icon-trash icon-white"></i>
                                </button>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                    <div class="pagination pagination-centered">
                        <pagination direction-links="false" boundary-links="true"
                                    total-items="totalItems" ng-model="currentPage" max-size="maxSize"
                                    class="pagination-sm"
                                    ng-change="pageChanged()"
                                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                    last-text="&raquo;"></pagination>
                    </div>
                </div>
                <div ng-show="empty">
                    <div class="alert alert-block ">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <h4 class="alert-heading">Atención!</h4>

                        <p>No existen elementos para mostrar.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal del delete -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Eliminar Categoría</h4>
                    </div>

                    <div ng-show="!tag.dependencies.length">
                        <div class="modal-body">
                            <label class="control-label">¿Seguro desea eliminar esta Categoría?</label>
                            <input type="text" class="span6 typeahead" name="id" ng-model="deleteItem._id"
                                   data-provide="typeahead"
                                   data-items="4" style="display: none">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                            <button type="button" class="btn btn-danger" ng-class="{selected: buttonClick == 0}"
                                    ng-click="delete()" data-dismiss="modal">Si
                            </button>
                        </div>
                    </div>
                    <div ng-show="tag.dependencies.length">
                        <div class="modal-body">
                            <label class="control-label">El elemento no se puede eliminar, contiene algunas dependendencias.</label>
                            <ul>
                                <li ng-repeat="dep in tag.dependencies">{{dep.name}} </li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Change Status Modal-->

    </div>
</div><!--/row-->