<div id="content" class="span12">
    <!-- content starts -->

    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-header well" data-original-title>
                <h2><i class="back-icon-tour-categories index-icons"></i> Categorías de Tours</h2>

                <h2 ng-click="showForm()" ng-show="openClose" style="float: right;cursor: pointer">
                    <span class="icon icon-add"></span> Crear
                </h2>

                <h2 ng-click="hideForm()" ng-hide="openClose" style="float: right;cursor: pointer">
                    <span class="icon icon-remove"></span> Cerrar
                </h2>
            </div>
            <div class="box-content">

                <form class="form-horizontal" id="form-bond" name="formbond" style="display: none">
                    <fieldset>
                        <legend>Datos de la Categoría</legend>
                        <div id="success-create-alert"></div>

                        <div class="control-group"
                             ng-class="{'error':formbond.name_es.$dirty && formbond.name_es.$invalid }">
                            <label class="control-label"><span>*</span>Nombre (es)</label>

                            <div class="controls">
                                <input ng-focus="dismissErrorDiv()" type="text" ng-model="name_es" required
                                       name="name_es">
                            </div>
                        </div>
                        <div class="control-group"
                             ng-class="{'error':formbond.name_en.$dirty && formbond.name_en.$invalid }">
                            <label class="control-label"><span>*</span>Nombre (en)</label>

                            <div class="controls">
                                <input ng-focus="dismissErrorDiv()" type="text" ng-model="name_en" required
                                       name="name_en">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label"><span>*</span>Forma de pago</label>

                            <div class="controls">
                                <input type="radio" ng-model="payform" value="currencies"> Monedas <br/>
                                <input type="radio" ng-model="payform" value="bonds"> Bonos <br/>
                            </div>
                        </div>


                        <div>
                            <div class="span6">
                                <div class="control-group"
                                     ng-class="{'error':formbond.titleES.$dirty && formbond.titleES.$invalid }">
                                    <label class="control-label"><span>*</span>SEO título (es)</label>

                                    <div class="controls">
                                        <input type="text" ng-model="seo.title.es" required name="titleES">
                                    </div>
                                </div>
                                <div class="control-group"
                                     ng-class="{'error':formbond.descriptionES.$dirty && formbond.descriptionES.$invalid }">
                                    <label class="control-label"><span>*</span>SEO Descripción (es)</label>

                                    <div class="controls">
                                        <textarea type="text" ng-model="seo.description.es" required name="descriptionES"></textarea>
                                    </div>
                                </div>

                            </div>

                            <div class="span6">
                                <div class="control-group"
                                     ng-class="{'error':formbond.titleEN.$dirty && formbond.titleEN.$invalid }">
                                    <label class="control-label"><span>*</span>SEO título (en)</label>

                                    <div class="controls">
                                        <input type="text" ng-model="seo.title.en" required name="titleEN">
                                    </div>
                                </div>
                                <div class="control-group"
                                     ng-class="{'error':formbond.descriptionEN.$dirty && formbond.descriptionEN.$invalid }">
                                    <label class="control-label"><span>*</span>SEO Descripción (en)</label>

                                    <div class="controls">
                                        <textarea type="text" ng-model="seo.description.en" required name="descriptionEN"></textarea>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="control-group"
                             ng-class="{'error':formbond.description_es.$dirty && formbond.description_es.$invalid }">
                            <label class="control-label"><span>*</span>Descripción</label>

                            <div class="controls">
                                <ul class="nav nav-tabs" style="margin-left: 0px;">
                                    <li ng-class="{'active':tabsShowEs.description}"><a href="#"
                                                                                        ng-click="tabsShowEs.description = true"
                                                                                        data-toggle="tab">Español</a>
                                    </li>
                                    <li ng-class="{'active':!tabsShowEs.description}"><a href="#"
                                                                                         ng-click="tabsShowEs.description = false"
                                                                                         data-toggle="tab">Inglés</a>
                                    </li>
                                </ul>
                                <div ng-show="tabsShowEs.description">
                                    <textarea ui-tinymce="tinymceOptions" ng-model="description_es" required></textarea>
                                </div>
                                <div ng-show="!tabsShowEs.description">
                                    <textarea ng-show="!tabsShowEs.description" name="description_en"
                                              ui-tinymce="tinymceOptions" ng-model="description_en" required></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label"><span>*</span>Color</label>

                            <div ng-click="changeColor($index)" class="color-bojeo span1" ng-repeat="col in colors"
                                 style="background-color: {{col}}" ng-class="{'select':col==color} "></div>
                        </div>


                        <div class="control-group">
                            <label class="control-label"><span>*</span>Imagen</label>

                            <div class="edit-images">
                                <ul class="thumbnails gallery" ng-show="files.length != 0">
                                    <li class="thumbnail" style="background-color: #fff" ng-repeat="file in files">
                                        <div ng-click="(file.image ? viewImage(file.image):viewImage(file.path))"
                                             style="background:url({{file.image?file.image:file.path}}); background-size: cover;"
                                             class="img-bojeo"></div>
                                        <button type="button" class="close"
                                                ng-click="deleteShipImg(file)"
                                                aria-hidden="true">×
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <input ng-disabled="files.length >= cantImage" ng-focus="dismissErrorDiv()"
                                           type="file"
                                           ng-model="imgfileUpload"
                                           ng-file-select="onImgSelect($files)"
                                           id="imgFile" multiple>
                                </div>
                                <div class="controls" style="margin-top: 5px;">
                                    <p style="float: left; margin-right: 15px;"><strong>Cantidad: </strong>{{cantImage}}
                                    </p>

                                    <p style="float: left; margin-right: 15px;"><strong>Dimensiones: </strong>{{dimensionImage}}
                                    </p>

                                    <p style="float: left; margin-right: 15px;"><strong>Formatos: </strong>{{formatImage}}
                                    </p>

                                    <p><strong>Resolución: </strong>{{resolucionImage}}</p>
                                </div>
                                <div ng-class="{'alert-field-empty': errorImgUpload == 'Campo vacío'}">
                                    <strong>{{errorImgUpload}}</strong>
                                </div>
                                <div ng-show="error == 'errorType'" class="alert-input-file"
                                     ng-repeat="errorNameImage in erroresNameImage"><strong>Formato incorrecto:
                                        {{errorNameImage}}</strong></div>
                                <div ng-show="error == 'errorExist'" class="alert-input-file"
                                     ng-repeat="errorExistImage in erroresExistImage"><strong>Error: {{errorExistImage}}
                                        ya
                                        existe.</strong></div>
                                <div ng-show="validCantImg == 1" class="alert-input-file"><strong>Ha superado el número
                                        máximo ({{cantImage}}) de imágenes.</strong></div>
                            </div>
                        </div>


                        <div class="form-actions">
                            <button ng-show="editG" ng-click="saveGroup()" class="btn btn-primary"
                                    ng-disabled="!formbond.$valid ">Guardar Cambios
                            </button>
                            <button ng-hide="editG" ng-click="createGroup()" class="btn btn-primary"
                                    ng-disabled="!formbond.$valid ">Crear Categoría
                            </button>
                            <button ng-click="hideForm()" class="btn ">Cancelar</button>
                        </div>
                    </fieldset>
                </form>
                <div ng-hide="empty">
                    <div class="box-content">
                        <table class="table table-striped table-condensed">
                            <thead>
                            <tr>
                                <th>Nombre (es)</th>
                                <th>Nombre (en)</th>
                                <th>Forma de pago</th>
                                <th>Color</th>
                                <th>Orden a mostrar</th>
                                <th style="width: 120px">Acciones</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="group in groups">
                                <td>
                                    <a ng-href="#/tours/{{group._id}}" ng-show="group.tour">
                                        <i class="index-icons back-icon-tours" title="Ver link con Tours"></i>
                                    </a>
                                    <a ng-href="#/reservations/{{group._id}}" ng-show="group.hasReservation">
                                        <i class="index-icons back-icon-booking" title="Ver link con Reservas"></i>
                                    </a>
                                    <i class="index-icons" ng-show="!group.tour"></i>
                                    <i class="index-icons" ng-show="!group.hasReservation"></i>
                                    {{group.name.es}}
                                </td>
                                <td class="center">{{group.name.en}}</td>
                                <td class="center">{{group.payform=='currencies'?'Modedas':'Bonos'}}</td>
                                <td class="center">
                                    <div style=" width: 25px;height: 25px;margin: 0px 0px 0px 5px;background-color:{{group.color}} "></div>
                                </td>
                                <td>{{group.front}}

                                    <a style="float: right;margin: 0px 10px;cursor: pointer"
                                       ng-click="downFront(group)" ng-hide="($index+1)==groups.length"><i
                                                class="icon-arrow-down"></i></a>
                                    <a style="float: right;margin: 0px 10px;width: 14px;height: 1px;"
                                       ng-show="($index+1)==groups.length"><i class=""></i></a>

                                    <a style="float: right;margin: 0px 10px;cursor: pointer"
                                       ng-click="upFront(group)" ng-hide="$index==0"><i class="icon-arrow-up"></i></a>
                                </td>
                                <td class="center">
                                    <button type="button" class="btn btn-info" title="Editar Categoría"
                                            ng-click="editGroup(group)"><i class="icon-edit icon-white"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger"
                                            title="{{group.hasReservation?'La Categoría presenta reservaciones':'Eliminar Categoría'}}"
                                            data-toggle="modal"
                                            href="#deleteModal"
                                            ng-click="showDeleteModal(group)"
                                            ng-disabled="group.hasReservation">
                                        <i class="icon-trash icon-white"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <div ng-show="empty">
                    <div class="alert alert-block ">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <h4 class="alert-heading">Atención!</h4>

                        <p>No existen elementos para mostrar.</p>
                    </div>
                </div>
            </div>
        </div>

        <!--Delete Modal-->
        <div class="modal hide fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Eliminar Gategoría</h4>
                    </div>

                    <div class="modal-body">
                        <label ng-show="cantReservation == 1" class="control-label"><strong>La Categoría que desea
                                eliminar presenta {{cantReservation}} reservación pendiente.</strong></label>
                        <label ng-show="cantReservation > 1" class="control-label"><strong>La Categoría que desea
                                desactivar presenta {{cantReservation}} reservaciones pendientes.</strong></label>
                        <label ng-show="cantReservation == 0 && deleteTours.length > 1" class="control-label">Si elimina
                            la Categoría se eliminarán los siguientes elementos:</label>
                        <label ng-show="cantReservation == 0 && deleteTours.length == 1 && deleteTours[0].pack.length != 0"
                               class="control-label">Si elimina la Categoría se eliminarán los siguientes
                            elementos:</label>
                        <label ng-show="cantReservation == 0 && deleteTours.length == 1 && deleteTours[0].pack.length == 0"
                               class="control-label">Si elimina la Categoría se eliminará el siguiente elemento:</label>
                        <label class="control-label" ng-repeat="tour in deleteTours"><strong>Tour:</strong>
                            {{tour.group.name.es+" - "+tour.name.es}}</label>
                        <span class="control-label" ng-repeat="tour in deleteTours"><label
                                    ng-show="tour.packs.length > 0"
                                    ng-repeat="pack in tour.packs"><strong>Paquete:</strong> {{tour.group.name.es+" -
                                "+tour.name.es}} + <span ng-repeat="service in pack.services">{{($last?service.name.es:service.name.es+", ")}}</span></label></span>
                        <br ng-show="deleteTours.length != 0">
                        <label ng-show="cantReservation == 0" class="control-label">¿Seguro desea eliminar este
                            elemento?</label>

                        <input type="text" class="span6 typeahead" name="id" ng-model="deleteItem._id"
                               data-provide="typeahead"
                               data-items="4" style="display: none">
                    </div>

                    <div class="modal-footer">
                        <button ng-show="cantReservation == 0" type="button" class="btn btn-default"
                                data-dismiss="modal">No
                        </button>
                        <button ng-show="cantReservation == 0" type="button" class="btn btn-danger"
                                ng-class="{selected: buttonClick == 0}"
                                ng-click="deleteGroup()" data-dismiss="modal">Si
                        </button>
                        <button ng-show="cantReservation != 0" type="button" class="btn btn-primary"
                                ng-class="{selected: buttonClick == 0}"
                                ng-click="loadGroups()" data-dismiss="modal">Aceptar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div><!--/row-->