<div id="content" class="span12">
    <!-- content starts -->
    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-header well" data-original-title>
                <h2><i class="icon-calendar"></i> Calendario del barco:  {{shipName}} </h2>


            </div>
            <div class="box-content view-calendar">
                <div id="calendar" class=""></div>
            </div>
        </div>
    </div>
    <!--/row-->

    <!-- content ends -->
</div><!--/#content.span12-->