<fieldset>
    <legend>{{PageSelected != 'listShips'? objImg.name.es :objImg.name}} (gestión de imágenes)</legend>
    <div class="control-group">
        <label class="control-label">Imágenes: </label>

        <!-- <img id="dropBox" style="width: 200px;height: 200px;">-->

        <div class="edit-images">
            <ul class="thumbnails gallery">
                <li class="thumbnail" ng-repeat="image in images">
                    <a title="{{image.name}}"
                       href="{{image.path}}" class="cboxElement">
                        <img src="{{image.path}}" alt="{{image.name}}"
                             style="display: block;">
                    </a>
                    <button type="button" class="close" ng-click="delMedia(image)" aria-hidden="true">×</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="file" ng-model="imgfileUpload"
                   ng-file-select="onImgSelect($files)"
                   id="imgFile">
            <button class="btn btn-primary" ng-disabled="files.length<=0" ng-click="addMedia()">Adicionar</button>
        </div>
    </div>
</fieldset>
